/**
 * @provides phabricator-profile-header-css
 */

.phabricator-profile-header {
  background: #e0e3ec;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c0c5d1;
  width: 100%;
}

.phabricator-profile-header .profile-header-name {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  padding: 12px 12px 6px;
  width: 100%;
}

.phabricator-profile-header .profile-header-actions {
  padding: 12px;
}

.phabricator-profile-header .profile-header-picture-frame {
  margin: 11px;
  width: 50px;
  height: 50px;
  position: relative;

  background: no-repeat;
  border: 1px solid #ffffff;
}

.phabricator-profile-header .profile-header-description {
  padding: 0 12px 12px;
  color: #555;
  font-size: 13px;
}
