/**
 * @provides phabricator-profile-css
 */

.device-desktop .profile-feed,
.device-tablet .profile-feed {
  padding: 0 16px 16px 0;
}

.device-phone .profile-feed {
  padding: 12px 0;
}

.device-phone .phabricator-project-layout .profile-feed {
  padding: 12px 8px;
}

.profile-feed .phui-action-header-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.profile-activity-view {
  padding-top: 16px;
}

.profile-activity-view .profile-calendar {
  float: left;
  margin: 0 16px;
}

.profile-activity-view .profile-feed {
  margin-left: 16px;
}

.device-phone .profile-activity-view .profile-feed {
  float: none;
  margin: 0 8px;
}

.device-desktop .phabricator-project-layout .profile-feed,
.device-tablet .phabricator-project-layout .profile-feed {
  padding: 16px;
}

.phabricator-project-feed {
  padding: 4px 0 12px 12px;
  max-width: 640px;
}

.phabricator-project-feed .phui-info-view {
  margin: 12px 0;
}

.device-phone .phabricator-project-feed {
  padding: 0 12px;
  width: auto;
}
