/**
 * @provides phabricator-profile-css
 */

.device-desktop .profile-feed,
.device-tablet .profile-feed {
  max-width: 640px;
  padding: 12px 16px;
}

.device-phone .profile-feed {
  padding: 12px 0;
}

.profile-feed .phabricator-action-header-title {
  font-size: 16px;
  margin-bottom: 5px;
}
