/**
 * @provides phui-feed-story-css
 */

.phui-feed-story {
  background: 5px 2px no-repeat;
  min-height: 44px;
  background-color: #fff;
}

.phui-feed-story-head .phui-feed-story-actor-image {
  width: 35px;
  height: 35px;
  background-size: 35px;
  float: left;
  margin-right: 8px;
}

.phui-feed-story-head {
  padding: 8px;
  overflow: hidden;
  color: {$greytext};
}

.phui-feed-story-head .phui-link-person {
  color: {$darkgreytext};
  font-weight: bold;
}

.phui-feed-story-body {
  margin: 0 8px 8px;
  color: {$darkgreytext};
  word-break: break-word;
  max-height: 300px;
  overflow: hidden;
}

.phui-feed-story-body.phabricator-remarkup {
  line-height: inherit;
}

.phui-feed-story-foot {
  font-size: 11px;
  background: {$lightgreybackground};
  padding: 8px;
  line-height: 14px;
}

.phui-feed-story-foot,
.phui-feed-story-foot a {
  color: {$greytext};
}

.phui-feed-story-foot .phui-icon-view {
  margin-right: 5px;
}

.phui-feed-story-bigtext-post {
  line-height: 18px;
  color: {$darkgreytext};
}

.phui-feed-story-bigtext-post h3 {
  font-size: 18px;
  font-weight: 200;
  line-height: 18px;
  color: {$darkgreytext};
  margin: 0 0 5px 0;
}

.phui-feed-token-bar {
  margin-top: 8px;
  border-top: 1px solid #e7e7e7;
  padding-top: 8px;
}

.phui-feed-token-bar .phui-icon-view {
  margin-right: 2px;
  display: inline-block;
}

.phui-feed-story-action-list {
  float: right;
  padding-top: 4px;
}

.phui-feed-story-action-item {
  float: right;
  padding-left: 2px;
  height: 18px;
  width: 18px;
  font-size: 18px;
}

.phui-feed-story-action-list .phui-icon-view {
  display: block;
}
