/**
 * @provides phui-object-item-list-view-css
 */

ul.phui-object-item-list-view {
  padding: 8px;
  list-style: none;
}

.device-desktop .phui-object-item-list-view {
  padding: 16px;
}

.phui-object-item-list-view + .phui-object-item-list-view {
  padding-top: 0;
}

.phui-object-item-list-view.phui-object-list-flush {
  padding: 0;
  margin: 0;
}

.phui-object-box .phui-object-item-list-view .phui-object-item {
  margin: 0;
}

.phui-object-item-list-view .phui-info-view {
  margin: 0;
}

.phui-object-box .phui-object-item-list-view .phui-info-view {
  color: {$greytext};
  border: none;
}

.phui-object-item {
  border-style: solid;
  border-color: {$lightgreyborder};
  margin: 5px 0;
  overflow: hidden;
  background: #fff;
  margin-bottom: 4px;
}

.phui-object-item .phui-icon-view {
  display: inline-block;
}

.phui-object-item-frame {
  border-color: {$lightblueborder};
  border-width: 1px 1px 1px 0;
  border-style: solid;
  position: relative;
  min-height: 33px;
  overflow: hidden;
}

.phui-object-item-cover-image {
  display: none;
}

.phui-object-item-no-bar .phui-object-item-frame {
  border-width: 1px;
}

.device-desktop .phui-object-item {
  margin: 0 0 4px 0;
}

.phui-object-box .phui-object-list-flush .phui-object-item {
  margin: 0;
}

.phui-object-box .phui-object-item-list-view {
  margin: 0;
}

.phui-object-item-status-icon {
  font-weight: bold;
  padding: 3px;
  font-size: 16px;
}

.phui-object-item-list-view .phui-object-item-col0 .phui-icon-view {
  width: 17px;
  text-align: center;
  overflow: visible;
  position: relative;
  left: -1px;
}

.phui-object-item-name {
  padding: 8px 8px 0;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.device-phone .phui-object-item-name {
  overflow: normal;
  white-space: normal;
  font-weight: bold;
}

.phui-object-item-link {
  display: inline;
}

.phui-object-item-objname {
  color: #000;
  cursor: text;
  font-weight: bold;
}

.phui-object-item-content {
  margin: 4px 8px 2px 0;
  overflow: hidden;
}

.phui-object-item-grippable {
  cursor: move;
}

.device .phui-object-item-grippable {
  cursor: normal;
}

.phui-object-item-grip {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  background: url('/rsrc/image/texture/grip.png') center center no-repeat;
}

.device .phui-object-item-grip {
  display: none;
}

.phui-object-item-grippable .phui-object-item-frame {
  padding-left: 16px;
}

.device .phui-object-item-grippable .phui-object-item-frame {
  padding-left: 0;
}

.phui-object-item-list-header {
  padding: 0 0 8px 0;
  color: {$darkgreytext};
}

.phui-object-item-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.phui-object-item-table-row {
  display: table-row;
}

.phui-object-item-col0 {
  width: 20px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 4px;
}

.device-phone .phui-object-item-col0 {
  vertical-align: top;
  padding-top: 8px;
}

.phui-object-item-col1 {
  display: table-cell;
  vertical-align: top;
}

.phui-object-item-col2 {
  width: 160px;
  display: table-cell;
  vertical-align: top;
}

.device-phone .phui-object-item-col1,
.device-phone .phui-object-item-col2 {
  display: block;
  width: auto;
}

/* - Item Actions --------------------------------------------------------------

  Action buttons, like "Edit" and "Delete".

*/

.phui-object-item-actions {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  vertical-align: middle;
  text-align: right;
}

.phui-object-item-actions .phui-list-item-view {
  float: right;
  height: 100%;
  width: 24px;
  display: inline-block;
  position: relative;
}

.phui-object-item-actions .phui-list-item-href {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 100%;
}

.device-desktop .phui-object-item-actions .phui-list-item-href:hover {
  background: {$hoverblue};
  border-radius: 3px;
}

.phui-object-item-actions .phui-list-item-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -7px;
  left: 3px;
}

.phui-object-item-actions .phui-list-item-name {
  display: none;
}

.phui-object-item-with-1-actions .phui-object-item-content-box {
  margin-right: 28px;
  overflow: hidden;
}

.phui-object-item-with-2-actions .phui-object-item-content-box {
  margin-right: 54px;
  overflow: hidden;
}

.phui-object-item-with-3-actions .phui-object-item-content-box {
  margin-right: 76px;
  overflow: hidden;
}


/* - Object Box List -----------------------------------------------------------

  Tighter, stacking list when inside an Object Box

*/

.phui-object-box .phui-object-item-list-view {
  padding: 0;
  border: none;
}

.phui-object-box .phui-object-item-frame {
  border-right: none;
}

.phui-object-box .phui-object-item:last-child
  .phui-object-item-frame {
  border-bottom: none;
}


/* - Subhead -------------------------------------------------------------------

  Descriptive Text or Links under the main header, before attributes.

*/

.phui-object-item-subhead {
  color: {$greytext};
  padding: 0 8px 6px;
}


/* - Attribute List ------------------------------------------------------------

  Object attributes, commonly used to render created date, etc.

*/

.phui-object-item-attributes {
  padding: 0 8px 6px;
  line-height: 18px;
  min-height: 21px;
}

.phui-object-item-attribute {
  display: inline-block;
  color: {$greytext};
  vertical-align: top;
}

.phui-object-item-attribute-spacer {
  padding: 0 4px;
}


/* - Icons ---------------------------------------------------------------------

  Icons, which show object state. On mobile, they are rendered without labels
  to save space.

*/

.phui-object-icon-pane {
  margin: 8px 0 4px;
}

.device-phone .phui-object-icon-pane {
  margin: 0 0 4px;
}

.phui-object-item-icons {
  padding: 0 4px 0 0;
}

.device-phone .phui-object-item-icons {
  padding: 0 0 0 8px;
}

ul.phui-object-item-icons {
  margin: 0;
}

.phui-object-item-icon {
  vertical-align: middle;
  font-size: {$smallerfontsize};
  color: {$greytext};
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  min-height: 18px;
  line-height: 18px;
}

.device-phone .phui-object-item-icon {
  text-align: left;
  font-size: 13px;
}

/*
 * Items with icon 'none' still have on mobile, thus creating a weird vertical
 * margin for elements which follow
 */
.device-phone .phui-object-item-icon .none {
  display: none;
}

.phui-object-item-icon-image {
  width: 14px;
  height: 14px;
  font-size: 13px;
  margin-right: 4px;
}

/* - Bar Colors ----------------------------------------------------------------
  Colors for the left-hand border bars, used to indicate object status or other
  attributes.
*/

.phui-object-item {
  border-left-width: 0;
}

.phui-object-item-bar-color-red {
  border-left-color: {$red};
}

.phui-object-item-bar-color-orange {
  border-left-color: {$orange};
}

.phui-object-item-bar-color-yellow {
  border-left-color: {$yellow};
}

.phui-object-item-bar-color-green {
  border-left-color: {$green};
}

.phui-object-item-bar-color-sky {
  border-left-color: {$sky};
}

.phui-object-item-bar-color-blue {
  border-left-color: {$blue};
}

.phui-object-item-bar-color-indigo {
  border-left-color: {$indigo};
}

.phui-object-item-bar-color-violet {
  border-left-color: {$violet};
}

.phui-object-item-bar-color-pink {
  border-left-color: {$pink};
}

.phui-object-item-bar-color-fire {
  border-left-color: {$fire};
}

.phui-object-item-bar-color-bluegrey {
  border-left-color: {$bluetext};
}

.phui-object-item-bar-color-lightbluetext {
  border-left-color: {$lightbluetext};
}

.phui-object-item-bar-color-grey,
.phui-object-item-bar-color-lightgreytext {
  border-left-color: {$lightgreytext};
}

.phui-object-item-bar-color-black,
.phui-object-item-bar-color-dark {
  border-left-color: {$darkgreytext};
}


/* - Disabled ------------------------------------------------------------------

  Disabled/inactive objects.

*/


.phui-object-item.phui-object-item-disabled .phui-object-item-link,
.phui-object-item.phui-object-item-disabled .phui-object-item-link a {
  color: {$lightgreytext};
}

.phui-object-item.phui-object-item-disabled .phui-object-item-frame {
  border-color: #d7d7d7;
}

.phui-object-item.phui-object-item-disabled .phui-object-item-objname {
  color: {$greytext};
  text-decoration: line-through;
}


/* - Effects -------------------------------------------------------------------

  Effects like highlighted items.

*/

.phui-object-item.phui-object-item-highlighted {
  background: {$sh-yellowbackground};
}

ul.phui-object-item-list-view .phui-object-item-highlighted
  .phui-object-item-frame {
  border-color: {$sh-yellowborder};
}

.phui-object-item-selected {
  background: {$sh-bluebackground};
}

ul.phui-object-item-list-view .phui-object-item-selected
  .phui-object-item-frame {
  border-color: {$sh-blueborder};
}


/* - Handle Icons --------------------------------------------------------------

  Shows owners, reviewers, etc., using profile picture icons.

*/

.phui-object-item-handle-icons {
  bottom: 0;
  right: 4px;
  position: absolute;
}

.phui-object-item-handle-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: 100%;
  border-radius: 3px;
  background-repeat: no-repeat;
}


/* - Bylines -------------------------------------------------------------------

  Shows owners, authors, reviewers, etc., in text.

*/

.phui-object-item-bylines {
  padding: 0 4px 0 8px;
  margin: 4px 0 8px;
  font-size: {$smallerfontsize};
  color: {$greytext};
  text-align: right;
}

.phui-object-item-byline {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.device-phone .phui-object-item-bylines {
  float: none;
  text-align: left;
  padding: 0 8px;
  font-size: {$normalfontsize};
}


/* - Draggable List ------------------------------------------------------------

  These classes are applied by and/or provided for use with JX.DraggableList.

*/

.drag-ghost {
  position: relative;
  background: {$sh-indigobackground};
  border-radius: 3px;
  margin-bottom: 4px;
  border: 1px dashed {$sh-indigoborder};
}

.drag-dragging {
  opacity: 0.25;
}

.drag-sending {
  opacity: 0.5;
}

.drag-clone,
.drag-frame {
  /* This allows mousewheel events to pass through the clone and frame while
     they are being dragged. Without this, the mousewheel does not work during
     a drag operation. */
  pointer-events: none;
}

.drag-frame {
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.drag-clone {
  position: absolute;
  list-style: none;
}

/* - Badges ---------------------------------------------------------------- */

.phui-object-item-col0.phui-object-item-badge {
  width: 28px;
}

.phui-object-item-col0.phui-object-item-badge .phui-icon-view {
  left: 0;
}

/* - Countdowns ------------------------------------------------------------ */

.phui-object-item-col0.phui-object-item-countdown {
  width: 52px;
  padding: 0;
}

.phui-object-item-countdown .phui-object-item-countdown-number {
  border-right: 1px solid {$thinblueborder};
  text-align: center;
  color: {$bluetext};
}


/* - Dashboards ------------------------------------------------------------ */

.phui-object-box .phui-object-item-list-view .phui-object-item-frame {
  border: none;
  border-bottom: 1px solid {$thinblueborder};
}

.drag-clone.phui-object-item-standard .phui-object-item-frame {
  border: none;
  opacity: 0.8;
  background: {$sh-bluebackground};
}

.phui-object-box .phui-object-item-list-header {
  font-size: {$normalfontsize};
  color: {$darkbluetext};
  border-top: 1px solid {$thinblueborder};
  border-bottom: 1px solid {$thinblueborder};
  padding: 8px;
  background-color: {$lightgreybackground};
}

.phui-object-box .phui-header-shell + .phui-object-item-list-view
 .phui-object-item-list-header,
.phui-object-box .phui-object-box-hidden-content + .phui-object-item-list-view
 .phui-object-item-list-header,
.phui-object-box .phui-object-box-hidden-content +
  .phui-object-item-list-header {
   border-top: none;
 }

.dashboard-pane .phui-object-item-empty .phui-info-view {
  border: none;
  margin: 0;
}

.device-desktop .aphront-multi-column-fluid .aphront-multi-column-2-up
 .aphront-multi-column-column-outer.third .phui-object-item-col2 {
   display: none;
 }


/* - Launcher List ---------------------------------------------------------- */

.phui-object-item-image-icon {
  background: none;
  width: 40px;
  height: 40px;
  margin: 8px 6px;
  position: absolute;
}

.phui-object-item-image-icon .phui-icon-view {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 26px;
  text-align: center;
  line-height: 36px;
}

.phui-object-item-image {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-size: 100%;
  margin: 8px 6px;
  position: absolute;
}

.phui-object-item-with-image-icon .phui-object-item-frame,
.phui-object-item-with-image .phui-object-item-frame {
  min-height: 52px;
}

.phui-object-item-with-image-icon .phui-object-item-content-box,
.phui-object-item-with-image .phui-object-item-content-box {
  margin-left: 46px;
}

/* - Launcher Button -------------------------------------------------------- */

.phui-object-item-col2.phui-object-item-launch-button {
  text-align: right;
  vertical-align: middle;
  padding-right: 4px;
}

.device-phone .phui-object-item-col2.phui-object-item-launch-button {
  padding: 0 8px 8px;
  text-align: left;
}

/* - Simple List------------------------------------------------------------- */

.phui-object-list-simple .phui-object-item-with-image .phui-object-item-frame {
  min-height: 26px;
}

.phui-object-list-simple .phui-object-item-image {
  height: 26px;
  width: 26px;
  margin: 0;
}

.phui-object-list-simple .phui-object-item-with-image
  .phui-object-item-content-box {
    margin-left: 32px;
}

.phui-object-list-simple .phui-object-item-name {
  padding: 2px 0;
}

.phui-object-list-simple .phui-object-item-name a {
  color: {$darkbluetext};
}

.phui-object-item-list-view.phui-object-list-simple .phui-object-item-frame {
  border: none;
  margin-bottom: 4px;
}

.phui-object-item-list-view.phui-object-list-simple li:last-child
  .phui-object-item-frame {
    margin: 0;
}

.phui-object-list-simple .phui-object-item-actions {
  top: 2px;
  bottom: 2px;
  right: 2px;
}

/* - Big List---------------------------------------------------------------- */

.phui-object-list-big ul.phui-object-item-list-view  {
  margin: 0;
  padding: 20px;
}

.phui-object-list-big .phui-object-item-no-bar .phui-object-item-frame {
  border: 0;
}

.phui-object-list-big .phui-object-item-image-icon {
  margin: 8px 2px 12px;
}

.phui-object-list-big a.phui-object-item-link {
  color: #000;
  font-size: {$biggestfontsize};
}

.phui-object-list-big .phui-object-item-name {
  padding-top: 6px;
}

.phui-object-list-big .phui-object-item-launch-button a.button {
  font-size: {$normalfontsize};
  padding: 3px 12px 4px;
}

.device-desktop .phui-object-list-big .phui-object-item {
  margin-bottom: 8px;
}

.phui-object-list-big .phui-object-item-col0 {
  vertical-align: top;
  padding: 0;
}

.phui-object-list-big .phui-object-item-status-icon {
  padding: 5px;
}

.phui-object-list-big .phui-object-item-visited a.phui-object-item-link {
  color: {$violet};
}

.device-desktop .phui-object-list-big .phui-object-item-frame:hover {

}
