/**
 * @provides phui-object-box-css
 */

.phui-object-box {
  position: relative;
  padding: 12px 12px 4px 12px;
}

div.phui-object-box.phui-object-box-flush {
  margin-top: 0;
}

.phui-object-box .phui-header-shell {
  padding: 0 5px 4px 4px;
  border-bottom: 1px solid {$thinblueborder};
  border-top: none;
}

.phui-object-box .phui-header-image {
  margin: 1px 8px -7px -7px;
}

.phui-object-box .phui-header-shell h1 {
  padding: 0 0 8px 0;
  font-weight: normal;
}

.phui-object-box .phui-header-shell + .phui-info-view {
  margin: 12px 0 0 0;
}

.device-phone .phui-object-box {
  margin: 8px 8px 0 8px;
}

.phui-box-border.phui-object-box-lightgreen {
  border: 1px solid {$lightgreenborder};
  border-bottom: 1px solid {$greenborder};
}

.phui-box-border.phui-object-box-lightgreen .phui-action-header {
  border-bottom: 1px solid {$lightgreenborder};
}

.phui-box-border.phui-object-box-lightblue {
  border: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$blueborder};
}

.phui-box-border.phui-object-box-lightblue .phui-action-header {
  border-bottom: 1px solid {$lightblueborder};
}

.phui-box-border.phui-object-box-lightred {
  border: 1px solid {$lightredborder};
  border-bottom: 1px solid {$redborder};
}

.phui-box-border.phui-object-box-lightred .phui-action-header {
  border-bottom: 1px solid {$lightredborder};
}

.phui-box-border.phui-object-box-lightviolet {
  border: 1px solid {$lightvioletborder};
  border-bottom: 1px solid {$violetborder};
}

.phui-box-border.phui-object-box-lightviolet .phui-action-header {
  border-bottom: 1px solid {$lightvioletborder};
}
