/**
 * @provides phui-box-css
 */

.phui-box-border {
  border: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$blueborder};
  background-color: #fff;
}

.device-phone .phui-box {
  border-left: none;
  border-right: none;
  margin-left: 0;
  margin-right: 0;
}
