/**
 * @provides phui-icon-view-css
 */

.phui-icon-example .phui-icon-view {
  display: inline-block;
  vertical-align: top;
}

.phui-icon-view.sprite-minicons {
  height: 16px;
  width: 16px;
}

.phui-icon-view.sprite-actions {
  height: 24px;
  width: 24px;
}

.phui-icon-view.sprite-apps,
.phui-icon-view.sprite-icons,
.phui-icon-view.sprite-status,
.phui-icon-view.sprite-buttonbar {
  height: 14px;
  width: 14px;
}

.phui-icon-view.sprite-tokens {
  height: 16px;
  width: 16px;
}

.phui-icon-view.sprite-payments {
  height: 32px;
  width: 60px;
}

.phui-icon-view.sprite-login {
  height: 34px;
  width: 34px;
}

.phui-icon-view.phuihead-medium {
  height: 50px;
  width: 50px;
}

.phui-icon-view.phuihead-small {
  height: 35px;
  width: 35px;
  background-size: 35px;
}
