/**
 * @provides phui-feed-story-css
 */

.phui-feed-story {
  background: 5px 2px no-repeat;
  min-height: 44px;
  background-color: #fff;
}

.phui-feed-story-head .phui-feed-story-actor-image {
  width: 35px;
  height: 35px;
  background-size: 35px;
  float: left;
  margin-right: 8px;
}

.phui-feed-story-head {
 padding: 8px;
 overflow: hidden;
 color: #555;
}

.phui-feed-story-head .phui-link-person {
 color: #333;
 font-weight: bold;
}

.phui-feed-story-body {
  padding: 0 8px 8px;
  color: #444444;
  word-break: break-word;
}

.phui-feed-story-foot {
  font-size: 11px;
  background: #f7f7f7;
  padding: 8px;
  line-height: 14px;
}

.phui-feed-story-foot,
.phui-feed-story-foot a {
  color: #777;
}

.phui-feed-story-foot .phui-icon-view,
.phui-feed-story-oneline-foot .phui-icon-view {
  float: left;
  display: inline-block;
  margin-right: 5px;
}

.phui-feed-story-bigtext-post {
  line-height: 18px;
  color: #444;
}

.phui-feed-story-bigtext-post h3 {
  font-size: 18px;
  font-weight: 200;
  line-height: 18px;
  color: #39444f;
  margin: 0 0 5px 0;
}

.phui-feed-token-bar {
  margin-top: 8px;
  border-top: 1px solid #e7e7e7;
  padding-top: 8px;
}

.phui-feed-token-bar .phui-icon-view {
  margin-right: 2px;
  display: inline-block;
}

.phui-feed-story-action-list {
  float: right;
  padding-top: 4px;
}

.phui-feed-story-action-item {
  float: right;
  padding-left: 2px;
}

.phui-feed-story-action-list .phui-icon-view {
  display: block;
}

.phui-feed-story-oneline .phui-feed-story-head {
  padding: 8px;
}

.phui-feed-story-oneline .phui-feed-story-body {
  padding: 0;
}

.phui-feed-story-oneline-foot,
.phui-feed-story-oneline-foot a {
  font-size: 11px;
  color: #777;
  margin-top: 2px;
  line-height: 14px;
  font-weight: normal;
}

