/**
 * @provides phui-comment-panel-css
 * @requires phui-timeline-view-css
 */

.phui-comment-panel .phui-timeline-view {
  background: none;
}

.phui-comment-panel .phui-comment-panel-empty {
  margin: 16px;
  padding: 12px;
  border: 1px solid {$thinblueborder};
  background: {$lightbluebackground};
  text-align: center;
  color: {$lightbluetext};
}

.phui-comment-panel-header {
  font-weight: bold;
  padding: 12px 16px 0;
  word-break: break-word;
}

.phui-comment-panel .phui-timeline-view .phui-timeline-event-view {
  margin-left: 40px;
}

.device-desktop .phui-comment-panel .phui-timeline-view .phui-timeline-image {
  width: 30px;
  height: 30px;
  top: 4px;
  left: -40px;
}

.phui-comment-panel .phui-timeline-view .phui-timeline-wedge {
  display: none;
}

.phui-comment-panel .phui-timeline-major-event .phui-timeline-group {
  border: none;
}

.phui-comment-panel .phui-timeline-major-event .phui-timeline-title {
  background: none;
  border: none;
  padding: 0;
  visibility: hidden;
}

.phui-comment-panel .phui-timeline-major-event .phui-timeline-title a {
  visibility: visible;
}

.phui-comment-panel .phui-timeline-icon-fill,
.phui-comment-panel .phui-timeline-menu {
  display: none;
}

.phui-comment-panel .phui-timeline-major-event .phui-timeline-content {
  border: none;
}

.phui-comment-panel .phui-timeline-major-event .phui-timeline-content
  .phui-timeline-core-content {
    border: none;
    padding: 4px 0;
    background: transparent;
}

.phui-comment-panel .phui-timeline-older-transactions-are-hidden {
  background-color: {$lightgreybackground};
  border: none;
}

.lightbox-comment-form .phui-form-view {
  padding-top: 0;
}

.lightbox-comment-form .aphront-form-control {
  padding: 0;
}

.lightbox-comment-form .aphront-form-input {
  margin: 0;
  width: auto;
}

.lightbox-comment-form .remarkup-assist-bar {
  display: none;
}

.lightbox-comment-form .aphront-form-input .remarkup-assist-textarea {
  border-radius: 3px;
  border: 1px solid {$lightgreyborder};
  height: 6em;
}
