/**
 * @provides phui-header-view-css
 */

.phui-header-shell {
  background-color: #e0e3ec;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c0c5d1;
  overflow: hidden;
}

body .phui-header-shell.phui-header-no-backgound {
  background-color: transparent;
  border: none;
}

body .phui-header-shell.phui-bleed-header {
  background-color: {$lightgreybackground};
  border-top: 1px solid {$thinblueborder};
  border-bottom: none;
  width: auto;
  margin-bottom: 16px;
}

body .phui-header-shell.phui-bleed-header
  .phui-header-view {
  padding: 8px 24px 8px 16px;
  color: {$bluetext};
}

.phui-header-shell + .phabricator-form-view {
  border-top-width: 0;
}

.phabricator-property-list-view + .diviner-document-section {
  margin-top: -1px;
}

.phui-header-view {
  padding: 16px;
  font-size: 15px;
  color: {$darkbluetext};
}

body.device-phone .phui-header-view {
  padding: 12px 8px;
}

.phui-header-tags {
  margin-left: 12px;
  font-size: 13px;
}

.phui-header-tags .phabricator-tag-view {
  margin-left: 4px;
}

.phui-header-image {
  display: inline-block;
  background-repeat: no-repeat;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  margin: 12px;
  float: left;
}

.phui-header-subheader {
  color: {$lightbluetext};
  font-weight: normal;
  font-size: 13px;
  margin-top: 4px;
}

.phui-header-subheader .sprite-status {
  display: inline-block;
  margin: -2px 4px -2px 0;
}

.phui-header-subheader {
  color: {$bluetext};
}

.phui-header-subheader .policy-link {
  color: {$bluetext};
}

.phui-header-subheader .phui-header-status-dark {
  color: #111;
  text-shadow: 0 1px #fff;
}

.phui-header-subheader .phui-header-status-red {
  color: {$red};
}

.phui-header-subheader .phui-header-status-green {
  color: {$green};
}
