/**
 * @provides phui-workboard-view-css
 */

.phui-workboard-view {
  width: 100%;
}

.device-desktop .phui-workboard-view-shadow {
  overflow-x: auto;
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
}

.device-desktop .page-has-warning .phui-workboard-view-shadow {
  top: 148px;
}

.phui-workboard-view-shadow::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: rgba(200,200,200,.6);
}

.phui-workboard-view-shadow::-webkit-scrollbar-thumb {
  background: {$lightbluetext};
}

.phui-workboard-action-list {
  width: 60px;
  float: left;
  min-height: 60px;
  border-radius: 5px;
  margin-right: 8px;
  background: {$lightbluebackground};
  border: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$blueborder};
}

.device-phone .phui-workboard-action-list {
  width: 100%;
  float: none;
  display: block;
  overflow: hidden;
  border: none;
  background: none;
  border-radius: none;
  min-height: 0;
}

.phui-workboard-action-list li:first-child {
  padding-top: 5px;
}

.device-phone .phui-workboard-action-list li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0 0 8px 0;
}

.phui-workboard-action-list .phui-icon-view {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 0 4px 5px 5px;
}

.device-phone .phui-workboard-action-list .phui-icon-view {
  background-size: 35px;
  height: 35px;
  width: 35px;
  margin: 0 3px;
}

.device-desktop .project-board-wrapper .phui-workboard-view-shadow {
  left: 53px;
}

.device-desktop .phui-workboard-view .aphront-multi-column-fixed
  .aphront-multi-column-inner {
    margin-left: 0;
}

.device-tablet .project-board-wrapper {
  margin-left: 8px;
  margin-right: 8px;
}
