/**
 * @provides phui-action-panel-css
 */

.phui-action-panel {
  position: relative;
  background-color: {$lightbluebackground};
  border: 1px solid {$lightgreyborder};
  border-radius: 3px;
  margin: 0 8px;
  min-height: 108px;
}

.phui-action-panel-hitarea {
  display: block;
}

.phui-action-panel-table {
  display: table;
  height: 80px;
  width: 100%;
}

.phui-action-panel-row {
  display: table-row;
}

.phui-action-panel-icon {
  width: 64px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.phui-action-panel-bigtext .phui-action-panel-subheader {
  font-size: 28px;
  color: {$darkbluetext};
  text-align: center;
  padding: 0 8px;
}

.phui-action-panel-icon a {
  display: block;
}

.phui-action-panel-icon a:hover .phui-icon-view,
.phui-action-panel-icon a:hover .phui-action-panel-bigtext {
  color: {$blue};
}

.phui-action-panel-icon a:hover {
  text-decoration: none;
}

.phui-action-panel-icon .phui-icon-view {
  font-size: 36px;
  color: {$lightbluetext};
}

.phui-action-panel-header {
  padding: 8px;
  border-bottom: 1px solid {$thinblueborder};
}

.phui-action-panel-header a {
  color: {$darkbluetext};
}

.phui-action-panel-subheader {
  display: table-cell;
  vertical-align: middle;
  color: {$darkbluetext};
  padding: 0 8px 0 0;
}

.phui-action-panel-subheader a {
  text-decoraction: none;
}

.phui-action-panel-status {
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.phui-action-panel-status:hover {
  text-decoration: none;
}

.phui-action-panel-none .phui-action-panel-status {
  background-color: {$lightgreybackground};
  border-left: 4px solid {$greyborder};
  color: {$greytext};
}

.phui-action-panel-warn .phui-action-panel-status .phui-icon-view {
  color: {$greytext};
}

.phui-action-panel-warn {
  background-color: {$sh-yellowbackground};
  border-color: {$sh-yellowborder};
}

.phui-action-panel-warn .phui-action-panel-icon .phui-icon-view {
  color: {$sh-yellowicon};
}

.phui-action-panel-warn .phui-action-panel-header {
  border-color: {$sh-lightyellowborder};
}

.phui-action-panel-error {
  background-color: {$sh-redbackground};
  border-color: {$sh-redborder};
}

.phui-action-panel-error .phui-action-panel-icon .phui-icon-view {
  color: {$sh-redicon};
}

.phui-action-panel-error .phui-action-panel-header {
  border-color: {$sh-lightredborder};
}

.phui-action-panel-info {
  background-color: {$sh-bluebackground};
  border-color: {$sh-blueborder};
}

.phui-action-panel-info .phui-action-panel-icon .phui-icon-view {
  color: {$sh-blueicon};
}

.phui-action-panel-info .phui-action-panel-header {
  border-color: {$sh-lightblueborder};
}

.phui-action-panel-success {
  background-color: {$sh-greenbackground};
  border-color: {$sh-greenborder};
}

.phui-action-panel-success .phui-action-panel-icon .phui-icon-view {
  color: {$sh-greenicon};
}

.phui-action-panel-success .phui-action-panel-header {
  border-color: {$sh-lightgreenborder};
}

.phui-action-panel-progress {
  background-color: {$sh-violetbackground};
  border-color: {$sh-violetborder};
}

.phui-action-panel-progress .phui-action-panel-icon .phui-icon-view {
  color: {$sh-violeticon};
}

.phui-action-panel-progress .phui-action-panel-header {
  border-color: {$sh-lightvioletborder};
}
