/**
 * @provides phui-header-view-css
 */

.phui-header-shell {
  border-bottom: 1px solid {$thinblueborder};
  overflow: hidden;
  padding: 0 4px 12px;
}

.phui-header-view {
  display: table;
  width: 100%
}

.phui-header-row {
  display: table-row;
}

.phui-header-col1 {
  display: table-cell;
  vertical-align: middle;
  width: 62px;
}

.phui-header-col2 {
  display: table-cell;
  vertical-align: middle;
}

.phui-header-col3 {
  display: table-cell;
  vertical-align: middle;
}

body .phui-header-shell.phui-header-no-backgound {
  background-color: transparent;
  border: none;
}

body .phui-header-shell.phui-bleed-header {
  background-color: #fff;
  border-bottom: 1px solid {$thinblueborder};
  width: auto;
  margin: 16px;
}

body .phui-header-shell.phui-bleed-header
  .phui-header-view {
  padding: 8px 24px 8px 0;
  color: {$darkbluetext};
}

.phui-header-shell + .phabricator-form-view {
  border-top-width: 0;
}

.phui-property-list-view + .diviner-document-section {
  margin-top: -1px;
}

.phui-header-view {
  font-size: 15px;
  color: #000;
  font-weight: 500;
  position: relative;
}

.device-phone .phui-header-view {
  font-size: 14px;
}

.phui-object-box .phui-header-tall h1.phui-header-view,
.phui-document-view .phui-header-tall h1.phui-header-view {
  font-size: 18px;
  font-weight: 500;
}

.phui-header-view .phui-header-col2 > a {
  color: #000;
}

.phui-header-view .phui-header-action-links {
  float: right;
}

.phui-object-box .phui-header-view .phui-header-action-links {
  margin-right: 4px;
}

.device-phone .phui-object-box .phui-header-view .phui-header-action-links {
  margin-right: 4px;
  margin-top: -1px;
}

.device-phone .phui-header-action-link .phui-button-text {
  visibility: hidden;
  width: 0;
  margin-left: 8px;
}

.phui-header-divider {
  margin: 0 4px;
  font-weight: normal;
  color: {$lightbluetext};
}

.phui-header-tags {
  margin-left: 12px;
  font-size: 13px;
}

.phui-header-tags .phui-tag-view {
  margin-left: 4px;
}

.phui-header-image {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid {$lightblueborder};
  width: 50px;
  height: 50px;
}

.phui-header-subheader {
  font-weight: normal;
  font-size: 14px;
  margin-top: 8px;
}

.phui-header-subheader .phui-icon-view {
  display: inline-block;
  margin: -2px 4px -2px 0;
  font-size: 15px;
}

.phui-header-subheader,
.phui-header-subheader .policy-link {
  color: {$darkbluetext};
}

.phui-header-subheader .phui-header-status-dark {
  color: {$sh-indigotext};
  background-color: {$sh-indigobackground};
  padding: 2px 8px;
  border-radius: 3px;
  margin-right: 8px;
}

.phui-header-subheader .phui-header-status-dark .phui-icon-view {
  color: {$indigo};
}

.phui-header-subheader .phui-header-status-red {
  color: {$sh-redtext};
  background-color: {$sh-redbackground};
  padding: 2px 8px;
  border-radius: 3px;
  margin-right: 8px;
}

.phui-header-subheader .phui-header-status-green {
  color: {$sh-greentext};
  background-color: {$sh-greenbackground};
  padding: 2px 8px;
  border-radius: 3px;
  margin-right: 8px;
}

.phui-header-action-links .phui-mobile-menu {
  display: none;
}

.device .phui-header-action-links .phui-mobile-menu {
  display: inline-block;
}

.phui-header-icon-list {
  float: right;
}

.phui-header-icon-list .phui-header-list-icon {
  margin: 0 4px;
  float: right;
}

.phui-header-icon-list .phui-header-list-icon .phui-icon-view {
  font-size: 15px;
}
