/**
 * @provides phui-action-header-view-css
 */

.phui-action-header {
  padding: 0 5px 0 8px;
  overflow: hidden;
}

.phui-action-header-title {
  color: {$darkgreytext};
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  padding: 8px 0;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}

.gradient-lightblue-header .phui-action-header-title {
  color: {$darkbluetext};
}

.phui-action-header-icon-list {
  float: right;
  padding-top: 4px;
}

.phui-action-header-icon-item {
  float: right;
  padding-left: 4px;
}

.phui-action-header-icon-item .phui-icon-view {
  display: inline-block;
  font-size: 18px;
  margin: 4px 0;
  height: 18px;
  width: 18px;
}

.phui-action-header-icon-item .phui-tag-view {
  margin: 4px 2px 0;
  display: inline-block;
}

.phui-action-header-link {
  color: {$darkgreytext};
}

.phui-action-header.gradient-white-header {
  background: #fff;
}

.phui-action-header.gradient-white-header .phui-action-header-title {
  color: {$darkbluetext};
  padding: 12px 0 12px 4px;
}

.phui-action-header.gradient-white-header
 .phui-action-header-icon-list .phui-icon-view {
  color: {$lightbluetext};
}

.phui-action-header.gradient-white-header
 .phui-action-header-icon-list .phui-icon-view:hover {
  color: {$darkbluetext};
}

.phui-action-header-icon-list .phui-tag-view {
  font-weight: normal;
}

.phui-action-header-title .phui-icon-view {
  float: left;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.phui-action-header-title .phui-action-header-subtitle {
  margin-left: 4px;
  font-weight: normal;
  color: {$lightgreytext};
}

/* - Dashboards ------------------------------------------------------------ */

.dashboard-panel .phui-action-header.gradient-grey-header,
.dashboard-panel .phui-action-header.gradient-lightblue-header {
  border: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$thinblueborder};
}

.dashboard-panel .phui-action-header.gradient-white-header {
  border: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$thinblueborder};
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.dashboard-panel .phui-action-header.gradient-white-header
 .phui-action-header-icon-list {
  padding-top: 6px;
  padding-right: 6px;
}
