/**
 * @provides phui-basic-nav-view-css
 */

.device-desktop .phui-navigation-shell,
.phabricator-home.device .phui-navigation-shell {
  display: table;
  width: 100%;
  height: calc(100vh - {$menu.main.height});
}

.device-desktop .phui-navigation-shell .phabricator-nav,
.phabricator-home.device .phui-navigation-shell .phabricator-nav {
  display: table-row;
}

.device-desktop .phui-navigation-shell .phabricator-nav-local,
.phabricator-home.device .phui-navigation-shell .phabricator-nav-local {
  display: table-cell;
  position: relative;
  vertical-align: top;
  margin-top: 0;
  overflow: hidden;
}

.phabricator-home.device-phone .phabricator-nav-content {
  display: none;
}

.device-phone.phabricator-home .phui-basic-nav .phabricator-side-menu
  .phui-list-item-selected {
    background-color: transparent;
    border-left-color: transparent;
    font-weight: normal;
}

.phui-basic-nav.phui-navigation-shell .phabricator-nav-local {
  width: 205px;
  max-width: 205px;
  padding-top: 12px;
  padding-right: 8px;
}

.phui-two-column-view .phui-basic-nav.phui-navigation-shell
  .phabricator-nav-local {
    padding-right: 0;
    padding-top: 0;
}

.phui-two-column-view .phui-basic-nav .phabricator-side-menu {
  background-color: #fff;
}

.phui-basic-nav .phabricator-side-menu {
  background-color: {$page.sidenav};
}

.phui-basic-nav .phabricator-side-menu .phui-list-item-view {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.phui-basic-nav .phabricator-side-menu .phui-list-item-href {
  display: block;
  padding: 6px 8px 6px 20px;
  color: {$darkbluetext};
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis
}

.phui-basic-nav .phabricator-side-menu .phui-list-item-has-icon
  .phui-list-item-href {
    padding-left: 12px;
  }

.phui-basic-nav .phabricator-side-menu .phui-list-item-icon {
  margin-left: -4px;
  text-align: center;
  width: 30px;
}

.phui-basic-nav .phabricator-side-menu .phui-divider {
  border-bottom: 1px solid rgba({$alphablack},.08);
  margin: 0 0 8px 8px;
  padding: 8px 0 0 0;
}

.phui-basic-nav .phabricator-side-menu .phui-list-item-icon.phuihead-small {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background-size: 100%;
  margin: -2px 7px -2px 3px;
}

.phui-basic-nav .phabricator-side-menu .phui-list-item-selected {
  background-color: rgba({$alphablack},.05);
  border-left: 4px solid {$sky};
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: bold;
}

.device-desktop .phui-basic-nav .phabricator-side-menu
  .phui-list-item-selected
  a.phui-list-item-href:hover {
  background-color: rgba({$alphablack},.05);
}

.phui-basic-nav .phabricator-side-menu .phui-list-item-selected
  .phui-list-item-href {
  margin-left: -4px;
}

.phui-basic-nav .phabricator-side-menu .phui-list-item-type-label {
  padding: 6px 8px 4px 12px;
  color: {$darkbluetext};
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-style: solid;
}

.device-desktop .phui-basic-nav .phabricator-side-menu
  a.phui-list-item-href:hover {
  text-decoration: none;
  background-color: rgba({$alphablack},.07);
}

.phui-basic-nav .phabricator-side-menu .phui-list-item-type-link +
 .phui-list-item-type-label {
   margin-top: 12px;
}

.phui-basic-nav .phui-profile-segment-bar {
  padding: 4px 4px 8px 12px;
}
