/**
 * @provides phui-workpanel-view-css
 */

.phui-workpanel-view .phabricator-action-header {
  border: 1px solid #b3b5b6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.device-phone .phui-workboard-view {
  width: auto;
  margin: 0 8px;
}

.phui-workboard-view .phui-object-item-link {
  white-space: normal;
  display: inline;
  -webkit-font-smoothing: antialiased;
}

.phui-workboard-view .phui-object-item-objname {
  vertical-align: top;
}

.phui-workpanel-view .phui-workpanel-header-action {
  float: right;
  width: 24px;
  border-left: 1px solid #b3b5b6;
}

.phui-workpanel-view .phui-workpanel-body {
  background: {$backdrop};
  padding: 5px 5px 1px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 0 0px 5px rgba(0,0,0,.4);
}

.phui-workpanel-view .phui-workpanel-footer-action a {
  color: #333;
  font-weight: bold;
}

.device-desktop .phui-workpanel-view .phui-workpanel-footer-action:hover {
 background-color: rgba(100,100,100,.1);
 border-radius: 3px;
}

.phui-workpanel-view .phui-list-item-icon {
  height: 14px;
  width: 14px;
  display: inline-block;
}

.phui-workpanel-view .phui-list-item-name {
  padding-left: 5px;
  display: inline-block;
}

.aphront-multi-column-fixed .phui-workpanel-body {
  width: 300px;
}

.phui-workpanel-body .phui-object-item-list-view {
  min-height: 54px;
}

.device .aphront-multi-column-outer
  div.aphront-multi-column-column-outer .phui-workpanel-body {
  width: auto;
}

.project-column-empty {
  background: rgba(255,255,255,.4);
  border-radius: 3px;
  margin-bottom: 4px;
  border: 1px dashed #fff;
}

.project-column-empty .drag-ghost {
  display: none;
}

.project-column-empty.drag-target-list {
  background: rgba(255,255,255,.7);
}

/* - Workpanel Cards -----------------------------------------------------------

  Slight display changes for how cards work in tight spaces

*/

.phui-workpanel-view .phui-object-item-grippable .phui-object-item-frame {
  padding-left: 0;
}

.phui-workpanel-view .phui-object-item-grip {
  display: none;
}

.phui-workpanel-view .phui-object-item-attribute a {
  color: {$bluetext};
}
