/**
 * @provides phui-fontkit-css
 */

.diviner-document-section .phui-header-header {
  color: {$blacktext};
}

.phui-document-view .phabricator-remarkup .remarkup-header {
  margin-bottom: 8px;
}

.phui-document-view .phabricator-remarkup h2.remarkup-header {
  padding: 0 24px 8px 0;
  margin: 32px 0 4px;
}

.phui-document-view .phabricator-remarkup .remarkup-header strong {
  color: #586BE9;
}
