/**
 * @provides phui-document-view-css
 */

.phui-document-view {
  margin-bottom: 16px;
  position: relative;
}

.device-desktop .phui-document-view {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #c0c5d1;
  max-width: 960px;
  margin: 16px auto;
}

.device-desktop .phui-document-view.phui-offset-view {
  max-width: 800px;
}

.phui-document-sidenav {
  position:absolute;
  width: 182px;
  text-overflow: ellipsis;
  padding: 6px 8px 8px 8px;
  top: 0;
  right: 0;
}

.phui-sidenav-view .phui-document-inner {
  margin-right: 200px;
  border-right: 1px solid #e7e7e7;
  background: #fff;
}

.phui-document-bookname {
  padding: 8px 16px;
  color: #9ca5b5;
}

.phui-document-bookname .bookname {
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.phui-document-bookname .bookdescription {
  font-size: 14px;
  float: right;
}

.phui-document-content .phabricator-header-shell {
  background-color: #f6f7f8;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.phui-document-content .phabricator-header-view {
  padding: 16px;
}

.phui-document-content .phabricator-property-list-view {
  border: none;
  box-shadow: none;
  margin: 0;
  background-color: #f6f7f8;
}

.phui-document-content {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  min-height: 240px;
  background: #fff;

  /* NOTE: This fixes margins, not floats, and can not be replaced with
     the ".group" class. See T3150.
  */
  overflow: hidden;
}

.device-desktop .phui-document-content .phabricator-action-list-view {
  margin: 10px 10px 0 0;
  background: #f7f7f7;
}

.device-phone .phui-document-content .phabricator-action-list-view {
  margin: 0;
  border-bottom: 1px solid #c0c5d1;
  background: #f7f7f7;
}

.phui-document-content .phabricator-remarkup {
  padding: 16px;
}

.device-phone .phui-document-content .phabricator-remarkup {
  padding: 8px;
}

.device-desktop .phui-document-content .phabricator-action-list-view {
  position: absolute;
  top: 50px;
  right: -172px;
  float: none;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  width: 160px;
}

.device-phone .phui-document-content .phabricator-remarkup-toc {
  width: 120px;
}

.phui-document-content .phabricator-remarkup .remarkup-code-block {
  clear: both;
  margin: 16px 0;
}

.device-desktop .phui-document-offset {
  padding-right: 160px;
}


/* Sidenav */
.phui-document-sidenav .phui-list-item-view {
  line-height: 20px;
}

.phui-document-sidenav .phui-list-item-type-link {
  margin-left: 8px;
}

.phui-document-sidenav .phui-list-item-type-label .phui-list-item-name {
  font-size: 12px;
  font-weight: bold;
  color: #9ca5b5;
  text-transform: uppercase;
}

.phui-document-sidenav .phui-list-item-type-divider {
  margin: 8px 0;
  border-bottom: 1px solid #e7e7e7;
}

.phui-document-sidenav .phui-list-item-icon {
  height: 14px;
  width: 14px;
  display: inline-block;
  position: absolute;
  top: 2px;
}

.phui-document-sidenav .phui-list-item-icon + .phui-list-item-name {
  padding-left: 20px;
}

.phui-document-sidenav .phui-list-item-has-icon {
  margin: 0;
  position: relative;
}

.phui-document-sidenav .phui-list-item-has-icon .phui-list-item-href {
  color: #000;
}

/* Topnav */
.phui-document-topnav .phui-list-view {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
}

.phui-document-topnav .phui-list-view > li {
  list-style: none;
  float: left;
  display: block;
  border-right: 1px solid #e7e7e7;
}

.phui-document-topnav .phui-list-view > li > * {
  display: block;
}

.phui-document-topnav .phui-list-item-href {
 color: #9ca5b5;
 padding: 8px 16px;
 font-size: 12px;
}

.phui-document-topnav .phui-list-item-selected .phui-list-item-href {
  background: #f6f7f8;
  color: #555;
}

.phui-document-topnav .phui-list-item-href:hover {
  background: #e8e9ec;
  color: #555;
  text-decoration: none;
}

.phui-document-topnav .phui-list-item-icon {
  height: 14px;
  width: 14px;
  display: block;
}
