/**
 * @provides phui-info-view-css
 */

.phui-info-view {
  border-style: solid;
  border-width: 1px;
  background: {$page.content};
  margin: 16px;
  padding: 12px;
  border-radius: 3px;
}

div.phui-info-view.phui-info-severity-plain {
  background: {$lightgreybackground};
  color: {$bluetext};
  border: none;
  padding: 8px 12px;
  margin-bottom: 4px !important;
}

.phui-info-view.phui-info-view-flush {
  margin: 0 0 20px 0;
}

.device .phui-info-view {
  margin: 8px;
}

.phui-info-view .phui-form-view {
  padding: 0;
}

.phui-info-view-icon {
  width: 24px;
  float: left;
}

.phui-info-view-body {
  line-height: 1.6em;
  color: {$blacktext};
}

.phui-info-view.phui-info-has-icon .phui-info-view-body {
  margin-left: 24px;
}

.phui-info-view-body tt {
  color: {$blacktext};
  background: rgba({$alphablue},0.1);
  padding: 1px 4px;
  border-radius: 3px;
  white-space: pre-wrap;
}

.phui-info-view-actions {
  margin-top: -3px;
  margin-bottom: -4px;
  float: right;
}

.phui-info-view-actions .button {
  margin-left: 4px;
}

.phui-info-view-head + .phui-info-view-body {
  padding-top: 4px;
}

h1.phui-info-view-head {
  font-weight: bold;
  font-size: {$biggerfontsize};
  line-height: 1.3em;
}

.phui-info-view-list {
  margin-left: 30px;
  list-style: disc;
  line-height: 1.6em;
}

.phui-info-view .phui-info-icon {
  padding-top: 1px;
  font-size: 16px;
}

.phui-info-severity-error {
  border-color: {$red};
  border-left-width: 6px;
}

.phui-info-severity-error .phui-info-icon {
  color: {$red};
}

.phui-info-severity-mfa {
  border-color: {$blue};
  border-left-width: 6px;
}

.phui-info-severity-mfa .phui-info-icon {
  color: {$blue};
}

.phui-info-severity-warning {
  border-color: {$yellow};
  border-left-width: 6px;
}

.phui-info-severity-warning .phui-info-icon {
  color: {$yellow};
}

.phui-info-severity-notice {
  border-color: {$blue};
  border-left-width: 6px;
}

.phui-info-severity-notice .phui-info-icon {
  color: {$blue};
}

.phui-info-severity-nodata {
  border-color: {$lightgreyborder};
}

.phui-info-severity-success {
  border-color: {$green};
  border-left-width: 6px;
}

.phui-info-severity-success .phui-info-icon {
  color: {$green};
}

.aphront-dialog-body .phui-info-view {
  margin: 0 0 8px 0;
}

.phui-crumbs-view + .phui-info-view {
  margin-top: 0;
}

.phui-crumbs-view.phui-crumbs-border + .phui-info-view {
  margin-top: 16px;
}

div.phui-object-box .phui-header-shell + .phui-info-view {
  margin: 16px 0 8px;
}

div.phui-object-box.phui-box-white-config .phui-header-shell + .phui-info-view {
  margin: 20px 16px 8px;
}
