/**
 * @provides phui-error-view-css
 */

.phui-error-view {
  border-style: solid;
  border-left-width: 4px;
}

.phui-error-view {
  margin: 16px;
  padding: 12px;
}

.device-phone .phui-error-view {
  margin: 8px;
}

.phui-error-view .phui-form-view {
  padding: 0;
}

.phui-error-view-body {
  line-height: 1.45em;
}

.phui-error-view-head + .phui-error-view-body {
  padding-top: 4px;
}

.aphront-panel-plain .phui-error-view {
  margin-left: 0;
  margin-right: 0;
}

h1.phui-error-view-head {
  font-weight: bold;
  font-size: 15px;
}

.phui-error-view-list {
  margin: 0 0 0 16px;
  list-style: disc;
  line-height: 1.5em;
}

.phui-error-severity-error {
  border-color: {$red};
  background: {$lightred};
}

.phui-error-severity-warning {
  border-color: {$yellow};
  background: {$lightyellow};
}

.phui-error-severity-notice {
  border-color: {$blue};
  background: {$lightblue};
}

.phui-error-severity-nodata {
  border-color: {$lightgreyborder};
  background-color: #fff;
}

.legalpad .phui-error-view {
  margin: 0;
  border-width: 0 0 1px 0;
  border-bottom: 1px solid {$lightblueborder};
}

.aphront-dialog-body .phui-error-view {
  margin: -16px -16px 16px -16px;
  border-width: 0 0 1px 0;
  border-bottom: 1px solid {$lightblueborder};
}

.aphront-dialog-body .phui-error-view .phui-error-view-list {
  margin: 0 0 0 16px;
  list-style: disc;
}

.phui-object-box .phui-error-severity-error,
.aphront-dialog-body .phui-error-severity-error {
  color: {$red};
}

.phui-object-box .phui-error-severity-warning,
.aphront-dialog-body .phui-error-severity-warning {
  color: #bc7837;
}

.phui-object-box .phui-error-severity-notice,
.aphront-dialog-body .phui-error-severity-notice {
  color: {$blue};
}

.phui-crumbs-view + .phui-error-view {
  margin-top: 0;
}

.phui-crumbs-view.phui-crumbs-border + .phui-error-view {
  margin-top: 16px;
}
