/**
 * @provides phui-pinboard-view-css
 */

.phui-pinboard-view {
  padding: 8px 0 16px 16px;
  overflow: hidden;
  margin: 12px 0;
}

.device-phone .phui-pinboard-view {
  padding: 0;
}

.phui-pinboard-item-view {
  margin: 0 12px 16px 0;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$blueborder};
  text-align: left;
  width: 288px;
}

.phui-pinboard-view .phui-pinboard-item-view {
  float: left;
}

.device-desktop .phui-pinboard-item-view:hover {
  box-shadow: {$dropshadow};
}

/* On phones, show a single column of items. */
.device-phone .phui-pinboard-item-view {
  float: none;
  margin: 0 auto 16px;
}

.phui-pinboard-item-header {
  padding: 6px 8px;
  display: block;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid {$lightblueborder};
  white-space: nowrap;
  overflow: hidden;
}

.phui-pinboard-item-header a {
  color: {$bluetext};
}

.phui-pinboard-item-image-link {
  padding: 8px 4px;
  display: block;
}

.phui-pinboard-item-content {
  padding: 8px;
  overflow: hidden;
  color: {$bluetext};
  font-size: 12px;
}

.phui-pinboard-item-content + .phui-pinboard-icons,
.phui-pinboard-item-image-link + .phui-pinboard-icons {
  border-top: 1px solid {$thinblueborder};
}

.phui-pinboard-item-count {
  float: left;
  margin-left: 8px;
}

.phui-pinboard-icons {
  padding: 4px 8px 4px 0;
  color: {$darkbluetext};
  overflow: hidden;
}

.phui-pinboard-icon {
  margin-right: 4px;
}

.phui-pinboard-item-disabled .phui-pinboard-item-image-link img {
  opacity: 0.25;
}

.phui-pinboard-item-disabled .phui-pinboard-item-header a {
  color: {$greytext};
  text-decoration: line-through;
}

.dashboard-panel .phui-pinboard-view {
  margin: 0;
  padding: 16px 12px 0 12px;
  background: #fff;
  border-left: 1px solid {$lightblueborder};
  border-right: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$blueborder};
}
