/**
 * @provides phui-two-column-view-css
 */

.phui-two-column-view {
  background-color: #fff;
}

.phui-two-column-container {
  max-width: 1024px;
  margin: 0 auto;
}

.phui-two-column-view .phui-two-column-header .phui-header-shell {
  padding-bottom: 32px;
}

.device-phone .phui-two-column-view .phui-two-column-header .phui-header-shell {
  padding-bottom: 20px;
}

.phui-two-column-fluid .phui-two-column-container {
  max-width: 100%;
}

.phui-two-column-content {
  display: table;
  width: 100%;
}

.phui-two-column-row {
  display: table-row;
}

.device-desktop .phui-two-column-view .phui-main-column {
  display: table-cell;
  vertical-align: top;
}

.device-desktop .phui-two-column-view .phui-side-column {
  width: 320px;
  display: table-cell;
  vertical-align: top;
}

.device-desktop .phui-two-column-view
  .phui-main-column .phui-object-box:first-child  {
    margin: 0 16px 0 16px;
}

.device-desktop .phui-two-column-view
  .phui-side-column .phui-object-box {
    margin: 0 16px 16px 0;
}

.phui-two-column-view pre {
  white-space: pre-wrap;
}
