/**
 * @provides phui-status-list-view-css
 */

.phui-status-list-view {
  width: 100%;
}

.phui-status-list-view .phui-icon-view {
  width: 14px;
  height: 14px;
  margin: 2px 4px 2px 0;
}

.phui-status-item-target {
  padding: 1px 8px;
  white-space: nowrap;
}

.phui-status-item-note {
  width: 100%;
  color: {$greytext};
  line-height: 14px;
  padding: 3px 4px;
}

.phui-status-item-highlighted td {
  background-color: {$sh-yellowbackground};
  border-radius: 3px;
}

.phui-status-list-view td a {
 color: {$darkbluetext};
}

.phui-status-item-highlighted td.phui-status-item-note {
  background-color: transparent;
}
