/**
 * @provides phui-object-box-css
 */

div.phui-object-box.phui-object-box-flush {
  margin-top: 0;
}

.phui-object-box .phui-header-shell {
  padding: 4px 5px 4px 12px;
  border-bottom: 1px solid {$lightblueborder};
  border-top: none;
}

.phui-object-box .phui-header-image {
  margin: 1px 8px 0px -7px;
}

.phui-object-box .phui-header-shell h1 {
  color: {$bluetext};
  text-shadow: 0 1px #fff;
  padding: 8px 0;
}

.phui-object-box .phui-header-shell + .aphront-error-view {
  margin: 0;
  border-width: 0;
  border-bottom: 1px solid {$lightblueborder};
}

.device-phone .phui-object-box {
  margin: 8px 8px 0 8px;
}
