/**
 * @provides phui-crumbs-view-css
 */

.phui-crumbs-view {
  background-color: #ebecee;
  background-image: none !important;
  height: 31px;
  overflow: hidden;
  vertical-align: top;
  border-bottom: 1px solid rgba(205, 207, 211, 1);
  /* TODO: Position this over the slider for Differential's file tree view.
     Remove this once that gets sorted out. */
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.phui-crumbs-view,
.phui-crumbs-view a.phui-crumb-view,
.phui-crumbs-view a.phui-crumbs-action {
  color: {$darkbluetext};
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

.phui-crumbs-view a.phui-crumbs-action-disabled {
  color: {$lightgreytext};
}

.phui-crumbs-view + .phui-header-shell {
  border-top: none;
}

.device-desktop .phui-crumbs-view a:hover {
  text-decoration: underline;
}

.phui-crumb-view {
  float: left;
  height: 31px;
  line-height: 31px;
}

.device-phone .phui-crumb-view {
  display: none;
}

.device-phone .phui-crumb-view.phabricator-last-crumb,
.device-phone .phui-crumb-view.phui-crumb-has-icon {
  display: inline-block;
}

.phui-crumb-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 2px 2px 2px 10px;
  vertical-align: top;
}

.device-phone .phui-crumb-icon {
  margin-left: 7px;
}

.phui-crumbs-actions {
  float: right;
  white-space: nowrap;
}

.phui-crumbs-action {
  display: inline-block;
  height: 17px;
  padding: 8px 12px;
  position: relative;
}

.device-phone a.phui-crumbs-action {
  padding: 7px;
  border-left: 1px solid {$hovergrey};
}

.device-desktop a.phui-crumbs-action:hover {
  background: rgba(205, 207, 211, .5);
  text-decoration: none;
}

.device-phone .phui-crumbs-action-name {
  display: none;
}

a.phui-crumbs-action .phui-icon-view {
  margin-right: 5px;
  color: {$darkbluetext};
}

.device-phone a.phui-crumbs-action .phui-icon-view {
  margin-left: 5px;
}

.phui-crumb-divider {
  display: inline-block;
  width: 9px;
  height: 31px;
  vertical-align: top;
  margin: 0 8px 0 4px;
}
