html, body, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  color: #555555;
}

.oblivious-info {
  position: fixed;
  width: 15%;
  border-right: 1px solid #dfdfdf;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 140px 2% 0;
  overflow: hidden;

  background: url(/image/badge.png);
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.oblivious-content {
  padding-top: 3%;
  margin-left: 22%;
  max-width: 600px;
}

a {
  color: #222222;
  text-decoration: none;
}

a:hover {
  color: #a00000;
}


h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

.phame-post {
  margin: 0 0 2em;
}

.phame-post-date {
  font-size: 12px;
  margin: .25em 0 1em;
}

.phame-post {
  line-height: 1.6em;
}

.phame-post p {
  margin: 0 0 1em;
}

.phame-post tt {
  color: #333333;
  background: #ebebeb;
  padding: 0 .25em;
  white-space: pre-wrap;
}

.phame-post .remarkup-code-block pre {
  overflow: auto;
  padding: 10px 10px;
  border: 1px solid #dfdfdf;
  background-color: #f8f8f8;
}

.fb-comments,
.fb-comments span,
.fb-comments iframe[style] {
  width: 100% !important;
}
