.DS_Store
._*
/webroot/rsrc/custom
.#*
*#
*~
*.swp

# NetBeans project files
/nbproject/

# Arcanist scratch directory
/.arc

# Diviner
/docs/
/.divinercache

# libphutil
/src/.phutil_module_cache

# Configuration
/conf/custom/*
/conf/local/local.json
/conf/local/ENVIRONMENT
