# NOTE: Thinking about adding files created by your operating system, IDE,
# or text editor here? Don't! Add them to your per-user .gitignore instead.

# Diviner
/docs/
/.divinercache/
/src/.cache/

# libphutil
/src/.phutil_module_cache

# Configuration
/conf/custom/*
/conf/local/local.json
/conf/local/ENVIRONMENT
/conf/local/VERSION
/conf/keys/device.pub
/conf/keys/device.key
/conf/keys/device.id
/conf/aphlict/aphlict.custom.json

# Impact Font
/resources/font/impact.ttf

# User-accessible hook for adhoc debugging scripts
/support/debug.php

# User-accessible hook for adhoc startup code
/support/preamble.php

# Users can link binaries here
/support/bin/*

# User extensions
/src/extensions/*

# NPM local packages
/support/aphlict/server/node_modules/

# Places for users to add custom resources.
/resources/cows/custom/*
/resources/figlet/custom/*
