/**
 * @provides differential-core-view-css
 */

.differential-primary-pane {
  background: #edecef;
  padding: 1em 0em 0em 0em;
  margin: 0em 0em 4em 0em;
}

.differential-panel {
  margin: -1px 0px 3.6em 0px;
  padding:      15px 2%;
  font-size:    13px;
  background:   #F6F6F6;
  border-color: #c0c5d1;
  border-style: solid;
  border-width: 1px 0 1px 0;
  box-shadow: 0 0 1px 1px rgba(192, 197, 209, 0.3);
}

.differential-panel h1 {
  border-bottom: 1px solid #aaaa99;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.differential-unselectable tr td:nth-of-type(1) {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

