/**
 * @provides differential-results-table-css
 */

table.differential-results-table {
  border-collapse: separate;
  width: 96%;
  font-size: 11px;
}

.differential-results-table th {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 2px 4px;
  width: 50px;
  border-right: 1px solid #fff;
  background: #f7f7f7;
}

.device .differential-results-table th {
  white-space: normal;
}

.differential-results-table td {
  padding: 0 8px;
  margin: 0;
  vertical-align: middle;
  background: #f7f7f7;
}

.differential-results-table tr.differential-results-row-star th,
.differential-results-table tr.differential-results-row-star td {
  background: {$greybackground};
}

.differential-results-table tr.differential-results-row-section th {
  padding-top: 4px;
  text-align: left;
}

.differential-results-table tr.differential-results-row-excuse th {
  background: #3399ff;
}

.differential-results-table tr.differential-results-row-excuse td {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.differential-results-table tr.differential-results-row-red th {
  background: #ff4422;
}

.differential-results-table tr.differential-results-row-yellow th {
  background: #ffdd66;
}

.differential-results-table tr.differential-results-row-green th {
  background: #22dd44;
}

.differential-results-table tr.differential-results-row-blue th {
  background: #88bbff;
}

.differential-results-table tr.differential-results-row-details td {
  color: {$lightgreytext};
}

.differential-results-table tr.differential-results-row-show th {
  border-top: 1px solid #fff;
  border-right: none;
  padding: 2px;
  color: {$bluetext};
  background: {$greybackground};
}
