/**
 * @provides differential-revision-history-css
 */

.differential-revision-history-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}

.differential-revision-history-table th,
.differential-revision-history-table td {
  color: {$darkbluetext};
  padding: 4px 8px;
}

.differential-revision-history-table td {
  white-space: nowrap;
}

.differential-revision-history-table tr.alt {
  background: {$greybackground};
}

.differential-revision-history-table td.revhistory-desc {
  width: 100%;
  white-space: normal;
}

.differential-revision-history-table td.revhistory-name {
  font-weight: bold;
}

.differential-revision-history-table td.revhistory-age {
  text-align: right;
}

.differential-revision-history-table td.revhistory-old,
.differential-revision-history-table td.revhistory-new {
  padding: 0 16px;
  text-align: center;
}

.differential-revision-history-table td.revhistory-old {
  background: #f9d0d0;
}

.differential-revision-history-table td.revhistory-old-now {
  background: #ffaaaa;
}

.differential-revision-history-table td.revhistory-new {
  background: #d0ffd0;
}

.differential-revision-history-table td.revhistory-new-now {
  background: #aaffaa;
}

.differential-revision-history-table td.revhistory-star {
  text-align: center;
}

.differential-revision-history-table td.diff-differ-submit {
  text-align: right;
  border-bottom: none;
  padding: 8px 0 4px 0;
}

.differential-revision-history-table td.diff-differ-submit button {
  margin-left: 12px;
}

.differential-revision-history-table td.diff-differ-submit label {
  font-weight: bold;
  padding-right: 4px;
  color: {$darkgreytext};
}
