/**
 * @provides differential-revision-detail-css
 */

.differential-revision-properties {
  font-size: 12px;
  width:    100%;
}

.differential-revision-properties tt {
  letter-spacing: 1.1px;
}

.differential-revision-properties th {
  font-weight:    bold;
  width:          100px;
  text-align:     right;
  padding:        3px 4px 3px 3px;
  color:          #333333;
  white-space:    nowrap;
}

.differential-revision-properties td {
  padding: 3px 2px;
}

.differential-revision-detail-core {
  margin-right: 265px;
}

