/**
 * @provides differential-revision-history-css
 */

.differential-revision-history-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}

.differential-revision-history-table th {
  color: #666;
  padding: 4px 6px;
}

.differential-revision-history-table td {
  padding: 4px 6px;
}

.differential-revision-history-table td {
  white-space: nowrap;
}

.differential-revision-history-table tr.alt {
  background: #dcdcdc;
}


.differential-revision-history-table td.revhistory-desc {
  width: 100%;
  white-space: normal;
}

.differential-revision-history-table td.revhistory-name {
  font-weight: bold;
}

.differential-revision-history-table td.revhistory-age {
  text-align: right;
}

.differential-revision-history-table td.revhistory-old,
.differential-revision-history-table td.revhistory-new {
  padding: 0em 1.5em;
  text-align: center;
}

.differential-revision-history-table td.revhistory-old {
  background: #f9d0d0;
}

.differential-revision-history-table td.revhistory-old-now {
  background: #ffaaaa;
}

.differential-revision-history-table td.revhistory-new {
  background: #d0ffd0;
}

.differential-revision-history-table td.revhistory-new-now {
  background: #aaffaa;
}

.differential-revision-history-table td.revhistory-star {
  text-align: center;
}




.differential-revision-history-table td.diff-differ-submit {
  text-align: right;
  border-bottom: none;
  padding: 8px 0px 4px 0px;
}

.differential-revision-history-table td.diff-differ-submit button {
  margin-left: 1em;
}

.differential-revision-history-table td.diff-differ-submit label {
  font-weight: bold;
  padding-right: .25em;
  color: #444444;
}
