/**
 * @provides differential-revision-detail-css
 */

.differential-revision-properties {
  font-size: 12px;
  width:    100%;
  table-layout: fixed;
}

.differential-revision-properties tt {
  letter-spacing: 1.1px;
}

.differential-revision-properties th {
  font-weight:    bold;
  width:          120px;
  text-align:     right;
  padding:        3px 4px 3px 3px;
  color:          #333333;
}

.differential-revision-properties td {
  padding: 3px 2px;
}

.differential-revision-detail-core {
  margin-right: 265px;
}

.differential-unit-block,
.differential-lint-block {
  padding: .5em;
  background: #fcfcec;
  margin: .5em 0;
  font-size: 11px;
  line-height: 1.5em;
}

.differential-lint-block .lint-severity-warning {
  background: #ffff66;
  padding: 0 0.5em;
  font-weight: bold;
}

.differential-lint-block .lint-severity-error {
  background: #ff3333;
  padding: 0 0.5em;
  font-weight: bold;
}

.differential-lint-block .lint-file-block {
}

.differential-lint-block li li {
  margin-left: 1.5em;
}

.differential-lint-block li li p {
  margin-left: 1em;
  color: #666666;
}

.differential-unit-block li {
  margin-left: 1.5em;
}

.differential-unit-block li p {
  margin-left: 1em;
  color: #666666;
}

.differential-unit-block .unit-test-result {
  padding: 0;
}

.differential-unit-block .unit-result-fail {
  background: #ff3333;
  padding: 0 0.5em;
  font-weight: bold;
}

.differential-unit-block .unit-result-unsound {
  background: #cc33cc;
  padding: 0 0.5em;
  font-weight: bold;
}

.differential-lint-block .lint-excuse,
.differential-unit-block .unit-excuse {
  background: #808080;
  color: #ffff66;
  font-size: 12px;
}

.differential-keyboard-shortcuts {
  float: right;
}
