/**
 * @provides differential-revision-comment-list-css
 */

.differential-older-comments-are-hidden {
  background: {$lightyellow};
  border: 1px solid {$yellow};
  text-align: center;
  padding: 12px;
  color: {$darkgreytext};
  margin-top: 16px;
}
