/**
 * @provides differential-revision-comment-css
 */

.differential-comment-list {
  margin: 0 2em 3.6em 2em;
}

.differential-comment-list .phabricator-transaction-content {
  background: #ffffff;
}

/*  Spooky haunted panel which floats on the bottom of the screen.
    Haunt modes are:

      - Mode 1: Just the comment box.
      - Mode 2: Comment box, comment preview, and inline comment previews.
*/
.differential-haunt-mode-1 .differential-add-comment-panel,
.differential-haunt-mode-2 .differential-add-comment-panel {
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  max-height: 375px;

  box-shadow: 0 0 4px #000;
  -webkit-box-shadow: 0 0 4px #000;
  -moz-box-shadow: 0 0 4px #000;
}

.differential-haunt-mode-2 .differential-add-comment-panel {
  max-height: 75%;
}

.differential-haunt-mode-1 .differential-add-comment-panel h1,
.differential-haunt-mode-2 .differential-add-comment-panel h1 {
  display: none;
}

.differential-haunt-mode-1 .aphront-panel-preview {
  display: none;
}

.differential-haunt-mode-1 {
  padding-bottom: 250px;
}

.differential-comment-list .anchor-target {
  background-color: #ffffdd;
  border-color: #ffff00;
}

.differential-inline-comment-content {
  overflow: auto;
}

.phabricator-transaction-view .differential-comment-action-testplan {
  border-color:     #660099;
}

.phabricator-transaction-view .differential-comment-action-abandon {
  border-color:     #222222;
}

.phabricator-transaction-view .differential-comment-action-accept {
  border-color:     #009966;
}

.phabricator-transaction-view .differential-comment-action-reject {
  border-color:     #aa0000;
}

.phabricator-transaction-view .differential-comment-action-rethink {
  border-color:     #aa0000;
}

.phabricator-transaction-view .differential-comment-action-commit {
  border-color:     #006699;
}

.phabricator-transaction-view .differential-comment-action-reclaim {
  border-color:     #0099aa;
}

.phabricator-transaction-view .differential-comment-action-update {
  border-color:     #6699cc;
}

.phabricator-transaction-view .differential-comment-action-add_reviewers {
  border-color:     #aa99cc;
}

.phabricator-transaction-view .differential-comment-action-request_review {
  border-color:     #cc9966;
}

.phabricator-transaction-view .differential-comment-action-claim {
  border-color:     #ffdd33;
}
