/**
 * @provides differential-revision-comment-css
 */


.differential-comment {
  padding: 3px 6px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

.differential-comment-list {
  max-width: 1162px;
}

.differential-add-comment-panel {
  max-width: 1162px;
}

/* Spooky haunted panel which floats on the bottom of the screen. */
.differential-haunted-panel .differential-add-comment-panel {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  overflow: auto;
  max-height: 375px;
  max-width: none;

  box-shadow: 0 0 4px #000;
  -webkit-box-shadow: 0 0 4px #000;
  -moz-box-shadow: 0 0 4px #000;

}

.differential-haunted-panel .differential-add-comment-panel h1 {
  display: none;
}

.differential-haunted-panel .aphront-panel-preview {
  display: none;
}


.differential-haunted-panel {
  padding-bottom: 250px;
}


.differential-comment-list .anchor-target {
  background-color: #ffffdd;
  border-color: #ffff00;
}

.differential-comment-info {
  color:       #666666;
  float:       right;
  font-size:   11px;
  margin:      0 0 3px;
  padding-top: 6px;
}

.differential-comment-info a {
  font-weight: bold;
}

.differential-comment-title {
  font-weight:         bold;
  height:              16px;
  margin:              4px 0em 0em 0em;
  padding:             4px 0em;
  position:            relative;
}

.differential-comment-body {
  min-height:           56px;
  padding-left:         62px;
  background-repeat:    no-repeat;
  background-position:  6px 0px;
}

.differential-comment-content {
  background:          #fbfbfb;
  border-color:        #c3c3c3;
  border-style:        solid;
  border-width:        1px 10px 1px 10px;
  clear:               both;
  line-height:         1.4em;
  margin:              0em;
  padding:             .3em 5px .4em 1.25em;
}

.differential-comment-content {
  overflow: hidden;
}

.differential-comment-content .phabricator-remarkup .remarkup-code-block,
.differential-comment-core .phabricator-remarkup .remarkup-code-block {
   width: 88ex;
   width: 81ch;
}

.differential-comment-nocontent {
  font-weight: bold;
}

.differential-comment-action-testplan .differential-comment-content {
  border-color:     #660099;
  background:       #f6f3ff;
}

.differential-comment-action-abandon .differential-comment-content {
  border-color:     #222222;
  background:       #f3f3f3;
}

.differential-comment-action-accept .differential-comment-content {
  border-color:     #009966;
  background:       #f3fff3;
}

.differential-comment-action-reject .differential-comment-content {
  border-color:     #aa0000;
  background:       #fff3f3;
}

.differential-comment-action-rethink .differential-comment-content {
  border-color:     #aa0000;
  background:       #fff3f3;
}

.differential-comment-action-commit .differential-comment-content {
  border-color:     #006699;
  background:       #f3f3ff;
}


.differential-comment-action-reclaim .differential-comment-content {
  border-color:     #0099aa;
  background:       #f3fff9;
}

.differential-comment-action-update .differential-comment-content {
  border-color:     #6699cc;
  background:       #f3f9ff;
}

.differential-comment-action-add_reviewers .differential-comment-content {
  border-color:     #aa99cc;
  background:       #f9f3ff;
}

.differential-comment-action-request_review .differential-comment-content {
  border-color:     #cc9966;
  background:       #fff9f3;
}

.differential-inline-summary th,
.differential-inline-summary td {
  vertical-align: top;
  padding: 0 0 6px;
}

.differential-inline-summary th {
  padding-top: 16px;
  color: #666666;
  font-weight: bold;
}

.differential-inline-summary tr > th:first-child {
  padding-top: 2px;
}


.differential-inline-summary td.inline-line-number {
  color: #444444;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  padding: 0 4px;
  width: 90px;
}

.differential-inline-summary td.inline-line-number .num {
  display: block;
  position: relative;
  padding-left:   15px;
  padding-right:  5px;
  width: 70px; /* Need lots of width for 23,950-23,951 */
}

.differential-inline-summary td.inline-which-diff {
  padding: 0 8px 0 0;
  color: #666666;
}

.differential-inline-summary td.inline-line-number a:hover {
  background: #3b5998;
  color: white;
  text-decoration: none;
}


.differential-inline-summary-section {
  margin: 1em 0 .5em;
  font-size: 11px;
  border-bottom: 1px solid #dddddd;
  color: #666666;
}

