/**
 * @provides differential-table-of-contents-css
 */

.differential-toc-meta {
  color: {$greytext};
  padding-left: 12px;
}

.differential-toc-char,
.differential-toc-prop {
  width: 16px;
  text-align: center;
  font-weight: bold;
  color: {$darkbluetext};
}

.differential-toc-ftype {
  padding: 0 4px;
  text-align: center;
  color: {$greytext};
}

.differential-toc-file {
  color: {$greytext};
}

.differential-toc-reveal-all,
.differential-toc-edit-all {
  float: right;
  margin-left: 4px;
}

.diff-star-none {
  color: {$greytext};
}

.diff-star-okay {
  color: #ff9700;
}

/* TODO: 'warn' and 'fail' are both red, but we can't make 'warn' yellow since
   'okay' is a "gold star". */
.diff-star-warn {
  color: #aa0000;
}

.diff-star-fail {
  color: #aa0000;
}

.diff-star-skip {
  color: #ff00aa;
}

.differential-toc table {
  width: 100%;
}

.differential-toc table td.differential-toc-cov,
.differential-toc table td.differential-toc-mcov {
  width: 120px;
  text-align: right;
  padding-right: 6px;
}

.differential-toc table th {
  color: {$darkbluetext};
  padding: 0 4px 4px 0;
  white-space: nowrap;
}

.differential-toc table th.differential-toc-cov,
.differential-toc table th.differential-toc-mcov {
  text-align: right;
}

.differential-toc table td em {
  color: {$greytext};
}

.differential-toc .button {
  margin: 8px 0px 0px 8px;
}

.differential-mcoverage-loading {
  color: {$lightgreytext};
}
