/**
 * @provides phabricator-jump-nav
 */

.phabricator-jump-nav {
  font-size: 18px;
  width: 98%;
  padding: .25em 1%;
}

.phabricator-jump-nav-caption {
  font-size: 11px;
  color: #666666;
  margin-top: 4px;
}

.phabricator-jump-nav-buttons {
  margin-top: 1em;
  text-align: center;
}

.phabricator-jump-nav-buttons a.button {
  margin-right: .75em;
  width: 125px;
  text-align: center;
}
