/**
 * @provides phabricator-jump-nav
 */

.phabricator-jump-nav-form {
  text-align: center;
  padding: 0px;
  margin: 0;
}

input.phabricator-jump-nav[type='text'] {
  font-size: 16px;
  width: 100%;
}

.phabricator-jump-nav-caption {
  margin-top: 4px;
  padding-bottom: 4px;
  font-size: 11px;
  color: {$greytext};
  text-align: left;
}

.phabricator-jump-nav-container form {
  padding: 20px;
}
