/**
 * @provides phabricator-app-buttons-css
 */

.phabricator-app-buttons {
  padding: 2em 3em 0em;
}

.phabricator-app-button {
  display: block;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.phabricator-app-button .app-button {
  display: block;
  margin: 0px 10px 4px;

  background: #5e77aa url('/rsrc/image/sprite.png') 0 0 repeat-x;
  border-bottom-color: #1a356e;
  cursor: pointer;

  background-color: #e4e5e5;
  background-position: 0 -250px;
  border: 1px solid #999;
  border-bottom-color: #888;

  box-shadow: 0px 1px 0px rgba(0,0,0,.07);
  -moz-box-shadow: 0px 1px 0px rgba(0,0,0,.07);
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,.07);

  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.phabricator-app-button .app-button:active {
  background-color: #dddddd;
  background-image: none;
  border-bottom-color: #999;
}

a.phabricator-button-caption,
a.phabricator-button-caption:link,
a.phabricator-button-caption:active,
a.phabricator-button-caption:hover,
a.phabricator-button-caption:visited {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  padding: 3px 0;
  font-weight: bold;
}

.phabricator-app-subtitle {
  color: #888888;
  font-weight: normal;
}


.app-icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px;
  background: url('/rsrc/image/apps.png') 0 0 no-repeat;
}

.icon-differential {
  background-position: 0 0;
}

.icon-maniphest {
  background-position: 0 -50px;
}

.icon-create-task {
  background-position: 0 -100px;
}

.icon-upload-file {
  background-position: 0 -150px;
}

.icon-create-paste {
  background-position: 0 -200px;
}

.icon-phriction {
  background-position: 0 -250px;
}

.icon-diffusion {
  background-position: 0 -300px;
}

.icon-audit {
  background-position: 0 -350px;
}
