/**
 * @provides phriction-document-css
 */

.phriction-header {
  background: #eeeeee;
  border-bottom: 1px solid #dddddd;
  padding: 1em;
}

.phriction-header a.button {
  float: right;
  margin: 0em 0em 0em 1%;
}

.phriction-header h1 {
  margin: .25em 0;
}

.phriction-breadcrumbs {
  font-size: 12px;
  color: {$greytext};
}

.phriction-document-crumbs a {
  font-weight: bold;
}

.phriction-children ul {
  margin-left: 30px;
  padding-bottom: 10px;
  list-style: circle;
  color: {$lightgreytext};
}

.phriction-children-header {
  background: #f7f7f7;
  padding: 8px 0 8px 16px;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid #BFCFDA;
  color: #6b748c;
  text-shadow: 0 1px 2px #fff;
}

.phriction-document-history-diff {
  padding: 0 2em 2em;
}

.phriction-revert-table {
  width: 100%;
}

.phriction-revert-table td {
  text-align: center;
  width: 50%;
  padding: .5em 0;
}

.phriction-history-nav-table {
  width: 100%;
}

.phriction-history-nav-table td {
  width: 50%;
  color: {$darkgreytext};
}

.phriction-history-nav-table td.nav-next {
  text-align: right;
}

.phui-document-content .phriction-link {
  font-weight: bold;
}
