/**
 * @provides owners-path-editor-css
 */

.owners-path-editor-table {
  margin: 10px 0;
  width: 100%;
}

.owners-path-editor-table td {
  padding: 2px 4px;
  vertical-align: middle;
}

.owners-path-editor-table td.owners-path-mode-control {
  width: 180px;
}

.owners-path-editor-table td.owners-path-mode-control select {
  width: 100%;
}

.owners-path-editor-table td.owners-path-repo-control {
  width: 280px;
}

.owners-path-editor-table td.owners-path-path-control {
  width: auto;
}

.owners-path-editor-table td.owners-path-path-control input {
  width: 100%;
}

.owners-path-editor-table td.owners-path-path-control .jx-typeahead-results a {
  padding: 4px;
}

.owners-path-editor-table td.owners-path-icon-control {
  width: 18px;
}

.owners-path-editor-table td.remove-column {
  width: 100px;
}

.owners-path-editor-table td.remove-column a {
  display: block;
}
