/**
 * @provides autosprite-css
 * @generated
 */

.autosprite {
  background-image: url(/rsrc/image/autosprite.png);
  background-repeat: no-repeat;
}

.main-menu-item-icon-help {
  background-position: 0px 0px;
}

.main-menu-item-icon-help-selected {
  background-position: 0px -27px;
}

.main-menu-item-icon-help:hover {
  background-position: 0px -54px;
}

.main-menu-item-icon-settings {
  background-position: 0px -81px;
}

.main-menu-item-icon-settings-selected {
  background-position: 0px -108px;
}

.main-menu-item-icon-settings:hover {
  background-position: 0px -135px;
}

.main-menu-item-icon-logout {
  background-position: 0px -162px;
}

.main-menu-item-icon-logout-selected {
  background-position: 0px -189px;
}

.main-menu-item-icon-logout:hover {
  background-position: 0px -216px;
}

.main-menu-item-icon-notifications {
  background-position: 0px -243px;
}

.main-menu-item-icon-notifications-selected {
  background-position: 0px -270px;
}

.main-menu-item-icon-notifications:hover {
  background-position: 0px -297px;
}

.main-menu-item-icon-task {
  background-position: 0px -324px;
}

.main-menu-item-icon-task-selected {
  background-position: 0px -351px;
}

.main-menu-item-icon-task:hover {
  background-position: 0px -378px;
}

.app-differential-large {
  background-position: 0px -405px;
}

.device-desktop .phabricator-application-launch-container:hover .app-differential-large /* hover */ {
  background-position: 0px -466px;
}

.app-differential {
  background-position: 0px -527px;
}

.device-desktop  .app-differential:hover {
  background-position: 0px -558px;
}

.app-differential-selected {
  background-position: 0px -589px;
}

.app-fact-large {
  background-position: 0px -620px;
}

.device-desktop .phabricator-application-launch-container:hover .app-fact-large /* hover */ {
  background-position: 0px -681px;
}

.app-fact {
  background-position: 0px -742px;
}

.device-desktop  .app-fact:hover {
  background-position: 0px -773px;
}

.app-fact-selected {
  background-position: 0px -804px;
}

.app-mail-large {
  background-position: 0px -835px;
}

.device-desktop .phabricator-application-launch-container:hover .app-mail-large /* hover */ {
  background-position: 0px -896px;
}

.app-mail {
  background-position: 0px -957px;
}

.device-desktop  .app-mail:hover {
  background-position: 0px -988px;
}

.app-mail-selected {
  background-position: 0px -1019px;
}

.app-diffusion-large {
  background-position: 0px -1050px;
}

.device-desktop .phabricator-application-launch-container:hover .app-diffusion-large /* hover */ {
  background-position: 0px -1111px;
}

.app-diffusion {
  background-position: 0px -1172px;
}

.device-desktop  .app-diffusion:hover {
  background-position: 0px -1203px;
}

.app-diffusion-selected {
  background-position: 0px -1234px;
}

.app-slowvote-large {
  background-position: 0px -1265px;
}

.device-desktop .phabricator-application-launch-container:hover .app-slowvote-large /* hover */ {
  background-position: 0px -1326px;
}

.app-slowvote {
  background-position: 0px -1387px;
}

.device-desktop  .app-slowvote:hover {
  background-position: 0px -1418px;
}

.app-slowvote-selected {
  background-position: 0px -1449px;
}

.app-phriction-large {
  background-position: 0px -1480px;
}

.device-desktop .phabricator-application-launch-container:hover .app-phriction-large /* hover */ {
  background-position: 0px -1541px;
}

.app-phriction {
  background-position: 0px -1602px;
}

.device-desktop  .app-phriction:hover {
  background-position: 0px -1633px;
}

.app-phriction-selected {
  background-position: 0px -1664px;
}

.app-maniphest-large {
  background-position: 0px -1695px;
}

.device-desktop .phabricator-application-launch-container:hover .app-maniphest-large /* hover */ {
  background-position: 0px -1756px;
}

.app-maniphest {
  background-position: 0px -1817px;
}

.device-desktop  .app-maniphest:hover {
  background-position: 0px -1848px;
}

.app-maniphest-selected {
  background-position: 0px -1879px;
}

.app-flags-large {
  background-position: 0px -1910px;
}

.device-desktop .phabricator-application-launch-container:hover .app-flags-large /* hover */ {
  background-position: 0px -1971px;
}

.app-flags {
  background-position: 0px -2032px;
}

.device-desktop  .app-flags:hover {
  background-position: 0px -2063px;
}

.app-flags-selected {
  background-position: 0px -2094px;
}

.app-settings-large {
  background-position: 0px -2125px;
}

.device-desktop .phabricator-application-launch-container:hover .app-settings-large /* hover */ {
  background-position: 0px -2186px;
}

.app-settings {
  background-position: 0px -2247px;
}

.device-desktop  .app-settings:hover {
  background-position: 0px -2278px;
}

.app-settings-selected {
  background-position: 0px -2309px;
}

.app-applications-large {
  background-position: 0px -2340px;
}

.device-desktop .phabricator-application-launch-container:hover .app-applications-large /* hover */ {
  background-position: 0px -2401px;
}

.app-applications {
  background-position: 0px -2462px;
}

.device-desktop  .app-applications:hover {
  background-position: 0px -2493px;
}

.app-applications-selected {
  background-position: 0px -2524px;
}

.app-default-large {
  background-position: 0px -2555px;
}

.device-desktop .phabricator-application-launch-container:hover .app-default-large /* hover */ {
  background-position: 0px -2616px;
}

.app-default {
  background-position: 0px -2677px;
}

.device-desktop  .app-default:hover {
  background-position: 0px -2708px;
}

.app-default-selected {
  background-position: 0px -2739px;
}

.app-people-large {
  background-position: 0px -2770px;
}

.device-desktop .phabricator-application-launch-container:hover .app-people-large /* hover */ {
  background-position: 0px -2831px;
}

.app-people {
  background-position: 0px -2892px;
}

.device-desktop  .app-people:hover {
  background-position: 0px -2923px;
}

.app-people-selected {
  background-position: 0px -2954px;
}

.app-ponder-large {
  background-position: 0px -2985px;
}

.device-desktop .phabricator-application-launch-container:hover .app-ponder-large /* hover */ {
  background-position: 0px -3046px;
}

.app-ponder {
  background-position: 0px -3107px;
}

.device-desktop  .app-ponder:hover {
  background-position: 0px -3138px;
}

.app-ponder-selected {
  background-position: 0px -3169px;
}

.app-calendar-large {
  background-position: 0px -3200px;
}

.device-desktop .phabricator-application-launch-container:hover .app-calendar-large /* hover */ {
  background-position: 0px -3261px;
}

.app-calendar {
  background-position: 0px -3322px;
}

.device-desktop  .app-calendar:hover {
  background-position: 0px -3353px;
}

.app-calendar-selected {
  background-position: 0px -3384px;
}

.app-files-large {
  background-position: 0px -3415px;
}

.device-desktop .phabricator-application-launch-container:hover .app-files-large /* hover */ {
  background-position: 0px -3476px;
}

.app-files {
  background-position: 0px -3537px;
}

.device-desktop  .app-files:hover {
  background-position: 0px -3568px;
}

.app-files-selected {
  background-position: 0px -3599px;
}

.app-projects-large {
  background-position: 0px -3630px;
}

.device-desktop .phabricator-application-launch-container:hover .app-projects-large /* hover */ {
  background-position: 0px -3691px;
}

.app-projects {
  background-position: 0px -3752px;
}

.device-desktop  .app-projects:hover {
  background-position: 0px -3783px;
}

.app-projects-selected {
  background-position: 0px -3814px;
}

.app-daemons-large {
  background-position: 0px -3845px;
}

.device-desktop .phabricator-application-launch-container:hover .app-daemons-large /* hover */ {
  background-position: 0px -3906px;
}

.app-daemons {
  background-position: 0px -3967px;
}

.device-desktop  .app-daemons:hover {
  background-position: 0px -3998px;
}

.app-daemons-selected {
  background-position: 0px -4029px;
}

.app-herald-large {
  background-position: 0px -4060px;
}

.device-desktop .phabricator-application-launch-container:hover .app-herald-large /* hover */ {
  background-position: 0px -4121px;
}

.app-herald {
  background-position: 0px -4182px;
}

.device-desktop  .app-herald:hover {
  background-position: 0px -4213px;
}

.app-herald-selected {
  background-position: 0px -4244px;
}

.app-countdown-large {
  background-position: 0px -4275px;
}

.device-desktop .phabricator-application-launch-container:hover .app-countdown-large /* hover */ {
  background-position: 0px -4336px;
}

.app-countdown {
  background-position: 0px -4397px;
}

.device-desktop  .app-countdown:hover {
  background-position: 0px -4428px;
}

.app-countdown-selected {
  background-position: 0px -4459px;
}

.app-conduit-large {
  background-position: 0px -4490px;
}

.device-desktop .phabricator-application-launch-container:hover .app-conduit-large /* hover */ {
  background-position: 0px -4551px;
}

.app-conduit {
  background-position: 0px -4612px;
}

.device-desktop  .app-conduit:hover {
  background-position: 0px -4643px;
}

.app-conduit-selected {
  background-position: 0px -4674px;
}

.app-feed-large {
  background-position: 0px -4705px;
}

.device-desktop .phabricator-application-launch-container:hover .app-feed-large /* hover */ {
  background-position: 0px -4766px;
}

.app-feed {
  background-position: 0px -4827px;
}

.device-desktop  .app-feed:hover {
  background-position: 0px -4858px;
}

.app-feed-selected {
  background-position: 0px -4889px;
}

.app-paste-large {
  background-position: 0px -4920px;
}

.device-desktop .phabricator-application-launch-container:hover .app-paste-large /* hover */ {
  background-position: 0px -4981px;
}

.app-paste {
  background-position: 0px -5042px;
}

.device-desktop  .app-paste:hover {
  background-position: 0px -5073px;
}

.app-paste-selected {
  background-position: 0px -5104px;
}

.app-audit-large {
  background-position: 0px -5135px;
}

.device-desktop .phabricator-application-launch-container:hover .app-audit-large /* hover */ {
  background-position: 0px -5196px;
}

.app-audit {
  background-position: 0px -5257px;
}

.device-desktop  .app-audit:hover {
  background-position: 0px -5288px;
}

.app-audit-selected {
  background-position: 0px -5319px;
}

.app-uiexample-large {
  background-position: 0px -5350px;
}

.device-desktop .phabricator-application-launch-container:hover .app-uiexample-large /* hover */ {
  background-position: 0px -5411px;
}

.app-uiexample {
  background-position: 0px -5472px;
}

.device-desktop  .app-uiexample:hover {
  background-position: 0px -5503px;
}

.app-uiexample-selected {
  background-position: 0px -5534px;
}

.app-phpast-large {
  background-position: 0px -5565px;
}

.device-desktop .phabricator-application-launch-container:hover .app-phpast-large /* hover */ {
  background-position: 0px -5626px;
}

.app-phpast {
  background-position: 0px -5687px;
}

.device-desktop  .app-phpast:hover {
  background-position: 0px -5718px;
}

.app-phpast-selected {
  background-position: 0px -5749px;
}

.app-owners-large {
  background-position: 0px -5780px;
}

.device-desktop .phabricator-application-launch-container:hover .app-owners-large /* hover */ {
  background-position: 0px -5841px;
}

.app-owners {
  background-position: 0px -5902px;
}

.device-desktop  .app-owners:hover {
  background-position: 0px -5933px;
}

.app-owners-selected {
  background-position: 0px -5964px;
}

.app-phid-large {
  background-position: 0px -5995px;
}

.device-desktop .phabricator-application-launch-container:hover .app-phid-large /* hover */ {
  background-position: 0px -6056px;
}

.app-phid {
  background-position: 0px -6117px;
}

.device-desktop  .app-phid:hover {
  background-position: 0px -6148px;
}

.app-phid-selected {
  background-position: 0px -6179px;
}

.app-diviner-large {
  background-position: 0px -6210px;
}

.device-desktop .phabricator-application-launch-container:hover .app-diviner-large /* hover */ {
  background-position: 0px -6271px;
}

.app-diviner {
  background-position: 0px -6332px;
}

.device-desktop  .app-diviner:hover {
  background-position: 0px -6363px;
}

.app-diviner-selected {
  background-position: 0px -6394px;
}

.app-repositories-large {
  background-position: 0px -6425px;
}

.device-desktop .phabricator-application-launch-container:hover .app-repositories-large /* hover */ {
  background-position: 0px -6486px;
}

.app-repositories {
  background-position: 0px -6547px;
}

.device-desktop  .app-repositories:hover {
  background-position: 0px -6578px;
}

.app-repositories-selected {
  background-position: 0px -6609px;
}

.app-phame-large {
  background-position: 0px -6640px;
}

.device-desktop .phabricator-application-launch-container:hover .app-phame-large /* hover */ {
  background-position: 0px -6701px;
}

.app-phame {
  background-position: 0px -6762px;
}

.device-desktop  .app-phame:hover {
  background-position: 0px -6793px;
}

.app-phame-selected {
  background-position: 0px -6824px;
}

.app-macro-large {
  background-position: 0px -6855px;
}

.device-desktop .phabricator-application-launch-container:hover .app-macro-large /* hover */ {
  background-position: 0px -6916px;
}

.app-macro {
  background-position: 0px -6977px;
}

.device-desktop  .app-macro:hover {
  background-position: 0px -7008px;
}

.app-macro-selected {
  background-position: 0px -7039px;
}

.action-file {
  background-position: 0px -7070px;
}

.action-fork {
  background-position: 0px -7087px;
}

.action-edit {
  background-position: 0px -7104px;
}

.action-flag-0 {
  background-position: 0px -7121px;
}

.action-flag-1 {
  background-position: 0px -7138px;
}

.action-flag-2 {
  background-position: 0px -7155px;
}

.action-flag-3 {
  background-position: 0px -7172px;
}

.action-flag-4 {
  background-position: 0px -7189px;
}

.action-flag-5 {
  background-position: 0px -7206px;
}

.action-flag-6 {
  background-position: 0px -7223px;
}

.action-flag-7 {
  background-position: 0px -7240px;
}

.action-flag-ghost {
  background-position: 0px -7257px;
}

.action-subscribe-auto {
  background-position: 0px -7274px;
}

.action-subscribe-add {
  background-position: 0px -7291px;
}

.action-subscribe-delete {
  background-position: 0px -7308px;
}

.remarkup-assist-b {
  background-position: 0px -7325px;
}

.remarkup-assist-code {
  background-position: 0px -7340px;
}

.remarkup-assist-i {
  background-position: 0px -7355px;
}

.remarkup-assist-image {
  background-position: 0px -7370px;
}

.remarkup-assist-ol {
  background-position: 0px -7385px;
}

.remarkup-assist-tag {
  background-position: 0px -7400px;
}

.remarkup-assist-tt {
  background-position: 0px -7415px;
}

.remarkup-assist-ul {
  background-position: 0px -7430px;
}

.remarkup-assist-help {
  background-position: 0px -7445px;
}
