/**
 * @provides autosprite-css
 * @generated
 */

.autosprite {
  background-image: url(/rsrc/image/autosprite.png);
  background-repeat: no-repeat;
}

.main-menu-item-icon-help {
  background-position: 0px 0px;
}

.main-menu-item-icon-help-selected {
  background-position: -31px 0px;
}

.main-menu-item-icon-help:hover {
  background-position: -62px 0px;
}

.main-menu-item-icon-settings {
  background-position: -93px 0px;
}

.main-menu-item-icon-settings-selected {
  background-position: -124px 0px;
}

.main-menu-item-icon-settings:hover {
  background-position: -155px 0px;
}

.main-menu-item-icon-logout {
  background-position: -186px 0px;
}

.main-menu-item-icon-logout-selected {
  background-position: -217px 0px;
}

.main-menu-item-icon-logout:hover {
  background-position: -248px 0px;
}

.main-menu-item-icon-notifications {
  background-position: -279px 0px;
}

.main-menu-item-icon-notifications-selected {
  background-position: -310px 0px;
}

.main-menu-item-icon-notifications:hover {
  background-position: -341px 0px;
}

.main-menu-item-icon-task {
  background-position: -372px 0px;
}

.main-menu-item-icon-task-selected {
  background-position: -403px 0px;
}

.main-menu-item-icon-task:hover {
  background-position: -434px 0px;
}

.app-differential {
  background-position: -465px 0px;
}

.device-desktop  .app-differential:hover {
  background-position: -496px 0px;
}

.app-differential-selected {
  background-position: -527px 0px;
}

.app-fact {
  background-position: -558px 0px;
}

.device-desktop  .app-fact:hover {
  background-position: 0px -31px;
}

.app-fact-selected {
  background-position: -31px -31px;
}

.app-mail {
  background-position: -62px -31px;
}

.device-desktop  .app-mail:hover {
  background-position: -93px -31px;
}

.app-mail-selected {
  background-position: -124px -31px;
}

.app-diffusion {
  background-position: -155px -31px;
}

.device-desktop  .app-diffusion:hover {
  background-position: -186px -31px;
}

.app-diffusion-selected {
  background-position: -217px -31px;
}

.app-slowvote {
  background-position: -248px -31px;
}

.device-desktop  .app-slowvote:hover {
  background-position: -279px -31px;
}

.app-slowvote-selected {
  background-position: -310px -31px;
}

.app-phriction {
  background-position: -341px -31px;
}

.device-desktop  .app-phriction:hover {
  background-position: -372px -31px;
}

.app-phriction-selected {
  background-position: -403px -31px;
}

.app-maniphest {
  background-position: -434px -31px;
}

.device-desktop  .app-maniphest:hover {
  background-position: -465px -31px;
}

.app-maniphest-selected {
  background-position: -496px -31px;
}

.app-flags {
  background-position: -527px -31px;
}

.device-desktop  .app-flags:hover {
  background-position: -558px -31px;
}

.app-flags-selected {
  background-position: 0px -62px;
}

.app-settings {
  background-position: -31px -62px;
}

.device-desktop  .app-settings:hover {
  background-position: -62px -62px;
}

.app-settings-selected {
  background-position: -93px -62px;
}

.app-applications {
  background-position: -124px -62px;
}

.device-desktop  .app-applications:hover {
  background-position: -155px -62px;
}

.app-applications-selected {
  background-position: -186px -62px;
}

.app-default {
  background-position: -217px -62px;
}

.device-desktop  .app-default:hover {
  background-position: -248px -62px;
}

.app-default-selected {
  background-position: -279px -62px;
}

.app-people {
  background-position: -310px -62px;
}

.device-desktop  .app-people:hover {
  background-position: -341px -62px;
}

.app-people-selected {
  background-position: -372px -62px;
}

.app-ponder {
  background-position: -403px -62px;
}

.device-desktop  .app-ponder:hover {
  background-position: -434px -62px;
}

.app-ponder-selected {
  background-position: -465px -62px;
}

.app-calendar {
  background-position: -496px -62px;
}

.device-desktop  .app-calendar:hover {
  background-position: -527px -62px;
}

.app-calendar-selected {
  background-position: -558px -62px;
}

.app-files {
  background-position: 0px -93px;
}

.device-desktop  .app-files:hover {
  background-position: -31px -93px;
}

.app-files-selected {
  background-position: -62px -93px;
}

.app-projects {
  background-position: -93px -93px;
}

.device-desktop  .app-projects:hover {
  background-position: -124px -93px;
}

.app-projects-selected {
  background-position: -155px -93px;
}

.app-daemons {
  background-position: -186px -93px;
}

.device-desktop  .app-daemons:hover {
  background-position: -217px -93px;
}

.app-daemons-selected {
  background-position: -248px -93px;
}

.app-herald {
  background-position: -279px -93px;
}

.device-desktop  .app-herald:hover {
  background-position: -310px -93px;
}

.app-herald-selected {
  background-position: -341px -93px;
}

.app-countdown {
  background-position: -372px -93px;
}

.device-desktop  .app-countdown:hover {
  background-position: -403px -93px;
}

.app-countdown-selected {
  background-position: -434px -93px;
}

.app-conduit {
  background-position: -465px -93px;
}

.device-desktop  .app-conduit:hover {
  background-position: -496px -93px;
}

.app-conduit-selected {
  background-position: -527px -93px;
}

.app-feed {
  background-position: -558px -93px;
}

.device-desktop  .app-feed:hover {
  background-position: 0px -124px;
}

.app-feed-selected {
  background-position: -31px -124px;
}

.app-paste {
  background-position: -62px -124px;
}

.device-desktop  .app-paste:hover {
  background-position: -93px -124px;
}

.app-paste-selected {
  background-position: -124px -124px;
}

.app-audit {
  background-position: -155px -124px;
}

.device-desktop  .app-audit:hover {
  background-position: -186px -124px;
}

.app-audit-selected {
  background-position: -217px -124px;
}

.app-uiexample {
  background-position: -248px -124px;
}

.device-desktop  .app-uiexample:hover {
  background-position: -279px -124px;
}

.app-uiexample-selected {
  background-position: -310px -124px;
}

.app-phpast {
  background-position: -341px -124px;
}

.device-desktop  .app-phpast:hover {
  background-position: -372px -124px;
}

.app-phpast-selected {
  background-position: -403px -124px;
}

.app-owners {
  background-position: -434px -124px;
}

.device-desktop  .app-owners:hover {
  background-position: -465px -124px;
}

.app-owners-selected {
  background-position: -496px -124px;
}

.app-phid {
  background-position: -527px -124px;
}

.device-desktop  .app-phid:hover {
  background-position: -558px -124px;
}

.app-phid-selected {
  background-position: 0px -155px;
}

.app-diviner {
  background-position: -31px -155px;
}

.device-desktop  .app-diviner:hover {
  background-position: -62px -155px;
}

.app-diviner-selected {
  background-position: -93px -155px;
}

.app-repositories {
  background-position: -124px -155px;
}

.device-desktop  .app-repositories:hover {
  background-position: -155px -155px;
}

.app-repositories-selected {
  background-position: -186px -155px;
}

.app-phame {
  background-position: -217px -155px;
}

.device-desktop  .app-phame:hover {
  background-position: -248px -155px;
}

.app-phame-selected {
  background-position: -279px -155px;
}

.app-macro {
  background-position: -310px -155px;
}

.device-desktop  .app-macro:hover {
  background-position: -341px -155px;
}

.app-macro-selected {
  background-position: -372px -155px;
}

.app-releeph {
  background-position: -403px -155px;
}

.device-desktop  .app-releeph:hover {
  background-position: -434px -155px;
}

.app-releeph-selected {
  background-position: -465px -155px;
}

.app-drydock {
  background-position: -496px -155px;
}

.device-desktop  .app-drydock:hover {
  background-position: -527px -155px;
}

.app-drydock-selected {
  background-position: -558px -155px;
}

.app-differential-large {
  background-position: 0px -186px;
}

.device-desktop .phabricator-application-launch-container:hover .app-differential-large /* hover */ {
  background-position: -61px -186px;
}

.app-fact-large {
  background-position: -122px -186px;
}

.device-desktop .phabricator-application-launch-container:hover .app-fact-large /* hover */ {
  background-position: -183px -186px;
}

.app-mail-large {
  background-position: -244px -186px;
}

.device-desktop .phabricator-application-launch-container:hover .app-mail-large /* hover */ {
  background-position: -305px -186px;
}

.app-diffusion-large {
  background-position: -366px -186px;
}

.device-desktop .phabricator-application-launch-container:hover .app-diffusion-large /* hover */ {
  background-position: -427px -186px;
}

.app-slowvote-large {
  background-position: -488px -186px;
}

.device-desktop .phabricator-application-launch-container:hover .app-slowvote-large /* hover */ {
  background-position: -549px -186px;
}

.app-phriction-large {
  background-position: 0px -247px;
}

.device-desktop .phabricator-application-launch-container:hover .app-phriction-large /* hover */ {
  background-position: -61px -247px;
}

.app-maniphest-large {
  background-position: -122px -247px;
}

.device-desktop .phabricator-application-launch-container:hover .app-maniphest-large /* hover */ {
  background-position: -183px -247px;
}

.app-flags-large {
  background-position: -244px -247px;
}

.device-desktop .phabricator-application-launch-container:hover .app-flags-large /* hover */ {
  background-position: -305px -247px;
}

.app-settings-large {
  background-position: -366px -247px;
}

.device-desktop .phabricator-application-launch-container:hover .app-settings-large /* hover */ {
  background-position: -427px -247px;
}

.app-applications-large {
  background-position: -488px -247px;
}

.device-desktop .phabricator-application-launch-container:hover .app-applications-large /* hover */ {
  background-position: -549px -247px;
}

.app-default-large {
  background-position: 0px -308px;
}

.device-desktop .phabricator-application-launch-container:hover .app-default-large /* hover */ {
  background-position: -61px -308px;
}

.app-people-large {
  background-position: -122px -308px;
}

.device-desktop .phabricator-application-launch-container:hover .app-people-large /* hover */ {
  background-position: -183px -308px;
}

.app-ponder-large {
  background-position: -244px -308px;
}

.device-desktop .phabricator-application-launch-container:hover .app-ponder-large /* hover */ {
  background-position: -305px -308px;
}

.app-calendar-large {
  background-position: -366px -308px;
}

.device-desktop .phabricator-application-launch-container:hover .app-calendar-large /* hover */ {
  background-position: -427px -308px;
}

.app-files-large {
  background-position: -488px -308px;
}

.device-desktop .phabricator-application-launch-container:hover .app-files-large /* hover */ {
  background-position: -549px -308px;
}

.app-projects-large {
  background-position: 0px -369px;
}

.device-desktop .phabricator-application-launch-container:hover .app-projects-large /* hover */ {
  background-position: -61px -369px;
}

.app-daemons-large {
  background-position: -122px -369px;
}

.device-desktop .phabricator-application-launch-container:hover .app-daemons-large /* hover */ {
  background-position: -183px -369px;
}

.app-herald-large {
  background-position: -244px -369px;
}

.device-desktop .phabricator-application-launch-container:hover .app-herald-large /* hover */ {
  background-position: -305px -369px;
}

.app-countdown-large {
  background-position: -366px -369px;
}

.device-desktop .phabricator-application-launch-container:hover .app-countdown-large /* hover */ {
  background-position: -427px -369px;
}

.app-conduit-large {
  background-position: -488px -369px;
}

.device-desktop .phabricator-application-launch-container:hover .app-conduit-large /* hover */ {
  background-position: 0px -430px;
}

.app-feed-large {
  background-position: -61px -430px;
}

.device-desktop .phabricator-application-launch-container:hover .app-feed-large /* hover */ {
  background-position: -122px -430px;
}

.app-paste-large {
  background-position: -183px -430px;
}

.device-desktop .phabricator-application-launch-container:hover .app-paste-large /* hover */ {
  background-position: -244px -430px;
}

.app-audit-large {
  background-position: -305px -430px;
}

.device-desktop .phabricator-application-launch-container:hover .app-audit-large /* hover */ {
  background-position: -366px -430px;
}

.app-uiexample-large {
  background-position: -427px -430px;
}

.device-desktop .phabricator-application-launch-container:hover .app-uiexample-large /* hover */ {
  background-position: -488px -430px;
}

.app-phpast-large {
  background-position: 0px -491px;
}

.device-desktop .phabricator-application-launch-container:hover .app-phpast-large /* hover */ {
  background-position: -61px -491px;
}

.app-owners-large {
  background-position: -122px -491px;
}

.device-desktop .phabricator-application-launch-container:hover .app-owners-large /* hover */ {
  background-position: -183px -491px;
}

.app-phid-large {
  background-position: -244px -491px;
}

.device-desktop .phabricator-application-launch-container:hover .app-phid-large /* hover */ {
  background-position: -305px -491px;
}

.app-diviner-large {
  background-position: -366px -491px;
}

.device-desktop .phabricator-application-launch-container:hover .app-diviner-large /* hover */ {
  background-position: -427px -491px;
}

.app-repositories-large {
  background-position: -488px -491px;
}

.device-desktop .phabricator-application-launch-container:hover .app-repositories-large /* hover */ {
  background-position: 0px -552px;
}

.app-phame-large {
  background-position: -61px -552px;
}

.device-desktop .phabricator-application-launch-container:hover .app-phame-large /* hover */ {
  background-position: -122px -552px;
}

.app-macro-large {
  background-position: -183px -552px;
}

.device-desktop .phabricator-application-launch-container:hover .app-macro-large /* hover */ {
  background-position: -244px -552px;
}

.app-releeph-large {
  background-position: -305px -552px;
}

.device-desktop .phabricator-application-launch-container:hover .app-releeph-large /* hover */ {
  background-position: -366px -552px;
}

.app-drydock-large {
  background-position: -427px -552px;
}

.device-desktop .phabricator-application-launch-container:hover .app-drydock-large /* hover */ {
  background-position: -488px -552px;
}
