/**
 * @provides sprite-gradient-css
 * @generated
 */

.sprite-gradient {
  background-image: url(/rsrc/image/sprite-gradient.png);
  background-repeat: repeat-x;
}




.gradient-blue-header {
  background-position: 0px -32px;
}

.gradient-breadcrumbs {
  background-position: 0px 0px;
}

.gradient-dark-grey-header {
  background-position: 0px -103px;
}

.gradient-green-header {
  background-position: 0px -174px;
}

.gradient-grey-header {
  background-position: 0px -245px;
}

.gradient-lightblue-header {
  background-position: 0px -458px;
}

.gradient-red-header {
  background-position: 0px -316px;
}

.gradient-yellow-header {
  background-position: 0px -387px;
}
