/**
 * @provides sprite-gradient-css
 * @generated
 */

.sprite-gradient, .phabricator-dark-menu .phui-list-item-type-label, .phabricator-side-menu .phui-list-item-type-label {
  background-image: url(/rsrc/image/sprite-gradient.png);
  background-repeat: repeat-x;
}




.gradient-blue-header {
  background-position: 0px -83px;
}

.gradient-breadcrumbs {
  background-position: 0px -51px;
}

.gradient-dark-grey-header {
  background-position: 0px -154px;
}

.gradient-dark-menu-label, .phabricator-dark-menu .phui-list-item-type-label {
  background-position: 0px -25px;
}

.gradient-green-header {
  background-position: 0px -225px;
}

.gradient-grey-header {
  background-position: 0px -296px;
}

.gradient-menu-label, .phabricator-side-menu .phui-list-item-type-label {
  background-position: 0px 0px;
}

.gradient-red-header {
  background-position: 0px -367px;
}

.gradient-yellow-header {
  background-position: 0px -438px;
}
