/**
 * @provides sprite-menu-css
 * @generated
 */

.sprite-menu {
  background-image: url(/rsrc/image/sprite-menu.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-menu {
    background-image: url(/rsrc/image/sprite-menu-X2.png);
    background-size: 97px 82px;
  }
}


.phabricator-main-menu-logo {
  background-position: 0px 0px;
}

.phabricator-main-menu-eye {
  background-position: 0px -41px;
}
