/**
 * @provides sprite-actions-css
 * @generated
 */

.sprite-actions {
  background-image: url(/rsrc/image/sprite-actions.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-actions {
    background-image: url(/rsrc/image/sprite-actions-X2.png);
    background-size: 125px 150px;
  }
}


.actions-flag-dark, .device-desktop .actions-flag-grey.phabricator-action-icon-item-link:hover {
  background-position: 0px 0px;
}

.actions-heart-dark, .device-desktop .actions-heart-grey.phabricator-action-icon-item-link:hover {
  background-position: -25px 0px;
}

.actions-move-dark, .device-desktop .actions-move-grey.phabricator-action-icon-item-link:hover {
  background-position: -50px 0px;
}

.actions-new-dark, .device-desktop .actions-new-grey.phabricator-action-icon-item-link:hover {
  background-position: -75px 0px;
}

.actions-search-dark, .device-desktop .actions-search-grey.phabricator-action-icon-item-link:hover {
  background-position: -100px 0px;
}

.actions-settings-dark, .device-desktop .actions-settings-grey.phabricator-action-icon-item-link:hover {
  background-position: 0px -25px;
}

.actions-star-dark, .device-desktop .actions-star-grey.phabricator-action-icon-item-link:hover {
  background-position: -25px -25px;
}

.actions-tag-dark, .device-desktop .actions-tag-grey.phabricator-action-icon-item-link:hover {
  background-position: -50px -25px;
}

.actions-wrench-dark, .device-desktop .actions-wrench-grey.phabricator-action-icon-item-link:hover {
  background-position: -75px -25px;
}

.actions-flag-grey {
  background-position: -100px -25px;
}

.actions-heart-grey {
  background-position: 0px -50px;
}

.actions-move-grey {
  background-position: -25px -50px;
}

.actions-new-grey {
  background-position: -50px -50px;
}

.actions-search-grey {
  background-position: -75px -50px;
}

.actions-settings-grey {
  background-position: -100px -50px;
}

.actions-star-grey {
  background-position: 0px -75px;
}

.actions-tag-grey {
  background-position: -25px -75px;
}

.actions-wrench-grey {
  background-position: -50px -75px;
}

.actions-flag-white {
  background-position: -75px -75px;
}

.actions-heart-white {
  background-position: -100px -75px;
}

.actions-move-white {
  background-position: 0px -100px;
}

.actions-new-white {
  background-position: -25px -100px;
}

.actions-search-white {
  background-position: -50px -100px;
}

.actions-settings-white {
  background-position: -75px -100px;
}

.actions-star-white {
  background-position: -100px -100px;
}

.actions-tag-white {
  background-position: 0px -125px;
}

.actions-wrench-white {
  background-position: -25px -125px;
}
