/**
 * @provides sprite-docs-css
 * @generated
 */

.sprite-docs {
  background-image: url(/rsrc/image/sprite-docs.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-docs {
    background-image: url(/rsrc/image/sprite-docs-X2.png);
    background-size: 99px 99px;
  }
}


.docs_audio {
  background-position: 0px 0px;
}

.docs_doc {
  background-position: -33px 0px;
}

.docs_file {
  background-position: -66px 0px;
}

.docs_image {
  background-position: 0px -33px;
}

.docs_movie {
  background-position: -33px -33px;
}

.docs_pdf {
  background-position: -66px -33px;
}

.docs_place {
  background-position: 0px -66px;
}

.docs_zip {
  background-position: -33px -66px;
}
