/**
 * @provides sprite-payments-css
 * @generated
 */

.sprite-payments {
  background-image: url(/rsrc/image/sprite-payments.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-payments {
    background-image: url(/rsrc/image/sprite-payments-X2.png);
    background-size: 122px 132px;
  }
}


.payments-americanexpress {
  background-position: 0px 0px;
}

.payments-discover {
  background-position: -61px 0px;
}

.payments-googlecheckout {
  background-position: 0px -33px;
}

.payments-mastercard {
  background-position: -61px -33px;
}

.payments-paypal {
  background-position: 0px -66px;
}

.payments-visa {
  background-position: -61px -66px;
}

.payments-worldpay {
  background-position: 0px -99px;
}
