/**
 * @provides sprite-apps-css
 * @generated
 */

.sprite-apps {
  background-image: url(/rsrc/image/sprite-apps.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-apps {
    background-image: url(/rsrc/image/sprite-apps-X2.png);
    background-size: 90px 105px;
  }
}


.app-application-dark {
  background-position: 0px 0px;
}

.app-audit-dark {
  background-position: -15px 0px;
}

.app-calendar-dark {
  background-position: -30px 0px;
}

.app-conduit-dark {
  background-position: -45px 0px;
}

.app-conpherence-dark {
  background-position: -60px 0px;
}

.app-countdown-dark {
  background-position: -75px 0px;
}

.app-daemon-dark {
  background-position: 0px -15px;
}

.app-differential-dark {
  background-position: -15px -15px;
}

.app-diffusion-dark {
  background-position: -30px -15px;
}

.app-diviner-dark {
  background-position: -45px -15px;
}

.app-drydock-dark {
  background-position: -60px -15px;
}

.app-fact-dark {
  background-position: -75px -15px;
}

.app-feed-dark {
  background-position: 0px -30px;
}

.app-files-dark {
  background-position: -15px -30px;
}

.app-flags-dark {
  background-position: -30px -30px;
}

.app-help-dark {
  background-position: -45px -30px;
}

.app-herald-dark {
  background-position: -60px -30px;
}

.app-home-dark {
  background-position: -75px -30px;
}

.app-logo-dark {
  background-position: 0px -45px;
}

.app-macro-dark {
  background-position: -15px -45px;
}

.app-mail-dark {
  background-position: -30px -45px;
}

.app-maniphest-dark {
  background-position: -45px -45px;
}

.app-metamta-dark {
  background-position: -60px -45px;
}

.app-owners-dark {
  background-position: -75px -45px;
}

.app-paste-dark {
  background-position: 0px -60px;
}

.app-people-dark {
  background-position: -15px -60px;
}

.app-phame-dark {
  background-position: -30px -60px;
}

.app-phid-dark {
  background-position: -45px -60px;
}

.app-pholio-dark {
  background-position: -60px -60px;
}

.app-phpast-dark {
  background-position: -75px -60px;
}

.app-phriction-dark {
  background-position: 0px -75px;
}

.app-ponder-dark {
  background-position: -15px -75px;
}

.app-power-dark {
  background-position: -30px -75px;
}

.app-projects-dark {
  background-position: -45px -75px;
}

.app-repositories-dark {
  background-position: -60px -75px;
}

.app-settings-dark {
  background-position: -75px -75px;
}

.app-setup-dark {
  background-position: 0px -90px;
}

.app-slowvote-dark {
  background-position: -15px -90px;
}

.app-uiexamples-dark {
  background-position: -30px -90px;
}
