/**
 * @provides sprite-conpher-css
 * @generated
 */

.sprite-conpher {
  background-image: url(/rsrc/image/sprite-conpher.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-conpher {
    background-image: url(/rsrc/image/sprite-conpher-X2.png);
    background-size: 132px 132px;
  }
}


.conpher_calendar_off {
  background-position: 0px 0px;
}

.conpher_calendar_on, .device-desktop .conpher_calendar_off:hover  {
  background-position: -33px 0px;
}

.conpher_conversation_off {
  background-position: -66px 0px;
}

.conpher_conversation_on, .device-desktop .conpher_conversation_off:hover  {
  background-position: -99px 0px;
}

.conpher_files_off {
  background-position: 0px -33px;
}

.conpher_files_on, .device-desktop .conpher_files_off:hover  {
  background-position: -33px -33px;
}

.conpher_list_off {
  background-position: -66px -33px;
}

.conpher_list_on, .device-desktop .conpher_list_off:hover  {
  background-position: -99px -33px;
}

.conpher_more_off {
  background-position: 0px -66px;
}

.conpher_more_on, .device-desktop .conpher_more_off:hover  {
  background-position: -33px -66px;
}

.conpher_people_off {
  background-position: -66px -66px;
}

.conpher_people_on, .device-desktop .conpher_people_off:hover  {
  background-position: 0px -99px;
}

.conpher_settings_off {
  background-position: -33px -99px;
}

.conpher_settings_on, .device-desktop .conpher_settings_off:hover  {
  background-position: -66px -99px;
}
