/**
 * @provides sprite-menu-css
 * @generated
 */

.sprite-menu {
  background-image: url(/rsrc/image/sprite-menu.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-menu {
    background-image: url(/rsrc/image/sprite-menu-X2.png);
    background-size: 140px 121px;
  }
}


.alert-notifications .phabricator-main-menu-alert-icon {
  background-position: 0px 0px;
}

.alert-notifications:hover .phabricator-main-menu-alert-icon {
  background-position: -19px 0px;
}

.alert-notifications.alert-unread .phabricator-main-menu-alert-icon {
  background-position: -38px 0px;
}

.phabricator-crumb-divider {
  background-position: 0px -89px;
}

.menu-icon-search {
  background-position: 0px -38px;
}

.menu-icon-search-blue {
  background-position: -25px -38px;
}

.menu-icon-app {
  background-position: -10px -89px;
}

.menu-icon-app-blue {
  background-position: -35px -89px;
}

.phabricator-main-menu-logo-image {
  background-position: 0px -63px;
}

.alert-notifications .phabricator-main-menu-message-icon {
  background-position: 0px -19px;
}

.alert-notifications:hover .phabricator-main-menu-message-icon {
  background-position: -19px -19px;
}

.alert-notifications.message-unread .phabricator-main-menu-message-icon {
  background-position: -38px -19px;
}
