/**
 * @provides sprite-apps-large-css
 * @generated
 */

.sprite-apps-large {
  background-image: url(/rsrc/image/sprite-apps-large.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-apps-large {
    background-image: url(/rsrc/image/sprite-apps-large-X2.png);
    background-size: 348px 377px;
  }
}


.apps-adventure-light-large {
  background-position: 0px 0px;
}

.apps-adventure-dark-large {
  background-position: -29px 0px;
}

.apps-adventure-blue-large, .phabricator-crumb-view:hover .apps-adventure-dark-large {
  background-position: -58px 0px;
}

.apps-application-light-large {
  background-position: -87px 0px;
}

.apps-application-dark-large {
  background-position: -116px 0px;
}

.apps-application-blue-large, .phabricator-crumb-view:hover .apps-application-dark-large {
  background-position: -145px 0px;
}

.apps-audit-light-large {
  background-position: -174px 0px;
}

.apps-audit-dark-large {
  background-position: -203px 0px;
}

.apps-audit-blue-large, .phabricator-crumb-view:hover .apps-audit-dark-large {
  background-position: -232px 0px;
}

.apps-calendar-light-large {
  background-position: -261px 0px;
}

.apps-calendar-dark-large {
  background-position: -290px 0px;
}

.apps-calendar-blue-large, .phabricator-crumb-view:hover .apps-calendar-dark-large {
  background-position: -319px 0px;
}

.apps-chatlog-light-large {
  background-position: 0px -29px;
}

.apps-chatlog-dark-large {
  background-position: -29px -29px;
}

.apps-chatlog-blue-large, .phabricator-crumb-view:hover .apps-chatlog-dark-large {
  background-position: -58px -29px;
}

.apps-conduit-light-large {
  background-position: -87px -29px;
}

.apps-conduit-dark-large {
  background-position: -116px -29px;
}

.apps-conduit-blue-large, .phabricator-crumb-view:hover .apps-conduit-dark-large {
  background-position: -145px -29px;
}

.apps-conpherence-light-large {
  background-position: -174px -29px;
}

.apps-conpherence-dark-large {
  background-position: -203px -29px;
}

.apps-conpherence-blue-large, .phabricator-crumb-view:hover .apps-conpherence-dark-large {
  background-position: -232px -29px;
}

.apps-countdown-light-large {
  background-position: -261px -29px;
}

.apps-countdown-dark-large {
  background-position: -290px -29px;
}

.apps-countdown-blue-large, .phabricator-crumb-view:hover .apps-countdown-dark-large {
  background-position: -319px -29px;
}

.apps-daemon-light-large {
  background-position: 0px -58px;
}

.apps-daemon-dark-large {
  background-position: -29px -58px;
}

.apps-daemon-blue-large, .phabricator-crumb-view:hover .apps-daemon-dark-large {
  background-position: -58px -58px;
}

.apps-differential-light-large {
  background-position: -87px -58px;
}

.apps-differential-dark-large {
  background-position: -116px -58px;
}

.apps-differential-blue-large, .phabricator-crumb-view:hover .apps-differential-dark-large {
  background-position: -145px -58px;
}

.apps-diffusion-light-large {
  background-position: -174px -58px;
}

.apps-diffusion-dark-large {
  background-position: -203px -58px;
}

.apps-diffusion-blue-large, .phabricator-crumb-view:hover .apps-diffusion-dark-large {
  background-position: -232px -58px;
}

.apps-diviner-light-large {
  background-position: -261px -58px;
}

.apps-diviner-dark-large {
  background-position: -290px -58px;
}

.apps-diviner-blue-large, .phabricator-crumb-view:hover .apps-diviner-dark-large {
  background-position: -319px -58px;
}

.apps-drydock-light-large {
  background-position: 0px -87px;
}

.apps-drydock-dark-large {
  background-position: -29px -87px;
}

.apps-drydock-blue-large, .phabricator-crumb-view:hover .apps-drydock-dark-large {
  background-position: -58px -87px;
}

.apps-fact-light-large {
  background-position: -87px -87px;
}

.apps-fact-dark-large {
  background-position: -116px -87px;
}

.apps-fact-blue-large, .phabricator-crumb-view:hover .apps-fact-dark-large {
  background-position: -145px -87px;
}

.apps-feed-light-large {
  background-position: -174px -87px;
}

.apps-feed-dark-large {
  background-position: -203px -87px;
}

.apps-feed-blue-large, .phabricator-crumb-view:hover .apps-feed-dark-large {
  background-position: -232px -87px;
}

.apps-files-light-large {
  background-position: -261px -87px;
}

.apps-files-dark-large {
  background-position: -290px -87px;
}

.apps-files-blue-large, .phabricator-crumb-view:hover .apps-files-dark-large {
  background-position: -319px -87px;
}

.apps-flags-light-large {
  background-position: 0px -116px;
}

.apps-flags-dark-large {
  background-position: -29px -116px;
}

.apps-flags-blue-large, .phabricator-crumb-view:hover .apps-flags-dark-large {
  background-position: -58px -116px;
}

.apps-harbormaster-light-large {
  background-position: -87px -116px;
}

.apps-harbormaster-dark-large {
  background-position: -116px -116px;
}

.apps-harbormaster-blue-large, .phabricator-crumb-view:hover .apps-harbormaster-dark-large {
  background-position: -145px -116px;
}

.apps-help-light-large {
  background-position: -174px -116px;
}

.apps-help-dark-large {
  background-position: -203px -116px;
}

.apps-help-blue-large, .phabricator-crumb-view:hover .apps-help-dark-large {
  background-position: -232px -116px;
}

.apps-herald-light-large {
  background-position: -261px -116px;
}

.apps-herald-dark-large {
  background-position: -290px -116px;
}

.apps-herald-blue-large, .phabricator-crumb-view:hover .apps-herald-dark-large {
  background-position: -319px -116px;
}

.apps-home-light-large {
  background-position: 0px -145px;
}

.apps-home-dark-large {
  background-position: -29px -145px;
}

.apps-home-blue-large, .phabricator-crumb-view:hover .apps-home-dark-large {
  background-position: -58px -145px;
}

.apps-logo-light-large {
  background-position: -87px -145px;
}

.apps-logo-dark-large {
  background-position: -116px -145px;
}

.apps-logo-blue-large, .phabricator-crumb-view:hover .apps-logo-dark-large {
  background-position: -145px -145px;
}

.apps-macro-light-large {
  background-position: -174px -145px;
}

.apps-macro-dark-large {
  background-position: -203px -145px;
}

.apps-macro-blue-large, .phabricator-crumb-view:hover .apps-macro-dark-large {
  background-position: -232px -145px;
}

.apps-mail-light-large {
  background-position: -261px -145px;
}

.apps-mail-dark-large {
  background-position: -290px -145px;
}

.apps-mail-blue-large, .phabricator-crumb-view:hover .apps-mail-dark-large {
  background-position: -319px -145px;
}

.apps-maniphest-light-large {
  background-position: 0px -174px;
}

.apps-maniphest-dark-large {
  background-position: -29px -174px;
}

.apps-maniphest-blue-large, .phabricator-crumb-view:hover .apps-maniphest-dark-large {
  background-position: -58px -174px;
}

.apps-metamta-light-large {
  background-position: -87px -174px;
}

.apps-metamta-dark-large {
  background-position: -116px -174px;
}

.apps-metamta-blue-large, .phabricator-crumb-view:hover .apps-metamta-dark-large {
  background-position: -145px -174px;
}

.apps-owners-light-large {
  background-position: -174px -174px;
}

.apps-owners-dark-large {
  background-position: -203px -174px;
}

.apps-owners-blue-large, .phabricator-crumb-view:hover .apps-owners-dark-large {
  background-position: -232px -174px;
}

.apps-paste-light-large {
  background-position: -261px -174px;
}

.apps-paste-dark-large {
  background-position: -290px -174px;
}

.apps-paste-blue-large, .phabricator-crumb-view:hover .apps-paste-dark-large {
  background-position: -319px -174px;
}

.apps-people-light-large {
  background-position: 0px -203px;
}

.apps-people-dark-large {
  background-position: -29px -203px;
}

.apps-people-blue-large, .phabricator-crumb-view:hover .apps-people-dark-large {
  background-position: -58px -203px;
}

.apps-phage-light-large {
  background-position: -87px -203px;
}

.apps-phage-dark-large {
  background-position: -116px -203px;
}

.apps-phage-blue-large, .phabricator-crumb-view:hover .apps-phage-dark-large {
  background-position: -145px -203px;
}

.apps-phame-light-large {
  background-position: -174px -203px;
}

.apps-phame-dark-large {
  background-position: -203px -203px;
}

.apps-phame-blue-large, .phabricator-crumb-view:hover .apps-phame-dark-large {
  background-position: -232px -203px;
}

.apps-phid-light-large {
  background-position: -261px -203px;
}

.apps-phid-dark-large {
  background-position: -290px -203px;
}

.apps-phid-blue-large, .phabricator-crumb-view:hover .apps-phid-dark-large {
  background-position: -319px -203px;
}

.apps-phlux-light-large {
  background-position: 0px -232px;
}

.apps-phlux-dark-large {
  background-position: -29px -232px;
}

.apps-phlux-blue-large, .phabricator-crumb-view:hover .apps-phlux-dark-large {
  background-position: -58px -232px;
}

.apps-pholio-light-large {
  background-position: -87px -232px;
}

.apps-pholio-dark-large {
  background-position: -116px -232px;
}

.apps-pholio-blue-large, .phabricator-crumb-view:hover .apps-pholio-dark-large {
  background-position: -145px -232px;
}

.apps-phortune-light-large {
  background-position: -174px -232px;
}

.apps-phortune-dark-large {
  background-position: -203px -232px;
}

.apps-phortune-blue-large, .phabricator-crumb-view:hover .apps-phortune-dark-large {
  background-position: -232px -232px;
}

.apps-phpast-light-large {
  background-position: -261px -232px;
}

.apps-phpast-dark-large {
  background-position: -290px -232px;
}

.apps-phpast-blue-large, .phabricator-crumb-view:hover .apps-phpast-dark-large {
  background-position: -319px -232px;
}

.apps-phrequent-light-large {
  background-position: 0px -261px;
}

.apps-phrequent-dark-large {
  background-position: -29px -261px;
}

.apps-phrequent-blue-large, .phabricator-crumb-view:hover .apps-phrequent-dark-large {
  background-position: -58px -261px;
}

.apps-phriction-light-large {
  background-position: -87px -261px;
}

.apps-phriction-dark-large {
  background-position: -116px -261px;
}

.apps-phriction-blue-large, .phabricator-crumb-view:hover .apps-phriction-dark-large {
  background-position: -145px -261px;
}

.apps-ponder-light-large {
  background-position: -174px -261px;
}

.apps-ponder-dark-large {
  background-position: -203px -261px;
}

.apps-ponder-blue-large, .phabricator-crumb-view:hover .apps-ponder-dark-large {
  background-position: -232px -261px;
}

.apps-power-light-large {
  background-position: -261px -261px;
}

.apps-power-dark-large {
  background-position: -290px -261px;
}

.apps-power-blue-large, .phabricator-crumb-view:hover .apps-power-dark-large {
  background-position: -319px -261px;
}

.apps-projects-light-large {
  background-position: 0px -290px;
}

.apps-projects-dark-large {
  background-position: -29px -290px;
}

.apps-projects-blue-large, .phabricator-crumb-view:hover .apps-projects-dark-large {
  background-position: -58px -290px;
}

.apps-releeph-light-large {
  background-position: -87px -290px;
}

.apps-releeph-dark-large {
  background-position: -116px -290px;
}

.apps-releeph-blue-large, .phabricator-crumb-view:hover .apps-releeph-dark-large {
  background-position: -145px -290px;
}

.apps-repositories-light-large {
  background-position: -174px -290px;
}

.apps-repositories-dark-large {
  background-position: -203px -290px;
}

.apps-repositories-blue-large, .phabricator-crumb-view:hover .apps-repositories-dark-large {
  background-position: -232px -290px;
}

.apps-settings-light-large {
  background-position: -261px -290px;
}

.apps-settings-dark-large {
  background-position: -290px -290px;
}

.apps-settings-blue-large, .phabricator-crumb-view:hover .apps-settings-dark-large {
  background-position: -319px -290px;
}

.apps-setup-light-large {
  background-position: 0px -319px;
}

.apps-setup-dark-large {
  background-position: -29px -319px;
}

.apps-setup-blue-large, .phabricator-crumb-view:hover .apps-setup-dark-large {
  background-position: -58px -319px;
}

.apps-slowvote-light-large {
  background-position: -87px -319px;
}

.apps-slowvote-dark-large {
  background-position: -116px -319px;
}

.apps-slowvote-blue-large, .phabricator-crumb-view:hover .apps-slowvote-dark-large {
  background-position: -145px -319px;
}

.apps-token-light-large {
  background-position: -174px -319px;
}

.apps-token-dark-large {
  background-position: -203px -319px;
}

.apps-token-blue-large, .phabricator-crumb-view:hover .apps-token-dark-large {
  background-position: -232px -319px;
}

.apps-uiexamples-light-large {
  background-position: -261px -319px;
}

.apps-uiexamples-dark-large {
  background-position: -290px -319px;
}

.apps-uiexamples-blue-large, .phabricator-crumb-view:hover .apps-uiexamples-dark-large {
  background-position: -319px -319px;
}

.apps-workphlow-light-large {
  background-position: 0px -348px;
}

.apps-workphlow-dark-large {
  background-position: -29px -348px;
}

.apps-workphlow-blue-large, .phabricator-crumb-view:hover .apps-workphlow-dark-large {
  background-position: -58px -348px;
}

.apps-xhprof-light-large {
  background-position: -87px -348px;
}

.apps-xhprof-dark-large {
  background-position: -116px -348px;
}

.apps-xhprof-blue-large, .phabricator-crumb-view:hover .apps-xhprof-dark-large {
  background-position: -145px -348px;
}
