/**
 * @provides sprite-main-header-css
 * @generated
 */

.sprite-main-header {
  background-image: url(/rsrc/image/sprite-main-header.png);
  background-repeat: repeat-x;
}




.phui-theme-applebloom .phabricator-main-menu-background {
  background-position: 0px 0px;
}

.phui-theme-blindigo .phabricator-main-menu-background {
  background-position: 0px -45px;
}

.phui-theme-blue .phabricator-main-menu-background {
  background-position: 0px -90px;
}

.phui-theme-dark .phabricator-main-menu-background {
  background-position: 0px -135px;
}

.phui-theme-fluttershy .phabricator-main-menu-background {
  background-position: 0px -180px;
}

.phui-theme-green .phabricator-main-menu-background {
  background-position: 0px -225px;
}

.phui-theme-indigo .phabricator-main-menu-background {
  background-position: 0px -270px;
}

.phui-theme-light .phabricator-main-menu-background {
  background-position: 0px -315px;
}

.phui-theme-nightmaremoon .phabricator-main-menu-background {
  background-position: 0px -360px;
}

.phui-theme-red .phabricator-main-menu-background {
  background-position: 0px -405px;
}

.phui-theme-scootaloo .phabricator-main-menu-background {
  background-position: 0px -450px;
}

.phui-theme-yellow .phabricator-main-menu-background {
  background-position: 0px -495px;
}
