/**
 * @provides sprite-menu-css
 * @generated
 */

.sprite-menu {
  background-image: url(/rsrc/image/sprite-menu.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-menu {
    background-image: url(/rsrc/image/sprite-menu-X2.png);
    background-size: 72px 101px;
  }
}

.phabricator-main-menu-alert-bubble {
  background-position: 0px -42px;
}

.phabricator-main-menu-alert-bubble.alert-unread {
  background-position: 0px -15px;
}

.alert-notifications .phabricator-main-menu-alert-icon {
  background-position: 0px 0px;
}

.alert-notifications:hover .phabricator-main-menu-alert-icon {
  background-position: -15px 0px;
}

.alert-notifications.alert-unread .phabricator-main-menu-alert-icon {
  background-position: -27px -42px;
}

.phabricator-crumb-divider {
  background-position: 0px -69px;
}

.menu-icon-eye {
  background-position: -47px -15px;
}

.menu-icon-app {
  background-position: -42px -42px;
}
