/**
 * @provides sprite-main-header-css
 * @generated
 */

.sprite-main-header {
  background-image: url(/rsrc/image/sprite-main-header.png);
  background-repeat: repeat-x;
}




.main-header-applebloom {
  background-position: 0px 0px;
}

.main-header-blindigo {
  background-position: 0px -45px;
}

.main-header-blue {
  background-position: 0px -90px;
}

.main-header-dark {
  background-position: 0px -135px;
}

.main-header-fluttershy {
  background-position: 0px -180px;
}

.main-header-green {
  background-position: 0px -225px;
}

.main-header-indigo {
  background-position: 0px -270px;
}

.main-header-nightmaremoon {
  background-position: 0px -315px;
}

.main-header-red {
  background-position: 0px -360px;
}

.main-header-scootaloo {
  background-position: 0px -405px;
}

.main-header-yellow {
  background-position: 0px -450px;
}
