/**
 * @provides sprite-tokens-css
 * @generated
 */

.sprite-tokens {
  background-image: url(/rsrc/image/sprite-tokens.png);
  background-repeat: no-repeat;
}




.token-coin-1 {
  background-position: 0px 0px;
}

.token-coin-2 {
  background-position: -17px 0px;
}

.token-coin-3 {
  background-position: -34px 0px;
}

.token-coin-4 {
  background-position: -51px 0px;
}

.token-heart-1 {
  background-position: 0px -17px;
}

.token-heart-2 {
  background-position: -17px -17px;
}

.token-like-1 {
  background-position: -34px -17px;
}

.token-like-2 {
  background-position: -51px -17px;
}

.token-medal-1 {
  background-position: 0px -34px;
}

.token-medal-2 {
  background-position: -17px -34px;
}

.token-medal-3 {
  background-position: -34px -34px;
}

.token-medal-4 {
  background-position: -51px -34px;
}

.token-misc-1 {
  background-position: 0px -51px;
}

.token-misc-2 {
  background-position: -17px -51px;
}

.token-misc-3 {
  background-position: -34px -51px;
}

.token-misc-4 {
  background-position: -51px -51px;
}
