/**
 * @provides sprite-apps-xlarge-css
 * @generated
 */

.sprite-apps-xlarge {
  background-image: url(/rsrc/image/sprite-apps-xlarge.png);
  background-repeat: no-repeat;
}




.app-application-dark-xlarge {
  background-position: 0px 0px;
}

.app-audit-dark-xlarge {
  background-position: -57px 0px;
}

.app-calendar-dark-xlarge {
  background-position: -114px 0px;
}

.app-conduit-dark-xlarge {
  background-position: -171px 0px;
}

.app-countdown-dark-xlarge {
  background-position: -228px 0px;
}

.app-daemon-dark-xlarge {
  background-position: -285px 0px;
}

.app-differential-dark-xlarge {
  background-position: 0px -57px;
}

.app-diffusion-dark-xlarge {
  background-position: -57px -57px;
}

.app-diviner-dark-xlarge {
  background-position: -114px -57px;
}

.app-drydock-dark-xlarge {
  background-position: -171px -57px;
}

.app-fact-dark-xlarge {
  background-position: -228px -57px;
}

.app-feed-dark-xlarge {
  background-position: -285px -57px;
}

.app-files-dark-xlarge {
  background-position: 0px -114px;
}

.app-flags-dark-xlarge {
  background-position: -57px -114px;
}

.app-help-dark-xlarge {
  background-position: -114px -114px;
}

.app-herald-dark-xlarge {
  background-position: -171px -114px;
}

.app-home-dark-xlarge {
  background-position: -228px -114px;
}

.app-logo-dark-xlarge {
  background-position: -285px -114px;
}

.app-macro-dark-xlarge {
  background-position: 0px -171px;
}

.app-mail-dark-xlarge {
  background-position: -57px -171px;
}

.app-maniphest-dark-xlarge {
  background-position: -114px -171px;
}

.app-metamta-dark-xlarge {
  background-position: -171px -171px;
}

.app-owners-dark-xlarge {
  background-position: -228px -171px;
}

.app-paste-dark-xlarge {
  background-position: -285px -171px;
}

.app-people-dark-xlarge {
  background-position: 0px -228px;
}

.app-phame-dark-xlarge {
  background-position: -57px -228px;
}

.app-phid-dark-xlarge {
  background-position: -114px -228px;
}

.app-pholio-dark-xlarge {
  background-position: -171px -228px;
}

.app-phpast-dark-xlarge {
  background-position: -228px -228px;
}

.app-phriction-dark-xlarge {
  background-position: -285px -228px;
}

.app-ponder-dark-xlarge {
  background-position: 0px -285px;
}

.app-power-dark-xlarge {
  background-position: -57px -285px;
}

.app-projects-dark-xlarge {
  background-position: -114px -285px;
}

.app-repositories-dark-xlarge {
  background-position: -171px -285px;
}

.app-settings-dark-xlarge {
  background-position: -228px -285px;
}

.app-setup-dark-xlarge {
  background-position: -285px -285px;
}

.app-slowvote-dark-xlarge {
  background-position: 0px -342px;
}

.app-uiexamples-dark-xlarge {
  background-position: -57px -342px;
}
