/**
 * @provides sprite-login-css
 * @generated
 */

.sprite-login {
  background-image: url(/rsrc/image/sprite-login.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-login {
    background-image: url(/rsrc/image/sprite-login-X2.png);
    background-size: 175px 175px;
  }
}


.login-Amazon {
  background-position: 0px 0px;
}

.login-Asana {
  background-position: -35px 0px;
}

.login-Bitbucket {
  background-position: -70px 0px;
}

.login-Disqus {
  background-position: -105px 0px;
}

.login-Dropbox {
  background-position: -140px 0px;
}

.login-Facebook {
  background-position: 0px -35px;
}

.login-Generic {
  background-position: -35px -35px;
}

.login-Github {
  background-position: -70px -35px;
}

.login-Google {
  background-position: -105px -35px;
}

.login-HTTP {
  background-position: -140px -35px;
}

.login-Jira {
  background-position: 0px -70px;
}

.login-LDAP {
  background-position: -35px -70px;
}

.login-Linkedin {
  background-position: -70px -70px;
}

.login-MediaWiki {
  background-position: -105px -70px;
}

.login-Openid {
  background-position: -140px -70px;
}

.login-PayPal {
  background-position: 0px -105px;
}

.login-Persona {
  background-position: -35px -105px;
}

.login-Phabricator {
  background-position: -70px -105px;
}

.login-Stripe {
  background-position: -105px -105px;
}

.login-TestPayment {
  background-position: -140px -105px;
}

.login-TwitchTV {
  background-position: 0px -140px;
}

.login-Twitter {
  background-position: -35px -140px;
}

.login-WePay {
  background-position: -70px -140px;
}

.login-WordPressCOM {
  background-position: -105px -140px;
}

.login-Yahoo {
  background-position: -140px -140px;
}
