/**
 * @provides sprite-apps-css
 * @generated
 */

.sprite-apps {
  background-image: url(/rsrc/image/sprite-apps.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-apps {
    background-image: url(/rsrc/image/sprite-apps-X2.png);
    background-size: 165px 180px;
  }
}


.apps-adventure-dark {
  background-position: 0px 0px;
}

.apps-adventure-white, .phui-list-item-href:hover .apps-adventure-dark {
  background-position: -15px 0px;
}

.apps-aphlict-dark {
  background-position: -30px 0px;
}

.apps-aphlict-white, .phui-list-item-href:hover .apps-aphlict-dark {
  background-position: -45px 0px;
}

.apps-application-dark {
  background-position: -60px 0px;
}

.apps-application-white, .phui-list-item-href:hover .apps-application-dark {
  background-position: -75px 0px;
}

.apps-audit-dark {
  background-position: -90px 0px;
}

.apps-audit-white, .phui-list-item-href:hover .apps-audit-dark {
  background-position: -105px 0px;
}

.apps-authentication-dark {
  background-position: -120px 0px;
}

.apps-authentication-white, .phui-list-item-href:hover .apps-authentication-dark {
  background-position: -135px 0px;
}

.apps-calendar-dark {
  background-position: -150px 0px;
}

.apps-calendar-white, .phui-list-item-href:hover .apps-calendar-dark {
  background-position: 0px -15px;
}

.apps-chatlog-dark {
  background-position: -15px -15px;
}

.apps-chatlog-white, .phui-list-item-href:hover .apps-chatlog-dark {
  background-position: -30px -15px;
}

.apps-conduit-dark {
  background-position: -45px -15px;
}

.apps-conduit-white, .phui-list-item-href:hover .apps-conduit-dark {
  background-position: -60px -15px;
}

.apps-conpherence-dark {
  background-position: -75px -15px;
}

.apps-conpherence-white, .phui-list-item-href:hover .apps-conpherence-dark {
  background-position: -90px -15px;
}

.apps-countdown-dark {
  background-position: -105px -15px;
}

.apps-countdown-white, .phui-list-item-href:hover .apps-countdown-dark {
  background-position: -120px -15px;
}

.apps-daemon-dark {
  background-position: -135px -15px;
}

.apps-daemon-white, .phui-list-item-href:hover .apps-daemon-dark {
  background-position: -150px -15px;
}

.apps-differential-dark {
  background-position: 0px -30px;
}

.apps-differential-white, .phui-list-item-href:hover .apps-differential-dark {
  background-position: -15px -30px;
}

.apps-diffusion-dark {
  background-position: -30px -30px;
}

.apps-diffusion-white, .phui-list-item-href:hover .apps-diffusion-dark {
  background-position: -45px -30px;
}

.apps-diviner-dark {
  background-position: -60px -30px;
}

.apps-diviner-white, .phui-list-item-href:hover .apps-diviner-dark {
  background-position: -75px -30px;
}

.apps-drydock-dark {
  background-position: -90px -30px;
}

.apps-drydock-white, .phui-list-item-href:hover .apps-drydock-dark {
  background-position: -105px -30px;
}

.apps-fact-dark {
  background-position: -120px -30px;
}

.apps-fact-white, .phui-list-item-href:hover .apps-fact-dark {
  background-position: -135px -30px;
}

.apps-fancyhome-dark {
  background-position: -150px -30px;
}

.apps-fancyhome-white, .phui-list-item-href:hover .apps-fancyhome-dark {
  background-position: 0px -45px;
}

.apps-feed-dark {
  background-position: -15px -45px;
}

.apps-feed-white, .phui-list-item-href:hover .apps-feed-dark {
  background-position: -30px -45px;
}

.apps-files-dark {
  background-position: -45px -45px;
}

.apps-files-white, .phui-list-item-href:hover .apps-files-dark {
  background-position: -60px -45px;
}

.apps-flags-dark {
  background-position: -75px -45px;
}

.apps-flags-white, .phui-list-item-href:hover .apps-flags-dark {
  background-position: -90px -45px;
}

.apps-harbormaster-dark {
  background-position: -105px -45px;
}

.apps-harbormaster-white, .phui-list-item-href:hover .apps-harbormaster-dark {
  background-position: -120px -45px;
}

.apps-help-dark {
  background-position: -135px -45px;
}

.apps-help-white, .phui-list-item-href:hover .apps-help-dark {
  background-position: -150px -45px;
}

.apps-herald-dark {
  background-position: 0px -60px;
}

.apps-herald-white, .phui-list-item-href:hover .apps-herald-dark {
  background-position: -15px -60px;
}

.apps-home-dark {
  background-position: -30px -60px;
}

.apps-home-white, .phui-list-item-href:hover .apps-home-dark {
  background-position: -45px -60px;
}

.apps-info-sm-dark {
  background-position: -60px -60px;
}

.apps-info-sm-white, .phui-list-item-href:hover .apps-info-sm-dark {
  background-position: -75px -60px;
}

.apps-legalpad-dark {
  background-position: -90px -60px;
}

.apps-legalpad-white, .phui-list-item-href:hover .apps-legalpad-dark {
  background-position: -105px -60px;
}

.apps-logo-dark {
  background-position: -120px -60px;
}

.apps-logo-white, .phui-list-item-href:hover .apps-logo-dark {
  background-position: -135px -60px;
}

.apps-logout-sm-dark {
  background-position: -150px -60px;
}

.apps-logout-sm-white, .phui-list-item-href:hover .apps-logout-sm-dark {
  background-position: 0px -75px;
}

.apps-macro-dark {
  background-position: -15px -75px;
}

.apps-macro-white, .phui-list-item-href:hover .apps-macro-dark {
  background-position: -30px -75px;
}

.apps-mail-dark {
  background-position: -45px -75px;
}

.apps-mail-white, .phui-list-item-href:hover .apps-mail-dark {
  background-position: -60px -75px;
}

.apps-maniphest-dark {
  background-position: -75px -75px;
}

.apps-maniphest-white, .phui-list-item-href:hover .apps-maniphest-dark {
  background-position: -90px -75px;
}

.apps-metamta-dark {
  background-position: -105px -75px;
}

.apps-metamta-white, .phui-list-item-href:hover .apps-metamta-dark {
  background-position: -120px -75px;
}

.apps-new-sm-dark {
  background-position: -135px -75px;
}

.apps-new-sm-white, .phui-list-item-href:hover .apps-new-sm-dark {
  background-position: -150px -75px;
}

.apps-new-dark {
  background-position: 0px -90px;
}

.apps-new-white, .phui-list-item-href:hover .apps-new-dark {
  background-position: -15px -90px;
}

.apps-nuance-dark {
  background-position: -30px -90px;
}

.apps-nuance-white, .phui-list-item-href:hover .apps-nuance-dark {
  background-position: -45px -90px;
}

.apps-owners-dark {
  background-position: -60px -90px;
}

.apps-owners-white, .phui-list-item-href:hover .apps-owners-dark {
  background-position: -75px -90px;
}

.apps-passphrase-dark {
  background-position: -90px -90px;
}

.apps-passphrase-white, .phui-list-item-href:hover .apps-passphrase-dark {
  background-position: -105px -90px;
}

.apps-paste-dark {
  background-position: -120px -90px;
}

.apps-paste-white, .phui-list-item-href:hover .apps-paste-dark {
  background-position: -135px -90px;
}

.apps-people-dark {
  background-position: -150px -90px;
}

.apps-people-white, .phui-list-item-href:hover .apps-people-dark {
  background-position: 0px -105px;
}

.apps-phage-dark {
  background-position: -15px -105px;
}

.apps-phage-white, .phui-list-item-href:hover .apps-phage-dark {
  background-position: -30px -105px;
}

.apps-phame-dark {
  background-position: -45px -105px;
}

.apps-phame-white, .phui-list-item-href:hover .apps-phame-dark {
  background-position: -60px -105px;
}

.apps-phid-dark {
  background-position: -75px -105px;
}

.apps-phid-white, .phui-list-item-href:hover .apps-phid-dark {
  background-position: -90px -105px;
}

.apps-phlux-dark {
  background-position: -105px -105px;
}

.apps-phlux-white, .phui-list-item-href:hover .apps-phlux-dark {
  background-position: -120px -105px;
}

.apps-pholio-dark {
  background-position: -135px -105px;
}

.apps-pholio-white, .phui-list-item-href:hover .apps-pholio-dark {
  background-position: -150px -105px;
}

.apps-phortune-dark {
  background-position: 0px -120px;
}

.apps-phortune-white, .phui-list-item-href:hover .apps-phortune-dark {
  background-position: -15px -120px;
}

.apps-phpast-dark {
  background-position: -30px -120px;
}

.apps-phpast-white, .phui-list-item-href:hover .apps-phpast-dark {
  background-position: -45px -120px;
}

.apps-phragment-dark {
  background-position: -60px -120px;
}

.apps-phragment-white, .phui-list-item-href:hover .apps-phragment-dark {
  background-position: -75px -120px;
}

.apps-phrequent-dark {
  background-position: -90px -120px;
}

.apps-phrequent-white, .phui-list-item-href:hover .apps-phrequent-dark {
  background-position: -105px -120px;
}

.apps-phriction-dark {
  background-position: -120px -120px;
}

.apps-phriction-white, .phui-list-item-href:hover .apps-phriction-dark {
  background-position: -135px -120px;
}

.apps-policy-dark {
  background-position: -150px -120px;
}

.apps-policy-white, .phui-list-item-href:hover .apps-policy-dark {
  background-position: 0px -135px;
}

.apps-ponder-dark {
  background-position: -15px -135px;
}

.apps-ponder-white, .phui-list-item-href:hover .apps-ponder-dark {
  background-position: -30px -135px;
}

.apps-power-dark {
  background-position: -45px -135px;
}

.apps-power-white, .phui-list-item-href:hover .apps-power-dark {
  background-position: -60px -135px;
}

.apps-projects-dark {
  background-position: -75px -135px;
}

.apps-projects-white, .phui-list-item-href:hover .apps-projects-dark {
  background-position: -90px -135px;
}

.apps-releeph-dark {
  background-position: -105px -135px;
}

.apps-releeph-white, .phui-list-item-href:hover .apps-releeph-dark {
  background-position: -120px -135px;
}

.apps-repositories-dark {
  background-position: -135px -135px;
}

.apps-repositories-white, .phui-list-item-href:hover .apps-repositories-dark {
  background-position: -150px -135px;
}

.apps-search-dark {
  background-position: 0px -150px;
}

.apps-search-white, .phui-list-item-href:hover .apps-search-dark {
  background-position: -15px -150px;
}

.apps-settings-sm-dark {
  background-position: -30px -150px;
}

.apps-settings-sm-white, .phui-list-item-href:hover .apps-settings-sm-dark {
  background-position: -45px -150px;
}

.apps-settings-dark {
  background-position: -60px -150px;
}

.apps-settings-white, .phui-list-item-href:hover .apps-settings-dark {
  background-position: -75px -150px;
}

.apps-setup-dark {
  background-position: -90px -150px;
}

.apps-setup-white, .phui-list-item-href:hover .apps-setup-dark {
  background-position: -105px -150px;
}

.apps-slowvote-dark {
  background-position: -120px -150px;
}

.apps-slowvote-white, .phui-list-item-href:hover .apps-slowvote-dark {
  background-position: -135px -150px;
}

.apps-token-dark {
  background-position: -150px -150px;
}

.apps-token-white, .phui-list-item-href:hover .apps-token-dark {
  background-position: 0px -165px;
}

.apps-uiexamples-dark {
  background-position: -15px -165px;
}

.apps-uiexamples-white, .phui-list-item-href:hover .apps-uiexamples-dark {
  background-position: -30px -165px;
}

.apps-workboard-dark {
  background-position: -45px -165px;
}

.apps-workboard-white, .phui-list-item-href:hover .apps-workboard-dark {
  background-position: -60px -165px;
}

.apps-workphlow-dark {
  background-position: -75px -165px;
}

.apps-workphlow-white, .phui-list-item-href:hover .apps-workphlow-dark {
  background-position: -90px -165px;
}

.apps-xhprof-dark {
  background-position: -105px -165px;
}

.apps-xhprof-white, .phui-list-item-href:hover .apps-xhprof-dark {
  background-position: -120px -165px;
}
