/**
 * @provides sprite-conpherence-css
 * @generated
 */

.sprite-conpherence {
  background-image: url(/rsrc/image/sprite-conpherence.png);
  background-repeat: no-repeat;
}

@media
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sprite-conpherence {
    background-image: url(/rsrc/image/sprite-conpherence-X2.png);
    background-size: 132px 132px;
  }
}


.conpherence_calendar_off {
  background-position: 0px 0px;
}

.conpherence_calendar_on, .device-desktop .conpherence_calendar_off:hover  {
  background-position: -33px 0px;
}

.conpherence_conversation_off {
  background-position: -66px 0px;
}

.conpherence_conversation_on, .device-desktop .conpherence_conversation_off:hover  {
  background-position: -99px 0px;
}

.conpherence_files_off {
  background-position: 0px -33px;
}

.conpherence_files_on, .device-desktop .conpherence_files_off:hover  {
  background-position: -33px -33px;
}

.conpherence_list_off {
  background-position: -66px -33px;
}

.conpherence_list_on, .device-desktop .conpherence_list_off:hover  {
  background-position: -99px -33px;
}

.conpherence_more_off {
  background-position: 0px -66px;
}

.conpherence_more_on, .device-desktop .conpherence_more_off:hover  {
  background-position: -33px -66px;
}

.conpherence_people_off {
  background-position: -66px -66px;
}

.conpherence_people_on, .device-desktop .conpherence_people_off:hover  {
  background-position: 0px -99px;
}

.conpherence_settings_off {
  background-position: -33px -99px;
}

.conpherence_settings_on, .device-desktop .conpherence_settings_off:hover  {
  background-position: -66px -99px;
}
