/**
 * @provides sprite-gradient-css
 * @generated
 */

.sprite-gradient {
  background-image: url(/rsrc/image/sprite-gradient.png);
  background-repeat: repeat-x;
}




.gradient-dark-grey-header {
  background-position: 0px 0px;
}

.gradient-grey-header {
  background-position: 0px -71px;
}

.gradient-lightblue-header {
  background-position: 0px -142px;
}

.gradient-lightgreen-header {
  background-position: 0px -383px;
}

.gradient-lightred-header {
  background-position: 0px -624px;
}

.gradient-lightviolet-header {
  background-position: 0px -865px;
}
