/**
 * @provides diffusion-commit-view-css
 */

.diffusion-commit-details {
  padding: 0.5em;
  background: #f9f9f9;
  border: 1px solid #dddddd;
}

.diffusion-commit-details hr {
  height: 1px;
  border: none;
  background: #dddddd;
}

.diffusion-commit-dateline {
  float: right;
  color: #555555;
}

.diffusion-commit-properties th {
  font-weight: bold;
  color: #444444;
  text-align: right;
  white-space: nowrap;
  padding: 2px 4px 2px 24px;
}

.diffusion-commit-properties td {
  padding: 2px 4px;
}

.diffusion-commit-message {
  padding: 8px;
}

.diffusion-comment-list {
  margin: 2em;
}

.phabricator-transaction-view .audit-accept {
  border-color: #009933;
}

.phabricator-transaction-view .audit-concern {
  border-color: #aa0000;
}
