/**
 * @provides diffusion-css
 */

/* - Home Styles  ------------------------------------------------------------*/

.diffusion-profile-header.phui-profile-header .phui-header-col3 {
  vertical-align: middle;
}

.diffusion-profile-header .phui-header-action-links a.button {
  display: block;
}

.diffusion-action-bar {
  margin-bottom: 16px;
}

.device-phone .diffusion-action-bar {
  display: block;
}

.device-phone .diffusion-action-bar .phui-lr-container {
  display: block;
}

.device-phone .diffusion-action-bar .phui-lr-container .phui-left-view {
  display: block;
}

.device-phone .diffusion-action-bar .phui-lr-container .phui-right-view {
  padding-top: 12px;
  display: block;
}

.diffusion-profile-locate .phui-form-view {
  margin: 0;
  padding: 0;
}

.diffusion-profile-locate .phui-form-view .aphront-form-control {
  padding: 0;
}

.diffusion-profile-locate .phui-form-view .aphront-form-input {
  margin: 0;
  width: 480px;
}

.device .diffusion-profile-locate .phui-form-view .aphront-form-input {
  margin: 0;
  width: 100%;
}

.diffusion-profile-description.phui-object-box {
  padding: 0;
}

.device-phone .diffusion-profile-description.phui-object-box {
  padding: 0;
}

.diffusion-view-browse-header {
  display: block;
  padding: 2px 0;
  font-size: {$biggestfontsize};
}

/* - List Styles  ------------------------------------------------------------*/

.diffusion-history-list .phui-oi-link {
  color: {$blacktext};
  font-size: {$biggerfontsize};
}

.diffusion-history-message {
  background-color: {$bluebackground};
  padding: 16px;
  margin: 4px 0;
  border-radius: 5px;
  color: {$darkbluetext};
}

.diffusion-history-list .phui-oi-attribute {
  font-size: {$smallerfontsize};
  letter-spacing: 0.01em;
}

.diffusion-history-author-name a {
  color: {$darkbluetext};
}

.diffusion-history-list .diffusion-differential-tag {
  margin-left: 4px;
}

/* - Branch Styles  ----------------------------------------------------------*/

.diffusion-branch-list .phui-oi-attribute a {
  color: {$darkbluetext};
}

.diffusion-branch-list .phui-oi-attribute-spacer {
  visibility: hidden;
}

.diffusion-branch-list .phui-oi-subhead {
  color: {$bluetext};
}

.diffusion-branch-list .phui-oi-subhead .phui-tag-view {
  margin-right: 4px;
}

/* - Browse Styles  ----------------------------------------------------------*/

.diffusion-browse-table .commit-detail {
  padding-left: 32px;
}

.diffusion-browse-table .commit-detail a {
  color: {$darkbluetext};
}

/* - Phone Style  ------------------------------------------------------------*/

.device-phone.diffusion-history-view  .phui-two-column-view
  .phui-two-column-footer .phui-object-box {
    border-color: {$thinblueborder};
}

.device-phone.diffusion-history-view .phui-two-column-view
  .phui-two-column-footer .phui-header-view {
    text-align: center;
}

.device-phone.diffusion-history-view .phui-two-column-content {
  padding: 0;
  margin: 0 -4px;
}

.device-phone.diffusion-history-view .phui-oi-attribute-spacer {
  display: none;
}

.device-phone.diffusion-history-view .phui-oi-attribute {
  display: block;
  margin: 0 0 4px 0;
}

.device-phone.diffusion-history-view .phui-oi-image {
  height: 36px;
  width: 36px;
  margin-top: 10px;
}

.device-phone.diffusion-history-view .phui-oi-with-image .phui-oi-content-box {
  margin-left: 44px;
}

.device-phone.diffusion-history-view .phui-oi-col2.phui-oi-side-column {
  padding-bottom: 10px;
}

.device-phone.diffusion-history-view .diffusion-history-list .button.has-icon
  .phui-button-text {
    margin: 0;
}

.device-phone.diffusion-history-view .diffusion-history-list .button.has-icon
  .phui-icon-view {
    display: none;
}
