/**
 * @provides subscribers-list-css
 */

.subscriber-list-dialog {
  width: 400px;
}

.subscriber-list-dialog .aphront-dialog-body {
  padding: 0;
}

.subscriber-list-dialog .phui-object-item-list-view {
  margin: 0;
}
