/**
 * @provides phabricator-object-selector-css
 * @requires aphront-dialog-view-css
 */

.phabricator-object-selector-dialog {
  width: 960px;
}

.phabricator-object-selector-dialog .aphront-dialog-body {
  padding: 0;
}

.phabricator-object-selector-search {
  width: 100%;
  background: #ededed;
}

.phabricator-object-selector-search td {
  padding: 4px 8px;
  vertical-align: middle;
}

td.phabricator-object-selector-search-text {
  width: 100%;
}

.phabricator-object-selector-search-text input {
  width: 100%;
}

.phabricator-object-selector-results {
  position: relative;
  height: 24em;
  border: solid #bbbbbb;
  border-width: 1px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.phabricator-object-selector-handle {
  width: 100%;
  background: #e9e9e9;
  margin-bottom: 1px;
}

.phabricator-object-selector-handle td {
  padding: 4px 1em;
}

.phabricator-object-selector-handle th {
  font-weight: bold;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}

.phabricator-object-selector-handle th a {
  display: block;
  padding: 4px 1em;
}

.phabricator-object-selector-header {
  padding: 2px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 16px;
  color: #444444;
}

.phabricator-object-selector-attach-explicit {
  padding: 4px;
  background: #f3f3f3;
  border: solid #bbbbbb;
  border-width: 1px 0px;
}

.phabricator-object-selector-currently-attached {
  background: #fff;
  padding: 16px;
  border: 1px solid #dddddd;
}

.phabricator-object-selector-current {
  background: #ededed;
  padding: 8px 8px;
}


.object-selector-nothing {
  padding: 1em;
  color: #888888;
  text-align: center;
}

.phabricator-object-selector-instructions {
  font-size: 11px;
  color: #666666;
  margin-top: 1.25em;
}
