/**
 * @provides paste-css
 */

.paste-embed {
  display: inline-block;
  padding: 5px;
  background: #f7f7f7;
}

.paste-embed-head {
  border-bottom: 1px solid #3d3d3d;
  padding: 2px;
  margin:2px;
}

.paste-embed-head a {
  color: #282828;
  font-weight: bold;
}
