/**
 * @provides paste-css
 */

.paste-embed {
  padding: 5px;
  background: #f7f7f7;
  border: 1px solid #dbdbdb;
}

.paste-embed-head {
  border-bottom: 1px solid #dbdbdb;
  margin:2px;
}

.paste-embed-head a {
  color: #282828;
  font-weight: bold;
}

.paste-embed-body {
  overflow-y: auto;
}
