/**
 * @provides phabricator-feed-css
 */

.phabricator-feed-frame {
  margin: 10px;
}

.phabricator-feed-frame .phabricator-action-header-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.device-desktop .phabricator-feed-frame {
  width: 600px;
  margin: 20px auto;
}

.phabricator-feed-story-date-separator {
  margin-top: 2em;
}

.phabricator-feed-newer-link {
  float: left;
  font-weight: bold;
}

.phabricator-feed-older-link {
  float: right;
  font-weight: bold;
}
