/**
 * @provides phabricator-feed-css
 */

.phabricator-feed-frame {
  margin: 20px 10px;
}

.phabricator-public-feed-frame {
  margin: 10px;
  max-width: 600px;
  overflow-x: auto;
}

.phabricator-feed-frame .phui-action-header-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.device-desktop .phabricator-feed-frame {
  max-width: 600px;
  margin: 16px;
}

.phabricator-feed-frame .phui-action-header {
  padding: 0;
}

.phabricator-feed-story-date-separator {
  margin-top: 16px;
}

.phabricator-feed-newer-link {
  float: left;
  font-weight: bold;
}

.phabricator-feed-older-link {
  float: right;
  font-weight: bold;
}

.phabricator-public-feed-frame .phui-feed-story-foot {
  background: none;
}

.phabricator-public-feed-frame .phui-feed-story {
  box-shadow: none;
}

.phabricator-public-feed-frame .phui-feed-wrap {
  border: none;
}

/* - Dashboards ------------------------------------------------------------ */

.dashboard-panel div.phabricator-feed-frame {
  background: #fff;
  margin: 0;
  border-left: 1px solid {$lightblueborder};
  border-right: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$blueborder};
  max-width: none;
}

.dashboard-panel .phabricator-feed-frame .phui-action-header {
  background: #f7f7f7;
  margin-top: -1px;
  border-top: 1px solid {$thinblueborder};
}

.dashboard-panel .phabricator-feed-frame .phui-action-header-title {
  font-size: 13px;
  margin-left: 12px;
  margin-bottom: 0;
  color: {$bluetext};
}

.dashboard-panel .phabricator-feed-frame .phui-feed-story {
  border: none;
  border-bottom: 1px solid {$thinblueborder};
  margin: 0 8px;
}

.dashboard-panel .phabricator-feed-frame .phui-feed-story-head {
  padding: 8px 0;
}

.dashboard-panel .phabricator-feed-frame .phui-feed-story-body {
  margin: 8px 0;
}

.dashboard-panel .phabricator-feed-frame .phui-feed-story-foot {
  background: #fff;
  padding: 8px 0;
}

.dashboard-panel .phabricator-feed-frame
  .phabricator-feed-story-date-separator {
  margin-top: 0;
}
