/**
 * @provides phabricator-header-view-css
 */

.phabricator-header-shell {
  background: #e0e3ec;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c0c5d1;
}

.phabricator-header-shell + .phabricator-form-view {
  border-top-width: 0;
}

.phabricator-header-view {
  padding: 1.25em 2%;
  font-size: 15px;
  color: #111111;
}

.device-desktop .phabricator-header-view {
  width: 66%;
}

.phabricator-header-tags {
  margin-left: 12px;
  font-size: 13px;
}

.phabricator-header-tags .phabricator-tag-view {
  margin-left: 4px;
}
