/**
 * @provides phabricator-action-list-view-css
 */

.phabricator-action-list-view {
  background: #ffffff;
}

.device-desktop .phabricator-action-list-view {
  border: 1px solid #c0c5d1;
  padding: .5em 0;

  float: right;
  margin-top: 0px;
  margin-right: 1%;
  width: 20%;
  border-radius: 3px;
  font-size: 12px;

  box-shadow: 0 0 1px 1px rgba(192, 197, 209, 0.5);
}

.device-desktop .phabricator-header-shell + .phabricator-action-list-view {
  margin-top: -28px;
}

.device .phabricator-header-shell + .phabricator-action-list-view {
  margin-top: -1px;
}

.device .phabricator-action-list-view {
  border-top: 1px solid #dcdcdc;
  padding: .5em 0;
}

.device .phabricator-action-list-view {
  display: none;
}

.device .phabricator-action-list-view.phabricator-action-list-toggle {
  display: block;
}

.phabricator-action-view {
  padding: 1px 0;
  position: relative;
}

.phabricator-action-view button.phabricator-action-view-item {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: #3b5998;
  width: 100%;
  text-align: left;
  text-shadow: none;

  border-radius: 0;
  color: #18559D;
  font: inherit;
  display: inline;
  min-width: 0;
}

.phabricator-action-view button.phabricator-action-view-item,
.phabricator-action-view-item {
  padding: 1px 0 1px 34px;
  line-height: 20px;
  display: block;
  font-size: 12px;
  text-decoration: none;
}

.phabricator-action-view-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5px;
  left: 13px;
}

.device-desktop .phabricator-action-view:hover .phabricator-action-view-item {
  text-decoration: none;
  background-color: #3875d7;
  color: #ffffff;
}

.phabricator-action-view-disabled .phabricator-action-view-item,
.phabricator-action-view-disabled button.phabricator-action-view-item {
  color: #888888;
}

.device-desktop .phabricator-action-view-disabled:hover
  .phabricator-action-view-item,
.device-desktop .phabricator-action-view-disabled:hover
  button.phabricator-action-view-item {
  background-color: #dfdfdf;
  color: #888888;
}
