/**
 * @provides phabricator-pinboard-view-css
 */

.phabricator-pinboard-view {
  padding: 10px 0 20px 20px;
  overflow: hidden;
  margin: 1em 0;
}

.device-phone .phabricator-pinboard-view {
  padding: 0;
}

.phabricator-pinboard-item-view {
  margin: 0 16px 16px 0;
  border: 1px solid #d5d9df;
  background: #ffffff;
  border-radius: 3px;

  float: left;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.device-desktop .phabricator-pinboard-item-view:hover {
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.30);
}

/* On phones, show a single column of items. */
.device-phone .phabricator-pinboard-item-view {
  float: none;
  margin: 0 auto 16px;
}

.phabricator-pinboard-item-header {
  padding: 5px 10px;
  display: block;
  background: #edf0f4;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #d5d9df;
  white-space: nowrap;
  overflow: hidden;
}

.phabricator-pinboard-item-header a {
  color: #333;
}

.phabricator-pinboard-item-image-link {
  padding: 10px;
  display: block;
}

.phabricator-pinboard-item-content {
  padding: 0 10px 5px;
  overflow: hidden;
  color: #777;
  font-size: 11px;
}

.phabricator-pinboard-item-count {
  float: left;
  margin-left: 10px;
}

.phabricator-pinboard-icons {
  padding: 0 10px 10px 0;
  color: #aaa;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 5px;
  overflow: hidden;
}

.phabricator-pinboard-icon {
  height: 14px;
  width: 14px;
  float: left;
  padding-left: 2px;
}
