/**
 * @provides phabricator-action-header-view-css
 */

.phabricator-action-header {
  padding: 0 5px 0 8px;
  overflow: hidden;
}

.phabricator-action-header-title {
  color: {$darkgreytext};
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  padding: 8px 0;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}

.gradient-lightblue-header .phabricator-action-header-title {
  color: {$darkbluetext};
}

.phabricator-action-header-icon-list {
  float: right;
  padding-top: 4px;
}

.phabricator-action-header-icon-item {
  float: right;
  padding-left: 4px;
}

.phabricator-action-header-icon-item .phui-icon-view {
  display: inline-block;
  font-size: 18px;
  margin: 4px 0;
  height: 18px;
  width: 18px;
}

.phabricator-action-header-icon-item .phui-tag-view {
  margin: 4px 2px 0;
}

.phabricator-action-header-link {
  color: {$darkgreytext};
}

.phabricator-action-header.gradient-green-header {
  background: {$green};
}

.phabricator-action-header.gradient-blue-header {
  background: {$blue};
}

.phabricator-action-header.gradient-yellow-header {
  background: {$yellow};
}

.phabricator-action-header.gradient-red-header {
  background: {$red};
}

.gradient-green-header .phabricator-action-header-title,
.gradient-red-header .phabricator-action-header-title,
.gradient-blue-header .phabricator-action-header-title,
.gradient-yellow-header .phabricator-action-header-title,
.gradient-green-header .phabricator-action-header-link,
.gradient-red-header .phabricator-action-header-link,
.gradient-blue-header .phabricator-action-header-link,
.gradient-yellow-header .phabricator-action-header-link {
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.phabricator-action-header-icon-list .phui-tag-view {
  font-weight: normal;
}

.phabricator-action-header-title span {
  float: left;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

/* - Dashboards ------------------------------------------------------------ */

.dashboard-panel .phabricator-action-header.gradient-grey-header,
.dashboard-panel .phabricator-action-header.gradient-lightblue-header {
  border: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$thinblueborder};
}
