/**
 * @provides phabricator-workpanel-view-css
 */

.phabricator-workpanel-view {
  float: left;
}

.phabricator-workpanel-view-inner {
  margin: 0 10px 0 0;
}

.device-phone .phabricator-workpanel-view-inner {
  margin: 0;
}

.phabricator-workboard-flex .phabricator-workpanel-view:last-child
  .phabricator-workpanel-view-inner {
  margin: 0;
}

/* Panels require a fixed width to overflow well. */
.phabricator-workboard-fixed .workboard-1-up .phabricator-workpanel-view,
.phabricator-workboard-fixed .workboard-2-up .phabricator-workpanel-view,
.phabricator-workboard-fixed .workboard-3-up .phabricator-workpanel-view {
  width: 300px;
}

.phabricator-workboard-fixed .workboard-4-up .phabricator-workpanel-view,
.phabricator-workboard-fixed .workboard-5-up .phabricator-workpanel-view,
.phabricator-workboard-fixed .workboard-6-up .phabricator-workpanel-view {
  width: 240px;
}

.device-phone .phabricator-workboard-view-outer div.phabricator-workpanel-view {
  width: 100%;
  margin-bottom: 20px;
}

.phabricator-workpanel-view .phabricator-workpanel-header {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border: 1px solid #b3b5b6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px 10px;
  background: #f0f0f0 url(/rsrc/image/texture/panel-header-gradient.png) repeat-x;
  text-shadow: 0 1px 1px #fff;
}

.phabricator-workpanel-view .phabricator-workpanel-header-action {
  float: right;
  width: 24px;
  border-left: 1px solid #b3b5b6;
}

.phabricator-workpanel-view .phabricator-workpanel-body {
  background: #c4cde0;
  padding: 5px 5px 1px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 0 0px 5px rgba(0,0,0,.4);
}

.phabricator-workpanel-view .phabricator-workpanel-footer-action a {
  color: #333;
  font-weight: bold;
}

.device-desktop .phabricator-workpanel-view .phabricator-workpanel-footer-action:hover {
 background-color: rgba(100,100,100,.1);
}

.phabricator-workpanel-view .phabricator-menu-item-icon {
  height: 12px;
  width: 12px;
  display: inline-block;
}

.phabricator-workpanel-view .phabricator-menu-item-name {
  padding-left: 5px;
  display: inline-block;
}

/* fluid/flex styles */
.phabricator-workboard-flex .workboard-1-up .phabricator-workpanel-view {
  width: 100%;
}

.phabricator-workboard-flex .workboard-2-up .phabricator-workpanel-view {
  width: 50%;
}

.phabricator-workboard-flex .workboard-3-up .phabricator-workpanel-view {
  width: 33.3333%;
}

.phabricator-workboard-flex .workboard-4-up .phabricator-workpanel-view {
  width: 25%;
}

.phabricator-workboard-flex .workboard-5-up .phabricator-workpanel-view {
  width: 20%;
}

.phabricator-workboard-flex .workboard-6-up .phabricator-workpanel-view {
  width: 16.6666%;
}
