/**
 * @provides phabricator-side-menu-view-css
 */

.phabricator-side-menu .phabricator-menu-item-view {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  font-size: 13px;
}

.phabricator-side-menu .phabricator-menu-item-type-link {
  padding: 6px 8px 6px 24px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 1) 0px -1px 1px;
}

.phabricator-side-menu .phabricator-menu-item-type-label {
  padding: 6px 8px 4px 12px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-style: solid;
  background-color: #000;
}

.phabricator-dark-menu .phabricator-menu-item-type-button,
.phabricator-side-menu .phabricator-menu-item-type-button {
  width: 50%;
  padding: 5px 8px;
  display: block;
  border-radius: 4px;
  border: 2px solid #000;
  margin: 10px auto;
  color: #fff;
  font-size: 14px;
  text-shadow: 0px 1px 1px #000000;
  font-weight: bold;
  text-align: center;
}

.phabricator-side-menu .phabricator-menu-item-type-button:hover {
  background-image: url(/rsrc/image/texture/dark-menu-hover.png);
}

.device-desktop .phabricator-side-menu a.phabricator-menu-item-type-link:hover {
  text-decoration: none;
}
