/**
 * @provides phabricator-pinboard-view-css
 */

.phabricator-pinboard-view {
  padding: 20px;
  overflow: hidden;
  margin: 1em 0;
}

.phabricator-pinboard-item-view {
  margin: 0 20px 20px 0;
  border: 1px solid #ccc;
  background: #ffffff;
  border-radius: 3px;

  display: block;
  float: left;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  text-align: left;
}


/* On phones, show a single column of items. */
.device-phone .phabricator-pinboard-item-view {
  float: none;
  margin: 0 auto 10px;

  /* NOTE: This needs to be changed if we use images other than 160px wide. */
  width: 240px;
}

.phabricator-pinboard-item-header {
  padding: 5px 10px;
  display: block;
  background: #f3f3f3;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.phabricator-pinboard-item-image-link {
  padding: 10px;
  display: block;
}

.phabricator-pinboard-item-content {
  padding: 0 10px 5px;
  overflow: hidden;
  color: #777;
  font-size: 11px;
}
