/**
 * @provides phabricator-header-view-css
 */

.phabricator-header-shell {
  background-color: #e0e3ec;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c0c5d1;
  overflow: hidden;
}

body .phabricator-header-shell.phabricator-header-no-backgound {
  background-color: transparent;
  border: none;
}

body .phabricator-header-shell.phabricator-bleed-header {
  background-color: {$lightgreybackground};
  border-top: 1px solid {$thinblueborder};
  border-bottom: none;
  width: auto;
  margin-bottom: 16px;
}

body .phabricator-header-shell.phabricator-bleed-header
  .phabricator-header-view {
  padding: 8px 24px 8px 16px;
  font-size: 18px;
}

.phabricator-header-shell + .phabricator-form-view {
  border-top-width: 0;
}

.phabricator-header-view {
  padding: 16px;
  font-size: 15px;
  color: {$darkbluetext};
}

body.device-phone .phabricator-header-view {
  padding: 12px 8px;
}

.device-desktop .phabricator-header-view {
  width: 66%;
}

.phabricator-header-tags {
  margin-left: 12px;
  font-size: 13px;
}

.phabricator-header-tags .phabricator-tag-view {
  margin-left: 4px;
}

.phabricator-header-image {
  display: inline-block;
  background-repeat: no-repeat;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  margin: 12px;
  float: left;
}

.phabricator-header-subheader {
  color: {$lightbluetext};
  font-weight: normal;
  font-size: 13px;
  margin-top: 4px;
}
