/**
 * @provides phabricator-side-menu-view-css
 */

.phabricator-side-menu .phui-list-item-view {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  font-size: 13px;
}

.phabricator-side-menu .phui-list-item-href {
  display: block;
  padding: 6px 8px 6px 24px;
  color: #e1e2e5;
  text-shadow: rgba(0, 0, 0, 1) 0px 1px 1px;
}

.phabricator-side-menu .phui-list-item-selected,
.device-desktop .phui-side-menu
 .phui-list-item-selected.phui-list-item-href:hover {
  background-color: #305c85;
  color: #fff;
}

.phabricator-side-menu .phui-list-item-type-label {
  padding: 6px 8px 4px 12px;
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-style: solid;
  background-color: #000;
}

.phabricator-dark-menu .phui-list-item-type-button,
.phabricator-side-menu .phui-list-item-type-button {
  width: 50%;
  padding: 5px 8px;
  display: block;
  border-radius: 4px;
  border: 2px solid #000;
  margin: 10px auto;
  color: #fff;
  font-size: 14px;
  text-shadow: 0px 1px 1px #000000;
  font-weight: bold;
  text-align: center;
}

.phabricator-side-menu .phui-list-item-type-button:hover {
  background-color: #1e2225;
}

.device-desktop .phabricator-side-menu a.phui-list-item-href:hover {
  text-decoration: none;
  background-color: #1e2225;
}
