/**
 * @provides phabricator-tag-view-css
 */

.phabricator-tag-view {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

a.phabricator-tag-view:hover {
  text-decoration: none;
}

.phabricator-tag-state-closed .phabricator-tag-core {
  text-decoration: line-through;
}

.phabricator-tag-core {
  color: inherit;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0 4px;
}

.phabricator-tag-view-has-bar .phabricator-tag-core {
  border-radius: 0 3px 3px 0;
  border-width: 1px 1px 1px 0;
}

.phabricator-tag-dot {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 3px;
  top: -1px;
  border-radius: 6px;
  border: 1px solid transparent;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
}

.phabricator-tag-type-state {
  color: #ffffff;
  text-shadow: rgba(100, 100, 100, 0.40) 0px -1px 1px;
}

.phabricator-tag-type-object,
a.phabricator-tag-type-object,
a.phabricator-tag-type-object:link {
  color: #000000;
}

.phabricator-tag-type-person {
  white-space: nowrap;
  color: #19558d;
}

.phabricator-tag-color-red {
  background-color: {$red};
  border-color: {$red};
}

.phabricator-tag-color-orange {
  background-color: {$orange};
  border-color: {$orange};
}

.phabricator-tag-color-yellow {
  background-color: {$yellow};
  border-color: {$yellow};
}

.phabricator-tag-color-blue {
  background-color: {$blue};
  border-color: {$blue};
}

.phabricator-tag-color-indigo {
  background-color: {$indigo};
  border-color: {$indigo};
}

.phabricator-tag-color-green {
  background-color: {$green};
  border-color: {$green};
}

.phabricator-tag-color-violet {
  background-color: {$violet};
  border-color: {$violet};
}

.phabricator-tag-color-black {
  background-color: #333333;
  border-color: #333333;
}

.phabricator-tag-color-grey {
  background-color: {$lightgreytext};
  border-color: {$lightgreytext};
}

.phabricator-tag-color-white {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}

.phabricator-tag-color-object {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}

.phabricator-tag-color-person {
  background-color: #f1f7ff;
  border-color: #f1f7ff;
}

a.phabricator-tag-view:hover
  .phabricator-tag-core.phabricator-tag-color-person {
  border-color: #d9ebfd;
}

a.phabricator-tag-view:hover
  .phabricator-tag-core.phabricator-tag-color-object {
  border-color: #d7d7d7;
}

.phabricator-tag-bar {
  padding-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-right-color: rgba(0, 0, 0, 0.33);
  border-radius: 2px 0 0 2px;
}
