/**
 * @provides phabricator-action-header-view-css
 */

.phabricator-action-header {
  padding: 0 5px 0 8px;
  overflow: hidden;
}

.phabricator-action-header-title {
  color: {$darkgreytext};
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  padding: 8px 0;
  text-shadow: 0 1px 1px #fff;
  white-space: nowrap;
}

.phabricator-action-header-icon-list {
  float: right;
  padding-top: 4px;
}

.phabricator-action-header-icon-item {
  float: right;
  padding-left: 2px;
}

.phabricator-action-header-icon-item .phui-icon-view {
  display: inline-block;
}

.phabricator-action-header-icon-item .phui-tag-view {
  margin: 4px 2px 0;
}

.phabricator-action-header-link {
  color: {$darkgreytext};
}

.gradient-green-header .phabricator-action-header-title,
.gradient-red-header .phabricator-action-header-title,
.gradient-blue-header .phabricator-action-header-title,
.gradient-yellow-header .phabricator-action-header-title,
.gradient-green-header .phabricator-action-header-link,
.gradient-red-header .phabricator-action-header-link,
.gradient-blue-header .phabricator-action-header-link,
.gradient-yellow-header .phabricator-action-header-link {
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,.7);
}

.phabricator-action-header-icon-list .phui-tag-view {
  font-weight: normal;
}

.phabricator-action-header-title span {
  float: left;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}
