/**
 * @provides phabricator-timeline-view-css
 */

.phabricator-timeline-view {
  background: #eeedf0;
}

.phabricator-timeline-event-view {
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: #c0c5d1;

}

.device-desktop .phabricator-timeline-event-view {
  margin-left: 80px;
  margin-right: 12px;
  position: relative;
}

.device-desktop .phabricator-timeline-spacer {
  min-height: 20px;
  border-right-width: 0;
}

.device-desktop .phabricator-timeline-major-event,
.device-desktop .phabricator-timeline-minor-event {
  border-right-width: 3px;
}

.device-desktop .phabricator-timeline-wedge {
  border-bottom: 3px solid #c0c5d1;
  position: absolute;
  width: 20px;
}

.phabricator-timeline-content {
  background: #ffffff;
  border-style: solid;
  border-color: #c0c5d1;
  border-width: 1px 0;
}

.phabricator-timeline-title {
  line-height: 28px;
  min-height: 28px;
  position: relative;
}

.phabricator-timeline-title a {
  font-weight: bold;
}

.device-desktop .phabricator-timeline-wedge {
  left: -20px;
}
.device-desktop .phabricator-timeline-major-event .phabricator-timeline-wedge {
  top: 24px;
}

.device-desktop .phabricator-timeline-minor-event .phabricator-timeline-wedge {
  top: 12px;
}

.phabricator-timeline-image {
  background: #c0c5d1;
  background-repeat: no-repeat;
  position: absolute;
}

.device-desktop .phabricator-timeline-major-event .phabricator-timeline-image {
  width: 50px;
  height: 50px;
  top: 0px;
  left: -70px;
}

.device-desktop .phabricator-timeline-minor-event .phabricator-timeline-image {
  width: 30px;
  height: 30px;
  background-size: 30px auto;
  left: -45px;
}

.phabricator-timeline-major-event .phabricator-timeline-title {
  background: {$lightgreybackground};
  min-height: 29px;
}

.phabricator-timeline-title {
  padding: 0 5px;
  overflow-x: auto;
}

.phabricator-timeline-title-with-icon {
  padding-left: 33px;
}

.phabricator-timeline-major-event .phabricator-timeline-content
  .phabricator-timeline-core-content {
  padding: 10px 15px;
}

.phabricator-timeline-core-content {
  overflow-x: auto;
}


.device .phabricator-timeline-event-view {
  min-height: 23px;
  position: relative;
  margin-left: 3px;
  margin-right: 3px;

  border-right-width: 3px;
  border-right-style: solid;
}

.device .phabricator-timeline-image {
  display: none;
}

.device .phabricator-timeline-spacer {
  min-height: 8px;
  border-width: 0;
}

.phabricator-timeline-icon-fill {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #c0c5d1;
  top: 0;
  left: -3px;
}

.phabricator-timeline-icon {
  position: absolute;
  left: 8px;
  top: 8px;
  height: 14px;
  width: 14px;
}

.phabricator-timeline-extra, .phabricator-timeline-extra a {
  font-size: 11px;
  font-weight: normal;
  color: {$lightgreytext};
}

.device-desktop .phabricator-timeline-extra {
  float: right;
}

.device .phabricator-timeline-extra {
  display: block;
  text-align: right;
  line-height: 16px;
}

.phabricator-timeline-red .phabricator-timeline-border {
  border-color: {$red};
}

.phabricator-timeline-orange .phabricator-timeline-border {
  border-color: {$orange};
}

.phabricator-timeline-yellow .phabricator-timeline-border {
  border-color: {$yellow};
}

.phabricator-timeline-green .phabricator-timeline-border {
  border-color: {$green};
}

.phabricator-timeline-sky .phabricator-timeline-border {
  border-color: {$sky};
}

.phabricator-timeline-blue .phabricator-timeline-border {
  border-color: {$blue};
}

.phabricator-timeline-indigo .phabricator-timeline-border {
  border-color: {$indigo};
}

.phabricator-timeline-violet .phabricator-timeline-border {
  border-color: {$violet};
}

.phabricator-timeline-grey .phabricator-timeline-border {
  border-color: #888;
}

.phabricator-timeline-black .phabricator-timeline-border {
  border-color: #333;
}

.phabricator-timeline-red .phabricator-timeline-icon-fill {
  background-color: {$red};
}

.phabricator-timeline-orange .phabricator-timeline-icon-fill {
  background-color: {$orange};
}

.phabricator-timeline-yellow .phabricator-timeline-icon-fill {
  background-color: {$yellow};
}

.phabricator-timeline-green .phabricator-timeline-icon-fill {
  background-color: {$green};
}

.phabricator-timeline-sky .phabricator-timeline-icon-fill {
  background-color: {$sky};
}

.phabricator-timeline-blue .phabricator-timeline-icon-fill {
  background-color: {$blue};
}

.phabricator-timeline-indigo .phabricator-timeline-icon-fill {
  background-color: {$indigo};
}

.phabricator-timeline-violet .phabricator-timeline-icon-fill {
  background-color: {$violet};
}

.phabricator-timeline-grey .phabricator-timeline-icon-fill {
  background-color: #888;
}

.phabricator-timeline-black .phabricator-timeline-icon-fill {
  background-color: #333;
}

.phabricator-timeline-shell.anchor-target {
  background: rgba(255, 255, 0, 0.50);
  box-shadow: 0 0 3px 6px rgba(255, 255, 0, 0.50);
}

.phabricator-timeline-preview-header {
  background: #e0e3ec;
  color: {$darkgreytext};
  padding: 4px 1.25%;
  border: solid #c0c5d1 1px 0;
}

.phabricator-timeline-change-details {
  padding: 10px 0;
  border-style: solid;
  border-color: #efefef;
  border-width: 1px 0;
}
