/**
 * @provides phabricator-property-list-view-css
 */

.phabricator-property-list-view {
  border-color: #c0c5d1;
  border-style: solid;
  border-width: 1px 0 0 0;

  box-shadow: 0 0 1px 1px rgba(192, 197, 209, 0.3);
  margin-top: -1px;
}

.phabricator-property-list-view .keyboard-shortcuts-available {
  float: right;
  height: 16px;
  margin: 12px 10px -28px 0px;
  padding: 0px 20px 0px 0px;
  vertical-align: middle;
  color: #666666;
  text-align: right;
  font-size: 11px;
  background:
    url('/rsrc/image/icon/fatcow/key_question.png') right center no-repeat;
}

.phabricator-property-list-container {
  border-color: #c0c5d1;
  border-style: solid;
  border-width: 0 0 1px;
  background-color: #f6f6f6;
}

.device-desktop .phabricator-property-list-container {
  padding: 1em 0 0.5em;
}

.device .phabricator-property-list-container {
  padding: .5em 0;
}

.phabricator-property-list-key {
  color: #333333;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.device-desktop .phabricator-property-list-key {
  width: 15%;
  margin-left: 1%;
  text-align: right;
  float: left;
  clear: left;
  margin-bottom: .5em;
}

.device .phabricator-property-list-key {
  padding-left: .5em;
}

.phabricator-property-list-value {
  color: #333333;
  overflow: hidden;
}

.device-desktop .phabricator-property-list-value {
  width: 50%;
  margin-left: 1%;
  float: left;
  margin-bottom: .5em;
}

.device .phabricator-property-list-value {
  padding-left: 1.5em;
  margin-bottom: .5em;
}

.phabriator-property-list-view-end {
  clear: both;
}

.phabricator-property-list-section-header {
  background: #f0f0f0;
  color: #666666;
  padding: 4px 18px;
  border-bottom: 1px solid #dbdbdb;
}

.phabricator-property-list-text-content {
  padding: 12px 18px;
  background: #fdfdfd;
  border-bottom: 1px solid #dbdbdb;
}

.phabricator-property-list-image-content {
  background: #282828;
  border-color: #101010;
  color: #fff;
}


/* In the common case where we immediately follow a header, move back up 30px
   so we snuggle next to the header. */
.device-desktop .phabricator-header-view
  + .phabricator-action-list-view {
  margin-top: -30px;
}

.device-desktop .phabricator-header-view
  + .phabricator-action-list-view
  + .phabricator-property-list-view {
  margin-top: 0px;
}


.phabricator-property-list-image {
  margin: auto;
  max-width: 95%;
}
