/**
 * @provides legalpad-document-css
 */

.legalpad .phabricator-remarkup .remarkup-note {
  border-radius: 15px;
}

.legalpad .phabricator-remarkup .remarkup-warning {
  border-radius: 15px;
}

.legalpad .phabricator-remarkup .remarkup-important {
  border-radius: 15px;
}
