/**
 * @provides phabricator-object-list-view-css
 */

.phabricator-object-list-view {
  max-height: 400px;
  overflow-y: auto;
}

.phabricator-object-list-view-item {
  line-height: 60px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding-left: 70px;
  position: relative;
}

.phabricator-object-list-view-item + .phabricator-object-list-view-item {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.phabricator-object-list-view-buttons {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
}
