/**
 * @provides project-edit-css
 */

.project-resource-table {
  width: 100%;
}

.project-resource-table td {
  padding: 2px 4px;
  vertical-align: middle;
}

.project-resource-table td label {
  font-weight: bold;
  color: #666666;
  text-align: right;
}

.project-resource-table td.user-tokenizer {
  width: 35%;
}

.project-resource-table td.role-label {
  padding-left: 25px;
}

.project-resource-table td.role input {
  width: 300px;
}
