/**
 * @provides phabricator-project-tag-css
 */

.phabricator-project-tag,
.phabricator-project-tag:link,
.phabricator-project-tag:visited {
  font-weight: normal;
  border: 1px solid #bfcfef;
  padding: 1px 4px 2px;
  background: #f9f9ff;
  color: #667799;
  text-decoration: none;
  font-size: 11px;
  display: inline;
  cursor: pointer;
  margin-right: 2px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  white-space: nowrap;
}

.phabricator-project-tag:last-child {
  margin-right: 0px;
}

.phabricator-project-tag:hover {
  background: #dfdfef;
}
