/**
 * @provides harbormaster-css
 */

.harbormaster-artifact-io {
  margin: 4px 0 4px 8px;
  padding: 8px;
}

.harbormaster-artifact-summary-header {
  font-weight: bold;
  margin-bottom: 2px;
  color: {$darkbluetext};
}

.harbormaster-empty-logs-are-hidden {
  background: {$lightyellow};
  border: 1px solid {$yellow};
  text-align: center;
  padding: 12px;
  margin: 0 0 20px 0;
  border-radius: 3px;
  color: {$darkgreytext};
}

.harbormaster-unit-details {
  margin: 8px 0 4px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  color: {$lightgreytext};
}

.harbormaster-log-view-loading {
  padding: 8px;
  text-align: center;
  color: {$lightgreytext};
}

.harbormaster-log-table th {
  background-color: {$paste.highlight};
  border-right: 1px solid {$paste.border};

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.harbormaster-log-table th a {
  display: block;
  color: {$darkbluetext};
  text-align: right;
  padding: 2px 6px 1px 12px;
}

.harbormaster-log-table th a:hover {
  background: {$paste.border};
}

.harbormaster-log-table td {
  white-space: pre-wrap;
  padding: 2px 8px 1px;
  width: 100%;
}

.harbormaster-log-table tr.harbormaster-log-highlighted td {
  background: {$paste.highlight};
}
