/**
 * @provides aphront-attached-file-view-css
 */

.aphront-attached-file-view {
  border: 1px solid #aaaaaa;
  background: #f9f9f9;
  width: 100%;
  margin: 4px 0;
}

.aphront-attached-file-view td,
.aphront-attached-file-view th {
  padding: 4px;
}

.aphront-attached-file-view th {
  width: 100%;
  font-size: 11px;
}

.aphront-attached-file-view-remove {
  vertical-align: middle;
}

.aphront-file-preview-view {
  float: left;
  margin: 4px 4px 12px;
  text-align: center;
  font-size: 11px;
  color: #333333;
}

.aphront-file-preview-thumb {
  padding: 2px;
  border: 1px solid #000000;
  background: #ffffff;
  margin-bottom: 2px;
}
