/**
 * @provides aphront-calendar-view-css
 */

.aphront-calendar-view {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border: 2px solid #4f3612;
  box-shadow: 0px 2px 6px #ccc;
}

tr.aphront-calendar-month-year-header th {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  color: white;
  background: #4f3612;
  height: 26px;

}

tr.aphront-calendar-month-year-header th a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

tr.aphront-calendar-month-year-header th a:hover {
  color: #feffd0;
}

tr.aphront-calendar-day-of-week-header th {
  text-align: center;
  font-size: 11px;
  padding: 3px;
  color: white;
  background: #896c45;
}

table.aphront-calendar-view td {
  border: 1px solid #dfdfdf;
  width: 14.2857%; /* This is one seventh, approximately. */
}

table.aphront-calendar-view td div.aphront-calendar-day {
  min-height: 125px;
}

.aphront-calendar-holiday {
  color: #666666;
  padding: .5em;
  max-height: 1em;
  overflow: hidden;
}

.aphront-calendar-date-number {
  font-weight: normal;
  color: #999;
  padding: 4px;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 0 0 1px 1px;
  float: right;
  background: #ffffff;
  width: 1.25em;
  height: 1.25em;
  text-align: center;
  margin-bottom: 3px;
}

.aphront-calendar-not-work-day {
  background-color: #fdfae7;
}

.aphront-calendar-empty {
  background-color: #ededed;
}

.aphront-calendar-event {
  clear: both;

  background: #006799;
  font-size: 11px;
  margin: 2px 0;
  border-radius: 10px;
  padding: 3px 5%;
  width: 90%;
  overflow: hidden;
}

.aphront-calendar-event a:link {
  color: #fff;
}

.aphront-calendar-event-empty {
  border-color: transparent;
  background: transparent;
}

.aphront-calendar-event-text {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}


.aphront-calendar-event-continues-before {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-width: 0px;
}

.aphront-calendar-event-continues-after {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0px;
}
