/**
 * @provides aphront-contextbar-view-css
 */

.aphront-contextbar-view {
  background: #efefef;
  padding: 6px 2em;
  border-bottom: 1px solid #dfdfdf;
}

.aphront-contextbar-core {
}

.aphront-contextbar-content {
  padding-top: 5px;
  font-size: 13px;
  color: #666666;
}

.aphront-contextbar-buttons {
  float: right;
}

.aphront-contextbar-buttons label {
  font-weight: bold;
  color: #666666;
}

.aphront-contextbar-buttons a {
  margin: 0 0 0 .5em;
}
