/**
 * @provides aphront-contextbar-view-css
 */

.aphront-contextbar-view {
  background: #fff;
  padding: 8px 16px;
  border-bottom: 1px solid {$lightblueborder};
}

.aphront-contextbar-content {
  padding-top: 5px;
  font-size: 13px;
  color: {$bluetext};
}

.aphront-contextbar-buttons {
  float: right;
}

.aphront-contextbar-buttons label {
  font-weight: bold;
  color: {$bluetext};
}

.aphront-contextbar-buttons a {
  margin: 0 0 0 .5em;
}
