/**
 * @provides aphront-dark-console-css
 */

.dark-console {
  background:     #555555;
  color:          #eeeeee;
  width:          100%;
  font-family:    "Verdana";
  font-size:      11px;
  position:       relative;
  z-index:        5;
}

.dark-console a:link {
  color: inherit;
}

.dark-console-tabs {
  width:        180px;
  background:   #222222;
  border-right: 1px solid #888888;
  padding:      2.5em 0em;
}


a.dark-console-tab {
  padding:      .75em 12px;
  text-align:   right;
  background:   #444444;
  position:     relative;
  border:       1px solid #666666;
  border-width: 1px 0;
  border-right-color: #888888;
  margin-bottom: 2px;
  display:        block;
  color:          #cccccc;
}

a.dark-console-tab-selected {
  margin-right:       -1px;
  padding-right:      13px;
  background:         #555555;
  border-color:       #888888;
  border-right-color: #555555;
  color:              #eeeeee;
}


.dark-console .aphront-table-view {
  background: #888888;
  color: #eeeeee;
  margin: 1em 1%;
  width: 98%;
  border-color: #333333;
}

.dark-console .aphront-table-view th {
  background: #333333;
  color: #ffffff;
}

.dark-console .aphront-table-view td.header {
  background: #444444;
  color: #ffffff;
  min-width: 200px;
}

.dark-console .aphront-table-view tr.alt {
  background: #666666;
}

.dark-console .aphront-table-view tr.highlight {
  background: #001A66;
}

.dark-console .aphront-table-view tr.no-data td {
  color: #dddddd;
}

.dark-console-panel-ErrorLog {
  max-height:       500px;
  overflow:         auto;
}

.dark-console-panel-error-details {
  display: none;
}

.explain-sev-1 {
  color: #33ff33;
}

.explain-sev-2 {
  color: #99ff33;
}

.explain-sev-3 {
  color: #ccff33;
}

.explain-sev-4 {
  color: #ffff33;
}

.explain-sev-5 {
  color: #ffcc33;
}

.explain-sev-6 {
  color: #ffffff;
  font-weight: bold;
  background: #aa0000;
  padding: 0 1em;
  border: 2px solid #ffff00;
}

.explain-sev-7 {
  color: #aaaaaa;
}

.dark-console-panel-header {
  background: #606060;
  border-bottom: 1px solid #505050;
  padding: .25em 1em .25em 0;
}

.dark-console-panel-header h1 {
  padding: 1em;
  font-size: 12px;
  font-weight: normal;
}

.dark-console-panel-header .button {
  margin-top: .5em;
  float: right;
}

.dark-console-panel a.bright-link {
  color: #00cfff;
  font-weight: bold;
}

.dark-console iframe {
  width: 98%;
  margin: .5em 1%;
  height: 450px;
  border: 0;
}

.dark-console-no-content {
  padding: 1.5em 2em;
  font-style: italic;
}

.dark-console-request-log {
  border-bottom:  2px solid #000000;
}

.dark-console-panel-RequestLog {
  max-height: 10em;
  overflow: auto;
}

.dark-console-panel-request-log-separator {
    background-color: #e8e8e8;
    border-bottom: 1px solid #b7b7b7;
    border-top: 1px solid #b7b7b7;
    height: 2px;
}


