/**
 * @provides aphront-dialog-view-css
 */

.aphront-dialog-view {
  width: 480px;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
}

.device-phone .aphront-dialog-view {
  width: 300px;
}

.aphront-dialog-head .phabricator-action-header {
  border-bottom: 1px solid #d4dadf;
  padding: 5px 15px;
  white-space: nowrap;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.aphront-dialog-head .phabricator-action-header
  .phabricator-action-header-title {
  font-size: 15px;
}

.aphront-dialog-view-width-form {
  width: 600px;
}

.aphront-dialog-view-width-full {
  width: 90%;
}

.aphront-dialog-body {
  background: #ffffff;
  padding: 20px 15px;
  border: none;
  overflow: hidden;
}

.aphront-dialog-tail {
  border: none;
  background: #fff;
  padding: 8px 10px;
  border-top: 1px solid #d4dadf;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: right;
}

.aphront-dialog-tail button,
.aphront-dialog-tail a.button {
  float: right;
  margin-left: .5em;
}

.jx-client-dialog {
  position:   absolute;
  width:      100%;
}

.jx-mask {
  opacity:    .37;
  background: #222;
  position:   fixed;
  top:        0;
  left:       0;
  right:      0;
  bottom:     0;
}

.jx-dark-mask {
  background: #000000;
  opacity:    0.9;
}

.aphront-exception-dialog {
  width: 95%;
}

.aphront-exception-dialog .exception-message {
  font-size: 14px;
  background: #efefef;
  padding: 1em;
  white-space: pre-wrap;
}

.aphront-exception-dialog .exception-trace {
  margin-top: 15px;
}

.aphront-exception-dialog .exception-trace-header {
  font-size: 11px;
  color: #666666;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

.aphront-access-dialog {
  width: 50%;
}
