/**
 * @provides aphront-dialog-view-css
 */

.aphront-dialog-view {
  width: 480px;
  padding: 8px;
  background: #666;
  margin: auto;
}

.aphront-dialog-head {
  background:   #003366;
  border:       none;
  font-size:    15px;
  padding:      5px 12px 6px;
  color:        #ffffff;
}

.aphront-dialog-view-width-form {
  width:        600px;
}

.aphront-dialog-body {
  background: #ffffff;
  padding: 16px 12px;
  border: none;
  overflow: hidden;
}

.aphront-dialog-tail {
  border: none;
  background: #ededed;
  padding: 0.5em;
  text-align: right;
}

.aphront-dialog-tail button,
.aphront-dialog-tail a.button {
  float: right;
  margin-left: .5em;
}

.jx-client-dialog {
  position:   absolute;
  z-index:    14;
}

.jx-mask {
  opacity:    .37;
  background: #222;
  position:   fixed;
  z-index:    10;
  top:        0;
  left:       0;
  right:      0;
  bottom:     0;
}

.jx-dark-mask {
  background: #000000;
  opacity:    0.9;
}

.aphront-exception-dialog {
  width: 95%;
}

.aphront-exception-dialog .aphront-dialog-head {
  background: #aa0000;
}

.aphront-exception-dialog .exception-message {
  font-size: 14px;
  background: #efefef;
  padding: 1em;
  white-space: pre-wrap;
}

.aphront-exception-dialog .exception-trace {
  margin-top: 1em;
  padding: .5em 1em;
}

.aphront-exception-dialog .exception-trace-header {
  font-size: 11px;
  color: #666666;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

.aphront-access-dialog {
  width: 50%;
}
