/**
 * @provides aphront-dialog-view-css
 */

.aphront-dialog-view {
  width: 480px;
  padding: 8px;
  background: #666;
  margin: auto;
}

.aphront-dialog-head {
  background:   #003366;
  border:       none;
  font-size:    15px;
  padding:      5px 12px 6px;
  color:        #ffffff;
}


.aphront-dialog-body {
  background: #ffffff;
  padding: 16px 12px;
  border: none;
  overflow: hidden;
}

.aphront-dialog-tail {
  border: none;
  background: #ededed;
  padding: 0.5em;
  text-align: right;
}

.aphront-dialog-tail button,
.aphront-dialog-tail a.button {
  float: right;
  margin-left: .5em;
}

.jx-client-dialog {
  position:   absolute;
  z-index:    6;
}

.jx-mask {
  opacity:    .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter:     alpha(opacity=75);
  background: #999;
  position:   absolute;
  z-index:    5;
  top:        0;
  left:       0;
  right:      0;
  bottom:     0;
  width:      100%;
  height:     100%;
  min-height: 100%;
}

.aphront-exception-dialog {
  width: 95%;
}

.aphront-exception-dialog .aphront-dialog-head {
  background: #aa0000;
}
