/**
 * @provides aphront-error-view-css
 */

.aphront-error-view,
.aphront-error-view-dialogue {
  border-style: solid;
  border-width: 1px;
}

.aphront-error-view {
  margin: 20px;
}
.aphront-error-view-dialogue {
  margin: 0px 0px 16px 0px;
}

.device-phone .aphront-error-view {
  margin: 10px;
}

.aphront-error-view-body {
  padding: 10px;
  line-height: 1.6em;
}

.aphront-error-view-head {
  padding: 10px 10px 0 10px;
  font-weight: bold;
  color: #333333;
}

.aphront-error-view-list {
  margin: 0 0 0 20px;
  list-style: disc;
}

.aphront-error-severity-error {
  color: #b94a48;
  border-color: #eed3d7;
  background: #f2dede;
}

.aphront-error-severity-error .aphront-error-view-head {
  color: #aa0000;
}

.aphront-error-severity-warning {
  color: #bc7837;
  border-color: #ebdcc1;
  background: #fcf8e3;
}

.aphront-error-severity-warning .aphront-error-view-head {
  color: #bc7837;
  background: #fcf8e3;
}

.aphront-error-severity-notice {
  color: #3a87ad;
  border-color: #a4bdec;
  background: #dee7f8;
}

.aphront-error-severity-notice .aphront-error-view-head {
  color: #3a87ad;
  background: #dee7f8;
}

.aphront-error-severity-nodata {
  border-color: #dfdfdf;
  background: #f3f3f3;
  color: #666;
}
