/**
 * @provides aphront-error-view-css
 */

.aphront-error-view,
.aphront-error-view-dialogue {
  border-style: solid;
  border-width: 1px;
}

form.aphront-dialog-view .aphront-error-view {
  margin: 8px 0;
}

.aphront-error-view {
  margin: 16px;
}
.aphront-error-view-dialogue {
  margin: 0px 0px 16px 0px;
}

.device-phone .aphront-error-view {
  margin: 8px;
}

.aphront-error-view-body {
  padding: 12px;
}

.aphront-panel-plain .aphront-error-view {
  margin-left: 0;
  margin-right: 0;
}

h1.aphront-error-view-head {
  padding: 10px 10px 0 10px;
  font-weight: bold;
  color: {$darkgreytext};
}

.aphront-error-view-list {
  margin: 0 0 0 16px;
  list-style: disc;
}

.aphront-error-severity-error {
  color: {$red};
  border-color: {$red};
  background: {$lightred};
}

.aphront-error-severity-error .aphront-error-view-head {
  color: {$red};
}

.aphront-error-severity-warning {
  color: #bc7837;
  border-color: {$yellow};
  background: {$lightyellow};
}

.aphront-error-severity-warning .aphront-error-view-head {
  color: #bc7837;
}

.aphront-error-severity-notice {
  color: {$blue};
  border-color: {$blue};
  background: {$lightblue};
}

.aphront-error-severity-notice .aphront-error-view-head {
  color: {$blue};
}

.aphront-error-severity-nodata {
  border-color: {$lightgreyborder};
  border-bottom: 1px solid {$greyborder};
  color: {$greytext};
  background-color: #fff;
}
