/**
 * @provides aphront-error-view-css
 */

.aphront-error-view {
  margin: 1em auto;

  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -mox-box-shadow:    1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:         1px 1px 2px rgba(0, 0, 0, 0.1);
}

.aphront-error-view-body {
  padding: 0.5em 1em;
  font-size: 12px;
  line-height: 1.6em;
}

.aphront-error-view h1 {
  font-size: 13px;
  padding: 0.5em 1em;
  font-weight: bold;
  color: #333333;
}

.aphront-error-view-body ul {
  margin: 0.2em 0 0.2em 2em;
  list-style: disc;
}

.aphront-error-width-default {
  width: 720px;
}

.aphront-error-width-dialog {
  width: 300px;
}

.aphront-error-width-wide {
  width: 95%;
}

.aphront-error-severity-error {
  border: 1px solid #aa0000;
  background: #fff3f3;
}

.aphront-error-severity-error h1 {
  background: #ffe3e3;
}

.aphront-error-severity-warning {
  border: 1px solid #888800;
  background: #ffffee;
}

.aphront-error-severity-warning h1 {
  background: #ffffcc;
}

.aphront-error-severity-notice {
  border: 1px solid #000088;
  background: #f3f3ff;
}

.aphront-error-severity-notice h1 {
  background: #e3e3ff;
}

.aphront-error-severity-nodata {
  border: 1px solid #dfdfdf;
  background: #f3f3f3;

  color: #666666;

  -webkit-box-shadow: 0px 0px 0px #000;
  -mox-box-shadow:    0px 0px 0px #000;
  box-shadow:         0px 0px 0px #000;
}

.aphront-error-severity-nodata h1 {
  background: #e3e3e3;
}
