/**
 * @provides aphront-form-view-css
 */

/**
 * These styles are overrides for .aphront-form-view
 */
.aphront-form-view-shaded {
  border: 1px solid #c4c4c4;
  background: #e7e7e7;
}

.aphront-form-view-padded {
  padding: 1em;
}


.aphront-form-view label.aphront-form-label {
  padding-top: 4px;
  width: 19%;
  float: left;
  text-align: right;
  font-weight: bold;
  font-size: 13px;
  color: #666666;
}

.aphront-form-input {
  margin-left: 20%;
  margin-right: 25%;
  width: 55%;
}


.aphront-form-error {
  width: 23%;
  float: right;
  color: #aa0000;
  font-weight: bold;
  padding-top: 4px;
}

.aphront-form-input input,
.aphront-form-input textarea {
  font-size: 12px;
  width: 100%;
}


.aphront-form-input textarea {
  height: 12em;
}

.aphront-form-control {
  padding: 4px;
}

.aphront-form-control-submit button,
.aphront-form-control-submit a.button {
  float: right;
  margin: 0.5em 0 0em 2%;
}

.aphront-form-control-textarea textarea.aphront-textarea-very-short {
  height: 3em;
}

.aphront-form-control-textarea textarea.aphront-textarea-very-tall {
  height: 24em;
}

.aphront-form-control-select .aphront-form-input {
  padding-top: 2px;
}


.aphront-form-view .aphront-form-caption {
  font-size: 11px;
  color: #444444;
  text-align: right;
  clear: both;
  margin-right: 25%;
  margin-left: 20%;
}

.aphront-form-instructions {
  margin: 0.75em 3% 1.25em;
}

.aphront-form-important {
  margin: .5em 0;
  background: #ffffdd;
  padding: .5em 1em;
}
.aphront-form-important code {
  display: block;
  padding: .25em;
  margin: .5em 2em;
}


.aphront-form-control-static .aphront-form-input {
  padding-top: 4px;
  font-size: 13px;
}

.aphront-form-control-togglebuttons .aphront-form-input {
  padding-top: 5px;
}

table.aphront-form-control-radio-layout,
table.aphront-form-control-checkbox-layout {
  margin-top: 3px;
  font-size: 13px;
}

table.aphront-form-control-radio-layout th,
table.aphront-form-control-checkbox-layout th {
  padding-top: 2px;
  padding-left: 0.35em;
  padding-bottom: 4px;
}

.aphront-form-control-radio-layout td input,
.aphront-form-control-checkbox-layout td input {
  margin-top: 4px;
  width: auto;
}

.aphront-form-radio-caption {
  font-size: 11px;
  color: #444444;
  max-width: 400px;
}

.aphront-form-input hr {
  border: none;
  background: #bbbbbb;
  height: 1px;
  position: relative;
}

.aphront-form-inset {
  margin: 0 0 1em;
  padding: .75em;
  background: #f3f3f3;
  border: 1px solid #afafaf;
}

.aphront-form-drag-and-drop-file-list {
  width: 400px;
}

.drag-and-drop-instructions {
  color: #333333;
  font-size: 11px;
  padding: 6px 8px;
}

.aphront-textarea-drag-and-drop {
  background: #99ff99;
  border-color: #669966;
}
