/**
 * @provides aphront-headsup-view-css
 */

.aphront-headsup-panel {
  border:       1px solid #666622;
  background:   #efefdf;
  font-size:    13px;
  margin:       .5em 2em .25em;
  padding:      15px 0 0;
}

.aphront-headsup-panel h1 {
  border-bottom: 1px solid #aaaa99;

  margin: 0 285px 8px 20px;
  padding-bottom: 8px;
}

.aphront-headsup-property-table {
  font-size:  12px;
  width:      auto;
  margin:     0 285px 15px 20px;
}

.aphront-headsup-property-table th {
  font-weight:    bold;
  width:          100px;
  text-align:     right;
  padding:        3px;
  color:          #333333;
  white-space:    nowrap;
}

.aphront-headsup-property-table td {
  padding: 3px;
}

.aphront-headsup-details {
  clear: both;
  border-top: 1px solid #666622;
  background: #fbfbef;
  margin-top: 1em;
  padding: .75em 20px;
}

.aphront-headsup-object-name {
  margin-right: 0.25em;
}
