/**
 * @provides aphront-headsup-action-list-view-css
 */

.aphront-headsup-object-name {
  color: #666666;
  margin-right: 0.25em;
}

.aphront-headsup-action-list {
  float:        right;
  width:        250px;
  background:   #cfcfbf;
  border:       1px solid #666622;
  border-width: 0px 0px 1px 1px;
  margin:       -15px 0px 1em 0;
  font-size:    11px;
}

.aphront-headsup-action-list a,
.aphront-headsup-action-list span,
.aphront-headsup-action-list button {
  background-position: 8px center;
  background-repeat:   no-repeat;
  display:             block;
  padding:             4px 4px 4px 32px;
  line-height:         normal;
}

.aphront-headsup-action-list span.unavailable {
  color:      #666666;
  font-style: italic;
}

.aphront-headsup-action-list .subscribe-rem {
  background-image: url(/rsrc/image/icon/unsubscribe.png);
}

.aphront-headsup-action-list .subscribe-add {
  background-image: url(/rsrc/image/icon/subscribe.png);
}

.aphront-headsup-action-list .action-edit,
.aphront-headsup-action-list .revision-edit {
  background-image: url(/rsrc/image/icon/tango/edit.png);
}

.aphront-headsup-action-list .action-attach,
.aphront-headsup-action-list .attach-maniphest {
  background-image: url(/rsrc/image/icon/tango/attachment.png);
}

.aphront-headsup-action-list .action-upload {
  background-image: url(/rsrc/image/icon/tango/upload.png);
}

.aphront-headsup-action-list .action-download {
  background-image: url(/rsrc/image/icon/tango/go-down.png);
}

.aphront-headsup-action-list .transcripts-metamta {
  background-image: url(/rsrc/image/icon/tango/log.png);
}

.aphront-headsup-action-list .transcripts-herald {
  background-image: url(/rsrc/image/icon/tango/log.png);
}

.aphront-headsup-action-list .action-merge {
  background-image: url(/rsrc/image/icon/fatcow/arrow_merge.png);
}

.aphront-headsup-action-list .action-branch {
  background-image: url(/rsrc/image/icon/fatcow/arrow_branch.png);
}

.aphront-headsup-action-list .action-dependencies {
  background-image: url(/rsrc/image/icon/fatcow/link.png);
}
