/**
 * @provides aphront-list-filter-view-css
 */

.aphront-filter-table-wrapper {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #c0c5d1;
  margin: 0 20px;
}

.device-phone .aphront-filter-table-wrapper {
  margin: 0;
  padding: 0;
  background: #fff;
}

.aphront-list-filter-view {
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.aphront-list-filter-view-controls {
  width: 100%;
}

.aphront-list-filter-view-controls .aphront-form-view {
  border-width: 0;
  border-bottom: 1px solid #c0c5d1;
  padding: 12px 0 6px;
}

.aphront-list-filter-view-controls .aphront-form-view .aphront-form-label {
  width: 12%;
}

.aphront-list-filter-view-controls .aphront-form-view .aphront-form-input {
  width: 70%;
  margin-left: 13%;
  margin-right: 17%;
}

.device-phone .aphront-list-filter-view-controls .aphront-form-view .aphront-form-input {
  width: 98%;
  margin-left: 0%;
  margin-right: 0%;
}
