/**
 * @provides aphront-list-filter-view-css
 */

.aphront-list-filter-view {
  background: #f6f6f6;
  border-bottom: 1px solid #bbbbbb;
  width: 100%;
  margin-bottom: 1em;
}

.aphront-list-filter-view-buttons {
  padding: 10px 20px;
}

.aphront-list-filter-view-buttons a.button {
  width: 200px;
  display: block;
}

.aphront-list-filter-view-controls {
  width: 100%;
  border-right: 1px solid #bbbbbb;
}

.aphront-list-filter-view-controls .aphront-form-view {
  border-width: 0;
  padding: 12px 0 6px;
}

.aphront-list-filter-view-controls .aphront-form-view .aphront-form-label {
  width: 12%;
}

.aphront-list-filter-view-controls .aphront-form-view .aphront-form-input {
  width: 70%;
  margin-left: 13%;
  margin-right: 17%;
}
