/**
 * @provides aphront-list-filter-view-css
 */

.aphront-list-filter-wrap {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #c0c5d1;
  margin: 0 20px;
}

.aphront-list-filter-view {
  background: #fff;

  padding: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.device-phone .aphront-list-filter-view {
  margin: 0;
}

.aphront-list-filter-view-content .aphront-form-view {
  border-left: none;
  border-right: none;
  padding: 12px 0 6px;
}

.aphront-list-filter-view-content .aphront-form-view .aphront-form-label {
  width: 12%;
}

.aphront-list-filter-view-content .aphront-form-view .aphront-form-input {
  width: 70%;
  margin-left: 13%;
  margin-right: 17%;
}

.device-phone .aphront-list-filter-view-content .aphront-form-view
  .aphront-form-input {
  width: 98%;
  margin-left: 0;
  margin-right: 0;
}

.aphront-list-filter-view-collapsible .aphront-list-filter-view-content {
  border-top: 1px solid #e7e7e7;
}

.aphront-list-filter-reveal {
  margin-left: 13%;
  margin-right: 18%;
  padding: 8px 0;
  overflow: hidden;
  text-align: center;
}

.device .aphront-list-filter-reveal {
  width: 98%;
  margin: auto;
  padding: 4px 0;
}

.aphront-list-filter-reveal a {
  font-weight: bold;
  float: right;
}

.device .aphront-list-filter-reveal a {
  margin: 4px auto 0;
  float: none;
  display: block;
}

.aphront-list-filter-description {
  margin-right: 25%;
  float: left;
  text-align: left;
  line-height: 25px;
  color: #666666;
}

.device .aphront-list-filter-description {
  float: none;
  text-align: left;
  margin-right: 0;
}
