/**
 * @provides phabricator-notification-css
 */

.jx-notification-container {
  position: fixed;

  bottom: 24px;
  left: 24px;
}

.jx-notification {
  width: 240px;
  padding: 8px 16px;

  font-size: 11px;
  overflow: hidden;

  background: #daeaf3;
  color: #444444;
  border: 1px solid #2980b9;

  cursor: pointer;

  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  margin-top: 4px;
}

.jx-notification-alert {
  background: #fdf5d4;
  border: 1px solid #f1c40f;
}

.jx-notification-debug {
  background: #f5e2ef;
  border: 1px solid #c6539d;
}

.jx-notification-done {
  background: #dbf2e4;
  border: 1px solid #27ae60;
}

.jx-notification-error {
  background: #f4dddb;
  border: 1px solid #c0392b;
}
