/**
 * @provides aphront-pager-view-css
 */

.aphront-pager-view {
  clear: both;
  text-align: right;
  padding: 8px 4px 16px;
  font-weight: bold;
}

.phui-box .aphront-pager-view {
  padding: 0;
}

.aphront-pager-view a {
  padding: 3px 7px;
  border: 1px solid {$lightblueborder};
  border-bottom: 1px solid {$blueborder};
  margin: 0 2px;
  background: #fff;
  color: {$lightbluetext};
  display: inline-block;
  border-radius: 2px;
}

.aphront-pager-view a:hover {
  text-decoration: none;
  border: 1px solid {$greyborder};
  border-bottom: 1px solid {$darkgreyborder};
  color: {$darkgreytext};
}

.aphront-pager-view a.current {
  background: {$greybackground};
  border: 1px solid {$greyborder};
  border-bottom: 1px solid {$darkgreyborder};
  color: {$darkgreytext};
}
