/**
 * @provides phabricator-nav-view-css
 */

.jx-drag-col {
  cursor: col-resize;
}

.phabricator-nav-col {
  position: fixed;
  top: 44px;
  left: 0;
  bottom: 0;

  overflow-y: auto;
  overflow-x: hidden;

  white-space: nowrap;
  z-index: 3;
}

.has-crumbs .phabricator-nav-col {
  top: 78px;
}

.phabricator-nav-local {
  width: 179px;
  background: #ececec;

  border-right: 1px solid #999c9e;
  box-shadow: inset -3px 0 4px rgba(0, 0, 0, 0.05);
  background-image: url(/rsrc/image/menu_texture.png);
}

.device-tablet .phabricator-nav-local,
.device-phone .phabricator-nav-local {
  display: none;
}

.phabricator-nav-drag {
  position: fixed;
  top: 0;
  left: 179px;
  width: 7px;
  bottom: 0;
  z-index: 4;

  cursor: col-resize;
  background: #f5f5f5;
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: #fff #999c9e #fff #999c9e;

  box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.15);

  background-image: url(/rsrc/image/divot.png);
  background-position: center;
  background-repeat: no-repeat;
}

.device-tablet .phabricator-nav-drag,
.device-phone .phabricator-nav-drag {
  display: none;
}

.has-local-nav .phabricator-nav-content {
  margin-left: 180px;
}

.device-desktop .has-local-nav .phabricator-nav-content {
  margin-left: 178px;
}

.device-desktop .local-nav-collapsed .phabricator-nav-local {
  width: 0px !important;
}

.device-desktop .local-nav-collapsed .phabricator-nav-drag {
  display: none;
}

.device-desktop .local-nav-collapsed .phabricator-nav-content {
  margin-left: 2.5em !important;
}

.device-tablet .phabricator-nav-col,
.device-phone .phabricator-nav-col {
  position: absolute;
  top: 0px;
}

.device-tablet .phabricator-nav-local,
.device-phone .phabricator-nav-local {
  left: -300px;
}

.device-tablet .phabricator-nav,
.device-phone .phabricator-nav {
  overflow-x: hidden;
  position: relative;
}

.device-tablet .phabricator-nav-content,
.device-phone .phabricator-nav-content {
  width: 100%;
}

.device-tablet .phabricator-nav-content,
.device-phone .phabricator-nav-content {
  margin-left: 0;
  position: relative;
}
