/**
 * @provides phabricator-nav-view-css
 */

.device .phui-navigation-shell div.phabricator-nav-local {
  display: none;
}

.device-desktop .has-local-nav .phabricator-nav-local {
  display: block;
}

.device-phone .phabricator-side-menu-home .phabricator-nav-local {
  display: block;
}

/* Home Sidenav */
.phui-basic-nav.phui-navigation-shell
  .phabricator-side-menu-home .phabricator-nav-local {
    padding-top: 16px;
    padding-right: 0;
    background-color: transparent;
    width: 205px;
    max-width: 205px;
}

.device-phone .phui-basic-nav.phui-navigation-shell
  .phabricator-side-menu-home .phabricator-nav-local {
    padding-top: 0;
    padding-right: 0;
    background-color: transparent;
    width: auto;
}


.phabricator-nav-content {
  overflow: hidden;
}

.device-phone .phabricator-side-menu-home .phabricator-nav-content {
  display: none;
}

.device-phone .phabricator-side-menu-home .phabricator-nav-local {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}
