/**
 * @provides phabricator-nav-view-css
 */

.jx-drag-col {
  cursor: col-resize;
}

.device-desktop .has-closed-nav div.phabricator-nav-local,
.device-desktop .has-closed-nav div.phabricator-nav-drag,
.device .phui-navigation-shell div.phabricator-nav-local,
.device .phui-navigation-shell div.phabricator-nav-drag {
  display: none;
}

.device-desktop .has-local-nav .phabricator-nav-local,
.device-desktop .has-local-nav .phabricator-nav-drag {
  display: block;
}

.device-phone .phabricator-side-menu-home .phabricator-nav-local {
  display: block;
}

/* Home Sidenav */
.phui-basic-nav.phui-navigation-shell
  .phabricator-side-menu-home .phabricator-nav-local {
    padding-top: 16px;
    padding-right: 0;
    background-color: transparent;
    width: 205px;
    max-width: 205px;
}

.device-phone .phui-basic-nav.phui-navigation-shell
  .phabricator-side-menu-home .phabricator-nav-local {
    padding-top: 0;
    padding-right: 0;
    background-color: transparent;
    width: auto;
}

.phabricator-nav-drag {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 205px;
  width: 7px;

  cursor: col-resize;
  background: #f5f5f5;
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: #fff #999c9e #fff #999c9e;

  box-shadow: inset -1px 0px 1px rgba({$alphablack}, 0.15);

  background-image: url(/rsrc/image/divot.png);
  background-position: center;
  background-repeat: no-repeat;
}

.phabricator-nav-content {
  overflow: hidden;
}

.device-desktop .phabricator-standard-page-body .has-drag-nav
  .phabricator-nav-content {
  margin-left: 212px;
}

.has-drag-nav ul.phui-list-view {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.device-desktop .phui-navigation-shell .has-drag-nav .phabricator-nav-local {
  width: 205px;
  padding: 0;
  background: transparent;
}

.device-phone .phabricator-side-menu-home .phabricator-nav-content {
  display: none;
}

.device-phone .phabricator-side-menu-home .phabricator-nav-local {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}
