/**
 * @provides aphront-request-failure-view-css
 */

.aphront-request-failure-view {
  margin: 16px auto;
  background: #eff2f7;
  width: 600px;
}

.device .aphront-request-failure-view {
  width: 90%;
}

.aphront-request-failure-view .aphront-request-failure-head {
  padding: 1em 2em;
  border-bottom: 1px solid #afb2b7;
  background: #dfe2e7;
}

.aphront-request-failure-view .aphront-request-failure-head h1 {
  font-size: 24px;
}

.aphront-request-failure-view .aphront-request-failure-body {
  padding: 1em 2em 1.5em;
}

.aphront-request-failure-view .aphront-request-failure-body p {
  margin: .5em 0;
}

.aphront-failure-continue {
  margin-top: 1.5em;
  text-align: right;
}

.aphront-failure-continue a.button {
  margin-left: 1em;
}

.aphront-request-failure-view ul {
  list-style: disc;
  margin-left: 3em;
}
