/**
 * @provides aphront-side-nav-view-css
 */

table.aphront-side-nav-view {
  width: 100%;
  font-size: 13px;
}

td.aphront-side-nav-content {
  width: 100%;
}

th.aphront-side-nav-navigation {
  border-right: 1px solid #ccc;
  padding-bottom: 8em;
  background: #f7f7f7;
  min-width: 175px;
}
