/**
 * @provides aphront-side-nav-view-css
 */

table.aphront-side-nav-view {
  width: 100%;
  font-size: 13px;
}

td.aphront-side-nav-content {
  width: 100%;
}

th.aphront-side-nav-navigation {
  border-right: 1px solid #bbbbbb;
  padding-bottom: 8em;
}

th.aphront-side-nav-navigation a,
th.aphront-side-nav-navigation span {
  display: block;
  margin: 0 0 2px;
  min-width: 150px;
  padding: 3px 8px 3px 24px;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
}

th.aphront-side-nav-navigation span {
  padding-left: 12px;
  padding-top: 6px;
}

th.aphront-side-nav-navigation a:hover {
  text-decoration: none;
  background:     #f3f3f9;
}

th.aphront-side-nav-navigation hr {
  height:         1px;
  background:     #eeeeee;
  border:         0px;
  margin:         12px 0px;
}

th.aphront-side-nav-navigation a.aphront-side-nav-selected,
th.aphront-side-nav-navigation a.aphront-side-nav-selected:hover {
  background:     #d8dfea;
}
