/**
 * @provides aphront-table-view-css
 */

.device-phone .aphront-table-wrap,
.device-tablet .aphront-table-wrap {
  overflow-x: auto;
}

.aphront-table-view {
  width: 100%;
  border-collapse:  collapse;
  background: #fff;
  border: 1px solid #d5dae0;
}

.aphront-table-view tr.alt {
  background: #f1f3f8;
}

.aphront-table-view th {
  font-weight: bold;
  white-space: nowrap;
  color: #525252;
  text-shadow: 0 1px 0 white;
  font-weight: bold;
  background-color: #d9dde2;
  background-image: url(/rsrc/image/texture/table_header.png);
  background-repeat: repeat-x;
}

th.aphront-table-view-sortable-selected {
  background-image: url(/rsrc/image/texture/table_header_hover.png);
}

.aphront-table-view th a,
.aphront-table-view th a:hover,
.aphront-table-view th a:link {
  color: #525252;
  text-shadow: 0 1px 0 white;
  display: block;
  text-decoration: none;
}

.aphront-table-view th a:hover {
  text-decoration: underline;
}

.aphront-table-view td.header {
  padding: 4px 8px;
  white-space: nowrap;
  text-align: right;
  color: #525252;
  font-weight: bold;
}

.aphront-table-view td {
  white-space: nowrap;
  vertical-align: middle;
}

.aphront-table-down-sort {
  display: inline-block;
  margin-top: 5px;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.aphront-table-up-sort {
  display: inline-block;
  margin-top: 5px;
  width: 0;
  height: 0;
  vertical-align: top;
  border-bottom: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

/* - Padding -------------------------------------------------------------------

  On desktops, we have more horizontal space and use it to space columns out.

  On devices, we make each row slightly taller to create a larger hit target
  for links.

*/

.aphront-table-view th {
  padding: 8px 10px;
  font-size: 12px;
}

.aphront-table-view td {
  padding: 6px 10px;
  font-size: 12px;
}

.device-tablet .aphront-table-view td,
.device-phone .aphront-table-view td {
  padding: 6px;
}

.device-tablet .aphront-table-view td + td,
.device-phone .aphront-table-view td + td {
  padding-left: 0px;
}

.device-tablet .aphront-table-view th,
.device-phone .aphront-table-view th {
  padding: 6px;
  overflow: hidden;
}

.device-tablet .aphront-table-view th + th,
.device-phone .aphront-table-view th + th {
  padding-left: 0px;
}

.aphront-table-view td.sorted-column {
  background: #f1f3f8;
}

.aphront-table-view tr.alt td.sorted-column {
  background: #e4e6eb;
}

.aphront-table-view td.action {
  padding-top: 1px;
  padding-bottom: 1px;
}

.aphront-table-view td.larger {
  font-size: 14px;
}

.aphront-table-view td.pri {
  font-weight: bold;
}

.aphront-table-view td.wide {
  white-space: normal;
  width: 100%;
}

.aphront-table-view td.right {
  text-align: right;
}

.aphront-table-view td.mono {
  font-family: "Monaco", monospace;
  font-size: 11px;
}

.aphront-table-view td.n {
  font-family: "Monaco", monospace;
  font-size: 11px;
  text-align: right;
}

.aphront-table-view td.wrap {
  white-space:      normal;
}

.aphront-table-view td.prewrap {
  font-family: "Monaco", monospace;
  font-size: 11px;
  white-space: pre-wrap;
}

.aphront-table-view td.narrow {
  width:            1px;
}

div.single-display-line-bounds {
  width: 100%;
  position: relative;
  overflow: hidden;
}

span.single-display-line-content {
  white-space: pre;
  position: absolute;
}

.aphront-table-view tr.highlighted {
  background: #fcf8e2;
}

.aphront-table-view tr.alt-highlighted {
  background: #fcf2bb;
}

.aphront-table-view tr.no-data td {
  padding:    1em;
  text-align: center;
  color:      {$lightgreytext};
  font-style: italic;
}

.aphront-table-view td.thumb img {
  max-width: 64px;
  max-height: 64px;
}

.aphront-table-view td.threads {
  font-family: monospace;
  white-space: pre;
  padding: 0;
}

.aphront-table-view td.threads canvas {
  display: block;
}

.aphront-table-view td.radio {
  text-align: center;
  padding: 2px 4px 0px;
}

.device-desktop .aphront-table-view-device {
  display: none;
}

.device-tablet .aphront-table-view-nodevice,
.device-phone .aphront-table-view-nodevice {
  display: none;
}

.aphront-table-view-device-ready {
  width: 99%;
  margin: 8px auto;
}

.aphront-table-view td.link {
  padding: 0;
}

.aphront-table-view td.link a {
  display: block;
  padding: 6px 8px;
  font-weight: bold;
}
