/**
 * @provides aphront-tokenizer-control-css
 * @requires aphront-typeahead-control-css
 */

body div.jx-tokenizer {
  background: transparent;
  position: relative;
  width: 100%;
}

body div.jx-tokenizer-container {
  position: relative;
  display: block;
  padding: 0;
  min-height: 30px;
  height: auto;
}

var.jx-tokenizer-metrics {
  position: absolute;
  left: 20px;
  top: 20px;
}

body input.jx-tokenizer-input {
  border: 1px solid transparent;
  border-width: 1px 0px;
  padding: 3px;
  outline: none;
  float: left;
  width: 100%;
  border-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 13px;
  color: #333;
  height: 26px;
}

body input.jx-tokenizer-input:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: transparent;
}

body input.jx-typeahead-placeholder {
  margin-left: 4px;
  color: {$greytext};
}

a.jx-tokenizer-x {
  padding-left: 4px;
}

a.jx-tokenizer-x:hover {
  color: #000;
  text-decoration: none;
}

a.jx-tokenizer-token {
  padding: 2px 6px 3px;
  border:  1px solid #a4bdec;
  margin: 3px 2px 0 4px;
  background: #dee7f8;
  float: left;
  cursor: pointer;
  border-radius: 3px;
  color: #333;

}

a.jx-tokenizer-token:hover {
  text-decoration: none;
  background: #bbcef1;
}
