/**
 * @provides aphront-tooltip-css
 */

.jx-tooltip-container {
  position: absolute;
  z-index: 18;
}

.jx-tooltip {
  background: #222222;
  color: #f9f9f9;
  padding: 6px 8px;
  overflow: hidden;
  white-space: pre-wrap;
  opacity: 0.9;

  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.jx-tooltip-align-E {
  padding-left: 3px;
}

.jx-tooltip-align-N {
  padding-bottom: 3px;
}
