/**
 * @provides phabricator-transaction-view-css
 */

.phabricator-transaction-view {
  background: 0px 2px no-repeat;
  margin: 1em 0 1.25em;
  min-height: 50px;
  padding: 2px 0px;
}

.device-phone .phabricator-transaction-view {
  margin: 10px 0;
}

.phabricator-transaction-detail {
  border-color: #dddddd;
  border-width: 1px 10px;
  border-style: solid;
  margin-left: 54px;
}

.device-phone .phabricator-transaction-detail {
  margin: 0;
  min-height: 50px;
  background: #fff;
}

.phabricator-transaction-header {
  background: #f3f3f3;
  padding: 4px 1em;
}

.phabricator-transaction-header a {
  font-weight: bold;
}

.phabricator-transaction-info {
  color: #777;
  float: right;
  font-size: 11px;
}

.device-phone .phabricator-transaction-info {
  display: none;
}

.phabricator-transaction-content {
  background:     #fcfcfc;
  line-height:    1.4em;
  padding:        .3em 1em;
  overflow:       auto;
}

.phabricator-transaction-subheader {
  color: #888888;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

div.phabricator-remarkup + .phabricator-transaction-subheader {
  margin-top: 12px;
}
