/**
 * @provides phabricator-transaction-view-css
 */

.phabricator-transaction-view {
  background: 0px 2px no-repeat;
  margin: 1em 0 1.25em;
  min-height: 50px;
  padding: 2px 0px;
}

.device-phone .phabricator-transaction-view {
  margin: 10px 0;
}

.device-phone .phabricator-transaction-detail {
  margin: 0;
  min-height: 50px;
  background: #fff;
}

.phabricator-transaction-header {
  background: {$lightgreybackground};
  padding: 5px 8px;
}

.phabricator-transaction-header a {
  font-weight: bold;
  color: {$darkbluetext};
}

.phabricator-transaction-info {
  color: {$greytext};
  float: right;
  font-size: 11px;
}

.device-phone .phabricator-transaction-info {
  display: none;
}

.phabricator-transaction-content {
  background: #fff;
  padding: 8px;
  overflow: auto;
}

.phabricator-transaction-subheader {
  color: {$lightgreytext};
  padding-bottom: 8px;
}

.transaction-comment + .phabricator-transaction-subheader {
  border-top: 1px solid {$thinblueborder};
  margin-top: 12px;
  padding-top: 12px;
}

div.phabricator-remarkup + .phabricator-transaction-subheader {
  margin-top: 12px;
}
