/**
 * @provides phabricator-transaction-view-css
 */

.phabricator-transaction-view {
  background: 0px 2px no-repeat;
  margin: 1em 0 1.25em;
  min-height: 50px;
  padding: 2px 0px;
}

.phabricator-transaction-detail {
  border-color: #dddddd;
  border-width: 1px 10px;
  border-style: solid;
  margin-left: 54px;
}

.phabricator-transaction-header {
  background: #f3f3f3;
  padding: 4px 1em;
}

.phabricator-transaction-header a {
  font-weight: bold;
}

.phabricator-transaction-info {
  color:       #666666;
  float:       right;
  font-size:   11px;
}

.phabricator-transaction-content {
  background:     #fcfcfc;
  line-height:    1.4em;
  padding:        .3em 1em;
  overflow:       auto;
}
