/**
 * @provides aphront-two-column-view-css
 */

.aphront-two-column {
  position: relative;
}

.device-desktop .aphront-two-column.aphront-two-column-padded {
  margin: 20px;
}

.device-desktop .aphront-two-column .aphront-main-column {
  margin-right: 300px;
}

.device-desktop .aphront-two-column .aphront-side-column {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
}

.device-desktop .aphront-two-column-centered {
  width: 980px;
  margin: 0 auto;
}

.device-desktop .aphront-two-column-centered .aphront-main-column {
  float: left;
  width: 820px;
}

.device-desktop .aphront-two-column-centered .aphront-side-column {
  width: 160px;
  float: right;
}

.device-phone .aphront-two-column.aphront-two-column-padded {
  margin: 10px;
}
