/**
 * @provides aphront-typeahead-control-css
 */

div.jx-typeahead-hardpoint {
  position: relative;
  _zoom: 1; /* Some kind of IE6 fix? */ /* yes */
}

div.jx-typeahead-results {
  position: absolute;
  border: 1px solid #96a6c7;
  border-top: 0px;
  padding: 0;
  background: #fefefe;
  width: 98%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin: -1px 1% 0;
}

div.jx-typeahead-results a.jx-result {
  color: #333;
  display: block;
  padding: 5px 8px;
  font-size: 13px;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #fff;
}

div.jx-typeahead-results a.jx-result:hover,
div.jx-typeahead-results a.focused {
  display: block;
  background: #dde6f9;
  border-top: 1px solid #dde6f9;
  border-bottom: 1px solid #d0dbf3;
  text-decoration: none;
}

table.jx-typeahead button {
  margin-left: 3px;
}

table.jx-typeahead input {
  font-size: 13px;
  padding: 2px;
}

input.jx-typeahead-placeholder {
  color: {$lightgreytext};
}
