/**
 * @provides phabricator-settings-css
 */

.phabricator-settings-homepagetable .fixed {
  width: 48px;
  text-align: center;
}

.phabricator-settings-homepagetable td em {
  color: {$lightgreytext};
}

.phabricator-settings-homepagetable-button .aphront-form-input {
  margin: 0;
  width: auto;
}

.phabricator-settings-homepagetable-button .aphront-form-control {
  padding: 0;
}

.phabricator-settings-homepagetable-wrap .phui-form-view {
  padding: 0;
}
