/**
 * @provides font-roboto-slab
 * @requires phui-fontkit-css
 */

@font-face {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-style: normal;
    src: url(/rsrc/externals/font/robotoslab/robotoslab-regular.eot);
    src: url(/rsrc/externals/font/robotoslab/robotoslab-regular.eot?#iefix)
          format('embedded-opentype'),
         url(/rsrc/externals/font/robotoslab/robotoslab-regular.woff2)
          format('woff2'),
         url(/rsrc/externals/font/robotoslab/robotoslab-regular.woff)
          format('woff'),
         url(/rsrc/externals/font/robotoslab/robotoslab-regular.ttf)
          format('truetype'),
         url(/rsrc/externals/font/robotoslab/robotoslab-regular.svg#roboto_slabregular)
          format('svg');

}
