/**
 * @provides font-lato
 * @requires phui-fontkit-css
 */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'),
       local('Lato-regular'),
         url(/rsrc/externals/font/lato/Lato-regular.woff2)
        format('woff2'),
         url(/rsrc/externals/font/lato/Lato-regular.woff)
        format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'),
       local('Lato-italic'),
         url(/rsrc/externals/font/lato/Lato-italic.woff2)
        format('woff2'),
         url(/rsrc/externals/font/lato/Lato-italic.woff)
        format('woff');
}

@font-face{
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    src: local('Lato 700'),
         local('Lato-700'),
         url(/rsrc/externals/font/lato/Lato-700.woff2)
          format('woff2'),
         url(/rsrc/externals/font/lato/Lato-700.woff)
          format('woff');
}

@font-face{
    font-family: 'Lato';
    font-weight: 700;
    font-style: italic;
    src: local('Lato 700 Italic'),
         local('Lato-700italic'),
         url(/rsrc/externals/font/lato/Lato-700italic.woff2)
          format('woff2'),
         url(/rsrc/externals/font/lato/Lato-700italic.woff)
          format('woff');
}
