/**
 * @provides font-source-sans-pro
 * @requires phui-fontkit-css
 */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'),
       local('SourceSansPro-Regular'),
       url(/rsrc/externals/font/sourcesans/SourceSansPro-Regular.woff2)
        format('woff2'),
       url(/rsrc/externals/font/sourcesans/SourceSansPro.woff)
        format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'),
       local('SourceSansPro-Semibold'),
       url(/rsrc/externals/font/sourcesans/SourceSansPro-Semibold.woff2)
        format('woff2'),
       url(/rsrc/externals/font/sourcesans/SourceSansPro-Semibold.woff)
        format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Sans Pro It'),
         local('SourceSansPro-It'),
         url(/rsrc/externals/font/sourcesans/SourceSansPro-It.woff2)
          format('woff2'),
         url(/rsrc/externals/font/sourcesans/SourceSansPro-It.woff)
          format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Sans Pro Semibold It'),
         local('SourceSansPro-SemiboldIt'),
         url(/rsrc/externals/font/sourcesans/SourceSansPro-SemiboldIt.woff2)
          format('woff'),
         url(/rsrc/externals/font/sourcesans/SourceSansPro-SemiboldIt.woff)
          format('woff');
}
