/**
 * @provides font-glyphicons-halflings
 */
@font-face {
  font-family: 'Glyphicons Halflings Regular';
  src: url('/rsrc/externals/font/glyphicons/glyphicons-halflings-regular.eot');
  src: url('/rsrc/externals/font/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/rsrc/externals/font/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('/rsrc/externals/font/glyphicons/glyphicons-halflings-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.phui-font-gh:before {
  font: 12px/1em 'Glyphicons Halflings Regular';
}

.gh-glass:before {
  content: "\E001";
}
.gh-music:before {
  content: "\E002";
}
.gh-search:before {
  content: "\E003";
}
.gh-envelope:before {
  content: "\2709";
}
.gh-heart:before {
  content: "\E005";
}
.gh-star:before {
  content: "\E006";
}
.gh-star-empty:before {
  content: "\E007";
}
.gh-user:before {
  content: "\E008";
}
.gh-film:before {
  content: "\E009";
}
.gh-th-large:before {
  content: "\E010";
}
.gh-th:before {
  content: "\E011";
}
.gh-th-list:before {
  content: "\E012";
}
.gh-ok:before {
  content: "\E013";
}
.gh-remove:before {
  content: "\E014";
}
.gh-zoom-in:before {
  content: "\E015";
}
.gh-zoom-out:before {
  content: "\E016";
}
.gh-off:before {
  content: "\E017";
}
.gh-signal:before {
  content: "\E018";
}
.gh-cog:before {
  content: "\E019";
}
.gh-trash:before {
  content: "\E020";
}
.gh-home:before {
  content: "\E021";
}
.gh-file:before {
  content: "\E022";
}
.gh-time:before {
  content: "\E023";
}
.gh-road:before {
  content: "\E024";
}
.gh-download-alt:before {
  content: "\E025";
}
.gh-download:before {
  content: "\E026";
}
.gh-upload:before {
  content: "\E027";
}
.gh-inbox:before {
  content: "\E028";
}
.gh-play-circle:before {
  content: "\E029";
}
.gh-repeat:before {
  content: "\E030";
}
.gh-refresh:before {
  content: "\E031";
}
.gh-list-alt:before {
  content: "\E032";
}
.gh-lock:before {
  content: "\1F512";
}
.gh-flag:before {
  content: "\E034";
}
.gh-headphones:before {
  content: "\E035";
}
.gh-volume-off:before {
  content: "\E036";
}
.gh-volume-down:before {
  content: "\E037";
}
.gh-volume-up:before {
  content: "\E038";
}
.gh-qrcode:before {
  content: "\E039";
}
.gh-barcode:before {
  content: "\E040";
}
.gh-tag:before {
  content: "\E041";
}
.gh-tags:before {
  content: "\E042";
}
.gh-book:before {
  content: "\E043";
}
.gh-bookmark:before {
  content: "\1F516";
}
.gh-print:before {
  content: "\E045";
}
.gh-camera:before {
  content: "\1F4F7";
}
.gh-font:before {
  content: "\E047";
}
.gh-bold:before {
  content: "\E048";
}
.gh-italic:before {
  content: "\E049";
}
.gh-text-height:before {
  content: "\E050";
}
.gh-text-width:before {
  content: "\E051";
}
.gh-align-left:before {
  content: "\E052";
}
.gh-align-center:before {
  content: "\E053";
}
.gh-align-right:before {
  content: "\E054";
}
.gh-align-justify:before {
  content: "\E055";
}
.gh-list:before {
  content: "\E056";
}
.gh-indent-left:before {
  content: "\E057";
}
.gh-indent-right:before {
  content: "\E058";
}
.gh-facetime-video:before {
  content: "\E059";
}
.gh-picture:before {
  content: "\E060";
}
.gh-pencil:before {
  content: "\270F";
}
.gh-map-marker:before {
  content: "\E062";
}
.gh-adjust:before {
  content: "\E063";
}
.gh-tint:before {
  content: "\E064";
}
.gh-edit:before {
  content: "\E065";
}
.gh-share:before {
  content: "\E066";
}
.gh-check:before {
  content: "\E067";
}
.gh-move:before {
  content: "\E068";
}
.gh-step-backward:before {
  content: "\E069";
}
.gh-fast-backward:before {
  content: "\E070";
}
.gh-backward:before {
  content: "\E071";
}
.gh-play:before {
  content: "\E072";
}
.gh-pause:before {
  content: "\E073";
}
.gh-stop:before {
  content: "\E074";
}
.gh-forward:before {
  content: "\E075";
}
.gh-fast-forward:before {
  content: "\E076";
}
.gh-step-forward:before {
  content: "\E077";
}
.gh-eject:before {
  content: "\E078";
}
.gh-chevron-left:before {
  content: "\E079";
}
.gh-chevron-right:before {
  content: "\E080";
}
.gh-plus-sign:before {
  content: "\E081";
}
.gh-minus-sign:before {
  content: "\E082";
}
.gh-remove-sign:before {
  content: "\E083";
}
.gh-ok-sign:before {
  content: "\E084";
}
.gh-question-sign:before {
  content: "\E085";
}
.gh-info-sign:before {
  content: "\E086";
}
.gh-screenshot:before {
  content: "\E087";
}
.gh-remove-circle:before {
  content: "\E088";
}
.gh-ok-circle:before {
  content: "\E089";
}
.gh-ban-circle:before {
  content: "\E090";
}
.gh-arrow-left:before {
  content: "\E091";
}
.gh-arrow-right:before {
  content: "\E092";
}
.gh-arrow-up:before {
  content: "\E093";
}
.gh-arrow-down:before {
  content: "\E094";
}
.gh-share-alt:before {
  content: "\E095";
}
.gh-resize-full:before {
  content: "\E096";
}
.gh-resize-small:before {
  content: "\E097";
}
.gh-plus:before {
  content: "\002B";
}
.gh-minus:before {
  content: "\2212";
}
.gh-asterisk:before {
  content: "\002A";
}
.gh-exclamation-sign:before {
  content: "\E101";
}
.gh-gift:before {
  content: "\E102";
}
.gh-leaf:before {
  content: "\E103";
}
.gh-fire:before {
  content: "\1F525";
}
.gh-eye-open:before {
  content: "\E105";
}
.gh-eye-close:before {
  content: "\E106";
}
.gh-warning-sign:before {
  content: "\E107";
}
.gh-plane:before {
  content: "\E108";
}
.gh-calendar:before {
  content: "\1F4C5";
}
.gh-random:before {
  content: "\E110";
}
.gh-comments:before {
  content: "\E111";
}
.gh-magnet:before {
  content: "\E112";
}
.gh-chevron-up:before {
  content: "\E113";
}
.gh-chevron-down:before {
  content: "\E114";
}
.gh-retweet:before {
  content: "\E115";
}
.gh-shopping-cart:before {
  content: "\E116";
}
.gh-folder-close:before {
  content: "\E117";
}
.gh-folder-open:before {
  content: "\E118";
}
.gh-resize-vertical:before {
  content: "\E119";
}
.gh-resize-horizontal:before {
  content: "\E120";
}
.gh-hdd:before {
  content: "\E121";
}
.gh-bullhorn:before {
  content: "\E122";
}
.gh-bell:before {
  content: "\1F514";
}
.gh-certificate:before {
  content: "\E124";
}
.gh-thumbs-up:before {
  content: "\E125";
}
.gh-thumbs-down:before {
  content: "\E126";
}
.gh-hand-right:before {
  content: "\E127";
}
.gh-hand-left:before {
  content: "\E128";
}
.gh-hand-top:before {
  content: "\E129";
}
.gh-hand-down:before {
  content: "\E130";
}
.gh-circle-arrow-right:before {
  content: "\E131";
}
.gh-circle-arrow-left:before {
  content: "\E132";
}
.gh-circle-arrow-top:before {
  content: "\E133";
}
.gh-circle-arrow-down:before {
  content: "\E134";
}
.gh-globe:before {
  content: "\E135";
}
.gh-wrench:before {
  content: "\1F527";
}
.gh-tasks:before {
  content: "\E137";
}
.gh-filter:before {
  content: "\E138";
}
.gh-briefcase:before {
  content: "\1F4BC";
}
.gh-fullscreen:before {
  content: "\E140";
}
.gh-dashboard:before {
  content: "\E141";
}
.gh-paperclip:before {
  content: "\1F4CE";
}
.gh-heart-empty:before {
  content: "\E143";
}
.gh-link:before {
  content: "\E144";
}
.gh-phone:before {
  content: "\E145";
}
.gh-pushpin:before {
  content: "\1F4CC";
}
.gh-euro:before {
  content: "\20AC";
}
.gh-usd:before {
  content: "\E148";
}
.gh-gbp:before {
  content: "\E149";
}
.gh-sort:before {
  content: "\E150";
}
.gh-sort-by-alphabet:before {
  content: "\E151";
}
.gh-sort-by-alphabet-alt:before {
  content: "\E152";
}
.gh-sort-by-order:before {
  content: "\E153";
}
.gh-sort-by-order-alt:before {
  content: "\E154";
}
.gh-sort-by-attributes:before {
  content: "\E155";
}
.gh-sort-by-attributes-alt:before {
  content: "\E156";
}
.gh-unchecked:before {
  content: "\E157";
}
.gh-expand:before {
  content: "\E158";
}
.gh-collapse:before {
  content: "\E159";
}
.gh-collapse-top:before {
  content: "\E160";
}
.gh-log_in:before {
  content: "\E161";
}
.gh-flash:before {
  content: "\E162";
}
.gh-log_out:before {
  content: "\E163";
}
.gh-new_window:before {
  content: "\E164";
}
.gh-record:before {
  content: "\E165";
}
.gh-save:before {
  content: "\E166";
}
.gh-open:before {
  content: "\E167";
}
.gh-saved:before {
  content: "\E168";
}
.gh-import:before {
  content: "\E169";
}
.gh-export:before {
  content: "\E170";
}
.gh-send:before {
  content: "\E171";
}
.gh-floppy_disk:before {
  content: "\E172";
}
.gh-floppy_saved:before {
  content: "\E173";
}
.gh-floppy_remove:before {
  content: "\E174";
}
.gh-floppy_save:before {
  content: "\E175";
}
.gh-floppy_open:before {
  content: "\E176";
}
.gh-credit_card:before {
  content: "\E177";
}
.gh-transfer:before {
  content: "\E178";
}
.gh-cutlery:before {
  content: "\E179";
}
.gh-header:before {
  content: "\E180";
}
.gh-compressed:before {
  content: "\E181";
}
.gh-earphone:before {
  content: "\E182";
}
.gh-phone_alt:before {
  content: "\E183";
}
.gh-tower:before {
  content: "\E184";
}
.gh-stats:before {
  content: "\E185";
}
.gh-sd_video:before {
  content: "\E186";
}
.gh-hd_video:before {
  content: "\E187";
}
.gh-subtitles:before {
  content: "\E188";
}
.gh-sound_stereo:before {
  content: "\E189";
}
.gh-sound_dolby:before {
  content: "\E190";
}
.gh-sound_5_1:before {
  content: "\E191";
}
.gh-sound_6_1:before {
  content: "\E192";
}
.gh-sound_7_1:before {
  content: "\E193";
}
.gh-copyright_mark:before {
  content: "\E194";
}
.gh-registration_mark:before {
  content: "\E195";
}
.gh-cloud:before {
  content: "\2601";
}
.gh-cloud_download:before {
  content: "\E197";
}
.gh-cloud_upload:before {
  content: "\E198";
}
.gh-tree_conifer:before {
  content: "\E199";
}
.gh-tree_deciduous:before {
  content: "\E200";
}
