/**
 * @provides phui-oi-big-ui-css
 * @requires phui-oi-list-view-css
 */

.phui-oi-list-big ul.phui-oi-list-view  {
  margin: 0;
  padding: 20px;
}

.phui-oi-list-big .phui-oi-no-bar .phui-oi-frame {
  border: 0;
}

.phui-oi-list-big .phui-oi-image-icon {
  margin: 12px 2px 12px;
  text-align: center;
}

.phui-oi-list-big .phui-oi-image-icon .phui-icon-view {
  position: relative;
}

.phui-oi-list-big a.phui-oi-link {
  color: {$blacktext};
  font-size: {$biggestfontsize};
}

.phui-oi-list-big .phui-oi-name {
  padding-top: 6px;
}

.phui-oi-list-big .phui-oi-launch-button a.button {
  font-size: {$normalfontsize};
  padding: 3px 12px 4px;
}

.device-desktop .phui-oi-list-big .phui-oi {
  margin-bottom: 8px;
}

.phui-oi-list-big .phui-oi-col0 {
  vertical-align: top;
  padding: 0;
}

.phui-oi-list-big .phui-oi-status-icon {
  padding: 5px;
}

.phui-oi-list-big .phui-oi-visited a.phui-oi-link {
  color: {$violet};
}

.phui-box-white-config .phui-oi-list-big.phui-oi-list-view {
  padding: 8px 8px 4px;
}

.phui-box-white-config .phui-oi-frame {
  padding: 4px 8px 0;
}

.device-desktop .phui-box-white-config .phui-oi:hover .phui-oi-frame {
  background-color: {$hoverblue};
  border-radius: 3px;
}

.phui-oi-list-big .phui-oi-frame {
  padding: 2px 8px;
}

.phui-oi-list-big .phui-oi-linked-container {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.phui-oi-list-big .phui-oi-enabled.phui-oi-linked-container {
  border-color: {$lightblueborder};
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.phui-oi-list-big .phui-oi-disabled.phui-oi-linked-container {
  border-color: {$greybackground};
}

.phui-oi-list-big .phui-oi-disabled .phui-oi-image-icon .phui-icon-view {
  color: {$darkgreybackground};
}

.device-desktop .phui-oi-linked-container {
  cursor: pointer;
}

.device-desktop .phui-oi-enabled.phui-oi-linked-container:hover {
  background-color: {$hoverblue};
  border-color: {$blueborder};
}

.device-desktop .phui-oi-linked-container a:hover {
  text-decoration: none;
}

/* Spacing for InfoView inside an object item list, like MFA setup. */
.phui-oi .phui-info-view {
  margin: 0 4px 4px;
}
