/**
 * @provides phame-blog-post-list-css
 */

.blog-post-list {
  clear: left;
  float: left;
  width: 70%;
  margin: 16px 0px 16px 16px;
  padding: 12px 8px 12px 8px;
}

.device-tablet .blog-post-list,
.device-phone .blog-post-list {
  float: none;
  width: 90%;
  margin: 16px auto;
}
