/**
 * @provides phabricator-countdown-css
 */

.phabricator-timer {
  margin: 16px 16px 0 16px;
}

.device .phabricator-timer {
  margin-left: 8px;
  margin-right: 8px;
}

.phabricator-remarkup .phabricator-timer-view {
  max-width: 460px;
  margin: 0 0 12px 0;
}

.phabricator-timer .countdown-description {
  border-bottom: 1px solid {$thinblueborder};
  padding-bottom: 16px;
}

.device-phone .phabricator-remarkup .phabricator-timer {
  width: auto;
}

.phabricator-timer-table {
  width: 100%;
  margin: 8px 0 0 0;
}

.phabricator-timer-table th {
  text-align: center;
  font-size: {$biggerfontsize};
  color: {$bluetext};
  width: 10%;
  padding: 4px;
}

.phabricator-timer-table td {
  padding: 4px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  overflow: hidden;
  line-height: auto;
  height: auto;
  line-height: 44px;
}

.phabricator-timer-table td.phabricator-timer-foot {
  font-size: {$biggerfontsize};
  line-height: 16px;
  border-top: 1px solid {$thinblueborder};
  color: {$bluetext};
  padding: 12px 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
}

.phabricator-timer-table small {
  color: {$lightgreytext};
}
