/**
 * @provides phabricator-countdown-css
 */

.phabricator-timer {
  margin: 16px;
  border: 1px solid {$lightblueborder};
  border-radius: 4px;
  background: #ffffff;
}

.phabricator-remarkup .phabricator-timer {
  width: 360px;
  margin: 0 0 12px 0;
}

.phabricator-timer-header {
  font-size: {$biggerfontsize};
  font-weight: bold;
  padding: 4px 8px;
  background: {$bluebackground};
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid {$lightblueborder};
}

.phabricator-timer-table {
  width: 100%;
  margin: 8px 0;
}

.phabricator-timer-table th {
  text-align: center;
  color: {$greytext};
  width: 10%;
  padding: 4px;
}

.phabricator-timer-table td {
  padding: 4px;
  text-align: center;
  font-size: 36px;
  overflow: hidden;
  line-height: auto;
  height: auto;
  line-height: 36px;
}

.phabricator-timer-table small {
  color: {$lightgreytext};
}
