/**
 * @provides tokens-css
 */

button.token-button {
  background: #f6f6f6;
  border: 1px solid #333333;
  position: relative;
  width: 16px;
  height: 16px;
  padding: 16px;
  margin: 8px;
  text-shadow: none;
  box-shadow: none;
  box-sizing: content-box;
}

.token-grid {
  text-align: center;
}
