/**
 * @provides people-picture-menu-item-css
 */

.people-menu-image {
  width: 160px;
  height: 160px;
}

.people-menu-image-container {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba({$alphablue},.2);
  margin: 4px 0px 16px 20px;
  display: inline-block;
}
