/**
 * @provides phabricator-profile-css
 */

.phabricator-profile-master-layout {
  width: 100%;
}

.phabricator-profile-navigation {
  width: 300px;
  background: #efefef;
  border-right: 1px solid #cccccc;
}

.phabricator-profile-content {
  padding: 2em 2%;
}

.phabricator-profile-info-group {
  margin-bottom: 2em;
  background: #efefef;
  border-top: 1px solid #cccccc;
}

.phabricator-profile-info-header {
  padding: 8px;
  background: #dfdfdf;
}

.phabricator-profile-info-pane {
  padding: 8px 2em;
}

.phabricator-profile-info-table {
  width: 100%;
}

.phabricator-profile-info-table th {
  font-weight: bold;
  text-align: right;
  color: #666666;
  width: 10%;
  padding: 4px;
}

.phabricator-profile-info-table td {
  width: 100%;
  padding: 4px;
}

.phabricator-profile-navigation hr {
  border: none;
  background: #cccccc;
  padding: 0;
  margin: 10px 0;
  height: 1px;
}

.phabricator-profile-navigation {
  padding-top: 8px;
  padding-bottom: 8em;
}

.phabricator-profile-navigation h1,
.phabricator-profile-navigation h2 {
  padding: 2px 8px;
}

h2.profile-realname {
  color: #666666;
}

img.profile-image {
  width: 280px;
  margin: 10px;
}

ul.profile-nav-links li a {
  display: block;
  padding: 4px 8px 4px 12px;
  font-weight: bold;
}

ul.profile-nav-links li a:hover {
  background: #cccccc;
}
