/**
 * @provides maniphest-task-summary-css
 */

.maniphest-task-group {
  padding-bottom: 30px;
}

.maniphest-batch-selected td {
  background: #fff;
}

.device-phone .maniphest-task-batch,
.device-phone .maniphest-task-updated {
  display: none;
}

.maniphest-task-group-header {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  padding: 0 0 8px 0;
}

.maniphest-total-result-count {
  text-align: right;
  padding: 5px 20px 0 0;
  font-size: 11px;
  color: #777;
}

.device-phone .maniphest-total-result-count {
  padding-right: 5px;
}

.batch-editor-header {
  font-size: 16px;
  color: #555;
  padding: 8px 0px;
  font-weight: bold;
}

/* TODO: Implement */
.device-phone .maniphest-batch-editor {
  display: none;
}

.maniphest-batch-editor-layout {
  width: 100%;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #c0c5d1;
  background: #fff;
}

.maniphest-batch-editor-layout td {
  padding: 10px 8px;
  white-space: nowrap;
}

.maniphest-batch-editor-layout a.button,
.maniphest-batch-editor-layout button {
  margin: 0px 4px;
}

.maniphest-batch-editor-layout .batch-select-submit-cell {
  text-align: right;
}

#batch-select-status-cell {
  text-align: right;
  color: #666666;
  font-size: 11px;
  vertical-align: middle;
  width: 100%;
}

.maniphest-subpriority-target {
  position: relative;
  border: 1px dashed #aaaaaa;
  background: #f9f9f9;
  margin: 4px;
}

.maniphest-task-loading {
  opacity: 0.75;
}

.maniphest-task-dragging {
  position: relative;
  opacity: 0.90;
}

.maniphest-list-container {
  padding: 20px;
}

.device-phone .maniphest-list-container {
  padding: 20px 5px;
}
