/**
 * @provides maniphest-task-summary-css
 */

.maniphest-task-summary {
  border: solid #aaaaaa;
  border-width: 1px 0;
  width: 100%;
  margin: 2px 0;
  border-collapse: separate;
  border-spacing: 0 0px;
}

.maniphest-task-summary td {
  padding: 4px 0.5%;
  background: #f0f0f0;
  white-space: nowrap;
}

.maniphest-task-summary td.maniphest-task-number {
  font-weight: bold;
  color: #444444;
  width: 1%;
  min-width: 80px;
  border-left-width: 3px;
  border-left-style: solid;
}

.maniphest-task-summary td.maniphest-task-status {
  width: 6%;
  text-align: center;
  min-width: 75px;
}

.maniphest-task-summary td.maniphest-task-owner {
  width: 11%;
}

.maniphest-task-summary td.maniphest-task-name {
  overflow: hidden;
  font-weight: bold;
  white-space: normal;
}

.maniphest-task-summary td.maniphest-task-priority {
  width: 11%;
  min-width: 120px;
}

.maniphest-task-summary td.maniphest-task-updated {
  text-align: left;
  width: 13%;
  min-width: 160px;
}

.maniphest-task-summary .pri-bullet {
}

.maniphest-task-summary .pri-unbreak {
  border-color: #ff0000;
}

.maniphest-task-summary .pri-triage {
  border-color: #ee00ee;
}

.maniphest-task-summary .pri-high {
  border-color: #ff6666;
}

.maniphest-task-summary .pri-normal {
  border-color: #ffaa66;
}

.maniphest-task-summary .pri-low {
  border-color: #eecc66;
}

.maniphest-task-summary .pri-wish {
  border-color: #0099ff;
}

.maniphest-task-group-header {
  font-size: 18px;
  margin: 1.5em 14px 0;
  border-bottom: 1px solid #dddddd;
}
