/**
 * @provides maniphest-task-detail-css
 */

.maniphest-panel {
  margin:       .5em 2em .25em;
  border:       1px solid #666622;
  background:   #efefdf;
  padding:      15px 20px;
  font-size:    13px;
}

.maniphest-panel h1 {
  border-bottom: 1px solid #aaaa99;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.maniphest-task-properties {
  font-size: 12px;
  width:    100%;
  table-layout: fixed;
}

.maniphest-task-properties tt {
  letter-spacing: 1.1px;
}

.maniphest-task-properties th {
  font-weight:    bold;
  width:          100px;
  text-align:     right;
  padding:        3px 4px 3px 3px;
  color:          #333333;
}

.maniphest-task-properties td {
  padding: 3px 2px;
}

.maniphest-task-detail-core {
  margin-right: 265px;
}

.maniphest-task-detail-core .create-button-container {
  float:right;
  margin-top:-0.5em;
}
