/**
 * @provides maniphest-task-summary-css
 */

.maniphest-task-summary {
  width: 100%;
  margin: 4px 0;
  border-collapse: collapse;

  font-size: 13px;
  color: #222222;
}

.maniphest-task-summary td {
  padding: 4px 6px;
  background: #f6f6f6;
  white-space: nowrap;

  border-style: solid;
  border-top-color: #888888;
  border-bottom-color: #666666;
  border-width: 1px 0;
}

.maniphest-batch-selected td {
  background: #f6ff88;
}

.maniphest-task-summary td.maniphest-task-handle {
  padding: 0 6px;
  width: 1px;

  border-right-width: 1px;
  border-right-color: #787878;
}

.maniphest-task-summary td.maniphest-task-batch {
  width: 30px;
  text-align: center;
}

.maniphest-task-summary td.maniphest-task-batch,
.maniphest-task-summary td.maniphest-task-batch input {
  cursor: pointer;
}

.maniphest-task-summary td.maniphest-task-number {
  font-weight: bold;
  color: #444444;
  width: 60px;
}

.maniphest-task-summary td.maniphest-task-status {
  width: 80px;
  text-align: center;
}

.maniphest-task-summary td.maniphest-task-owner {
  width: 100px;
}

.maniphest-task-summary td.maniphest-task-name {
  overflow: hidden;
  font-weight: bold;
  white-space: normal;
}

.maniphest-task-summary td.maniphest-task-priority {
  width: 100px;
}

.maniphest-task-summary td.maniphest-task-updated {
  text-align: left;
  width: 180px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #787878;
}

.maniphest-task-summary .pri-bullet {
}

.maniphest-task-summary .pri-unbreak {
  border-color: #ff0000;
  background: #ff0000;
}

.maniphest-task-summary .pri-triage {
  border-color: #ee00ee;
  background: #ee00ee;
}

.maniphest-task-summary .pri-high {
  border-color: #ff6622;
  background: #ff6622;
}

.maniphest-task-summary .pri-normal {
  border-color: #ffaa66;
  background: #ffaa66;
}

.maniphest-task-summary .pri-low {
  border-color: #eecc66;
  background: #eecc66;
}

.maniphest-task-summary .pri-wish {
  border-color: #0099ff;
  background: #0099ff;
}

.maniphest-task-group-header {
  font-size: 18px;
  margin: 1em 0;
  border-bottom: 1px solid #dddddd;
}

.maniphest-total-result-count {
  text-align: right;
  padding-right: 2em;
  font-size: 11px;
  color: #666666;
}

.batch-editor-header {
  font-size: 11px;
  color: #666666;
  padding: 4px 0px;
  font-weight: bold;
}

.maniphest-batch-editor {
  margin: 1em 1em;
}

.maniphest-batch-editor-layout {
  width: 100%;
  border-top: 1px solid #bbbbbb;
  background: #efefef;
}

.maniphest-batch-editor-layout td {
  padding: 6px 8px;
  white-space: nowrap;
}

.maniphest-batch-editor-layout a.button,
.maniphest-batch-editor-layout button {
  margin: 0px 4px;
}

.maniphest-batch-editor-layout .batch-select-submit-cell {
  text-align: right;
}

#batch-select-status-cell {
  text-align: right;
  color: #666666;
  font-size: 11px;
  vertical-align: middle;
  width: 100%;
}

.maniphest-list-container {
  padding: 0 1em;
}
