/**
 * @provides maniphest-task-summary-css
 */

.maniphest-task-group + .maniphest-task-group {
  padding-top: 24px;
}

.maniphest-batch-selected td {
  background: #fff;
}

.device-phone .maniphest-task-batch,
.device-phone .maniphest-task-updated {
  display: none;
}

.maniphest-task-group-header {
  font-size: 16px;
  font-weight: bold;
  color: {$darkgreytext};
  padding: 0 0 8px 0;
}

.maniphest-total-result-count {
  text-align: right;
  padding: 5px 20px 0 0;
  font-size: 11px;
  color: {$greytext};
}

.device-phone .maniphest-total-result-count {
  padding-right: 5px;
}

.batch-editor-header {
  font-size: 16px;
  color: {$darkgreytext};
  padding: 8px 0px;
  font-weight: bold;
}

/* TODO: Implement */
.device-phone .maniphest-batch-editor {
  display: none;
}

.maniphest-batch-editor {
  padding-top: 24px;
}

.maniphest-batch-editor-layout {
  width: 100%;
  border: 1px solid #e7e7e7;
  border-bottom: 1px solid {$greyborder};
  background: #fff;
}

.maniphest-batch-editor-layout td {
  padding: 10px 8px;
  white-space: nowrap;
}

.maniphest-batch-editor-layout a.button,
.maniphest-batch-editor-layout button {
  margin: 0px 4px;
}

.maniphest-batch-editor-layout .batch-select-submit-cell {
  text-align: right;
}

#batch-select-status-cell {
  text-align: right;
  color: {$greytext};
  font-size: 11px;
  vertical-align: middle;
  width: 100%;
}

.maniphest-list-container {
  padding: 16px;
}

.device-phone .maniphest-list-container {
  padding: 20px 8px;
}

.maniphest-board-link {
  color: {$bluetext};
}

/* - Dashboards ------------------------------------------------------------ */

.dashboard-panel .maniphest-list-container {
  padding: 0;
}

.dashboard-panel .maniphest-task-group + .maniphest-task-group {
  padding-top: 0;
}

.dashboard-panel .maniphest-task-group-header {
  border-left: 1px solid {$lightblueborder};
  border-right: 1px solid {$lightblueborder};
}
