/**
 * @provides maniphest-task-summary-css
 */

.maniphest-task-summary {
  border: 1px solid #aaaaaa;
  width: 100%;
  margin: 2px 0;
  border-collapse: separate;
  border-spacing: 1px;
}

.maniphest-task-summary td {
  padding: 4px 0.5%;
  background: #f0f0f0;
  white-space: nowrap;
}

.maniphest-task-summary td.maniphest-task-number {
  font-weight: bold;
  color: #444444;
  width: 1%;
  min-width: 80px;
}

.maniphest-task-summary td.maniphest-task-status {
  width: 6%;
  text-align: center;
  min-width: 75px;
}

.maniphest-task-summary td.maniphest-task-owner {
  width: 11%;
}

.maniphest-task-summary td.maniphest-task-name {
  overflow: hidden;
  font-weight: bold;
}

.maniphest-task-summary td.maniphest-task-priority {
  width: 11%;
  min-width: 120px;
}

.maniphest-task-summary td.maniphest-task-updated {
  text-align: left;
  width: 11%;
  min-width: 120px;
}

.maniphest-task-summary .pri-bullet {
}

.maniphest-task-summary .pri-unbreak {
  color: #aa0000;
}

.maniphest-task-summary .pri-triage {
  color: #dd00dd;
}
.maniphest-task-summary .pri-high {
  color: #ff6666;
}
.maniphest-task-summary .pri-normal {
  color: #ffaa66;
}
.maniphest-task-summary .pri-low {
  color: #ffcc66;
}
.maniphest-task-summary .pri-wish {
  color: #0099ff;
}



.maniphest-basic-search-view {
  background: #888888;
  border-bottom: 1px solid #bbbbbb;
}

.maniphest-basic-search-actions {
  float: right;
  width: 200px;
  padding: 10px;
}

.maniphest-basic-search-options {
  margin-right: 225px;
  background: #f0f0f0;
  padding: 6px 0;
}

.maniphest-basic-search-options-table th {
  padding: 6px 4px;
  text-align: right;
  width: 100px;
  font-weight: bold;
  color: #333333;
}

.maniphest-basic-search-options-table td {
  padding: 6px 4px;
}

.maniphest-task-group-header {
  font-size: 18px;
  margin: 1.5em 14px 0;
  border-bottom: 1px solid #dddddd;
}
