/**
 * @provides maniphest-transaction-detail-css
 */

.maniphest-transaction-list-view {
  padding: 0 20px;;
}

.device-phone .maniphest-transaction-list-view {
  padding: 0 10px;
}

.maniphest-transaction-list-view .anchor-target {
  background-color: #ffffdd;
  border-color: #ffff00;
}

.phabricator-transaction-view .upforgrab {
  border-color: #cc9966;
}

.phabricator-transaction-view .reassigned {
  border-color: #0099aa;
}

.phabricator-transaction-view .assigned {
  border-color: #0099aa;
}

.phabricator-transaction-view .claimed {
  border-color: #0099aa;
}

.phabricator-transaction-view .created {
  border-color: #660099;
}

.phabricator-transaction-view .closed {
  border-color: #006699;
}

.phabricator-transaction-view .spited {
  border-color: #006699;
}

.phabricator-transaction-view .reopened {
  border-color: #660099;
}

.phabricator-transaction-view .unbreaknow {
  border-color: #aa0000;
}

.phabricator-transaction-view .duplicate {
  border-color: #333333;
}

.maniphest-change-table {
  width: 100%;
  margin: .5em 0em;
  border-collapse: separate;
  border-spacing: 4px 0px;
}

.maniphest-change-table td {
  width: 50%;
  padding: 0.25em 1em;
  background: #f9f9f9;
}

.maniphest-change-table th {
  font-weight: bold;
  padding: 0.25em;
  border-bottom: 1px solid #cccccc;
}
