/**
 * @provides maniphest-transaction-detail-css
 */

.maniphest-transaction-detail-container {
  margin: 2px 1em 3px;
  background: 0px 0px no-repeat;
  min-height: 50px;
}

.maniphest-transaction-header {
  background: #e6e6e6;
  padding: 4px 1em;
}

.maniphest-transaction-header a {
  font-weight: bold;
}

.maniphest-transaction-detail-view {
  margin-left: 54px;
  border: 1px solid #bbbbbb;
  border-width: 1px 0 0;
  min-height: 40px;
}

.maniphest-transaction-timestamp {
  float: right;
  font-size: 11px;
  color: #666666;
}

.maniphest-transaction-comments {
  padding: 4px 1em;
  background: #f3f3f3;
}


.maniphest-task-description p,
.maniphest-transaction-comments p {
  margin: .25em 0 .5em;
}
