/**
 * @provides maniphest-transaction-detail-css
 */

.maniphest-transaction-detail-container {
  margin: 1em 2em 1.25em;
  background: 0px 2px no-repeat;
  min-height: 50px;
  padding: 2px 0px;
}

.maniphest-transaction-list-view .anchor-target {
  background-color: #ffffdd;
  border-color: #ffff00;
}

.maniphest-transaction-detail-container .upforgrab {
  border-color: #cc9966;
}

.maniphest-transaction-detail-container .reassigned {
  border-color: #0099aa;
}

.maniphest-transaction-detail-container .assigned {
  border-color: #0099aa;
}

.maniphest-transaction-detail-container .claimed {
  border-color: #0099aa;
}

.maniphest-transaction-detail-container .created {
  border-color: #660099;
}

.maniphest-transaction-detail-container .closed {
  border-color: #006699;
}

.maniphest-transaction-detail-container .spited {
  border-color: #006699;
}

.maniphest-transaction-detail-container .reopened {
  border-color: #660099;
}

.maniphest-transaction-detail-container .unbreaknow {
  border-color: #aa0000;
}

.maniphest-transaction-detail-container .duplicate {
  border-color: #333333;
}

.maniphest-transaction-header {
  background: #f3f3f3;
  padding: 4px 1em;
}

.maniphest-transaction-header a {
  font-weight: bold;
}

.maniphest-transaction-detail-view {
  margin-left: 54px;
  border-color: #dddddd;
  border-width: 1px 10px;
  border-style: solid;
}

.maniphest-transaction-timestamp {
  float: right;
  font-size: 11px;
  color: #666666;
}

.maniphest-transaction-comments {
  border-top: 1px solid #e6e6e6;
  padding: 4px 1em;
  background: #fcfcfc;
  overflow: auto;
}

.maniphest-change-table {
  width: 100%;
  margin: .5em 0em;
  border-collapse: separate;
  border-spacing: 4px 0px;
}

.maniphest-change-table td {
  width: 50%;
  padding: 0.25em 1em;
  background: #f9f9f9;
}

.maniphest-change-table th {
  font-weight: bold;
  padding: 0.25em;
  border-bottom: 1px solid #cccccc;
}
