/**
 * @provides ponder-comment-table-css
 */


.ponder-comments {
  width: 480px;
  margin: 5px 0 0 60px;
}

.device .ponder-comments {
  width: 100%;
  margin: 5px 0 0 0;
}

.ponder-comments th {
  width: 0px;
  height: 0px;
}

.ponder-comments td {
  vertical-align: top;
  padding: 6px;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
}

.ponder-datestamp {
  font-size: 11px;
  color: #777;
}

.ponder-label {
  display: block;
  width: 100%;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin: 0px 0px 6px;
  padding: 6px 4px;
  background: #ccc;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}

td .aphront-form-control {
  padding: 0;
}

td .aphront-form-control-submit {
  display: block;
}

td .aphront-form-input {
  margin: 0;
  width: 100%;
}

td .aphront-form-control textarea {
  height: 50px;
}

.ponder-comment-markup p {
  margin: 0 0 5px 0;
}

.ponder-comment-markup h2,
.ponder-comment-markup h3,
.ponder-comment-markup h4,
.ponder-comment-markup h5 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}
