/**
 * @provides ponder-core-view-css
 */

.ponder-primary-pane {
  margin:           0 0 0 2em;
  padding-bottom:   2em;
  max-width:        800px;
}

.ponder-panel {
  max-width:    800px;
  padding-left : 30px;
  border : none;
  background : white;
}

.ponder-panel h1 {
  margin-left : -30px;
  margin-right : -50px;
  margin-bottom: 0px;
  padding-bottom : 4px;
  font-size : 1.5em;
  border-bottom : 1px solid #AAA;
}

.ponder-panel .aphront-form-view {
  border : none;
  background : none;
}
