/**
 * @provides ponder-feed-view-css
 */

.ponder-question-summary {
  width: 100%;
  background: #DFDFE3;
  float: left;
  clear: both;
  margin-top: 1px;
  padding: 1px;
}

.ponder-answer-summary {
  width : 100%;
  background : #DFDFE3;
  float : left;
  clear : both;
  margin-top : 1px;
  padding : 1px;
}

.ponder-summary-votes {
  width : 50px;
  height : 36pt;
  font-size : 18pt;
  text-align : center;
  background : #EEE;
  border : 1px solid #BBB;
  float : left;
  margin : 2px;
  padding-top : 2px;
}

.ponder-summary-answers {
  width : 50px;
  height : 36pt;
  font-size : 18pt;
  text-align : center;
  background : #EEE;
  border : 1px solid #BBB;
  float : left;
  margin : 2px;
  padding-top : 2px;
}

.ponder-question-label {
  font-size : 6pt;
}

h2.ponder-question-title {
  font-size : 12pt;
  margin : 2px;
  padding : 0;
}

h2.ponder-answer-title {
  font-size : 12pt;
  margin : 2px;
  padding : 0;
}

.ponder-metadata {
  padding-left : 5px;
  width : 650px;
  float : left;
}

.ponder-small-metadata {
  font-size : 7.5pt;
  color : #555;
  margin : 0;
  text-align : right;
}
