/**
 * @provides ponder-view-css
 */

.ponder-show-comments {
  text-align: center;
  padding: 8px;
  margin: 0 16px;
  float: right;
  font-weight: bold;
  background: #fff;
  border-bottom: 1px solid {$blueborder};
  border-left: 1px solid {$lightblueborder};
  border-right: 1px solid {$lightblueborder};
}

.device-desktop .ponder-comments-view {
  width: 90%;
  margin: 0 auto;
}
