/**
 * @provides ponder-post-css
 */

.ponder-post-list {
  max-width: 1162px;
}

.ponder-add-answer-panel {
  max-width: 1162px;
}

.ponder-post-list .anchor-target {
  background-color: #ffffdd;
  border-color: #ffff00;
}

.ponder-post-core .phabricator-remarkup .remarkup-code-block {
   width: 88ex;
   width: 81ch;
}

.ponder-question {
   background: white;
}
