/**
 * @provides ponder-vote-css
 */

.ponder-votebox {
  text-align: center;
}

.ponder-votebox a {
  font-size: 20px;
  line-height: 20px;
  display: block;

  text-decoration: none;
  color: #999999;
  font-weight: normal;

  /* Our default fonts have weirdly different up/down arrow sizes. */
  font-family: Arial;
}

.ponder-votebox a:hover {
  color: #606060;
}

.ponder-votebox a.ponder-vote-active {
  color: #3b5998;
}

.ponder-votebox a.ponder-vote-active:hover {
  color: #a1bbe5;
}

.ponder-vote-count {
  color: #888888;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}




.ponder-votebox {
  float  : left;
  width  : 32px;
  height : 60px;
  margin-top : 56px;
  margin-left : 10px;
}

.ponder-votable .phabricator-transaction-view {
  margin : 0;
  padding : 0;
}

.ponder-votable .phabricator-transaction-detail {
  min-height : 90px;
}
