/**
 * @provides ponder-vote-css
 */

.ponder-votable {
  float: right;
  margin: 4px 0 4px 24px;
}

.ponder-votebox {
  border-radius: 4px;
  background: #f3f3f3;
  border: 1px solid #d7d7d7;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  width: 24px;
}

.ponder-votebox a {
  font-size: 20px;
  line-height: 24px;
  display: block;

  text-decoration: none;
  color: #aaaaaa;
  font-weight: normal;
}

.ponder-votebox a.ponder-vote-active {
  color: {$blue};
}

.ponder-votebox a:hover {
  color: #ffffff;
  background: {$blue};
}

.ponder-vote-count {
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
