/**
 * @provides phabricator-glyph-css
 */

.glyph {
  background-size: 26px auto;
  background-image: url(/rsrc/image/glyph_sprite.png);
}

@media only screen and (min-device-pixel-ratio: 2.0) {
  .glyph {
    background-image: url(/rsrc/image/glyph_sprite2x.png);
  }
}

.glyph-profile {
  background-position: 0 0;
}

.glyph-profile-active {
  background-position: 0 -26px;
}

.glyph-profile:hover {
  background-position: 0 -130px;
}

.glyph-settings {
  background-position: 0px -26px;
}

.glyph-settings-active {
  background-position: 0 0;
}

.glyph-settings:hover {
  background-position: 0 -156px;
}

.glyph-logout {
  background-position: 0 -52px;
}

.glyph-logout-active {
  background-position: 0 -52px;
}

.glyph-logout:hover {
  background-position: 0 -182px;
}
