/**
 * @provides phabricator-main-menu-view
 */


/* - Main Menu -----------------------------------------------------------------

  Main menu at the top of every page that has chrome. It reacts to resolution
  changes in order to behave reasonably on tablets and phones.

*/

.phabricator-main-menu {
  background: #2d3236;
  background-image: url(/rsrc/image/main_texture.png);
  background-repeat: repeat-x;
  position: relative;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  min-height: 44px;
}

.device-desktop .phabricator-main-menu {
  height: 44px;
}

.phabricator-main-menu a:hover {
  text-decoration: none;
}


/* - Logo ----------------------------------------------------------------------

  The "Phabricator" logo group in the main menu. On tablet and phone devices,
  this shows a "reveal" button to expand/collapse the rest of the menu.

*/

.device-desktop .phabricator-main-menu-group-logo {
  float: left;
}

.phabricator-main-menu-logo {
  display: inline-block;
  width: 139px;
  height: 44px;
  float: left;
  margin-right: 6px;
  padding-right: 6px;
  padding-left: 6px;
}

.phabricator-main-menu-logo:hover {
  background-color: #3a4247;
}

.phabricator-main-menu-logo-image {
  position: absolute;
  width: 139px;
  height: 25px;
  top: 9px;
}

.device .phabricator-main-menu-logo {
  display: none;
}

/* - Expand/Collapse Button ----------------------------------------------------

  On phones, the menu switches to a vertical layout and uses a button to expand
  or collapse the items.

*/

.phabricator-main-menu-expand-button {
  position: absolute;
  top: 7px;
  display: block;
  width: 40px;
  height: 28px;
  background-color: #22292d;
  border-radius: 6px;

  border: 1px solid #111111;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
                    0 1px 0 rgba(255, 255, 255, 0.075);
}

.phabricator-menu-button-icon {
  position: absolute;
  width: 24px;
  height: 20px;
  top: 5px;
  left: 8px;
}

.phabricator-expand-core-menu {
  left: 10px;
}

.phabricator-expand-application-menu {
  right: 10px;
}

.device-desktop .phabricator-main-menu-expand-button {
  display: none;
}

.device .phabricator-main-menu-expand-button {
  display: block;
}

.phabricator-core-menu-expanded .phabricator-expand-core-menu,
.phabricator-application-menu-expanded .phabricator-expand-application-menu {
  background-color: #55595d;
}




/* - Search --------------------------------------------------------------------

  The main search input in the menu bar.

*/

.device-desktop .phabricator-main-menu-search {
  width: 220px;
}

.phabricator-main-menu-search-container {
  padding: 10px 0;
  position: relative;
  height: 24px;
}

.phabricator-main-menu-search-target {
  position: absolute;
  top: 46px;
}

.device-desktop .phabricator-main-menu-search-target {
  width: 320px;
  margin-left: -150px;
}

.device .phabricator-main-menu-search-target {
  width: 100%;
  margin-left: -25px;

}

.device-desktop .phabricator-main-menu-search-container {
  margin: 0 8px 0 50px;
}

.device .phabricator-main-menu-search-container {
  padding: 0;
  margin: 0 18px 0 60px;
}

.phabricator-main-menu-search input {
  outline: 0;
  margin: 0;

  width: 100%;
  right: 0;
  position: absolute;

  border: 1px solid #333333;
  border-radius: 12px;
  background: #555555;
  height: 12px;
  line-height: 12px;
  box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.25);
  padding: 6px 32px 6px 10px;
}

.device .phabricator-main-menu-search input {
  height: 16px;
  font-size: 15px;
  border-radius: 15px;
}

.phabricator-main-menu-search input:focus {
  background: #c9c9c9;
}

.phabricator-main-menu-search input.jx-typeahead-placeholder {
  color: #999999;
}

.phabricator-main-menu-search button {
  position: absolute;
  color: transparent;
  background: transparent 5px 6px url(/rsrc/image/search.png) no-repeat;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  min-width: 0;

  height: 20px;
  width: 20px;
  top: 11px;
  right: 6px;
}

.device .phabricator-main-menu-search button {
  top: 3px;
}


.phabricator-main-menu-search-target div.jx-typeahead-results {
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
  border: 1px solid #33393d;
}

.phabricator-main-menu-search-target div.jx-typeahead-results a.jx-result {
  border: 0;
}

.phabricator-main-menu-search-target div.jx-typeahead-results a.focused,
.phabricator-main-menu-search-target div.jx-typeahead-results a:hover {
  background: #3875d7;
}

.phabricator-main-search-typeahead-result {
  display: block;
  padding: 4px 4px 4px 38px;
  background-position: 4px 4px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.phabricator-main-search-typeahead-result .result-name {
  display: block;
  font-weight: bold;
  color: #444444;
}

.focused .phabricator-main-search-typeahead-result .result-name,
a:hover .phabricator-main-search-typeahead-result .result-name {
  color: #eeeeee;
}

.phabricator-main-search-typeahead-result .result-type {
  color: #888888;
}

.focused .phabricator-main-search-typeahead-result .result-type,
a:hover .phabricator-main-search-typeahead-result .result-type {
  color: #dddddd;
}


/* - Alert ---------------------------------------------------------------------

  Alert menus are like icon menus but don't obey collapse rules.

*/

.device .phabricator-main-menu-alerts {
  margin-left: 60px;
}

.phabricator-main-menu-alerts {
  display: inline-block;
  border-radius: 15px;
  float: left;
  background: rgba(0,0,0,.2);
  height: 20px;
  padding: 3px 10px;
  margin-top: 9px;
}

.phabricator-main-menu-alert-icon,
.phabricator-main-menu-message-icon {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin: 2px 0 0 0;
}

.alert-notifications .phabricator-main-menu-message-icon {
  margin: 3px 0 0 8px;
}

.phabricator-main-menu-alert-count,
.phabricator-main-menu-message-count {
  font-weight: bold;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  display: none;
  float: left;
  margin-left: 3px;
}

.alert-unread .phabricator-main-menu-alert-count,
.message-unread .phabricator-main-menu-message-count  {
  display: block;
}

/* - Dark Menu -----------------------------------------------------------------

  Styles shared between the "core" menu (left button on mobile) and
  "application" menu (right button on mobile). These styles give the menu a
  white-on-black appearance.

*/

.device .phabricator-dark-menu,
.device .phabricator-dark-menu a.phabricator-menu-item-type-link {
  color: #fff;

}

.device .phabricator-dark-menu .phabricator-menu-item-type-label {
  text-transform: uppercase;
  font-size: 12px;
  background-color: #151719;
  padding: 0 0 0 12px;
  height: 25px;
  font-weight: bold;
}

.device .phabricator-dark-menu .phabricator-menu-item-type-label
  .phabricator-menu-item-name {
  display: block;
  padding: 6px 0 0;
}

.device .phabricator-dark-menu .phabricator-menu-item-type-link {
  border-width: 1px 0;
  border-style: solid;
  border-color: #34373b transparent #282c2d;
  background-image: url(/rsrc/image/texture/dark-menu.png);
  padding: 4px 0;
  display: block;
}


/* - Core Menu -----------------------------------------------------------------

  Styles unique to the core menu (left button on mobile).

*/

.phabricator-core-menu-icon {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
}

.phabricator-core-menu-profile-image {
  background-size: 28px 28px;
}

.device .phabricator-core-menu {
  display: none;
}

.device .phabricator-core-menu-expanded .phabricator-core-menu {
  display: block;
  padding-top: 44px;
}

.device .phabricator-dark-menu .phabricator-menu-item-type-link {
  font-size: 15px;
  min-height: 30px;
  line-height: 28px;
}

.device .phabricator-core-menu
   .phabricator-menu-item-type-link .phabricator-menu-item-name {
  margin-left: 40px;
}

.device-desktop .phabricator-core-menu {
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;
}

.device-desktop .phabricator-core-menu .phabricator-menu-item-name {
  display: none;
}

.device-desktop .phabricator-core-menu .phabricator-menu-item-view {
  display: block;
  float: left;
  position: relative;
  min-width: 38px;
  height: 44px;
}

.device-desktop .phabricator-core-menu .phabricator-core-item-device {
  display: none;
}

.device-desktop .phabricator-core-menu-icon {
  top: 9px;
  left: 6px;
}

.device .phabricator-core-menu-icon {
  left: 6px;
}

.device-desktop .phabricator-core-menu .phabricator-core-menu-item-profile {
  border-width: 0 1px;
  border-style: solid;
  border-color: #44494d;
  margin: 0 8px;
}


/* - Application Menu ----------------------------------------------------------

  Styles unique to the application menu (right button on mobile).

*/

.device .phabricator-application-menu-expanded .phabricator-application-menu {
  display: block;
  padding-top: 44px;
}

.phabricator-application-menu {
  display: none;
}

.phabricator-application-menu .phabricator-menu-item-type-link
  .phabricator-menu-item-name {
  padding-left: 12px;
}
