/**
 * @provides phabricator-notification-menu-css
 */

.phabricator-notification-menu {
  background: #ffffff;
  font-size: 11px;
  word-wrap: break-word;
  overflow-y: auto;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  border: 2px solid #33393d;
  border-top-width: 0;
  border-radius: 3px;
}

.phabricator-notification-menu-loading {
  text-align: center;
  padding: 10px 0;
  color: {$lightgreytext};
}

.device-desktop .phabricator-notification-menu,
.device-tablet .phabricator-notification-menu {
  position: fixed;
  width: 360px;
  top: 42px;
}

.device-phone .phabricator-notification-menu {
  border-bottom: 1px solid #222222;
  width: 94%;
  max-width: 390px;
  top: 42px !important;
  left: 3% !important;
  position: absolute;

}

.phabricator-notification {
  padding: 6px;
  cursor: pointer;
}

.device-desktop .phabricator-notification-menu .phabricator-notification:hover {
  background: #e6ebf5;
}

.phabricator-notification + .phabricator-notification {
  border-top: 1px solid #e9e9e9;
}

.no-notifications {
  color: {$lightgreytext};
}

.phabricator-notification-list {
  font-size: 11px;
}

.phabricator-notification-list .phabricator-notification-unread,
.phabricator-notification-menu .phabricator-notification-unread {
  background: #eceff5;
  border-color: #e3e8f0;
}

.phabricator-notification-header {
  font-weight: bold;
  padding: 6px;
  font-size: 12px;
  border-bottom: 1px solid #e9e9e9;
}

.phabricator-notification-view-all {
  text-align: center;
  font-weight: bold;
  background: #f7f7f7;
  border-top: 1px solid #e9e9e9;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 6px;
}
