/**
 * @provides phabricator-application-launch-view-css
 */


/* - Application List ----------------------------------------------------------

  Spacing container for the list of large application buttons.

*/


.application-tile-group {
  overflow: hidden;
}


/* - Application Launch Button -------------------------------------------------

  Spacing container for the list of large application buttons.

*/

a.phabricator-application-launch-container,
div.phabricator-application-launch-container {
  display: block;
  float: left;
  width: 78px;
  height: 66px;
  overflow: hidden;
  position: relative;
  border: 1px solid #000;
  text-decoration: none;
}

a.application-tile-full {
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #404040;
  border-left: none;
  border-right: none;
}

.device-phone div.phabricator-application-launch-container {
  display: none;
}

a.application-tile-full.application-tile-create {
  width: 88%;
  height: 52px;
  border-right: none;
}

.application-tile-full + .phabricator-application-launch-create {
  float: right;
  width: 12%;
  height: 52px;
  position: relative;
  border-top: 1px solid #000;
  border-bottom: 1px solid #404040;
  display: inline-block;
  text-align: center;
}

a.phabricator-application-launch-create:hover {
  background-image: url(/res/a214a732/rsrc/image/texture/dark-menu-hover.png);
  color: #fff;
  text-decoration: none;
}

a.phabricator-application-launch-container:hover {
  text-decoration: none;
}

/* The hover effect looks awful on phones/tablets when scrolling. */
.device-desktop a.phabricator-application-launch-container:hover {
  background-image: url(/res/a214a732/rsrc/image/texture/dark-menu-hover.png);
  color: #fff;
}

.phabricator-application-launch-icon {
  display: block;
  position: absolute;
  left: 25px;
  top: 10px;
  width: 28px;
  height: 28px;
}

.phabricator-application-create-icon {
  display: inline-block;
  margin: 20px auto;
  width: 14px;
  height: 14px;
}

.application-tile-full .phabricator-application-launch-icon {
  top: 12px;
  left: 10px;
}

.phabricator-application-launch-name {
  display: block;
  margin-top: 42px;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px #000000;
}

.application-tile-full .phabricator-application-launch-name {
  font-size: 13px;
  margin-top: 11px;
  text-align: left;
  margin-left: 48px;

}

.application-tile-full .phabricator-application-launch-description {
  color: #bfbfbf;
  font-size: 11px;
  margin-top: 24px;
  margin-left: 48px;
}

.phabricator-application-beta {
  position: absolute;
  top: 4px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 1px 6px 2px;
  border: 2px solid #333;
  font-size: 11px;
  box-shadow: 0 0px 2px #000;
}

.phabricator-application-launch-attention {
  position: absolute;
  top: 4px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 1px 0 2px;
  border: 2px solid #333;
  font-size: 11px;
  box-shadow: 0 0px 2px #000;
}

.phabricator-application-attention-count {
  background-color: rgb(0, 122, 255);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 1px 6px 2px;
  border: 1px solid #333;
  font-size: 11px;
}

.phabricator-application-warning-count {
  padding: 6px;
}

.phabricator-application-attention-count + .phabricator-application-warning-count {
  margin-left: -2px;
}

.phabricator-application-launch-attention {
  right: 4px;
  background-color: rgb(119, 119, 119);
}

.phabricator-application-beta {
  left: 4px;
  background-color: rgb(109, 92, 41);
}

.application-tile-full .phabricator-application-launch-attention {
  top: 16px;
  right: 8px;
}

.application-tile-full .phabricator-application-launch-create {
  display: inline-block;
  float: right;
  background: rgb(0, 122, 255);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 1px 6px 2px;
  border: 2px solid #333;
  font-size: 11px;
  box-shadow: 0 0px 2px #000;
}

.phabricator-application-launch-create {
  display: none;
}
