/**
 * @provides phabricator-application-launch-view-css
 */


/* - Application List ----------------------------------------------------------

  Spacing container for the list of large application buttons.

*/


.application-tile-group {
  overflow: hidden;
}


/* - Application Launch Button -------------------------------------------------

  Spacing container for the list of large application buttons.

*/

a.phabricator-application-launch-container,
div.phabricator-application-launch-container {
  display: block;
  float: left;
  width: 78px;
  height: 78px;
  overflow: hidden;
  position: relative;

  text-decoration: none;

  border: 1px solid #080909;

}

a.application-tile-full {
  width: 100%;
  height: 52px;
}

a.phabricator-application-launch-container:hover {
  text-decoration: none;
}

/* The hover effect looks awful on phones/tablets when scrolling. */
.device-desktop a.phabricator-application-launch-container:hover {
  background-image: url('/rsrc/image/texture/dark-menu-hover.png');
  color: #fff;
}

.phabricator-application-launch-icon {
  display: block;
  position: absolute;
  left: 25px;
  top: 15px;
  width: 28px;
  height: 28px;
}

.application-tile-full .phabricator-application-launch-icon {
  top: 12px;
  left: 12px;
}


.phabricator-application-launch-name {
  display: block;
  margin-top: 50px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px #000000;
}

.application-tile-full .phabricator-application-launch-name {
  margin-top: 12px;
  text-align: left;
  margin-left: 52px;

}

.application-tile-full .phabricator-application-launch-description {
  color: #bfbfbf;
  font-size: 11px;
  margin-top: 24px;
  margin-left: 52px;
}

.phabricator-application-launch-attention {
  position: absolute;
  right: 4px;
  top: 4px;
  background: #ff0000;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 1px 6px 2px;
  border: 1px solid #aa0000;
  font-size: 12px;
}

.application-tile-full .phabricator-application-launch-attention {
  top: 16px;
  right: 12px;
}
