/**
 * @provides phabricator-application-launch-view-css
 */


/* - Application List ----------------------------------------------------------

  Spacing container for the list of large application buttons.

*/

/* On desktops, put some space around the whole grid. */
.device-desktop .phabricator-application-list {
  padding: 0 0 20px 20px;
}

/* On tablets, show two columns in the center. */
.device-tablet .phabricator-application-list {
  width: 660px;
  margin: auto;
  padding: .5em 0;
}


/* - Application Launch Button -------------------------------------------------

  Spacing container for the list of large application buttons.

*/

a.phabricator-application-launch-container {
  display: inline-block;
  width: 220px;
  min-height: 90px;
  padding: 12px 15px 10px 75px;
  margin: 3px 6px;
  overflow: hidden;
  position: relative;

  text-decoration: none;
  border: 1px solid #a7a8aa;
  background-color: #f3f3f3;

  border-radius: 3px;
  box-shadow: 0px 1px 2px #ccc;
}

a.phabricator-application-launch-container:hover {
  text-decoration: none;
}

a.phabricator-application-launch-container:active {
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

/* The hover effect looks awful on phones/tablets when scrolling. */
.device-desktop a.phabricator-application-launch-container:hover {
  background-color: #638ed3;
  border-color: #0a1d59;
  color: #fff;
}

.phabricator-application-launch-name,
.phabricator-application-launch-description,
.phabricator-application-launch-status {
  display: block;
}

.phabricator-application-launch-icon {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
}

.phabricator-application-launch-name {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 2px
}

.phabricator-application-launch-description {
  color: #888;
  font-size: 12px
}

.device-desktop a.phabricator-application-launch-container:hover
  .phabricator-application-launch-description {
  color: #dddddd;
}

.phabricator-application-launch-attention {
  position: absolute;
  left: 45px;
  top: 10px;
  background: #ff0000;
  border-radius: 10px;
  color: white;
  font-weight: normal;
  padding: 2px 6px;
  border: 1px solid #aa0000;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5),
              inset 0 0 3px #aa0000;
}

.phabricator-application-status-block {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #dfdfdf;
  display: block;
}

.phabricator-application-flavor-text,
.phabricator-application-status {
  float: left;
  display: block;
  position: relative;
  font-size: 11px;
  color: #666666;
}

.phabricator-application-status {
  height: 20px;
  padding-left: 22px;

  background-repeat: no-repeat;
  background-size: 16px auto;
  padding-top: 1px;
}

.device-desktop a.phabricator-application-launch-container:hover
  .phabricator-application-status,
.device-desktop a.phabricator-application-launch-container:hover
  .phabricator-application-flavor-text {
    color: #eeeeee;
}

.phabricator-application-status-type-needs {
  background-image: url(/res/2c1e193b/rsrc/image/appstatus_needs.png);
}

.phabricator-application-status-type-empty {
  background-image: url(/res/2f8102e0/rsrc/image/appstatus_empty.png);
}

.phabricator-application-status-type-info {
  background-image: url(/res/407de6da/rsrc/image/appstatus_info.png);
}
