/**
 * @provides phui-theme-css
 */

/*--- Header Colors ----------------------------------------------------------*/

.phui-theme-blindigo .phabricator-main-menu-background {
  background: #41506e;
}

.phui-theme-dark .phabricator-main-menu-background {
  background: #171c20;
}

.phui-theme-indigo .phabricator-main-menu-background {
  background: #2C1D4A;
}

.phui-theme-red .phabricator-main-menu-background {
  background: #650404;
}

.phui-theme-blue .phabricator-main-menu-background {
  background: #003965;
}

.phui-theme-green .phabricator-main-menu-background {
  background: #124A1B;
}

