/**
 * @provides phabricator-standard-page-view
 */

.phabricator-standard-page {
  background: #ffffff;
}

.phabricator-anchor-view,
.phabricator-anchor-navigation-marker {
  position: absolute;
  margin-top: -15px;
}

.phabricator-chromeless-page .phabricator-standard-page {
  background:           transparent;
  border-width:         0px;
}

.keyboard-shortcut-help td,
.keyboard-shortcut-help th {
  padding: 8px;
  vertical-align: middle;
}

.keyboard-shortcut-help th {
  white-space: nowrap;
  color: #666666;
}

.keyboard-shortcut-help kbd {
  background: #222222;
  padding: 6px;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #555555;
}

.keyboard-focus-focus-reticle {
  background: #ffffd3;
  position: absolute;
  border: 1px solid #999900;
}

.workflow-header {
  background: #efefef;
  padding: 6px 2em;
  text-align: right;
  margin-bottom: 6px;
  border-bottom: 1px solid #dfdfdf;
}

.workflow-header button {
  float: right;
}

a.handle-status-closed {
  text-decoration: line-through;
  color: #676767;
}

a.handle-status-closed:hover {
  text-decoration: line-through;
  color: #19558D;
}

a.handle-disabled,
a.handle-status-away,
a.handle-status-sporadic {
  padding-left: 12px;
  background-repeat: no-repeat;
  background-position: -4px center;
}

a.handle-status-away {
  background-image: url(/rsrc/image/icon/fatcow/bullet_red.png);
}

a.handle-status-sporadic {
  background-image: url(/rsrc/image/icon/fatcow/bullet_orange.png);
}

a.handle-disabled {
  background-image: url(/rsrc/image/icon/fatcow/bullet_black.png);
}

.aphront-developer-error-callout {
  position: relative;
  padding: 2em;
  background: #aa0000;
  color: white;
  text-align: center;
  font-size: 11px;
  font-family: "Verdana";
}

.setup-warning-callout {
  position: relative;
  padding: 0.75em 1em;
  background: #ffffbb;
}
