/**
 * @provides phabricator-standard-page-view
 */


.phabricator-standard-page {
  background: #ffffff;
  border-bottom: 1px solid #888888;

  -webkit-box-shadow: 0 0 6px #000;
  -mox-box-shadow:    0 0 6px #000;
  box-shadow:         0 0 6px #000;
}

.phabricator-standard-header {
  background: #005588;
  color: white;
  overflow: hidden;
  position: relative;
}

.phabricator-primary-navigation {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 24px;
}

.phabricator-standard-header a {
  color: white;
}

.phabricator-primary-navigation th,
.phabricator-primary-navigation td {
  vertical-align: bottom;
  font-size: 13px;
  border-bottom: 6px solid transparent;
  padding-bottom: 4px;
}

.phabricator-primary-navigation th.phabricator-logo {
  font-size: 16px;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 6px;
}

.phabricator-primary-navigation td {
  padding-left: 10px;
  padding-right: 10px;
}

.phabricator-primary-navigation td.phabricator-selected-tab {
  border-bottom-color: #ffffff;
  background: #336699;
}

.phabricator-standard-header .phabricator-head-appname {
  padding: 0 1em;
  text-transform: uppercase;
}

.phabricator-login-details {
  float: right;
  padding: 6px 24px 0;
  font-size: 12px;
}

.phabricator-page-foot {
  text-align: right;
  padding: .5em 1em;
  font-size: 11px;
  color: #f3f3f3;
}
