/**
 * @provides conpherence-durable-column-view
 */

.with-durable-column {
  margin-right: 300px;
}

.conpherence-durable-column {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  background: #fff;
  display: none;
}

.conpherence-durable-column-header {
  height: 44px;
  border-left: 1px solid #000;
}

.conpherence-durable-column-header-text {
  padding: 12px 16px;
  font-size: 15px;
  color: rgba(255,255,255,.8);
}

.conpherence-durable-column-header-text:hover {
  color: #fff;
}

.conpherence-durable-column-icon-bar {
  height: 34px;
  padding: 5px 16px;
  border-bottom: 1px solid {$thinblueborder};
}

.conpherence-durable-column-body {
  position: absolute;
  top: 44px;
  bottom: 0;
  right: 0;
  left: 0;
  border-left: 1px solid {$lightblueborder};
}

.conpherence-durable-column-main {
  position: absolute;
  top: 44px;
  bottom: 144px;
  left: 0;
  right: 0;
  overflow: hidden;
}

.conpherence-durable-column-content {
  padding: 8px 12px;
}

.conpherence-durable-column-textarea {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 36px;
  height: 100px;
  margin: 0;
  border-width: 1px 0;
  border-style: solid;
  border-top-color: {$thinblueborder};
  border-bottom-color: {$thinblueborder};
  padding: 8px 12px;
  width: 100%;
  resize: none;
}

.conpherence-durable-column-textarea:focus {
  outline: 0;
  border-top-color: {$sky};
  border-bottom-color: {$sky};
  box-shadow: none;
}

.conpherence-durable-column-footer {
  position: absolute;
  height: 26px;
  padding: 4px 8px 4px 12px;
  left: 0;
  right: 0;
  bottom: 0;
}

.conpherence-durable-column-footer button {
  float: right;
}

.conpherence-durable-column-status {
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
  color: {$lightbluetext};
}
