/**
 * @provides conpherence-menu-css
 */

.conpherence-layout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 44px;
  background: #fff;
}

.conpherence-menu-pane {
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  background-color: {$page.sidenav};
}

.conpherence-menu-pane .phui-basic-nav .phabricator-side-menu
  .phui-list-item-href {
    padding: 4px 0 4px 8px;
  }

.conpherence-menu-pane.phabricator-side-menu .phui-list-item-view.hidden {
  display: none;
}

.phui-list-view.conpherence-menu {
  margin-bottom: 20px;
}

.conpherence-menu-pane.phabricator-side-menu .room-list-href {
  padding: 10px 0 9px 8px;
  display: inline-block;
  text-transform: uppercase;
  color: {$darkgreytext};
  font-weight: bold;
  font-size: {$smallerfontsize};
  float: left;
}

.conpherence-menu-pane.phabricator-side-menu .room-list-icons {
  display: inline-block;
  float: right;
  padding: 8px 0 5px;
}

.conpherence-menu-pane .conpherence-room-list-header {
  clear: both;
  overflow: hidden;
}

.conpherence-menu-pane .conpherence-room-list-header
.phui-icon-view {
  font-weight: bold;
  float: right;
  text-transform: none;
  padding: 4px;
}

.conpherence-menu-pane .conpherence-room-list-header
.phui-icon-view:hover {
  color: {$sky};
}

.conpherence-menu-pane .conpherence-message-list-header {
  margin-top: 12px;
}

.device-desktop .conpherence-layout .conpherence-menu-pane {
  width: 232px;
  padding-right: 8px;
}

.device .conpherence-menu-pane {
  top: 41px;
}

.device .conpherence-role-list .conpherence-menu-pane {
  top: 0px;
}

.device-phone .conpherence-menu-pane {
  -webkit-overflow-scrolling: touch;
}

.device .conpherence-role-thread .conpherence-menu-pane {
  display: none;
}

.device-desktop .conpherence-content-pane {
  margin-left: 240px;
}

.conpherence-content-pane {
  display: none;
  margin-left: 0px;
  position: relative;
}

.device-desktop .conpherence-content-pane,
.device .conpherence-role-thread .conpherence-content-pane {
  display: block;
}

.conpherence-menu .conpherence-menu-item-view {
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-left: 4px solid transparent;
  padding: 4px;
}

.conpherence-menu .conpherence-selected {
  background: rgba({$alphablack},0.05);
  border-left: 4px solid {$sky};
}

.conpherence-menu .phui-list-item-type-link .phui-list-item-href {
  padding: 8px 0 8px 8px;
}

.device-desktop .conpherence-menu
 .conpherence-selected.conpherence-menu-item-view:hover {
  background-color: rgba({$alphablack},0.07);
}

.conpherence-menu .loading {
  font-style: italic;
}

.device-desktop .conpherence-menu .conpherence-menu-item-view:hover {
  background-color: rgba({$alphablack},0.05);
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-image {
  width: 26px;
  height: 26px;
  background-size: 26px;
  border-radius: 3px;
  float: left;
  margin-left: 4px;
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-title {
  display: block;
  padding: 4px 0 4px 8px;
  float: left;
  text-align: left;
  font-weight: bold;
  font-size: {$normalfontsize};
  color: {$darkbluetext};
  text-shadow: 0px 1px 1px #fff;
  overflow: hidden;
  width: 165px;
  text-overflow: ellipsis;
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-subtitle {
  display: none;
}

.conpherence-menu .conpherence-menu-item-view
.conpherence-menu-item-unread-count {
  position: absolute;
  right: 4px;
  top: 10px;
  background: {$blue};
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  padding: 0 5px 1px;
  font-size: {$smallestfontsize};
}

.conpherence-menu .hide-unread-count .conpherence-menu-item-unread-count,
.conpherence-menu .conpherence-selected .conpherence-menu-item-unread-count {
  display: none;
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-date {
  position: absolute;
  top: 15px;
  right: 16px;
  color: {$bluetext};
  font-size: {$smallestfontsize};
}

.conpherence-menu-item-header {
  font-weight: bold;
  text-transform: uppercase;
  color: {$bluetext};
}

.no-conpherences-menu-item {
  color: {$bluetext};
  padding: 4px 12px;
}
