/**
 * @provides conpherence-menu-css
 */

.conpherence-layout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 44px;
}

.conpherence-layout .conpherence-no-threads {
  height 80%;
  width: 80%;
  padding: 10%;
  text-align: center;
}

.conpherence-layout .conpherence-no-threads .text {
  margin: 0px 0px 16px 0px;
}

.conpherence-menu-pane {
  width: 300px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
}

.device-phone .conpherence-menu-pane {
  -webkit-overflow-scrolling: touch;
}

.conpherence-content-pane {
  margin-left: 300px;
  position: relative;
}

.conpherence-layout .phabricator-nav-column-background {
  display: block;
  width: 300px;
}

.device .conpherence-menu-pane {
  top: 41px;
}

.device .phabricator-nav-column-background {
  top: 86px;
}

.device .conpherence-menu-pane,
.device .phabricator-nav-column-background {
  display: none;
  width: 100%;
}

.device .conpherence-content-pane {
  margin-left: 0;
}

.conpherence-menu .conpherence-menu-item-view {
  display: block;
  height: 55px;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-top: solid 1px #3B3D3E;
  border-bottom: solid 1px #1C1F21;
  border-right: 0;
  border-left: 2px solid transparent;
}

.conpherence-menu .conpherence-selected {
  background: rgba(0, 0, 0, .6);
  border-left: 2px solid #66CCFF;
}

.device-desktop .conpherence-menu .conpherence-menu-item-view:hover {
  background-image: url('/rsrc/image/texture/dark-menu-hover.png');
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-image {
  top: 6px;
  left: 6px;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  background-size: 35px;
  border: 4px solid rgb(29, 32, 34);
  border-radius: 3px;
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-title {
  display: block;
  margin-top: 12px;
  margin-left: 58px;
  text-align: left;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  text-shadow: 0px 1px 1px #000000;
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-subtitle {
  display: block;
  color: #a1a5a9;
  font-size: 11px;
  margin-top: 2px;
  margin-left: 58px;
  font-style: italic;
}

.conpherence-menu .conpherence-menu-item-view
.conpherence-menu-item-unread-count {
  position: absolute;
  left: 35px;
  top: 3px;
  background: #f00;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 1px 6px 2px;
  border: 1px solid #a00;
  font-size: 12px;
}

.conpherence-menu .hide-unread-count .conpherence-menu-item-unread-count,
.conpherence-menu .conpherence-selected .conpherence-menu-item-unread-count {
  display: none;
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-date {
  position: absolute;
  top: 15px;
  right: 16px;
  color: #a1a5a9;
  font-size: 11px;
}

.no-conpherences-menu-item {
  color: #a1a5a9;
  border-top: solid 1px #3B3D3E;
  padding: 20px 0;
  margin: 0px auto;
  width: 300px;
  text-align: center;
}
