/**
 * @provides conpherence-menu-css
 */

.conpherence-layout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 44px;
  background: #fff;
}

.conpherence-layout .conpherence-no-threads {
  text-align: center;
  position: fixed;
  left: 240px;
  right: 241px;
  top: 76px;
  bottom: 0px;
  min-width: 300px;
  width: auto;
}

.device .conpherence-layout .conpherence-no-threads {
  left: 0;
  right: 0;
  width: 100%;
}

.conpherence-layout .conpherence-no-threads .text {
  margin: 0px 0px 16px 0px;
}

.conpherence-menu-pane {
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
}

.device-desktop .conpherence-layout .conpherence-menu-pane,
.device-desktop .conpherence-layout .phabricator-nav-column-background {
  width: 239px;
}

.device .conpherence-menu-pane {
  top: 41px;
}

.device .conpherence-role-list .conpherence-menu-pane {
  top: 0px;
}

.device-phone .conpherence-menu-pane {
  -webkit-overflow-scrolling: touch;
}

.conpherence-layout .phabricator-nav-column-background {
  display: block;
  width: 100%;
}

.device .phabricator-nav-column-background {
  top: 44px;
}

.device .conpherence-role-thread .conpherence-menu-pane,
.device .conpherence-role-thread .phabricator-nav-column-background {
  display: none;
}

.device-desktop .conpherence-content-pane {
  margin-left: 240px;
}

.conpherence-content-pane {
  display: none;
  margin-left: 0px;
  position: relative;
}

.device-desktop .conpherence-content-pane,
.device .conpherence-role-thread .conpherence-content-pane {
  display: block;
}

.conpherence-menu .conpherence-menu-item-view {
  display: block;
  height: 46px;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-left: 4px solid transparent;
}

.conpherence-menu .conpherence-selected {
  background: {$hovergrey};
  border-left: 4px solid {$sky};
}

.device-desktop .conpherence-menu
 .conpherence-selected.conpherence-menu-item-view:hover {
  background-color: {$hoverselectedgrey};
}

.conpherence-menu .loading {
  font-style: italic;
}

.device-desktop .conpherence-menu .conpherence-menu-item-view:hover {
  background-color: {$hovergrey};
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-image {
  top: 6px;
  left: 8px;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-title {
  display: block;
  margin-top: 8px;
  margin-left: 50px;
  text-align: left;
  font-weight: bold;
  font-size: 13px;
  color: {$darkbluetext};
  text-shadow: 0px 1px 1px #fff;
  overflow: hidden;
  width: 160px;
  text-overflow: ellipsis;
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-subtitle {
  display: block;
  color: {$bluetext};
  font-size: 11px;
  margin-top: 2px;
  margin-left: 50px;
}

.conpherence-menu .conpherence-menu-item-view
.conpherence-menu-item-unread-count {
  position: absolute;
  right: 8px;
  top: 15px;
  background: {$blue};
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  padding: 0 5px 1px;
  font-size: 11px;
}

.conpherence-menu .hide-unread-count .conpherence-menu-item-unread-count,
.conpherence-menu .conpherence-selected .conpherence-menu-item-unread-count {
  display: none;
}

.conpherence-menu .conpherence-menu-item-view .conpherence-menu-item-date {
  position: absolute;
  top: 15px;
  right: 16px;
  color: {$bluetext};
  font-size: 11px;
}

.conpherence-menu-item-header {
  font-weight: bold;
  text-transform: uppercase;
  color: {$bluetext};
}

.no-conpherences-menu-item {
  color: {$bluetext};
  padding: 4px 12px;
}
