/**
 * @provides conpherence-message-pane-css
 */
.conpherence-message-pane {
  position: fixed;
  left: 300px;
  right: 281px;
  top: 125px;
  min-width: 300px;
  width: auto;
  height: 100%;
}

.conpherence-show-older-messages {
  display: block;
  background: #e0e3ec;
  margin: 10px;
  text-align: center;
  padding: 10px;
  color: #18559D;
}

.conpherence-message-pane .conpherence-messages {
  position: fixed;
  left: 300px;
  right: 281px;
  top: 125px;
  bottom: 142px;
  overflow-y: auto;
  box-shadow: inset 1px 4px 5px rgba(0,0,0,0.1);
  -webkit-overflow-scrolling: touch;
}

.conpherence-message-pane .phabricator-form-view {
  border-width: 0;
  background: none;
  height: 143px;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 300px;
  right: 281px;
}


.conpherence-message-pane .aphront-form-input {
  margin: 0;
  width: 100%;
}

.conpherence-message-pane .phabricator-transaction-view {
  margin: 10px 0 10px 15px;
}

.conpherence-message-pane .phabricator-transaction-detail {
  border-width: 0;
  margin-left: 45px;
}

.conpherence-message-pane .phabricator-transaction-info,
.conpherence-message-pane .phabricator-content-source-view {
  color: #b7b7b7;
}

.conpherence-message-pane .phabricator-transaction-header,
.conpherence-message-pane .phabricator-transaction-info,
.conpherence-message-pane .phabricator-transaction-content {
  background: none;
}

.conpherence-message-pane .phabricator-transaction-content {
  padding-top: 0;
}

.conpherence-message-pane .conpherence-edited .phabricator-transaction-content {
  padding: 0 1em 0 1em;
  margin-top: -4px;
}

.conpherence-message-pane .aphront-form-control {
  padding: 0;
}

.conpherence-message-pane .aphront-form-control-submit {
  margin-right: 8px;
}
.conpherence-message-pane .remarkup-assist-bar {
  border-width: 1px 0 0;
  border-color: #CCC;
  border-bottom: transparent;
}

.conpherence-message-pane .remarkup-assist-textarea {
  border-width: 0 0 1px 0;
  border-color: #e7e7e7;
}

.conpherence-message-pane .remarkup-assist-textarea:focus {
  outline: none;
}

.conpherence-message-pane .aphront-form-input textarea {
  padding: 6px;
  height: 6em;
}

