/**
 * @provides conpherence-message-pane-css
 */

.conpherence-message-pane,
.loading .messages-loading-mask,
.loading .messages-loading-icon,
.conpherence-layout .conpherence-no-threads {
  position: fixed;
  left: 241px;
  right: 241px;
  top: 76px;
  bottom: 0px;
  min-width: 300px;
  width: auto;
}

.device .conpherence-message-pane,
.device .loading .messages-loading-mask,
.device .loading .messages-loading-icon,
.device .conpherence-layout .conpherence-no-threads {
  left: 0;
  right: 0;
  width: 100%;
}

.conpherence-layout .conpherence-no-threads {
  text-align: center;
}

.conpherence-layout .conpherence-no-threads .text {
  margin: 16px 0px 16px 0px;
}

.conpherence-layout .phui-crumbs-view {
  padding: 0 0 0 8px;
  background: #EBECEE;
}

.conpherence-show-older-messages {
  display: block;
  background: #e0e3ec;
  margin: 10px;
  text-align: center;
  padding: 10px;
  color: {$bluetext};
}

.conpherence-show-older-messages-loading {
  font-style: italic;
}

.conpherence-message-pane .conpherence-messages {
  position: fixed;
  left: 241px;
  right: 241px;
  top: 76px;
  bottom: 172px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.conpherence-messages > .conpherence-edited:first-child {
  padding-top: 20px;
}

.device .conpherence-message-pane .conpherence-messages {
  left: 0;
  right: 0;
  bottom: 3em;
  width: 100%;
  box-shadow: none;
}

.conpherence-message-pane .messages-loading-mask {
  opacity: .6;
  background: #fff;
  display: none;
}

.loading .messages-loading-mask {
  display: block;
}

.conpherence-message-pane .phui-form-view {
  border-width: 0;
  background-color: {$lightgreybackground};
  height: 156px;
  padding: 8px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid {$thinblueborder};
  left: 241px;
  right: 241px;
}

.conpherence-message-pane .aphront-form-control-submit button,
.conpherence-message-pane .aphront-form-control-submit a.button {
  margin-top: 6px;
}

/**
 * When entering "Fullscreen Mode" in the remarkup control, we need to drop
 * all of the "position: fixed" on parent elements or Chrome doesn't put the
 * textarea on top.
 */
.remarkup-fullscreen-mode .conpherence-message-pane,
.remarkup-fullscreen-mode .conpherence-message-pane .conpherence-messages,
.remarkup-fullscreen-mode .conpherence-message-pane .phui-form-view,
.remarkup-fullscreen-mode .conpherence-layout {
  position: static;
}

.conpherence-message-pane .remarkup-assist-bar {
  border-color: {$lightblueborder};
}

.device .conpherence-message-pane .remarkup-assist-bar {
  height: 0px;
}

.device .conpherence-message-pane .phui-form-view {
  left: 0;
  right: 0;
  background-color: #d8dce2;
  height: 38px;
  width: 100%;
}

.conpherence-layout .conpherence-message-pane .phui-form-view
  div.aphront-form-input {
  margin: 0;
  width: 100%;
}

.conpherence-message-pane .phabricator-transaction-view {
  margin: 4px 12px;
  background-size: 35px;
  min-height: auto;
}

.device-phone .conpherence-message-pane .phabricator-transaction-view {
  margin: 0 10px 0 0;
}

.conpherence-message-pane .phabricator-transaction-detail {
  border-width: 0;
  margin-left: 45px;
}

.conpherence-message-pane .date-marker {
  border-top: 1px solid #d7d7d7;
  margin: 12px 12px 4px;
  min-height: auto;
}

.device-phone .conpherence-message-pane .date-marker {
  margin: 5px 0;
}

.conpherence-message-pane .date-marker .date {
  position: relative;
  top: -11px;
  left: 40px;
  background-color: #FFF;
  color: {$darkbluetext};
  font-size: 13px;
  padding: 0px 5px;
  font-weight: bold;
}

.device-phone .conpherence-message-pane .phabricator-transaction-detail {
  min-height: auto;
}

.conpherence-message-pane .conpherence-edited .phabricator-transaction-content {
  color: {$lightgreytext};
  font-size: 13px;
  margin: 0;
  padding: 0;
  float: left;
}

.conpherence-message-pane .conpherence-edited {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: inherit;
}

.conpherence-message-pane .conpherence-edited + .conpherence-comment {
  margin-top: 20px;
}

.conpherence-message-pane .conpherence-edited .phabricator-transaction-header {
  float: right;
}

.device-phone .conpherence-message-pane .conpherence-edited {
  color: {$lightgreytext};
  margin: 0 10px;
}

.conpherence-message-pane .conpherence-edited
  .phabricator-transaction-content a {
  color: {$darkbluetext};
}

.device-phone .conpherence-message-pane .conpherence-edited
  .phabricator-transaction-content {
  padding: 0 0 5px 35px;
}

.conpherence-message-pane .phabricator-transaction-info,
.conpherence-message-pane .phabricator-content-source-view {
  color: {$lightbluetext};
  line-height: 16px;
  font-size: 12px;
}

.conpherence-message-pane .phabricator-transaction-header,
.conpherence-message-pane .phabricator-transaction-info,
.conpherence-message-pane .phabricator-transaction-content {
  background: none;
  padding: 0;
}

.conpherence-message-pane .phabricator-transaction-content {
  padding: 2px 0 8px 0;
}

.conpherence-message-pane .aphront-form-control {
  padding: 0;
}

.conpherence-message-pane .remarkup-assist-textarea {
  height: 100px;
  padding: 6px;
  border-color: {$lightblueborder};
  border-top-color: {$thinblueborder};
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: none;
}

.device .conpherence-message-pane .remarkup-assist-textarea {
  margin: 0px 0px;
  padding: 8px;
  width: 97%;
  height: 34px;
  resize: none;
}

.conpherence-message-pane .remarkup-assist-textarea:focus {
  outline: none;
}

.device .conpherence-message-pane .aphront-form-control {
  padding: 0 8px 0 0;
  float: left;
}

.device .conpherence-message-pane .aphront-form-control-textarea {
  float: left;
  height: 2em;
}
.device-tablet .conpherence-message-pane .aphront-form-control-textarea {
  width: 76%;
}
.device-phone .conpherence-message-pane .aphront-form-control-textarea {
  width: 60%;
}

.device .conpherence-message-pane .aphront-form-control-submit button {
  margin: 7px 0 0 0;
}
