/**
 * @provides conpherence-message-pane-css
 */

.conpherence-message-pane,
.loading .messages-loading-mask,
.loading .messages-loading-icon,
.conpherence-layout .conpherence-no-threads {
  position: fixed;
  left: 240px;
  right: 241px;
  top: 76px;
  bottom: 0px;
  min-width: 300px;
  width: auto;
}

.device .conpherence-message-pane,
.device .loading .messages-loading-mask,
.device .loading .messages-loading-icon,
.device .conpherence-layout .conpherence-no-threads {
  left: 0;
  right: 0;
  width: 100%;
}

.conpherence-layout .conpherence-no-threads {
  text-align: center;
}

.conpherence-layout .conpherence-no-threads .text {
  margin: 16px 0px 16px 0px;
}

.conpherence-show-older-messages {
  display: block;
  background: #e0e3ec;
  margin: 10px;
  text-align: center;
  padding: 10px;
  color: {$bluetext};
}

.conpherence-show-older-messages-loading {
  font-style: italic;
}

.conpherence-message-pane .conpherence-messages {
  position: fixed;
  left: 240px;
  right: 241px;
  top: 76px;
  bottom: 185px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.device .conpherence-message-pane .conpherence-messages {
  left: 0;
  right: 0;
  bottom: 3em;
  width: 100%;
  box-shadow: none;
}

.conpherence-message-pane .messages-loading-mask {
  opacity: .6;
  background: #fff;
  display: none;
}

.loading .messages-loading-mask {
  display: block;
}

.conpherence-message-pane .phui-form-view {
  border-width: 0;
  background-color: {$lightgreybackground};
  height: 185px;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 240px;
  right: 241px;
}

/**
 * When entering "Fullscreen Mode" in the remarkup control, we need to drop
 * all of the "position: fixed" on parent elements or Chrome doesn't put the
 * textarea on top.
 */
.remarkup-fullscreen-mode .conpherence-message-pane,
.remarkup-fullscreen-mode .conpherence-message-pane .conpherence-messages,
.remarkup-fullscreen-mode .conpherence-message-pane .phui-form-view,
.remarkup-fullscreen-mode .conpherence-layout {
  position: static;
}

.device .conpherence-message-pane .remarkup-assist-bar {
  height: 0px;
}

.device .conpherence-message-pane .phui-form-view {
  left: 0;
  right: 0;
  background-color: #d8dce2;
  height: 38px;
  width: 100%;
}

.conpherence-layout .conpherence-message-pane .phui-form-view
  div.aphront-form-input {
  margin: 0;
  width: 100%;
}

.conpherence-message-pane .phabricator-transaction-view {
  margin: 5px 15px;
  background-size: 35px;
  min-height: auto;
}

.device-phone .conpherence-message-pane .phabricator-transaction-view {
  margin: 0 10px 0 0;
}

.conpherence-message-pane .phabricator-transaction-detail {
  border-width: 0;
  margin-left: 45px;
}

.conpherence-message-pane .date-marker {
  border-top: 1px solid #d7d7d7;
  margin: 5px 15px;
  min-height: auto;
}
.device-phone .conpherence-message-pane .date-marker {
  margin: 5px 0;
}
.conpherence-message-pane .date-marker .date {
  position: relative;
  top: -8px;
  left: 40px;
  background-color: #FFF;
  color: #bfbfbf;
  font-size: 11px;
  padding: 0px 5px;
}
.device-phone .conpherence-message-pane .phabricator-transaction-detail {
  min-height: auto;
}

.conpherence-message-pane .conpherence-edited {
  color: {$lightgreytext};
  margin: 0;
}

.device-phone .conpherence-message-pane .conpherence-edited {
  color: {$lightgreytext};
  margin: 0 10px;
}

.conpherence-message-pane .conpherence-edited .phabricator-transaction-content {
 padding: 0 0 5px 45px;
 font-style: italic;
}

.device-phone .conpherence-message-pane .conpherence-edited .phabricator-transaction-content {
 padding: 0 0 5px 35px;
}

.conpherence-message-pane .phabricator-transaction-info,
.conpherence-message-pane .phabricator-content-source-view {
  color: #b7b7b7;
  line-height: 16px;
}

.conpherence-message-pane .phabricator-transaction-header,
.conpherence-message-pane .phabricator-transaction-info,
.conpherence-message-pane .phabricator-transaction-content {
  background: none;
  padding: 0;
}

.conpherence-message-pane .phabricator-transaction-content {
  padding: 2px 0 8px 0;
}

.conpherence-message-pane .aphront-form-control {
  padding: 0;
}

.conpherence-message-pane .aphront-form-control-submit {
  margin: 0 8px 0 0;
}
.conpherence-message-pane .remarkup-assist-bar {
  border-width: 1px 0 0;
  border-color: {$hovergrey};
  border-bottom: transparent;
}

.conpherence-message-pane .remarkup-assist-textarea {
  height: 124px;
  padding: 6px;
  border-width: 1px 0;
  border-color: {$lightblueborder};
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: none;
}

.device .conpherence-message-pane .remarkup-assist-textarea {
  margin: 4px 8px;
  padding: 6px 6px;
  width: 97%;
  height: 28px;
  resize: none;
}

.conpherence-message-pane .remarkup-assist-textarea:focus {
  outline: none;
}

.device .conpherence-message-pane .aphront-form-control-textarea {
  float: left;
  height: 2em;
}
.device-tablet .conpherence-message-pane .aphront-form-control-textarea {
  width: 76%;
}
.device-phone .conpherence-message-pane .aphront-form-control-textarea {
  width: 60%;
}

.device .conpherence-message-pane .aphront-form-control-submit button {
  margin: 7px 0 0 0;
}
