/**
 * @provides conpherence-message-pane-css
 */

.conpherence-message-pane,
.loading .messages-loading-mask,
.loading .messages-loading-icon,
.conpherence-layout .conpherence-no-threads {
  position: fixed;
  left: 240px;
  right: 240px;
  top: 106px;
  bottom: 0px;
  min-width: 300px;
  width: auto;
}

.device .conpherence-message-pane,
.device .loading .messages-loading-mask,
.device .loading .messages-loading-icon,
.device .conpherence-layout .conpherence-no-threads {
  left: 0;
}

.conpherence-layout .conpherence-content-pane .conpherence-no-threads {
  top: 44px;
  right: 0;
  background: {$page.content};
  z-index: 26;
}

.conpherence-layout .phui-big-info-view {
  margin: 16px;
}

.conpherence-layout .conpherence-no-threads .phui-box-border {
  border: none;
  margin: 0;
}

.conpherence-show-more-messages {
  display: block;
  background: #e0e3ec;
  margin: 10px;
  text-align: center;
  padding: 10px;
  color: {$bluetext};
}

.conpherence-show-more-messages-loading {
  font-style: italic;
}

.conpherence-message-pane .conpherence-messages {
  position: fixed;
  left: 240px;
  right: 240px;
  top: 106px;
  bottom: 142px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.conpherence-messages.jx-scrollbar-frame {
  overflow-y: hidden;
}

.conpherence-messages .jx-scrollbar-content > .conpherence-edited:first-child,
.conpherence-messages > .conpherence-edited:first-child {
  padding-top: 20px;
}

.conpherence-messages .conpherence-edited:last-child {
  padding-bottom: 20px;
}

.conpherence-message-pane .conpherence-edited + .date-marker  {
  margin-top: 24px;
}

.device .conpherence-message-pane .conpherence-messages {
  left: 0;
  bottom: 44px;
  box-shadow: none;
}

.device-phone .conpherence-message-pane .conpherence-messages {
  left: 0;
  right: 0;
  bottom: 44px;
  width: 100%;
  box-shadow: none;
}

.conpherence-message-pane .phui-form-view {
  border-width: 0;
  height: 130px;
  padding: 0 20px 12px;
  position: fixed;
  bottom: 0;
  left: 240px;
  right: 241px;
}

.conpherence-room-status {
  font-size: {$smallerfontsize};
  color: {$lightgreytext};
  font-style: italic;
  position: absolute;
  bottom: 2px;
  left: 24px;
}

.device .conpherence-room-status {
  display: none;
}

.conpherence-no-pontificate .conpherence-message-pane .phui-form-view {
  border-top: 1px solid {$thinblueborder};
  text-align: center;
}

.conpherence-no-pontificate .conpherence-message-pane
  .aphront-form-control-submit button,
.conpherence-no-pontificate .conpherence-message-pane
  .aphront-form-control-submit a.button {
  margin: 4px 0 0 0;
  float: none;
}

.conpherence-no-pontificate .phui-form-view .aphront-form-instructions {
  margin: 24px 0 16px;
  width: 100%;
  padding: 0;
  color: {$bluetext};
  font-size: {$biggestfontsize};
}

.device .conpherence-message-pane .phui-form-view {
  padding: 8px 8px;
}

.conpherence-message-pane .aphront-form-control-submit button,
.conpherence-message-pane .aphront-form-control-submit a.button {
  margin-top: 6px;
}

.device .conpherence-message-pane .aphront-form-control-submit button,
.device .conpherence-message-pane .aphront-form-control-submit a.button {
  margin-top: 13px;
}

/**
 * When entering "Fullscreen Mode" in the remarkup control, we need to drop
 * all of the "position: fixed" on parent elements or Chrome doesn't put the
 * textarea on top.
 */
.remarkup-fullscreen-mode .conpherence-message-pane,
.remarkup-fullscreen-mode .conpherence-message-pane .conpherence-messages,
.remarkup-fullscreen-mode .conpherence-message-pane .phui-form-view,
.remarkup-fullscreen-mode .conpherence-layout {
  position: static;
}

.conpherence-message-pane .remarkup-assist-bar {
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.device .conpherence-message-pane .remarkup-assist-bar {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 24px;
  background: {$bluebackground};
  border-radius: 3px;
  border: none;
}

.device .conpherence-message-pane .remarkup-assist-button,
.device .conpherence-message-pane .remarkup-assist-separator {
  display: none;
}

.device .conpherence-message-pane
  .remarkup-assist-button.remarkup-assist-upload {
    display: block;
}

.device .conpherence-message-pane .phui-form-view {
  left: 0;
  height: 34px;
  width: auto;
}

.device-phone .conpherence-message-pane .phui-form-view {
  left: 0;
  right: 0;
  height: 34px;
  width: auto;
}

.conpherence-layout .conpherence-message-pane .phui-form-view
  div.aphront-form-input {
  margin: 0;
  width: 100%;
}

.conpherence-transaction-view {
  padding: 2px 0px;
  margin: 4px 20px;
  background-size: 100%;
  min-height: auto;
}

.device-phone .conpherence-transaction-view {
  margin: 0 8px;
}

.conpherence-transaction-image {
  float: left;
  border-radius: 3px;
  height: 35px;
  width: 35px;
  background-size: 35px;
  position: absolute;
  top: 5px;
}

.device-phone .conpherence-transaction-image {
  height: 25px;
  width: 25px;
  background-size: 25px;
}

.conpherence-transaction-view.conpherence-comment.anchor-target,
.conpherence-transaction-view.conpherence-edited.anchor-target {
  background: {$lightyellow};
}

.cconpherence-transaction-view.conpherence-comment.anchor-target {
  margin: 4px 8px 4px 8px;
  padding: 2px 4px 2px 4px;
}

.conpherence-transaction-view.conpherence-edited.anchor-target {
  margin: 0px 8px 0px 8px;
  padding: 0px 4px 0px 4px;
}

.conpherence-transaction-view .conpherence-transaction-detail {
  border-width: 0;
  margin-left: 45px;
}

.device-phone .conpherence-transaction-view .conpherence-transaction-detail {
  margin-left: 32px;
}

.conpherence-transaction-view.date-marker {
  padding: 0;
  margin: 20px 20px 4px;
  min-height: auto;
}

.device-phone .conpherence-transaction-view.date-marker {
  margin: 12px 0 4px;
}

.device-tablet .conpherence-transaction-view.date-marker {
  padding-left: 37px;
}

.conpherence-transaction-view.date-marker .date {
  left: 40px;
  font-size: {$normalfontsize};
  padding: 0px 4px;
}

.device .conpherence-transaction-view.date-marker .date {
  left: 4px;
}

.device-phone .conpherence-transaction-view.conpherence-edited {
  min-height: none;
  color: {$lightgreytext};
  margin: 0 8px;
}

.conpherence-transaction-view.conpherence-edited
  .conpherence-transaction-content {
    color: {$lightgreytext};
    font-size: {$biggerfontsize};
    font-style: italic;
    margin: 0;
    padding: 0;
    float: left;
    line-height: 20px;
}

.conpherence-transaction-view.conpherence-edited {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: inherit;
}

.conpherence-transaction-view.conpherence-edited + .conpherence-comment {
  margin-top: 16px;
}

.conpherence-transaction-view.conpherence-edited +
  .conpherence-transaction-view.date-marker {
    margin-top: 24px;
}

.conpherence-transaction-view.conpherence-edited
  .conpherence-transaction-header {
    float: right;
}

.conpherence-transaction-view.conpherence-edited
  .conpherence-transaction-content a {
  color: {$darkbluetext};
}

.conpherence-transaction-view .conpherence-transaction-info {
  margin: 0 8px;
}

.conpherence-transaction-view .conpherence-transaction-info,
.conpherence-transaction-view .transaction-date,
.conpherence-transaction-view .phabricator-content-source-view {
  color: {$lightgreytext};
  line-height: 16px;
  font-size: {$smallerfontsize};
}

.conpherence-transaction-view .conpherence-transaction-content {
  padding: 2px 0 8px 0;
}

body .conpherence-message-pane .aphront-form-control {
  padding: 0;
}

.conpherence-message-pane .remarkup-assist-textarea {
  height: 88px;
  padding: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.device .conpherence-message-pane .remarkup-assist-textarea {
  margin: 0;
  padding: 7px 8px 6px 38px;
  width: 100%;
  height: 34px;
  resize: none;
  border-color: {$greyborder};
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.device .conpherence-message-pane .aphront-form-control-submit {
  padding: 0;
  position: absolute;
  top: -2px;
  right: 12px;
}

.device .conpherence-message-pane .aphront-form-control-textarea {
  float: left;
  height: 24px;
  width: 100%;
}

.conpherence-message .phabricator-remarkup .remarkup-code-block pre {
  max-height: 200px;
}

.conpherence-transaction-collapsed .conpherence-transaction-image,
.conpherence-transaction-collapsed .conpherence-transaction-header {
  display: none;
}

.conpherence-message-pane
  .conpherence-transaction-collapsed.conpherence-transaction-view {
    margin-top: 0;
    margin-bottom: 0;
}

/* this causes scrolling issues on iDevices */
.device .conpherence-layout + .phabricator-standard-page-footer {
  display: none;
}

/***** Thread Loading *********************************************************/

.conpherence-layout .conpherence-loading-mask {
  height: 0;
  opacity: 0;
  top: 0;
  right: 0;
  left: 240px;
  bottom: 0;
  transition: all 0.3s;
  position: fixed;
  background-color: {$page.content};
}

.conpherence-layout.loading .conpherence-loading-mask {
  opacity: 1;
  height: auto;
}


/***** Thread Search **********************************************************/

.conpherence-search-main {
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
}

.show-searchbar .conpherence-search-main {
  opacity: 1;
  height: auto;
}

.conpherence-search-form-view {
  display: none;
}

.show-searchbar .conpherence-search-form-view {
  display: block;
  height: 54px;
  background: {$page.content};
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.conpherence-search-form-view input.conpherence-search-input {
  padding-left: 8px;
  width: calc(100% - 24px);
  border-radius: 20px;
  margin: 12px;
}

.conpherence-search-results {
  position: absolute;
  background: {$page.content};
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
