/**
 * @provides conpherence-notification-css
 */

.phabricator-notification.conpherence-notification {
  padding: 0;
}

.phabricator-notification .conpherence-menu-item-view {
  display: block;
  height: 48px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-bottom: none;
  border-right: 0;
  border-left: 0;
}

.phabricator-notification .conpherence-menu-item-view
.conpherence-menu-item-image {
  top: 8px;
  left: 8px;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background-size: 100%;
  border-radius: 3px;
}

.phabricator-notification .conpherence-menu-item-view
.conpherence-menu-item-title {
  display: block;
  margin-top: 8px;
  margin-left: 48px;
  text-align: left;
  font-weight: bold;
  font-size: {$normalfontsize};
  color: {$darkgreytext};
  width: 314px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.phabricator-notification .conpherence-menu-item-view
.conpherence-menu-item-subtitle {
  display: block;
  color: {$lightgreytext};
  font-size: {$smallestfontsize};
  margin-left: 48px;
  width: 290px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.phabricator-notification .conpherence-menu-item-view
.conpherence-menu-item-unread-count {
  position: absolute;
  right: 8px;
  top: 15px;
  background: {$blue};
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  padding: 0 5px 1px;
  font-size: {$smallestfontsize};
}

.phabricator-notification .no-room-notification {
  color: {$lightgreytext};
  display: block;
}

.phabricator-notification-header .persistent-option {
  white-space: nowrap;
  float: right;
}

.phabricator-notification-header .persistent-option span {
  margin-left: 4px;
  font-weight: normal;
  color: {$greytext};
}
