/**
 * @provides conpherence-notification-css
 */

/* kill styles on phabricator-notification */
.conpherence-notification {
  padding: 0;
}

.phabricator-notification .conpherence-menu-item-view {
  display: block;
  height: 55px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-bottom: none;
  border-right: 0;
  border-left: 0;
}

.phabricator-notification .conpherence-menu-item-view
.conpherence-menu-item-image {
  top: 6px;
  left: 6px;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  background-size: 35px;
  border: 4px solid #e7e7e7;
  border-radius: 3px;
}

.phabricator-notification .conpherence-menu-item-view
.conpherence-menu-item-title {
  display: block;
  margin-top: 12px;
  margin-left: 58px;
  text-align: left;
  font-weight: bold;
  font-size: 13px;
  color: #333;
  overflow: hidden;
  width: 220px;
  text-overflow: ellipsis;
}

.phabricator-notification .conpherence-menu-item-view
.conpherence-menu-item-subtitle {
  display: block;
  color: #a1a5a9;
  font-size: 11px;
  margin-top: 2px;
  margin-left: 58px;
  font-style: italic;
}

.phabricator-notification .conpherence-menu-item-view
.conpherence-menu-item-unread-count {
  position: absolute;
  left: 35px;
  top: 3px;
  background: {$red};
  border-radius: 10px;
  color: #FFF;
  font-weight: bold;
  padding: 1px 5px 2px;
  border: 1px solid #333;
  font-size: 11px;
}

.phabricator-notification .conpherence-menu-item-view
.conpherence-menu-item-date {
  position: absolute;
  top: 15px;
  right: 16px;
  color: #a1a5a9;
  font-size: 11px;
}
