/**
 * @provides conpherence-transaction-css
 */

.conpherence-transaction-view {
  position: relative;
}

.conpherence-transaction-content {
  overflow: auto;
}

.conpherence-transaction-header .phui-link-person {
  font-weight: bold;
  font-size: {$biggerfontsize};
  color: #000;
}

.conpherence-transaction-view.date-marker {
  border-top: 1px solid {$sh-violetborder};
}

.conpherence-transaction-view.date-marker .date {
  position: relative;
  top: -11px;
  background-color: #fff;
  color: {$sh-violettext};
  font-weight: bold;
}

/***** Thread Search **********************************************************/

.conpherence-fulltext-results {
  padding: 8px 0;
}

.conpherence-fulltext-results + .conpherence-fulltext-results {
  border-top: 2px solid {$thinblueborder};
  margin-top: -8px;
}

.conpherence-fulltext-result {
  margin: 0 0 1px;
  padding: 8px;
}

.conpherence-fulltext-match {
  background: {$lightyellow};
}

.conpherence-fulltext-results .epoch-link {
  float: right;
}

.conpherence-message-pane .conpherence-fulltext-results
  .conpherence-transaction-view.conpherence-fulltext-result {
    margin-left: 0;
    margin-right: 0;
}

.conpherence-message-pane .conpherence-search-room-results .phui-object-box {
  border: none;
  margin: 0;
}

.conpherence-message-pane .conpherence-search-room-results
  .phui-object-box .phui-header-shell {
    display: none;
}
