/**
 * @provides conpherence-widget-pane-css
 */

.conpherence-widget-pane,
.loading .widgets-loading-mask {
  position: fixed;
  right: 0px;
  top: 76px;
  bottom: 0;
  width: 240px;
  border-width: 0 0 0 1px;
  border-color: {$lightblueborder};
  border-style: solid;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.page-has-warning .conpherence-widget-pane,
.page-had-warning .loading .widgets-loading-mask {
  top: 110px;
}

.device .conpherence-widget-pane,
.device .loading .widgets-loading-mask {
  top: 44px;
  width: 100%;
}

.conpherence-widget-pane .widgets-loading-mask {
  opacity: .6;
  background: #fff;
  display: none;
}

.loading .widgets-loading-mask {
  display: block;
}

.conpherence-widget-pane .aphront-form-input {
  margin: 0;
  width: 100%;
}

.conpherence-widget-pane .aphront-form-inset {
  border: 0;
}

.conpherence-widget-pane .widgets-header {
  border-bottom: 1px solid {$thinblueborder};
}

.device .conpherence-widget-pane .widgets-header {
  display: none;
}

.conpherence-widget-pane .widgets-header .caret {
  float: none;
  height: 0px;
  width: 0px;
  margin-right: 0px;
  border-top-color: #000;
}

.conpherence-widget-pane .widgets-header .phui-icon-view.disabled {
  color: {$lightgreytext};
}

.device-desktop .conpherence-layout .device-widgets-selector {
  display: none;
}

.conpherence-widget-pane .widgets-body {
  position: fixed;
  overflow-y: auto;
  bottom: 0;
  top: 76px;
  width: 100%;
}

#widgets-settings {
  padding: 3px 6px;
}

.device-desktop .conpherence-widget-pane .widgets-body {
  top: 108px;
  width: 240px;
}

.device-desktop .page-has-warning .conpherence-widget-pane .widgets-body {
  top: 142px;
}

/* files widget */

.conpherence-widget-pane #widgets-files .no-files {
  width: 200px;
  padding: 20px;
  text-align: center;
  color: {$greytext};
}

.device .conpherence-widget-pane #widgets-files .no-files {
  width: 60px;
  margin: 0 auto 0 auto;
}

.conpherence-widget-pane #widgets-files .file-entry {
  padding: 8px 0;
  margin: 0 4px 0 8px;
  border-bottom: 1px solid {$thinblueborder};
}

.conpherence-widget-pane #widgets-files .file-entry a {
  color: {$darkbluetext};
  font-weight: bold;
}

.conpherence-widget-pane #widgets-files .file-icon {
  width: 32px;
  height: 32px;
  float: left;
  font-size: 24px;
  color: {$blue};
  margin: 2px 0 2px 4px;
}

.conpherence-widget-pane #widgets-files .file-title {
  display: block;
  position: relative;
  top: -4px;
  left: 0;
  overflow-x: hidden;
  width: 180px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conpherence-widget-pane #widgets-files .file-uploaded-by {
  color: {$lightgreytext};
  position: relative;
  top: 0;
  left: 0;
  width: 180px;
  font-size: 11px;
}

.device .conpherence-widget-pane #widgets-files .file-title,
.device .conpherence-widget-pane #widgets-files .file-uploaded-by {
  width: 82%;
}
.device .conpherence-widget-pane #widgets-files .divider {
  width: 80%;
  margin: 8px 0px 0px 10%;
}

/* calendar widget */

.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view {
  width: 240px;
}
.device-phone .conpherence-widget-pane #widgets-calendar
.aphront-multi-column-view {
  display: none;
}
.device-tablet .conpherence-widget-pane #widgets-calendar
.aphront-multi-column-view {
  width: 100%;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column {
  background: white;
  border-right: 1px solid {$thinblueborder};
  text-align: center;
}
.device-phone .conpherence-widget-pane #widgets-calendar
.aphront-multi-column-view .aphront-multi-column-column {
  border-right: 0;
}

.device-phone .conpherence-widget-pane #widgets-calendar
.aphront-multi-column-fluid .aphront-multi-column-5-up
.aphront-multi-column-column-outer {
  width: 20%;
  margin-bottom: 0px;
  float: left;
  clear: none;
}

.conpherence-widget-pane .no-events {
  color: {$lightgreytext};
}

.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column-last {
  border-right: 0;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .day-column,
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .day-column-active {
  color: #bfbfbf;
  background-color: white;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .day-column-active {
  color: black;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .present ,
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .sporadic ,
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .away {
  height: 10px;
  margin: 5px 0px 5px 0px;
  width: 100%;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .present {
  background-color: white;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .sporadic {
  background-color: rgb(222, 226, 232);
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .away {
  background-color: rgb(102, 204, 255);
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
 .day-name {
  padding: 5px 0px 0px 0px;
  font-size: 12px;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
 .day-number {
  font-size: 16px;
  padding: 0 0 5px 0;
}

.conpherence-widget-pane #widgets-calendar .day-header {
  overflow: hidden;
  border-top: 1px solid {$thinblueborder};
  padding: 8px 8px 0px 8px;
}

.conpherence-widget-pane #widgets-calendar .day-header.today .day-name,
.conpherence-widget-pane #widgets-calendar .day-header.today .day-date {
  color: {$sky};
}

.conpherence-widget-pane #widgets-calendar .day-header .day-name {
  float: left;
  color: {$bluetext};
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}

.conpherence-widget-pane #widgets-calendar .day-header .day-date {
  float: right;
  color: {$lightbluetext};
  font-size: 11px;
}

.conpherence-widget-pane #widgets-calendar .top-border {
  border-top: 1px solid {$thinblueborder};
}

.conpherence-widget-pane #widgets-calendar .user-status {
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 10px;
}

.conpherence-widget-pane #widgets-calendar .user-status .icon {
  border-radius: 8px;
  height: 8px;
  width: 8px;
  margin-top: 4px;
  float: left;
}

.conpherence-widget-pane #widgets-calendar .sporadic .icon {
  background-color: {$orange};
}

.conpherence-widget-pane #widgets-calendar .away .icon {
  background-color: {$red};
}

.conpherence-widget-pane #widgets-calendar .user-status .description {
  width: 195px;
  text-overflow: ellipsis;
  margin: 0 0 0 16px;
}

.conpherence-widget-pane #widgets-calendar .user-status .participant {
  font-size: 11px;
  color: {$lightgreytext};
  padding-top: 2px;
}

.device .conpherence-widget-pane #widgets-calendar .user-status .description,
.device .conpherence-widget-pane #widgets-calendar .user-status .participant {
  /* we keep these short so no need to change the width */
}

.conpherence-widget-pane .widget-icon {
  display: block;
  height: 14px;
  width: 14px;
}

.conpherence-widget-pane .phabricator-remarkup-embed-layout-link {
  padding-bottom: 1px;
}

/* people widget */
.conpherence-widget-pane .people-widget-header .add-people-widget {
  padding: 10px 0 5px 0;
  overflow: hidden;
}

.conpherence-widget-pane .people-widget-header .add-people-widget
.aphront-form-control-tokenizer {
  float: left;
  width: 150px;
  padding: 0px 0px 0px 10px
}

.device .conpherence-widget-pane .people-widget-header .add-people-widget
.aphront-form-control-tokenizer {
  width: 70%;
}

.conpherence-widget-pane .people-widget-header .add-people-widget
.people-add-button {
  float: right;
  margin: 2px 8px 0px 0px;
  padding: 3px 16px 4px 16px;
}

#widgets-people {
  margin-top: 4px;
}

.conpherence-widget-pane .person-entry {
  padding: 4px 8px;
}

.conpherence-widget-pane .person-entry:hover {
  background-color: {$lightgreybackground};
}

.conpherence-widget-pane .person-entry a {
  float: left;
  font-weight: bold;
  line-height: 22px;
  color: {$darkbluetext};
}

.conpherence-widget-pane .person-entry a img {
  height: 24px;
  width: 24px;
  border-radius: 3px;
}

.conpherence-widget-pane .person-entry .pic {
  float: left;
  width: 30px;
}

.conpherence-widget-pane .person-entry .remove {
  float: right;
  width: 20px;
  height: 20px;
  font-size: 18px;
}

.person-entry .remove:hover .phui-icon-view {
  color: {$red};
}

.conpherence-widget-pane .person-entry .remove:hover {
  text-decoration: none;
}

.conpherence-widget-pane .person-entry .remove .close-icon {
  color: #bfbfbf;
}

.conpherence-widget-pane .person-entry .remove:hover .close-icon {
  color: #000;
}

/* settings widget */
.conpherence-widget-pane .title-update,
.conpherence-widget-pane .notifications-update {
  margin: 3px 0px 0px 4px;
}

.conpherence-widget-pane .no-settings {
  width: 200px;
  padding: 20px;
  text-align: center;
  color: {$greytext};
}

.device .conpherence-widget-pane .no-settings {
  width: 60px;
  margin: 0 auto 0 auto;
}
