/**
 * @provides conpherence-widget-pane-css
 */

.conpherence-widget-pane,
.loading .widgets-loading-mask {
  position: fixed;
  right: 0px;
  top: 76px;
  bottom: 0px;
  width: 240px;
  border-width: 0 0 0 1px;
  border-color: #CCC;
  border-style: solid;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.device .conpherence-widget-pane,
.device .loading .widgets-loading-mask {
  top: 44px;
  width: 100%;
}

.conpherence-widget-pane .widgets-loading-mask {
  opacity: .6;
  background: #fff;
  display: none;
}

.loading .widgets-loading-mask {
  display: block;
}

.conpherence-widget-pane .aphront-form-input {
  margin: 0;
  width: 100%;
}

.conpherence-widget-pane .aphront-form-inset {
  border: 0;
}

.conpherence-widget-pane .widgets-header {
  background: #F5F5F5;
  border-bottom: 1px solid #ccc;
}

.device .conpherence-widget-pane .widgets-header {
  display: none;
}

.conpherence-widget-pane .widgets-header .caret {
  float: none;
  height: 0px;
  width: 0px;
  margin-right: 0px;
  border-top-color: #000;
}

.device-desktop .conpherence-layout .device-widgets-selector {
  display: none;
}

.dropdown-menu-frame {
  width: 200px !important;
  margin-top: 4px;
}

.conpherence-widget-pane .widgets-body {
  position: fixed;
  overflow-y: auto;
  bottom: 0px;
  width: 100%;
  top: 76px;
}

#widgets-settings {
 padding: 3px 6px;
}

.device-desktop .conpherence-widget-pane .widgets-body {
  top: 108px;
  width: 240px;
}

/* files widget */

.conpherence-widget-pane #widgets-files .no-files {
  width: 200px;
  padding: 20px;
  text-align: center;
  color: #555;
}
.device .conpherence-widget-pane #widgets-files .no-files {
  width: 60px;
  margin: 0px auto 0px auto;
}
.conpherence-widget-pane #widgets-files .file-entry {
  padding: 10px 0;
  margin: 0 5px 0 10px;
  border-bottom: 1px solid #e7e7e7;
}
.conpherence-widget-pane #widgets-files .file-icon {
  width: 32px;
  height: 32px;
  float: left;
}
.conpherence-widget-pane #widgets-files .file-title {
  display: block;
  position: relative;
  top: -4px;
  left: 10px;
  overflow-x: hidden;
  width: 165px;
  font-weight: bold;
  text-overflow: ellipsis;
}
.conpherence-widget-pane #widgets-files .file-uploaded-by {
  color: #a1a5a9;
  position: relative;
  top: 0px;
  left: 10px;
  width: 170px;
  font-size: 11px;
}

.device .conpherence-widget-pane #widgets-files .file-title,
.device .conpherence-widget-pane #widgets-files .file-uploaded-by {
  width: 82%;
}
.device .conpherence-widget-pane #widgets-files .divider {
  width: 80%;
  margin: 8px 0px 0px 10%;
}

/* calendar widget */

.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view {
  width: 240px;
}
.device-phone .conpherence-widget-pane #widgets-calendar
.aphront-multi-column-view {
  display: none;
}
.device-tablet .conpherence-widget-pane #widgets-calendar
.aphront-multi-column-view {
  width: 100%;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column {
  background: white;
  border-right: 1px solid #bfbfbf;
  text-align: center;
}
.device-phone .conpherence-widget-pane #widgets-calendar
.aphront-multi-column-view .aphront-multi-column-column {
  border-right: 0;
}

.device-phone .conpherence-widget-pane #widgets-calendar
.aphront-multi-column-fluid .aphront-multi-column-5-up
.aphront-multi-column-column-outer {
  width: 20%;
  margin-bottom: 0px;
  float: left;
  clear: none;
}

.conpherence-widget-pane .no-events {
  color: {$lightgreytext};
}

.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column-last {
  border-right: 0;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .day-column,
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .day-column-active {
  color: #bfbfbf;
  background-color: white;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .day-column-active {
  color: black;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .present ,
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .sporadic ,
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .away {
  height: 10px;
  margin: 5px 0px 5px 0px;
  width: 100%;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .present {
  background-color: white;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .sporadic {
  background-color: rgb(222, 226, 232);
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
.aphront-multi-column-column .away {
  background-color: rgb(102, 204, 255);
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
 .day-name {
  padding: 5px 0px 0px 0px;
  font-size: 12px;
}
.conpherence-widget-pane #widgets-calendar .aphront-multi-column-view
 .day-number {
  font-size: 16px;
  padding: 0 0 5px 0;
}

.conpherence-widget-pane #widgets-calendar .day-header {
  overflow: hidden;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #d7d7d7;
  padding: 5px 10px 5px 10px;
}

.conpherence-widget-pane #widgets-calendar .day-header.today {
  background-image: linear-gradient(to bottom, #3b86c4, #2b628f);
  background-image: -webkit-linear-gradient(top, #3b86c4, #2b628f);
  border-top: none;
  border-bottom: none;
}

.conpherence-widget-pane #widgets-calendar .day-header.today .day-name,
.conpherence-widget-pane #widgets-calendar .day-header.today .day-date {
  color: #fff;
}

.conpherence-widget-pane #widgets-calendar .day-header .day-name {
  float: left;
  color: #555759;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}

.conpherence-widget-pane #widgets-calendar .day-header .day-date {
  float: right;
  color: #555759;
  font-size: 11px;
}

.conpherence-widget-pane #widgets-calendar .top-border {
  border-top: 1px solid #E7E7E7;
}

.conpherence-widget-pane #widgets-calendar .user-status {
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 10px;
}

.conpherence-widget-pane #widgets-calendar .user-status .icon {
  border-radius: 8px;
  height: 14px;
  width: 14px;
  margin-top: 7px;
  float: left;
}

.conpherence-widget-pane #widgets-calendar .sporadic .icon {
  background-color: rgb(222, 226, 232);
}

.conpherence-widget-pane #widgets-calendar .away .icon {
  background-color: rgb(102, 204, 255);
}

.conpherence-widget-pane #widgets-calendar .user-status .description {
  width: 195px;
  text-overflow: ellipsis;
  margin: 0 0 0px 20px;
}

.conpherence-widget-pane #widgets-calendar .user-status .participant {
  font-size: 11px;
  color: {$lightgreytext};
  padding-top: 2px;
}

.device .conpherence-widget-pane #widgets-calendar .user-status .description,
.device .conpherence-widget-pane #widgets-calendar .user-status .participant {
  /* we keep these short so no need to change the width */
}

.conpherence-widget-pane .widget-icon {
  display: block;
  height: 14px;
  width: 14px;
}

.conpherence-widget-pane .phabricator-remarkup-embed-layout-link {
  padding-bottom: 1px;
}

/* people widget */
.conpherence-widget-pane .people-widget-header .add-people-widget {
  padding: 10px 0 5px 0;
  overflow: hidden;
}

.conpherence-widget-pane .people-widget-header .add-people-widget
.aphront-form-control-tokenizer {
  float: left;
  width: 150px;
  padding: 0px 0px 0px 10px
}

.device .conpherence-widget-pane .people-widget-header .add-people-widget
.aphront-form-control-tokenizer {
  width: 70%;
}

.conpherence-widget-pane .people-widget-header .add-people-widget
.people-add-button {
  float: right;
  margin: 2px 8px 0px 0px;
  padding: 3px 16px 4px 16px;
}

.conpherence-widget-pane .person-entry {
  padding: 8px 0 0 8px;
}

.conpherence-widget-pane .person-entry a {
  float: left;
  font-weight: bold;
  line-height: 20px;
}

.conpherence-widget-pane .person-entry a img {
  height: 35px;
  width: 35px;
}

.conpherence-widget-pane .person-entry .pic {
  float: left;
  margin: 0 8px 0 0;
  width: 35px;
  padding: 0;
}

.conpherence-widget-pane .person-entry .remove {
  float: right;
  width: 20px;
  font-size: 18px;
  padding: 5px 0 8px 0;
}

.conpherence-widget-pane .person-entry .remove:hover {
  text-decoration: none;
}

.conpherence-widget-pane .person-entry .remove .close-icon {
  color: #bfbfbf;
}

.conpherence-widget-pane .person-entry .remove:hover .close-icon {
  color: #000;
}

/* settings widget */
.conpherence-widget-pane .title-update,
.conpherence-widget-pane .notifications-update {
  margin: 3px 0px 0px 4px;
}
