/**
 * @provides phui-calendar-month-css
 */

.phui-calendar-view {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

tr.phui-calendar-day-of-week-header th {
  text-align: center;
  font-size: 11px;
  padding: 3px;
  color: {$lightbluetext};
  background: {$lightgreybackground};
}

table.phui-calendar-view td {
  border: solid #dfdfdf;
  border-width: 1px 1px 0 1px;
  width: 14.2857%; /* This is one seventh, approximately. */
}

.phui-calendar-month-cell-div {
  position: relative;
}

.phui-calendar-month-event-list .phui-calendar-month-cell-div {
  min-height: 125px;
}

.device .phui-calendar-month-event-list .phui-calendar-month-cell-div {
  min-height: 60px;
}

a.phui-calendar-month-secret-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: 0;
}

table.phui-calendar-view tr td:first-child {
  border-left-width: 0px;
}

.device table.phui-calendar-view .phui-calendar-event-list {
  display: none;
}

.phui-calendar-month-event-count {
  display: none;
}

.device .phui-calendar-month-event-count {
  display: block;
  text-align: center;
  padding-top: 12px;
}

.phui-calendar-month-event-count .phui-calendar-month-count-badge {
  border: 1px solid {$lightgreyborder};
  color: {$lightgreytext};
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 5px 3px 0px 3px;
  margin: 0 auto;
}

table.phui-calendar-view a.phui-calendar-date-number {
  color: {$lightgreytext};
  padding: 0 4px;
  display: inline-block;
  min-width: 16px;
  text-align: center;
}

table.phui-calendar-view td.phui-calendar-date-number-container {
  font-weight: normal;
  color: {$lightgreytext};
  border-width: 0 1px 0 1px;
  text-align: right;
}

.phui-calendar-not-work-day {
  background-color: {$lightgreybackground};
}

.phui-calendar-today-slot {
  display: block;
  width: 100%;
  height: 4px;
  padding: 0;
  margin: 0;
}

.phui-calendar-today-slot.phui-calendar-today {
  background-color: {$lightblueborder};
}

.phui-calendar-event-empty {
  border-color: transparent;
  background: transparent;
}

.phui-calendar-view .phui-calendar-list {
  padding: 1px;
}

.phui-calendar-list-item.all-day span {
  padding: 0;
  margin: 0;
}

.phui-calendar-view .phui-calendar-list li.phui-calendar-list-item.all-day {
  margin: 0;
  padding: 4px 8px;
  background-color: {$lightpink};
  display: block;
  float: none;
}

li.phui-calendar-list-item.all-day:first-child {
  margin-top: 0;
}

.phui-calendar-view .phui-calendar-list li {
  margin: 0 8px;
  display: inline-block;
  float: left;
  clear: both;
}

.phui-calendar-view .phui-calendar-list li:first-child {
  margin-top: 8px;
}

.phui-calendar-view .phui-calendar-list-dot {
  width: 3px;
  height: 3px;
  margin-right: 4px;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 0;
}

.phui-calendar-view .phui-calendar-list-title {
  width: auto;
  margin-left: 10px;
  white-space: normal;
  word-break: break-word;
}

li.phui-calendar-list-item.all-day .phui-calendar-list-title a{
  color: {$pink};
}

.phui-calendar-view .phui-calendar-list-time {
  display: none;
}
