/**
 * @provides phui-calendar-month-css
 */

.phui-calendar-view {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

tr.phui-calendar-day-of-week-header th {
  text-align: center;
  font-size: 11px;
  padding: 3px;
  color: {$lightbluetext};
  background: {$lightgreybackground};
}

table.phui-calendar-view td {
  border: solid #dfdfdf;
  border-width: 1px 1px 0 1px;
  width: 14.2857%; /* This is one seventh, approximately. */
}

table.phui-calendar-view tr td:first-child {
  border-left-width: 0px;
}

table.phui-calendar-view .phui-calendar-event-list {
  min-height: 125px;
}

table.phui-calendar-view a.phui-calendar-date-number {
  color: {$lightgreytext};
  border-color: {$thinblueborder};
  border-style: solid;
  border-width: 1px 0 0 1px;
  padding: 4px;
  display: inline-block;
  min-width: 16px;
  text-align: center;
  background-color: #ffffff;
}

table.phui-calendar-view td.phui-calendar-date-number-container {
  font-weight: normal;
  color: {$lightgreytext};
  border-width: 0 1px 0 1px;
  text-align: right;
}

.phui-calendar-not-work-day {
  background-color: {$lightgreybackground};
}

.phui-calendar-today {
  background-color: {$lightgreen};
}

.phui-calendar-empty {
  background-color: {$greybackground};
}

.phui-calendar-event-empty {
  border-color: transparent;
  background: transparent;
}

.phui-calendar-view .phui-calendar-list {
  padding: 1px;
}

.phui-calendar-list-item.all-day span {
  padding: 0;
  margin: 0;
}

.phui-calendar-view .phui-calendar-list li.phui-calendar-list-item.all-day {
  margin: 0;
  padding: 4px 8px;
  background-color: {$lightpink};
}

li.phui-calendar-list-item.all-day:first-child {
  margin-top: 0;
}

.phui-calendar-view .phui-calendar-list li {
  margin: 0 8px;
}

.phui-calendar-view .phui-calendar-list li:first-child {
  margin-top: 8px;
}

.phui-calendar-view .phui-calendar-list-dot {
  width: 3px;
  height: 3px;
  margin-right: 4px;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 0;
}

.phui-calendar-view .phui-calendar-list-title {
  width: auto;
  margin-left: 10px;
  white-space: normal;
  word-break: break-word;
}

li.phui-calendar-list-item.all-day .phui-calendar-list-title a{
  color: {$pink};
}

.phui-calendar-view .phui-calendar-list-time {
  display: none;
}
