/**
 * @provides phui-calendar-list-css
 */

.device-phone .phui-calendar-list-container {
  width: auto;
}

.calendar-profile-box .calendar-day-view-sidebar .phui-object-box {
  border-bottom: none;
  margin: 0;
  padding: 0 12px 12px;
}

.project-view-home .phui-object-box .phui-calendar-list-container
  .phui-header-shell {
  padding: 8px 0;
  background: #fff;
}

.phui-calendar-list {
  padding: 16px 4px;
}

.phui-calendar-list-item {
  position: relative;
  line-height: 18px;
  height: 18px;
}

.phui-calendar-list-item a {
  display: block;
  width: auto;
  min-height: 18px;
}

.phui-calendar-list-item-icon {
  position: absolute;
  left: 0;
  top: 3px;
}

.phui-calendar-list-title {
 width: 200px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 position: absolute;
 left: 20px;
 top: 0;
}

.phui-calendar-viewer-invited .phui-calendar-list-title {
  font-weight: bold;
}

.phui-calendar-list-item .phui-calendar-list-time {
  position: absolute;
  top: 0;
  width: 60px;
  right: 0;
  color: {$lightgreytext};
  text-align: right;
  line-height: 20px;
}

.phui-calendar-list-item-empty {
  color: {$lightgreytext};
  padding: 0;
  font-style: italic;
}

.phui-calendar-list-item.all-day {
  background: {$bluebackground};
}

.calendar-day-view-sidebar .phui-calendar-list {
  padding: 12px 0;
}

.calendar-day-view-sidebar .phui-calendar-list-item  {
  padding: 0 12px;
}

.calendar-day-view-sidebar .phui-calendar-list-item a {
  position: relative;
}
