/**
 * @provides phui-calendar-day-css
 */

.phui-calendar-day-view {
  overflow: scroll;
  width: 100%;
}

.phui-calendar-day-hour {
  width: 60px;
  font-size: 10px;
}

.phui-calendar-day-view tr {
  width: 100%;
  height: 60px;
  border: 1px solid {$lightgreyborder};
}

.phui-calendar-day-view td {
  position: relative;
}

.phui-calendar-day-view td div.phui-calendar-day-event {
  width: 100%;
  background-color: {$darkgreybackground};
  position: absolute;
  top: 0;
  bottom: 0;
}

.phui-calendar-day-view td div.phui-calendar-day-event div {
  padding: 4px;
}
