/**
 * @provides releeph-status
 */

.releeph-status .description {
  background: #d3d3d3;
  padding: 2px 6px 3px;
  margin-right: 4px;
  margin-bottom: 5px;
  display: block;
  float: left;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  text-decoration: none;
}

.releeph-status .warning {
  margin-top: 2px;
  margin-left: 0.8em;
  float: left;
  padding-left: 22px;
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-image: url(/rsrc/custom/image/releeph/releeph_warning.png);
}
