/**
 * @provides pholio-css
 */
.pholio-mock-image-container {
  margin-top: 8px;
  background-color: #282828;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background: url('/rsrc/image/checker_light.png');
}

.pholio-mock-carousel {
  background-color: #282828;
  text-align: center;
  border-top: 1px solid #101010;
}

.device-desktop .pholio-mock-carousel {
  margin-right: 300px;
}

.pholio-mock-carousel-thumb-item {
  display: inline-block;
  cursor: pointer;
  width: 140px;
  height: 140px;
  padding: 5px;
  margin: 3px;
  background: #181818;
  vertical-align: middle;
  border: 1px solid #383838;
  position: relative;
}

.device-desktop .pholio-mock-carousel-thumb-item:hover,
.pholio-mock-carousel-thumb-current {
  background: #383838;
  border-color: #686868;
}

.device .pholio-mock-carousel-thumb-item {
  width: 5px;
  height: 5px;
  padding: 0px;
  border-radius: 5px;
  margin: 5px 2px;
  background: #383838;
  border-color: #686868;
}

.device .pholio-mock-carousel-thumb-current {
  background: #dfdfdf;
  border-color: #ffffff;
}

.device .pholio-mock-carousel-thumb-item img {
  display: none;
}

.pholio-mock-carousel-thumbnail {
  margin: auto;
  position: relative;
}

.pholio-mock-image {
  margin: auto;
  cursor: crosshair;
}

.pholio-mock-image-panel {
  padding: 12px;
  border-top: 1px solid #333;
}

.device-desktop .pholio-mock-image-panel {
  border-right: 1px solid #333;
  margin-right: 299px;
}

.pholio-mock-image-viewport {
  position: relative;
  margin: auto;
  display: inline-block;
}

.pholio-image-loading img {
  opacity: 0.50;
}

.pholio-image-info {
  border-bottom: 1px solid #101010;
  margin-bottom: 5px;
}

.pholio-image-info-item {
  padding: 0 8px;
  margin: 8px 0;
}

.pholio-visible-size {
  color: #ffffff;
}

.pholio-image-description {
  color: {$greytext};
}

.pholio-image-title {
  color: #ffffff;
}

.pholio-device-lightbox {
  position: absolute;
  overflow: auto;
}

.pholio-device-lightbox img {
  display: block;
  margin: auto;
}

.pholio-device-lightbox-loading {
  background: url(/rsrc/image/darkload.gif) no-repeat center;
}

.pholio-transaction-inline-comment {
  display: table-row;
}

.pholio-transaction-inline-comment img {
  display: table-cell;
  padding-bottom: 2px;
}

.pholio-transaction-inline-comment span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 8px;
}

.pholio-mock-reticle {
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.pholio-mock-reticle-selection {
  background-color: rgba(255, 255, 255, 0.50);
  border: 1px dashed #000;
}

.pholio-mock-reticle-draft {
  /* TODO: Replace with real icons. */
  background-image: url('/rsrc/image/icon/fatcow/flag_yellow.png');
}

.pholio-mock-reticle-final {
  /* TODO: Replace with real icons. */
  background-image: url('/rsrc/image/icon/fatcow/flag_pink.png');
}

.pholio-mock-reticle-draft:hover,
.pholio-mock-reticle-final:hover {
  background-color: rgba(255, 255, 255, 0.50);
  cursor: pointer;
}


.device-desktop .mock-has-cursor .pholio-mock-reticle {
  display: block;
}
