/**
 * @provides pholio-css
 */
.pholio-mock-image-container {
  background-color: #282828;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background: url('/rsrc/image/texture/pholio-background.gif');
}

.pholio-mock-carousel {
  background-color: #282828;
  text-align: center;
  border-top: 1px solid #101010;
}

.device-desktop .pholio-mock-carousel {
  margin-right: 320px;
}

.pholio-mock-carousel-thumb-item {
  display: inline-block;
  cursor: pointer;
  width: 140px;
  height: 140px;
  padding: 5px;
  margin: 3px;
  background: #181818;
  vertical-align: middle;
  border: 1px solid #383838;
  position: relative;
}

.device-desktop .pholio-mock-carousel-thumb-item:hover,
.pholio-mock-carousel-thumb-current {
  background: #383838;
  border-color: #686868;
}

.device .pholio-mock-carousel-thumb-item {
  width: 5px;
  height: 5px;
  padding: 0px;
  border-radius: 5px;
  margin: 5px 2px;
  background: #383838;
  border-color: #686868;
}

.device .pholio-mock-carousel-thumb-current {
  background: #dfdfdf;
  border-color: #ffffff;
}

.device .pholio-mock-carousel-thumb-item img {
  display: none;
}

.pholio-mock-carousel-thumbnail {
  margin: auto;
  position: relative;
}

.pholio-mock-image {
  margin: auto;
  cursor: crosshair;
}

.pholio-mock-select-fill {
  position: absolute;
  background: #ffffff;
  opacity: 0.25;
  box-sizing: border-box;
  border: 1px solid #000000;
}

.pholio-mock-select-border {
  position: absolute;
  border: 1px dashed #ffffff;
  box-sizing: border-box;
}

.pholio-mock-image-panel {
  padding: 20px;
  border-top: 1px solid #333;
}

.device-desktop .pholio-mock-image-panel {
  border-right: 1px solid #333;
  margin-right: 319px;
}

.pholio-mock-image-viewport {
  position: relative;
  margin: auto;
  display: inline-block;
}

.pholio-inline-comment-header {
  color: #fff;
  border-bottom: 1px solid #555;
  font-weight: bold;
  padding-bottom: 6px;
  margin-bottom: 4px;
}

.pholio-image-loading img {
  opacity: 0.50;
}

.pholio-image-info {
  border-bottom: 1px solid #101010;
  margin-bottom: 5px;
}

.pholio-image-info-item {
  padding: 0 10px;
  margin: 8px 0;
}

.pholio-visible-size {
  color: #ffffff;
}

.pholio-image-description {
  color: #777777;
}

.pholio-image-title {
  color: #ffffff;
}

.pholio-device-lightbox {
  position: absolute;
  overflow: auto;
  z-index: 99;
}

.pholio-device-lightbox img {
  display: block;
  margin: auto;
}

.pholio-device-lightbox-loading {
  background: url(/rsrc/image/darkload.gif) no-repeat center;
}

.pholio-mock-embed {
  display: inline-block;
  background-color: #282828;
  padding: 5px;
  color: #fff;
  margin: 2px;
}

.pholio-mock-embed-head {
  border-bottom: 1px solid #3d3d3d;
  padding: 2px;
  margin:2px;
}

.pholio-mock-embed-footer {
  margin: 2px;
  color: #aaa;
}

.pholio-mock-embed-icons {
  float: left;
  margin-left: 10px;
}

.pholio-mock-embed-icon {
  height: 14px;
  width: 14px;
  float: left;
  padding-left: 2px;
  margin-right: 2px;
}

.pholio-mock-embed-head a {
  color: #fff;
  font-weight: bold;
}
