/**
 * @provides phabricator-slowvote-css
 */

.slowvote-embed {
  margin: 24px 12px;
  background: #ffffff;
  border-color: {$lightgreytext};
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.20),
              inset 0 0 2px rgba(0, 0, 0, 0.10);
}

.slowvote-header {
  font-weight: bold;
  line-height: 16px;
  border-bottom: 1px solid #bbbbbb;
}

.slowvote-description {
  color: {$greytext};
  padding: 8px;
  border-bottom: 1px solid #bbbbbb;
}

.slowvote-header-content {
  padding: 8px;
}

.slowvote-body {
}

.slowvote-body-content {
  padding: 4px 16px;
}

.slowvote-option-label {
  border: 1px solid {$greytext};
  display: block;
  position: relative;
  padding: 8px 4px;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  background-color: {$lightblue};
}

.slowvote-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: {$blue};
}

.slowvote-control-offset {
  white-space: nowrap;
  position: absolute;
  left: 32px;
  top: 8px;
  width: 100%;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
}

.slowvote-bar .slowvote-control-offset {
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}

.slowvote-option-label-group {
  margin: 8px 0 16px;
}

.slowvote-option-label input[type="radio"],
.slowvote-option-label input[type="checkbox"] {
  margin: 0 12px 0 8px;
  font-weight: bold;
}

.slowvote-above-the-bar {
  position: relative;
}

.slowvote-status {
  text-align: right;
  color: #333333;
  font-weight: normal;
  padding: 2px 0;
  line-height: 15px;
  text-align: right;
  font-size: 11px;
}

.slowvote-voter {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #f3f3f3;
  background-size: 25px 25px;
}

.slowvote-footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #bbbbbb;
  position: relative;
}

.slowvote-footer-content {
  padding: 8px;
  overflow: hidden;
}

.slowvote-footer-content .slowvote-hint {
  line-height: 24px;
  color: {$lightgreytext};
}

.slowvote-footer-content button {
  float: right;
}
