/**
 * @provides phabricator-core-buttons-css
 */


button,
a.button,
a.button:visited,
input.inputsubmit {
  background-color: #19558D;
  background-image: url('/rsrc/image/button_gradients.png');
  background-position: 0 -26px;

  color: white;
  min-width: 60px;
  text-shadow: 0 -1px #19558D;
  border: 1px solid #19558D;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  padding: 3px 10px 4px;
  text-align: center;
  white-space: nowrap;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

/* Buttons with images (full size only) */
button.icon,
a.icon,
a.icon:visited {
  padding-left: 0;
  position: relative;
  text-indent: 29px;
}

button:active,
a.button:active {
  background-color: #19558D;
  background-position: 0 0;
}

button.black,
a.black,
a.black:visited {
  background-color: #383838;
  background-position: 0 -182px;
  border: 1px solid #333;
  text-shadow: 0 -1px #000;
  border-bottom-color: #000;
}

button.black:active,
a.black:active {
  background-position: 0 -156px;
}

button.green,
a.green,
a.green:visited {
  background-color: #006600;
  background-position: 0 -130px;
  border: 1px solid #3b6e22;
  text-shadow: 0 -1px #006600;
  border-bottom-color: #2c5a15;
}

button.green:active,
a.green:active {
  background-position: 0 -104px;
}

button.grey,
input.inputaux,
a.grey,
a.grey:visited,
a.button.disabled,
button[disabled], /* Set by JX.Workflow. */
button.disabled {
  background-color: #f7f7f7;
  background-image: url('/rsrc/image/button_gradients.png');
  background-position: 0 -52px;
  border-color: #aaa;
  color: #333;
  border-bottom-color: #999;
  text-shadow: none;
}

a.disabled,
button.disabled {
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

button.grey:active,
a.grey:active,
button.grey_active,
a.dropdown-open {
  background-color: #7d7d7d;
  background-position: 0 -78px;
  color: #777;
}

a.button:hover {
  text-decoration: none;
}

button.small,
a.small,
a.small:visited {
  padding: 2px 7px;
  height: auto;
  font-size: 11px;
  line-height: 16px;
}

button.link {
  display: inline;
  border: none;
  background: transparent;
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: inherit;
  border-bottom: none;
  text-decoration: none;
  text-shadow: none;
  color: #3b5998;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button.link:hover {
  text-decoration: underline;
}


.dropdown-menu-frame {
  z-index: 32;
  position: absolute;
  width: 240px;
  background: #f6f6f6;
  border: 1px solid #999;
  margin-top: -1px;

  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.dropdown-menu-frame a,
.dropdown-menu-frame span {
  display: block;
  font-size: 11px;
  padding: 4px 8px;
}

.dropdown-menu-frame span {
  color: #666666;
}

.dropdown-menu-frame a:hover {
  background: #005588;
  color: white;
  text-decoration: none;
}

a.toggle {
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 1px 0 #777;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #a7a7a7;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 12px;
  margin: 0 5px 2px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

a.toggle:hover {
  background-color: #bbb;
}

a.toggle-selected {
  background-color: #555;
}

a.toggle-fixed {
  cursor: default;
}

a.toggle-fixed:hover {
  background-color: #555;
}
