/**
 * @provides phabricator-core-buttons-css
 */


button,
a.button,
a.button:visited,
input.inputsubmit {
  background: #5e77aa url('/rsrc/image/sprite.png') 0 0 repeat-x;
  border: 1px solid #29447e;
  border-bottom-color: #1a356e;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  font-size: 13px;
  overflow: visible;
  padding: 2px 8px 3px 8px;
  line-height: 18px;
  vertical-align: baseline;
  width: auto;
  box-shadow: 0px 1px 0px rgba(0,0,0,.12);
  -moz-box-shadow: 0px 1px 0px rgba(0,0,0,.12);
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,.12);
}

button {
  *padding: 2px 4px 1px 8px;
  _padding-right: 6px;
}

a.button,
a.button:visited {
  *padding: 3px 8px 4px;
}

/* Buttons with images (full size only) */
button.icon,
a.icon,
a.icon:visited {
  padding-left: 0;
  position: relative;
  text-indent: 29px;
}

/* Fix for IE7 within table cells ? */
td button {
  *width: 100%;
  *padding-right: 8px;
}

button:active,
a.button:active {
  background-color: #4f6aa3;
  background-position: 0 -100px;
  border-bottom-color: #29447e;
}

button.green,
a.green,
a.green:visited {
  background-color: #6da952;
  background-position: 0 -50px;
  border: 1px solid #3b6e22;
  border-bottom-color: #2c5a15;
}

button.green:active,
a.green:active {
  background-color: #5e9d43;
  background-position: 0 -150px;
  border-bottom-color: #3b6e22;
}

button.grey,
input.inputaux,
a.grey,
a.grey:visited,
a.button.disabled,
button[disabled], /* Set by JX.Workflow. */
button.disabled {
  background-color: #e4e5e5;
  background-position: 0 -250px;
  border: 1px solid #999;
  border-bottom-color: #888;
  color: #333;
  box-shadow: 0px 1px 0px rgba(0,0,0,.07);
  -moz-box-shadow: 0px 1px 0px rgba(0,0,0,.07);
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,.07);
}

a.disabled,
button.disabled {
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

button.grey:active,
a.grey:active,
button.grey_active,
a.dropdown-open {
  background-color: #dddddd;
  background-position: 0 -200px;
  border-bottom-color: #999;
}

button:active::-moz-focus-inner,
button:focus::-moz-focus-inner {
  border-color: #405071;
}

button.green:active::-moz-focus-inner,
button.green:focus::-moz-focus-inner {
  border-color: #4c713b;
}

button.grey:active::-moz-focus-inner,
button.grey:focus::-moz-focus-inner {
  border-color: #666;
}

a.button:hover {
  text-decoration: none;
}

button.small,
a.small,
a.small:visited {
  padding: 2px 7px;
  height: auto;
  font-size: 11px;
  line-height: 16px;
}

button.link {
  display: inline;
  border: none;
  background: transparent;
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: inherit;
  border-bottom: none;
  text-decoration: none;
  color: #3b5998;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button.link:hover {
  text-decoration: underline;
}

a.toggle {
  background: #d3d3d3;
  padding: 2px 6px 3px;
  font-weight: bold;
  margin-right: 4px;
  margin-bottom: 5px;
  display: block;
  float: left;
  color: #777777;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  text-decoration: none;
}

a.toggle:hover {
  background: #b0b0b0;
  color: white;
}

a.toggle-selected {
  background: #909090;
  color: white;
}

a.toggle-fixed {
  cursor: default;
}

a.toggle-fixed:hover {
  background: #909090;
}


a.dropdown-open {
}

.dropdown-menu-frame {
  z-index: 32;
  position: absolute;
  width: 240px;
  background: #f6f6f6;
  border: 1px solid #999;
  margin-top: -1px;

  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.dropdown-menu-frame a,
.dropdown-menu-frame span {
  display: block;
  font-size: 11px;
  padding: 4px 8px;
}

.dropdown-menu-frame span {
  color: #666666;
}

.dropdown-menu-frame a:hover {
  background: #005588;
  color: white;
  text-decoration: none;
}
