/**
 * @provides phabricator-core-css
 */

body {
  /* Always show the vertical scrollbar so that going from a page without a
     scrollbar to a page with a scrollbar doesn't make content jump a few
     pixels left when the viewport narrows. */
  overflow-y: scroll;
  /* reset behavior in ie7, as it will add an extra scrollbar regardless
     selector * targets ie6 and ie7 only */
  *overflow-y: auto;
}

.device-phone {
  /* By default, the iPhone zooms all text on the page by some percentage when
     you rotate from portrait mode to landscape mode. Disable this, since it
     breaks lots of things and prevents you from using landscape to see more
     columns in source code views. */
  -webkit-text-size-adjust: none;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset,
p, blockquote, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

td, th {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold;
}

body {
  font: 13px/1.231 'Helvetica Neue', Helvetica, Arial, sans-serif;
  direction: ltr;
  text-align: left;
  unicode-bidi: embed;
  background: #ebecee;
}

textarea {
  font: inherit;
}

table {
  font-size: inherit;
  font: 100%;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

a {
  -moz-outline-style: none;
  text-decoration: none;
  color: #18559D;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
}

.busy {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  opacity: 0.4;
  background: #000 url(/rsrc/image/loading/compass_24.gif) center no-repeat;
}

.grouped:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  height: 1px;
  background: #bbbbbb;
  border: none;
}

.aural-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);

  /* NOTE: Without this, Safari sometimes lays these elements out at normal
     size. An example is the label on the comment action menu on timelines. */

  width: 0;
  height: 0;
  overflow: hidden;
}

.visual-only {
  /* These elements are hidden by the 'aria-hidden' attribute. */
}

.audible .aural-only {
  clip: auto;
  width: auto;
  height: auto;
  overflow: auto;
  background: #006699;
  color: #ffffff;
}

.audible .aural-only a {
  color: #ffffff;
  font-weight: bold;
}

.audible .visual-only {
  position: absolute !important;
  background: #990066;
  opacity: 0.25;
}

.routing-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2px;
  background: {$darkbluetext};
  z-index: 80;
  box-shadow: 0 2px 1px rgba(0, 128, 255, 0.25);
}

.routing-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background: {$sky};
}
