/**
 * @provides phabricator-core-css
 */


body {
  /* Always show the vertical scrollbar so that going from a page without a
     scrollbar to a page with a scrollbar doesn't make content jump a few
     pixels left when the viewport narrows. */
  overflow-y: scroll;
}

.device-phone {
  /* By default, the iPhone zooms all text on the page by some percentage when
     you rotate from portrait mode to landscape mode. Disable this, since it
     breaks lots of things and prevents you from using landscape to see more
     columns in source code views. */
  -webkit-text-size-adjust: none;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset,
p, blockquote, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

td, th {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold;
}

body {
  font: 13px/1.231 'lucida grande', tahoma, verdana, arial, sans-serif;
  direction: ltr;
  text-align: left;
  unicode-bidi: embed;
  *font-size: small;
}

body.phabricator-chromeless-page {
  background: #ffffff;
}

select, input, button, textarea, button {
  font: 99% 'lucida grande', tahoma, verdana, arial, clean, sans-serif;
}

select {
  /* NOTE: In Safari, specifying a border color makes the browser respect
     "font-size" settings. */
  border: 1px solid #999999;
}

table {
  font-size: inherit;
  font: 100%;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

a {
  -moz-outline-style: none;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #3b5998;
}

a:link {
  color: #3b5998;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
}

.busy {
  position: fixed;
  bottom: 8px;
  right: 8px;

  background: #ffffff url(/rsrc/image/loading.gif) center no-repeat;
  width: 64px;
  height: 64px;
  opacity: 0.5;
  z-index: 40;

  border: 1px solid #444444;
  border-radius: 8px;
}
