/**
 * @provides phabricator-remarkup-css
 */

.phabricator-remarkup {
  line-height: 1.45em;
}

.phabricator-remarkup p {
  margin: 0 0 1em;
}

.phabricator-remarkup p:last-child {
  margin-bottom: 0;
}

.phabricator-remarkup code {
  background: #fdfae7;
  border: 1px solid #f5e178;
  display: block;
  white-space: pre;
  font-family: "Monaco", monospace;
  font-size: 10px;
  color: #000000;
  margin: 1em 2em;
  padding: .5em 1.5em;
}

.phabricator-remarkup code.remarkup-counterexample {
  border: 1px solid #aa0000;
  background-color: #ffaaaa;
}

.phabricator-remarkup ul {
  list-style: disc;
  margin: 1em 0 1em 3em;
}

.phabricator-remarkup h1,
.phabricator-remarkup h2 {
  margin: .75em 0 .5em;
}
