/**
 * @provides syntax-highlighting-css
 * @requires syntax-default-css
 */
.remarkup-code .uu { /* Forbidden Unicode */
  color: #aa0066;
}

.remarkup-code .over-the-line {
  color: #aa0066;
  margin-right: 1px;
}

.remarkup-code td span {
  display: inline-block;
}

.remarkup-code .rbw_r { color: red; }
.remarkup-code .rbw_o { color: orange; }
.remarkup-code .rbw_y { color: yellow; }
.remarkup-code .rbw_g { color: green; }
.remarkup-code .rbw_b { color: blue; }
.remarkup-code .rbw_i { color: indigo; }
.remarkup-code .rbw_v { color: violet; }

.repository-crossreference .remarkup-code .crossreference-item {
  background: lightyellow;
  border-bottom: 1px dotted #bbddbb;
}
.crossreference-cursor {
  cursor: help;
}

.remarkup-code .invisible {
  color: #222222;
  background: #dddddd;
}
