/**
 * @provides phabricator-zindex-css
 */

.keyboard-focus-focus-reticle {
  z-index: 1;
}

.device-desktop .phabricator-timeline-minor-event .phabricator-timeline-image {
  z-index: 2;
}

.differential-reticle {
  z-index: 2;
}

.differential-changeset {
  z-index: 2;
}

.pholio-new-inline-comment {
  z-index: 2;
}

.phabricator-timeline-icon-fill {
  z-index: 3;
}

.phabricator-nav-column-background {
  z-index: 3;
}

.phabricator-nav-local {
  z-index: 4;
}

.conpherence-menu-pane {
  z-index: 4;
}

.phabricator-nav-drag {
  z-index: 4;
}

.dark-console {
  z-index: 5;
}

.maniphest-task-dragging {
  z-index: 5;
}

.phabricator-crumbs-view {
  z-index: 3;
}

.phabricator-main-menu {
  z-index: 6;
}

.setup-warning-callout,
.aphront-developer-error-callout {
  z-index: 6;
}

.jx-notification-container {
  z-index: 7;
}

.fancy-datepicker {
  z-index: 7;
}

.calendar-button {
  z-index: 8;
}

div.jx-typeahead-results {
  z-index: 8;
}

.differential-haunt-mode-1 .differential-add-comment-panel,
.differential-haunt-mode-2 .differential-add-comment-panel {
  z-index: 8;
}

.device-desktop .phabricator-notification-menu {
  z-index: 9;
}

.jx-mask {
  z-index: 10;
}

.phabricator-global-upload-instructions {
  z-index: 11;
}

.lightbox-attachment {
  z-index: 12;
}

.jx-client-dialog {
  z-index: 14;
}

.jx-hovercard-container {
  z-index: 16;
}

.jx-tooltip-container {
  z-index: 18;
}

.pholio-device-lightbox {
  z-index: 20;
}

.dropdown-menu-frame {
  z-index: 32;
}

.busy {
  z-index: 40;
}

.remarkup-control-order-mode {
  z-index: 50;
}
