/**
 * @provides global-drag-and-drop-css
 */

.phabricator-global-upload-instructions {
  text-align: center;
  position: fixed;
  font-size: 36px;
  font-weight: bold;

  margin: 0 10%;
  width: 80%;
  left: 0;
  top: 30%;
  padding: 18px 0;

  color: {$page.content};
  background: rgba({$alphablack}, 0.8);
  border-radius: 18px;

}
