/**
 * @provides config-options-css
 */

.config-option-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #cccccc;
}

.config-option-table th,
.config-option-table td {
  padding: 4px 12px;
  border: 1px solid #cccccc;
}

.config-option-table th {
  background: #e9e9e9;
  text-align: right;
  white-space: nowrap;
}

.config-option-table th em {
  font-weight: normal;
  color: #666666;
}

.config-option-table td {
  color: #333333;
  width: 100%;
}

.config-option-table .column-labels th {
  font-weight: bold;
  color: #333333;
  text-align: center;
  background: #e0e0e0;
}

.config-options-current-value {
  padding: 0 8px 6px;
  white-space: pre-wrap;
}

.config-options-current-value span {
  color: #777;
}
