/**
 * @provides config-welcome-css
 */

.config-welcome-box {
  background: #fff;
}

.config-welcome-box {
  margin: 12px;
}

.config-welcome-box-header {
  border-style: solid;
  border-width: 1px 1px 0;
  border-color: {$lightblueborder};
}

.config-welcome-box-content {
  padding: 8px 12px;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: {$lightblueborder};
}
