/**
 * @provides phabricator-fatal-config-template-css
 */
body {
  overflow-y: scroll;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  font: 13px/1.231 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left;
  -webkit-text-size-adjust: none;
}

body.in-flight {
  background: #41506e;
  color: #e0e0e0;
}

.in-flight-error-detail {
  max-width: 760px;
  margin: 72px auto;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  padding: 8px 16px;
}

.in-flight-error-title {
   padding: 12px 8px;
   font-size: 24px;
   font-weight: 500;
   margin: 0;
}

.in-flight-error-body {
   padding: 4px 12px 12px;
}
