/**
 * @provides setup-issue-css
 */


.setup-issue-background {
  padding: 12px 0;
}

.setup-issue-shell {
  max-width: 760px;
  margin: 16px auto;
}

.setup-issue {
  background: #fff;
  border: 1px solid #BFCFDA;
  border-bottom: 1px solid #8C98B8;
}

.setup-issue p {
  margin: 12px 0;
}

.setup-issue table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #BFCFDA;
}

.setup-issue table th {
  text-align: right;
  width: 30%;
  background: #F8F9FC;
  border: 1px solid #BFCFDA;
  padding: 8px;
}

.setup-issue table td {
  border: 1px solid #BFCFDA;
  padding: 8px;
}

.setup-issue pre {
  width: auto;
  border: 1px solid #BFCFDA;
  padding: 10px 2%;
  background: #F8F9FC;
  overflow-x: auto;
}

.setup-issue tt {
  color: black;
  background: #EBECEE;
  padding: 2px 4px;
}

.setup-issue em {
  font-weight: bold;
}

.setup-issue-instructions {
  font-size: 14px;
  padding: 12px 0;
  line-height: 20px;
  background: #fff;
  border-bottom: 1px solid #BFCFDA;
  margin: 0 12px;
}

.setup-fatal .setup-issue-instructions {
  color: #c0392b;
  background: #f4dddb;
  padding: 12px;
  margin: 0 0 12px;
  border-bottom: 1px solid #c0392b;
}

.setup-issue-name {
  color: #464C5C;
  text-shadow: 0 1px #fff;
  padding: 16px 12px;
  border-bottom: 1px solid #BFCFDA;
  font-size: 15px;
  font-weight: bold;
  background-image: url(/rsrc/image/lightblue-header.png);
  background-repeat: repeat-x;
}

.setup-issue-tail {
  margin-top: 12px;
}

.setup-issue-status {
  padding: 12px;
  background: #FDF5D4;
  color: #bc7837;
  border-bottom: 1px solid #BFCFDA;
}

.setup-issue-actions {
  padding: 12px;
  background: #f3f3f3;
  border-top: 1px solid #dfdfdf;
  overflow: hidden;
}

.setup-issue-next {
  padding: 12px;
  border-top: 1px solid #BFCFDA;
  background: #daeaf3;
  text-align: center;
  font-size: 15px;
  color: #2980b9;
}

.setup-issue-config {
  padding: 0 12px;
  background: #fff;
}

.setup-issue ul {
  width: 90%;
  margin: 1em auto;
  list-style: circle;
}

.setup-issue-debug {
  margin-top: 8px;
  padding: 4px;
  text-align: right;
  color: #74777D;
}
